<h1 id="jquery-validation-pluginhttpjqueryvalidationorg---form-validation-made-easy"><a href="http://jqueryvalidation.org/">jQuery Validation Plugin</a> - Form validation made easy</h1>

<p><a href="http://travis-ci.org/jzaefferer/jquery-validation"><img alt="Build Status" src="https://secure.travis-ci.org/jzaefferer/jquery-validation.png" /></a>
<a href="https://david-dm.org/jzaefferer/jquery-validation#info=devDependencies"><img alt="devDependency Status" src="https://david-dm.org/jzaefferer/jquery-validation/dev-status.png?theme=shields.io" /></a></p>

<p>The jQuery Validation Plugin provides drop-in validation for your existing forms, while making all kinds of customizations to fit your application really easy.</p>

<h2 id="help-the-projecthttppledgiecomcampaigns18159"><a href="http://pledgie.com/campaigns/18159">Help the project</a></h2>

<p><a href="http://pledgie.com/campaigns/18159"><img alt="Help the project" src="http://www.pledgie.com/campaigns/18159.png?skin_name=chrome" /></a></p>

<p>This project is looking for help! <a href="http://pledgie.com/campaigns/18159">You can donate to the ongoing pledgie campaign</a>
and help spread the word. If you've used the plugin, or plan to use, consider a donation - any amount will help.</p>

<p>You can find the plan for how to spend the money on the <a href="http://pledgie.com/campaigns/18159">pledgie page</a>.</p>

<h2 id="getting-started">Getting Started</h2>

<h3 id="downloading-the-prebuilt-files">Downloading the prebuilt files</h3>

<p>Prebuilt files can be downloaded from http://jqueryvalidation.org/</p>

<h3 id="downloading-the-latest-changes">Downloading the latest changes</h3>

<p>The unreleased development files can be obtained by:</p>

<ol>
  <li><a href="https://github.com/jzaefferer/jquery-validation/archive/master.zip">Downloading</a> or Forking this repository</li>
  <li><a href="CONTRIBUTING.md#build-setup">Setup the build</a></li>
  <li>Run <code>grunt</code> to create the built files in the "dist" directory</li>
</ol>

<h3 id="including-it-on-your-page">Including it on your page</h3>

<p>Include jQuery and the plugin on a page. Then select a form to validate and call the <code>validate</code> method.</p>

<p>```html</p>
<form>
	<input required="" />
</form>
<script src="jquery.js"></script>

<script src="jquery.validate.js"></script>

<script>
$("form").validate();
</script>

<p>```</p>

<p>Alternatively include jQuery and the plugin via requirejs in your module.</p>

<p><code>js
define(["jquery", "jquery.validate"], function( $ ) {
	$("form").validate();
});
</code></p>

<p>For more information on how to setup a rules and customizations, <a href="http://jqueryvalidation.org/documentation/">check the documentation</a>.</p>

<h2 id="reporting-an-issue">Reporting an Issue</h2>

<p><strong>IMPORTANT NOTE ABOUT EMAIL VALIDATION</strong>. As of version 1.12.0 this plugin is using the same regular expression that the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29">HTML5 specification suggests for browsers to use</a>. We will follow their lead and use the same check. If you think the specification is wrong, please report the issue to them.</p>

<ol>
  <li>Make sure the problem you're addressing is reproducible.</li>
  <li>Use http://jsbin.com or http://jsfiddle.net to provide a test page.</li>
  <li>Indicate what browsers the issue can be reproduced in. <strong>Note: IE Compatibilty modes issues will not be addressed.</strong></li>
  <li>What version of the plug-in is the issue reproducible in. Is it reproducible after updating to the latest version.</li>
</ol>

<h2 id="contributing">Contributing</h2>

<p>See the <a href="CONTRIBUTING.md">Contributing Guide</a></p>

<h2 id="license">License</h2>
<p>Copyright (c) 2013 Jörn Zaefferer
Licensed under the MIT license.</p>
