@font-face {
	font-family:bt-regular;
	src:url(../fonts/newbt-webfont.eot);
	src:url(../fonts/newbt-webfont.eot?#iefix) format("embedded-opentype"),
	    url(../fonts/newbt-webfont.woff) format("woff"),
	    url(../fonts/newbt-webfont.ttf) format("truetype"),
	    url(../fonts/newbt-webfont.svg#bt-regular) format("svg");
	font-style:normal;
	font-weight:400;
}
.font--bt-regular{font-family:bt-regular}

@font-face {
	font-family:bt-bold;
	src:url(../fonts/newbtbd-webfont.eot);
	src:url(../fonts/newbtbd-webfont.eot?#iefix) format("embedded-opentype"),
	    url(../fonts/newbtbd-webfont.woff) format("woff"),
	    url(../fonts/newbtbd-webfont.ttf) format("truetype"),
	    url(../fonts/newbtbd-webfont.svg#bt-bold) format("svg");
	font-style:normal;
	font-weight:bold;
}
.font--bt-bold{font-family:bt-bold}

@font-face {
  font-family:bt;
  src:url(../fonts/bt.eot?-rgl3n4);
  src:url(../fonts/bt.eot?#iefix-rgl3n4) format("embedded-opentype"),
      url(../fonts/bt.woff?-rgl3n4) format("woff"),
      url(../fonts/bt.ttf?-rgl3n4) format("truetype"),
      url(../fonts/bt.svg?-rgl3n4#bt) format("svg");
  font-weight:normal;
  font-style:normal;
}
.font--bt{font-family:bt}

html, body{height:100%;margin:0;padding:0}
*, :after, :before{-moz-box-styling:border-box;box-sizing:border-box}

.outer td.oRight{margin:0;padding:0}

#genie, #genie #wrapper{font-size:16px}
#genie{background:#fff;color:#3b3c3a;padding:0;margin:0;font-weight:400;font-style:normal;line-height:24px;position:relative;cursor:auto}

#genie{font-family:bt-regular}
#genie .h1, #genie .h2, #genie .h3, #genie .h4, #genie .h5, #genie .h6,
#genie h1, #genie h1 a, #genie h2, #genie h2 a, #genie h3, #genie h3 a,
#genie h4, #genie h5, #genie h6{font-family:bt-bold;color:#3b3c3a;display:block;margin:1rem 0}
#genie p{word-break:break-word}
#genie .h1, #genie h1{font-size:30px;font-size:2.0625rem}
#genie .h2, #genie h2{font-size:26px;font-size:1.625rem}
#genie p b, #genie p strong{font-family:bt-bold}
#genie a{color:#32205a;text-decoration:none;line-height:inherit}
#genie ul{padding-left:0}
#genie hr{border:solid #DDD;border-width:1px 0 0;clear:both;height:0;margin:1.25rem 0 1.1875rem}

/*@media only screen and (min-width:40.063em) and (max-width:64em) {
	#genie{width:1024px}
}*/
#genie{width:100%}
#genie .content-wrap{margin:0 auto;max-width:1280px;padding:0 53px}
#genie .content-wrap{min-width:960px}
/*@media only screen and (min-width:40.063em){
	#genie .content-wrap{min-width:960px}
}
@media only screen and (max-width:40em){
	#genie .content-wrap{padding:0 8px}
}*/

#genie .masthead{margin-bottom:0;position:relative}

#genie .search-container{margin:24px auto 10px;width:550px}
#genie .search-container input{font-size:16px;height:auto;margin:0;padding:9px 24px;width:430px}
#genie .search-container #search-submit{float:right}
#genie .quick-links .row{background-color:#e7ecf3;border-radius:0 0 10px 10px;padding:10px 0}
#genie .quick-links .columns{border-right:1px #675590 solid;text-align:center}
#genie .quick-links .columns:first-child{border-right:none;font-family:bt-bold}
#genie .quick-links .columns:last-child{border-right:none;float:left!important}
#genie .quick-links a{color:#675590}
#genie .hide{display:none}

/* Form Styling */
#genie input, #genie textarea{-webkit-appearance:none;border-radius:0;background-color:#FFF;font-family:inherit;
    border-style:solid;border-width:1px;border-color:#ccc;box-shadow:inset 0 1px 2px rgba(0, 0, 0, .1);
    color:rgba(0, 0, 0, .75);display:block;font-size:.875rem;margin:0 0 1rem;padding:.5rem;
    height:2.3125rem;width:100%;-moz-box-sizing:border-box;box-sizing:border-box;transition:all .15s linear}
#genie input:focus, #genie textarea:focus{background:#fafafa;border-color:#999;outline:0}
#genie fieldset[disabled] input, #genie fieldset[disabled] textarea,
#genie input:disabled, input[disabled], #genie input[readonly],
#genie textarea:disabled, #genie textarea[disabled], #genie textarea[readonly]{background-color:#DDD;cursor:default}
#genie input.radius, #genie textarea.radius{border-radius:10px}

/* Search Suggest */
.search-suggestion{background-color:#fff;margin:0;padding:0 10px;width:434px}
.search-suggestion .left{color:#222;float:left;font-size:1.1em;padding-bottom:7px;width:300px}
.search-suggestion .left em{color: #7D7D7D;font-size:0.8em}
.search-suggestion .right{color:#7D7D7D;float:right}
#suggest{background:#fafafa;border:1px solid #ccc;border-top:none;border-bottom:2px solid #32205A;border-bottom-left-radius:5px;border-bottom-right-radius:5px;clear:both;display:none;margin:0;padding:2px 3px 3px;width:430px;z-index:101}
#suggest-results,
#synonyms-results{cursor:pointer;display:list-item;font-family:'NewBT Regular',Arial,sans-serif;font-size:14px;line-height:1.5;list-style:none;margin:.8em 0 .2em;padding:.2em .4em}
#suggest-results,
#synonyms-results{clear:both}
#suggest-results ul,
#synonyms-results ul{list-style-type:none;margin:0;padding:0}
#suggest-results li{margin-left:0}
#suggest-results li:first-child{padding:0 10px}
#suggest-results li:first-child a{background:#e7ecf3;border-radius:10px;margin:5px 0;padding:5px 10px}
#suggest-results a{color:#222;float:left;padding:0 0 7px 20px;text-decoration:none;width:390px}
#synonyms-results a{color:#7D7D7D;float:left;padding-bottom:7px;width:100%}
#suggest-results a i:before{content:'\e600';font-family:bt;font-style:normal;padding-right:7px}
#suggest-results .right,
#synonyms-results .right{color:#7D7D7D;float:right}
#synonyms-results .category{clear:both;color:#7D7D7D;font-weight:bold;margin:0;padding:0 0 .4em 0}
#synonyms-results{clear:both}

/* Rows */
#genie .row{width: 100%;margin: 0 auto}
#genie .row:after,
#genie .row:before{content: " ";display: table}
#genie .row:after{clear: both}
#genie .row.collapse>.column,
#genie .row.collapse>.columns{padding-left: 0;padding-right: 0}
#genie .row.collapse .row{margin-left: 0;margin-right: 0}
#genie .row .row{width: auto;margin: 0 -.9375rem;max-width: none}
#genie .row .row:after,
#genie .row .row:before{content: " ";display: table}
#genie .row .row:after{clear: both}
#genie .row .row.collapse{width: auto;margin: 0;max-width: none}
#genie .row .row.collapse:after,
#genie .row .row.collapse:before{content: " ";display: table}
#genie .row .row.collapse:after{clear: both}

/* Columns */
#genie .column,
#genie .columns{position:relative;padding-left:0.9375rem;padding-right:0.9375rem;float:left}
#genie [class*=column]+[class*=column]:last-child{float:right}
#genie [class*=column]+[class*=column].end{float:left}
#genie .column.one,
#genie .columns.one{width:8.33333%;}
#genie .column.two,
#genie .columns.two{width:16.66667%}
#genie .column.three,
#genie .columns.three{width:25%}
#genie .column.four,
#genie .columns.four{width:33.33333%}
#genie .column.five,
#genie .columns.five{width:41.66667%}
#genie .column.six,
#genie .columns.six{width:50%}
#genie .column.seven,
#genie .columns.seven{width:58.33333%}
#genie .column.eight,
#genie .columns.eight{width:66.66667%}
#genie .column.nine,
#genie .columns.nine{width:75%}
#genie .column.ten,
#genie .columns.ten{width:83.33333%}
#genie .column.eleven,
#genie .columns.eleven{width:91.66667%}
#genie .column.twelve,
#genie .columns.twelve{width:100%}


#genie .home-links,
#genie .essential-information{margin:30px 0 20px}
#genie .essential-information h3{font-size:18.75px}
#genie .have-you-seen{background-color:#e7ecf3}
#genie .image-scroller{max-width:1144px;overflow:hidden;position:relative}
#genie .image-scroller .banners{position:relative;right:0}
#genie .image-scroller .banner{display:block;float:left;width:390px;padding-left:0}
#genie .have-you-seen .image-scroller .banner{display:block;float:left;width:286px;padding-left:0}
#genie .image-scroller .banner:last-child{float:left}
#genie .image-scroller .banner h3{font-size:18.75px}
#genie .image-scroller .banner p{color:#333}
#genie .image-scroller .banner a:hover{text-decoration:none}
#genie .banner-scroll-right{background:url(../images/bg-image-scroller-right.png) 0 0 no-repeat;cursor:pointer;float:right;height:50px;position:relative;right:0;bottom:220px;width:35px;z-index: 10}
#genie .banner-scroll-left{background:url(../images/bg-image-scroller-left.png) 0 0 no-repeat;cursor:pointer;float:left;height:50px;left:0;position:relative;bottom:220px;width:35px;z-index: 10}
#genie .have-you-seen .banner-scroll-right{background:url(../images/bg-image-scroller-right.png) 0 0 no-repeat;cursor:pointer;float:right;height:50px;position:relative;right:0;bottom:110px;width:35px;z-index: 10}
#genie .have-you-seen .banner-scroll-left{background:url(../images/bg-image-scroller-left.png) 0 0 no-repeat;cursor:pointer;float:left;height:50px;left:0;position:relative;bottom:110px;width:35px;z-index: 10}
#genie .products .column:last-child,
#genie .products .columns:last-child{float:left}
#genie .why-bt,
#genie .jargon-buster{margin-top:20px}
#genie .questions .chat-bubble{background-color:#32205a;border-radius:10px;color:#fff;height:175px;margin:20px 0 20px;overflow:hidden;padding:0 20px}
#genie .questions .chat-bubble:before{content:' ';position:absolute;width:0;height:0;left:30px;top:195px;border:10px solid;border-color:#32205a transparent transparent #32205a;}
#genie .objection-handling .row{padding-top:20px}
#genie .for-customers h1,
#genie .for-you h1{margin:30px 0}
#genie .downloads{background-color:#3b3c3a;color:#FFF;padding-bottom:80px;padding-top:2rem}
#genie .downloads h3{border-bottom:1px solid #848484;color:#fff;margin:0;padding:0}
#genie .downloads h4{border-bottom:1px solid #848484;color:#fff}
#genie .downloads h1,
#genie .downloads h2,
#genie .downloads h3,
#genie .downloads h4,
#genie .downloads a{color:#fff}
#genie .downloads .useful-links{padding-top:10px}
#genie .downloads .chevron-link-list li{border-bottom:1px solid #515151}
#genie .library-filters{margin-top:20px}
#genie .library-filters .accordion{background:#fff;color:#222;margin-bottom:1.5em}
#genie .library-filters .accordion a:hover{background:#f6f6f8!important;}
#genie .library-filters .accordion h2{color: #222}
#genie .library-filters .accordion .accordion-navigation{border-top:1px solid #d4d4d4!important;border-bottom:1px solid #d4d4d4!important;}
#genie .library-filters .accordion .accordion-navigation .sections ul{list-style-type:none;margin:0;padding:0}
#genie .library-filters .accordion .accordion-navigation .sections ul li{float:left}
#genie .library-filters .accordion .accordion-navigation .content .column,
#genie .library-filters .accordion .accordion-navigation .content .columns{float:left}
#genie .library-filters .accordion .tabs-horizontal .tabs{margin-top:0}
#genie .library-filters .accordion .tabs-horizontal .tabs-content{margin-bottom:0}
#genie .a-to-z{font-family:bt-regular;list-style-type:none;margin:0;padding:0}
#genie ul.a-to-z li{border-right:1px solid #675590;float:left;margin:0;padding:0;width:3.746153846153846%}
#genie ul.a-to-z li:last-child{border-right:none}
#genie .a-to-z{margin-top:20px}
#genie .a-to-z-content .columns:last-child{float:left}
#genie .products-categories .columns:last-child{float:left}


/* Background colors */
#genie .purple{background-color:#655684;color:#fff}
#genie .purple h1,
#genie .purple h2,
#genie .purple h3,
#genie .purple h4,
#genie .purple a{color:#fff}
#genie .violet{background-color:#55379b;color:#fff}
#genie .violet h1,
#genie .violet h2,
#genie .violet h3,
#genie .violet h4,
#genie .violet a{color:#fff}
#genie .violet-80{background-color:#785c9e}
#genie .violet-60{background-color:#9a89b6}
#genie .violet-40{background-color:#bbadcf}
#genie .violet-20{background-color:#ddd6e7}
#genie .violet-10{background-color:#eeeaf3}
#genie .blue{background-color:#004796;color:#fff}
#genie .blue h1,
#genie .blue h2,
#genie .blue h3,
#genie .blue h4,
#genie .blue a{color:#fff}
#genie .blue-80{background-color:#4566a1}
#genie .blue-60{background-color:#748cb8}
#genie .blue-40{background-color:#a2b3d0}
#genie .blue-20{background-color:#d1d9e7}
#genie .blue-10{background-color:#e7ecf3}

#genie .panel{border-style:none;border-width:1px;border-color:#d7d7e0;margin-bottom:1.25rem;padding:1.25rem;background:#f6f6f8;color:#3b3c3a}
#genie .panel.radius{border-radius:10px}

/* Button Styling */
#genie .button,
#genie button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: bt-regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding: .625rem 1.25rem .6875rem;
    font-size: 1rem;
    background-color: #32205a;
    background-image:none;
    border-color: #32205a;
    color: #FFF;
    transition: background-color 300ms ease-out
}
#genie .button:focus,
#genie .button:hover,
#genie button:focus,
#genie button:hover {
    background-color: #32205a;
    color: #FFF
}
#genie .button.secondary,
#genie button.secondary {
    background-color: #f6f6f8;
    border-color: #f6f6f8;
    color: #333
}
#genie .button.secondary:focus,
#genie .button.secondary:hover,
#genie button.secondary:focus,
#genie button.secondary:hover {
    background-color: #f6f6f8;
    color: #333
}
#genie .button.success,
#genie button.success {
    background-color: #43AC6A;
    border-color: #43ac6a;
    color: #FFF
}
#genie .button.success:focus,
#genie .button.success:hover,
#genie button.success:focus,
#genie button.success:hover {
    background-color: #43ac6a;
    color: #FFF
}
#genie .button.alert,
#genie button.alert {
    background-color: #f04124;
    border-color: #f04124;
    color: #FFF
}
#genie .button.alert:focus,
#genie .button.alert:hover,
#genie button.alert:focus,
#genie button.alert:hover {
    background-color: #f04124;
    color: #FFF
}
#genie .button.warning,
#genie button.warning {
    background-color: #f08a24;
    border-color: #f08a24;
    color: #FFF
}
#genie .button.warning:focus,
#genie .button.warning:hover,
#genie button.warning:focus,
#genie button.warning:hover {
    background-color: #f08a24;
    color: #FFF
}
#genie .button.info,
#genie button.info {
    background-color: #a0d3e8;
    border-color: #a0d3e8;
    color: #333
}
#genie .button.info:focus,
#genie .button.info:hover,
#genie button.info:focus,
#genie button.info:hover {
    background-color: #a0d3e8;
    color: #333
}
#genie .button.large,
#genie button.large {
    padding: .875rem 1.75rem .9375rem;
    font-size: 1.25rem
}
#genie .button.small,
#genie button.small {
    padding: .5rem 1rem .5625rem;
    font-size: .8125rem
}
#genie .button.tiny,
#genie button.tiny {
    padding: .375rem .75rem .4375rem;
    font-size: .6875rem
}
#genie .button.expand,
#genie button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%
}
#genie .button.left-align,
#genie button.left-align {
    text-align: left;
    text-indent: .75rem
}
#genie .button.right-align,
#genie button.right-align {
    text-align: right;
    padding-right: .75rem
}
#genie .button.radius,
#genie button.radius {
    border-radius: 10px
}
#genie .button.round,
#genie button.round {
    border-radius: 1000px
}
#genie .button.disabled,
#genie .button[disabled],
#genie button.disabled,
#genie button[disabled] {
    background-color: #32205a;
    border-color: #32205a;
    color: #FFF;
    cursor: default;
    opacity: .7;
    box-shadow: none
}
#genie .button.disabled:focus,
#genie .button.disabled:hover,
#genie .button[disabled]:focus,
#genie .button[disabled]:hover,
#genie button.disabled:focus,
#genie button.disabled:hover,
#genie button[disabled]:focus,
#genie button[disabled]:hover {
    color: #FFF;
    background-color: #32205a
}
#genie .button.disabled.secondary,
#genie .button[disabled].secondary,
#genie button.disabled.secondary,
#genie button[disabled].secondary {
    background-color: #f6f6f8;
    border-color: #f6f6f8;
    color: #333;
    cursor: default;
    opacity: .7;
    box-shadow: none
}
#genie .button.disabled.secondary:focus,
#genie .button.disabled.secondary:hover,
#genie .button[disabled].secondary:focus,
#genie .button[disabled].secondary:hover,
#genie button.disabled.secondary:focus,
#genie button.disabled.secondary:hover,
#genie button[disabled].secondary:focus,
#genie button[disabled].secondary:hover {
    color: #333;
    background-color: #f6f6f8
}
#genie .button.disabled.success,
#genie .button[disabled].success,
#genie button.disabled.success,
#genie button[disabled].success {
    background-color: #43AC6A;
    border-color: #43ac6a;
    color: #FFF;
    cursor: default;
    opacity: .7;
    box-shadow: none
}
#genie .button.disabled.success:focus,
#genie .button.disabled.success:hover,
#genie .button[disabled].success:focus,
#genie .button[disabled].success:hover,
#genie button.disabled.success:focus,
#genie button.disabled.success:hover,
#genie button[disabled].success:focus,
#genie button[disabled].success:hover {
    color: #FFF;
    background-color: #43AC6A
}
#genie .button.disabled.alert,
#genie .button[disabled].alert,
#genie button.disabled.alert,
#genie button[disabled].alert {
    background-color: #f04124;
    border-color: #f04124;
    color: #FFF;
    cursor: default;
    opacity: .7;
    box-shadow: none
}
#genie .button.disabled.alert:focus,
#genie .button.disabled.alert:hover,
#genie .button[disabled].alert:focus,
#genie .button[disabled].alert:hover,
#genie button.disabled.alert:focus,
#genie button.disabled.alert:hover,
#genie button[disabled].alert:focus,
#genie button[disabled].alert:hover {
    color: #FFF;
    background-color: #f04124
}
#genie .button.disabled.warning,
#genie .button[disabled].warning,
#genie button.disabled.warning,
#genie button[disabled].warning {
    background-color: #f08a24;
    border-color: #f08a24;
    color: #FFF;
    cursor: default;
    opacity: .7;
    box-shadow: none
}
#genie .button.disabled.warning:focus,
#genie .button.disabled.warning:hover,
#genie .button[disabled].warning:focus,
#genie .button[disabled].warning:hover,
#genie button.disabled.warning:focus,
#genie button.disabled.warning:hover,
#genie button[disabled].warning:focus,
#genie button[disabled].warning:hover {
    color: #FFF;
    background-color: #f08a24
}
#genie .button.disabled.info,
#genie .button[disabled].info,
#genie button.disabled.info,
#genie button[disabled].info {
    background-color: #a0d3e8;
    border-color: #a0d3e8;
    color: #333;
    cursor: default;
    opacity: .7;
    box-shadow: none
}
#genie .button.disabled.info:focus,
#genie .button.disabled.info:hover,
#genie .button[disabled].info:focus,
#genie .button[disabled].info:hover,
#genie button.disabled.info:focus,
#genie button.disabled.info:hover,
#genie button[disabled].info:focus,
#genie button[disabled].info:hover {
    color: #333;
    background-color: #a0d3e8
}
#genie button::-moz-focus-inner {
    border: 0;
    padding: 0
}
@media only screen and (min-width:40.063em) {
    #genie .button,
    #genie button {
        display: inline-block
    }
}

/* Product table */
#genie th{white-space:normal}
#genie .product-table{margin-bottom:30px}
#genie .product-table-wrap{padding:0}
#genie .product-table table{border-collapse:collapse;border:none;table-layout:fixed;width:100%;margin-top:40px}
#genie .product-table th,
#genie .product-table td{background:#f6f6f8;border:1px solid #D8D8D8;text-align:center;padding:24px 12px;font-size:16px;font-size:1rem}
#genie .product-table td.lowlight{background:#f6f6f8}
#genie .product-table .button-row td{padding:0}
#genie .product-table .long-text{font-size:14px;font-size:0.875rem}
#genie .product-table span.long-text{display:inline-block;margin-bottom:4px}
#genie .product-table th[scope="col"]{background:#32205a;color:#FFF;padding:24px 10px;border:none;border-left:1px solid #32205A;height:100%;position:relative;border-bottom:1px solid #675590;font-family:bt-bold;font-weight:400}
#genie .product-table th[scope="col"]:after{content:" ";border-right:1px solid #6D57A0;top:13px;height:60%;position:absolute;right:0}
#genie td .has-tip,
#genie th .has-tip{border-bottom:dashed 1px #655684;cursor:help}
#genie .product-table tbody:first-child tr:first-child th{background:#32205a;color:#FFF;padding:24px 10px;border:none;border-left:1px solid #32205A;height:100%;position:relative;border-bottom:1px solid #675590;font-family:bt-bold;font-weight:400}
#genie .product-table tbody:first-child tr:first-child th:after{content:" ";border-right:1px solid #6D57A0;top:19px;display:block;height:60%;position:absolute;right:0}
#genie .product-table tbody:first-child th:first-child{border-radius:10px 0 0 0;border-left:none}
#genie .product-table tbody:first-child th:last-child{border-radius:0 10px 0 0}
#genie .product-table th[scope="col"]:first-child{border-radius:10px 0 0 0;border-left:none}
#genie .product-table th[scope="col"]:last-child{border-radius:0 10px 0 0}
#genie .product-table th[scope="row"]{text-align:right;font-family:bt-bold;font-weight:400;}
#genie .product-table th[scope="col"]:after{content:" ";border-right:1px solid #6D57A0;top:19px;display:block;height:60%;position:absolute;right:0}
#genie .order-now{background:#D71F85}
#genie .button.inactive-btn,
#genie .button.inactive-btn:hover,
#genie .button.inactive-btn:focus{background:#B8B8B8;cursor:default !important;text-decoration:none}
#genie .product-table col{background:#f6f6f8}
#genie .product-table col.highlight{background:#EEEEEF}
#genie .product-table a.button{margin:10px 0}
#genie .product-table .column-flag {position:absolute;left:0;top:-36px;height:48px;border:1px solid #D0CDD7;color:#32205A;background:#EEEEEF;padding:8px 5px;border-radius:10px 10px 0 0;width:100%;font-size:14px;z-index:-1}
#genie .price-highlight,
#genie .offer-highlight{color:#D71F85}
#genie .product-table .reveal{padding:0;background:#fff;border:none}
#genie .product-table .reveal a{display: inline-block;padding:10px 0;background:#f6f6f8;border-radius:0 0 10px 10px;width:50%;border:1px solid #D8D8D8;border-top:none;color:#32205a}
#genie .product-table .reveal a:hover{background:#EFEBF8}
#genie .product-table .reveal a.active .hide{display:inline !important;}
#genie .product-table .reveal a.active .closed {display:none}
#genie .product-table .reveal .icon-arrow-down{display:inline-block}
#genie .product-table .reveal .active .icon-arrow-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
#genie .product-table .icon-cross{font-size:17px;font-size:1.0625rem;color:#B2ACC1}
#genie .product-table .icon-checkmark{font-size:27px;font-size:1.6875rem;color:#32205a}
#genie .product-table table.table-cols-3 td{width:33%}
#genie .product-table table.table-cols-4 td{width:25%}
#genie .product-table table.table-cols-5 td{width:20%}
#genie .product-table table.table-cols-6 td{width:16%}
#genie .product-table table.table-cols-8 th[scope="col"],
#genie .product-table table.table-cols-7 th[scope="col"]{width:11%}
#genie .product-table table.table-cols-8 th[scope="col"]:first-child,
#genie .product-table table.table-cols-7 th[scope="col"]:first-child{width:15%}
#genie .product-table table.table-cols-3 th[scope="col"]{width:40%}
#genie .product-table table.table-cols-3 th[scope="col"]:first-child{width:30%}
#genie .product-table table th[scope="col"]:first-child{width:15%}
#genie .product-table .table-cols-8 a.check-availability{padding-left:8px;padding-right:8px}
#genie .product-table .content-wrap {padding:0}
#genie .product-table .table-cols-8 a.check-availability{padding-left:1rem;padding-right:1rem}
#genie .product-table table{border-collapse:collapse;border:none;table-layout:fixed;width:100%;margin-top:40px}
#genie .product-table th,
#genie .product-table td{border:1px solid #D8D8D8;text-align:center;padding:24px 12px;font-size:16px;font-size:1rem}
#genie .product-table td.lowlight{background:#f6f6f8}
#genie .product-table .button-row td{padding:0}
#genie .product-table .long-text{font-size:14px;font-size:0.875rem}
#genie .product-table span.long-text{display:inline-block;margin-bottom:4px}
#genie .product-table th[scope="col"]{background:#32205a;color:#FFF;padding:24px 10px;border:none;border-left:1px solid #32205A;height:100%;position:relative;border-bottom:1px solid #675590;font-family:bt-bold;font-weight:400}
#genie .product-table th[scope="col"]:after{content:" ";border-right:1px solid #6D57A0;top:13px;height:60%;position:absolute;right:0}
#genie .product-table th[scope="col"]:first-child{border-radius:10px 0 0 0;border-left:none}
#genie .product-table th[scope="col"]:last-child{border-radius:0 10px 0 0}
#genie .product-table th[scope="row"]{text-align: right;font-family:bt-bold;font-weight:400}
#genie .product-table th[scope="col"]:after{content: " ";border-right:1px solid #6D57A0;top:19px;display:block;height:60%;position:absolute;right:0}
#genie .product-table .button-row td{padding: 0}
#genie .product-table .row .row{margin:20px 0 10px;padding:0 53px}

/* Tooltip */
[data-tooltip]{position:relative;z-index:2;cursor:pointer}
[data-tooltip]:before,
[data-tooltip]:after{visibility:hidden;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:progid: DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;pointer-events:none}
[data-tooltip]:before{position:absolute;margin-bottom:5px;margin-left:-80px;padding:7px;width:160px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#000;background-color:#655684;color:#fff;content:attr(data-tooltip);text-align:center;font-size:14px;line-height:1.2;top:100%;bottom:auto;left:50%}
[data-tooltip]:after{position:absolute;margin-top:-5px;width:0;border-bottom:5px solid #000;border-bottom:5px solid #655684;border-right:5px solid transparent;border-left:5px solid transparent;content:" ";font-size:0;line-height:0;top:100%;bottom:auto;left:50%}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {visibility:visible;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:progid: DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}


/* Links */
.chevron-link-list {
    list-style: none;
    margin: 0;
    left: 0;
    margin: 1rem 0;
}
.remove-top-margin {
    margin-top: 0 !important;
}
.button-group {
    list-style: none;
    margin: 0;
    left: 0;
}
.chevron-link-list {
    list-style: none;
    margin: 0;
    left: 0;
    margin: 1rem 0;
}
.remove-top-margin {
    margin-top: 0 !important;
}
.button-group {
    list-style: none;
    margin: 0;
    left: 0;
}

.button-group.stack > li {
    margin: 0 -2px;
    display: inline-block;
    display: block;
    margin: 0;
    float: none;
}
.button-group.stack > li {
    margin: 0 -2px;
    display: inline-block;
    display: block;
    margin: 0;
    float: none;
}
.chevron-link-list > li {
    margin: 0 -2px;
    display: inline-block;
}
.button-group > li {
    margin: 0 -2px;
    display: inline-block;
}
.chevron-link-list > li {
    margin: 0 -2px;
    display: inline-block;
}
.button-group > li {
    margin: 0 -2px;
    display: inline-block;
}

.chevron-link-list-tight a {
    padding: .1rem;
}
.chevron-link-list a {
    margin: 0;
    width: 100%;
    display: inline-block;
    background: none;
    color: #3b3c3a;
    text-align: left;
    padding: .3rem .3rem .3rem 0;
}
.chevron-link-list-tight a {
    padding: .1rem;
}
.chevron-link-list a {
    margin: 0;
    width: 100%;
    display: inline-block;
    background: none;
    color: #3b3c3a;
    text-align: left;
    padding: .3rem .3rem .3rem 0;
}
.chevron-link-list a:after {
    float: right;
    font-size: 10px;
    font-size: 0.625rem;
    margin: .8em .2em;
}
.chevron-link-list a:after {
    float: right;
    font-size: 10px;
    font-size: 0.625rem;
    margin: .8em .2em;
}
.chevron-link-list a:hover {
    opacity: 0.8;
    text-decoration: underline;
}
.chevron-link-list a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/* Icons */
.hide-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.js .icon-wrapper {
    float: left;
    padding-top: 15px;
}
.js .icon-bubble:before {
    background-color: #32205a;
    color: #fff;
    font-size: 30px;
    font-size: 1.875rem;
    padding: 12px;
    border-radius: 150px;
    margin-right: 1rem;
}
.js [class^='icon-'],
.js [class*=' icon-'],
.js .chevron-btn:after,
.js .chevron-link-list a:after,
.js .polaris-menu-link:after,
.js .polaris-search-link:after,
.js .chevron-link:after {
  font-family: 'bt';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.js .chevron-link:after {
  display: inline-block;
  margin-left: 25px;
  font-size: 0.7em;
}
.js .icon-cross:before {
  content: '\e36b';
}
.js .polaris-menu-link:after {
  content: '\ec6a';
  margin-left: 5px;
  display: inline;
}
.js .polaris-search-link:after {
  content: '\e1b7';
  margin-left: 5px;
  display: inline;
}
.js .icon-external-link:before {
  content: "\e622";
}
.js .icon-cloud-hostings:before {
  content: '\e613';
}
.js .icon-commercial-services:before {
  content: '\e614';
}
.js .icon-it-and-data:before {
  content: '\e615';
}
/* line 151, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-leased-lines:before {
  content: '\e616';
}
/* line 155, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-mobile:before {
  content: '\e617';
}
/* line 159, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-network-services:before {
  content: '\e618';
}
/* line 163, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-phonelines:before {
  content: '\e619';
}
/* line 167, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-professional-services:before {
  content: '\e61a';
}
/* line 171, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-virtual-private-networks:before {
  content: '\e61b';
}
/* line 175, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-voice-system-services:before {
  content: '\e61c';
}
/* line 179, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-voip:before {
  content: '\e61d';
}
/* line 183, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-wide-area-networks:before {
  content: '\e61e';
}
/* line 187, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-chevron-right:before,
.js .chevron-link-list a:after,
.js .chevron-link:after {
  content: '\e600';
}
/* line 193, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-chevron-left:before {
  content: '\e601';
}
/* line 197, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-play-circle:before {
  content: '\e608';
}
/* line 201, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-mail:before {
  content: '\e604';
}
/* line 205, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-arrow-down:before,
.js .polaris-l3 > li > a:after {
  content: '\e600';
}
/* line 210, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-arrow-down:before {
  content: '\e602';
}
/* line 220, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-arrow-up:before {
  content: '\e603';
}
/* line 224, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cart-plus:before {
  content: '\e0c8';
}
/* line 228, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cart-minus:before {
  content: '\e0c9';
}
/* line 232, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cart-add:before {
  content: '\e0ca';
}
/* line 236, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cart-remove:before {
  content: '\e0cb';
}
/* line 240, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cart-checkout:before {
  content: '\e0cc';
}
/* line 244, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cart-remove2:before {
  content: '\e0cd';
}
/* line 248, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-menu:before {
  content: '\ec6a';
}
/* line 252, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cog:before {
  content: '\e1e1';
}
/* line 256, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-thumbs-up:before {
  content: '\e315';
}
/* line 260, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-thumbs-up2:before {
  content: '\e316';
}
/* line 264, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-blocked:before {
  content: '\e364';
}
/* line 268, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-close:before {
  content: '\e36b';
}
/* line 272, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-checkmark:before {
  content: '\e370';
}
/* line 276, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-minus:before {
  content: '\e375';
}
/* line 280, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-plus:before {
  content: '\e376';
}
/* line 284, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-googleplus:before {
  content: '\e493';
}
/* line 288, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-facebook:before {
  content: '\e499';
}
/* line 292, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-twitter:before {
  content: '\e49d';
}
/* line 296, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-youtube:before {
  content: '\e4a4';
}
/* line 300, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-linkedin:before {
  content: '\e4cf';
}
/* line 304, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cancel-circle:before {
  content: '\e366';
}
/* line 308, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-checkmark-circle:before {
  content: '\e367';
}
/* line 312, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-checkmark-circle2:before {
  content: '\e368';
}
/* line 316, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-circle:before {
  content: '\e43b';
}
/* line 320, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-chat:before {
  content: '\e609';
}
/* line 324, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-arrow-small:before {
  content: '\e605';
}
/* line 328, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-download:before {
  content: '\e606';
}
/* line 332, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-question:before {
  content: '\e607';
}
/* line 336, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-question2:before {
  content: '\e60a';
}
/* line 340, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-upload:before {
  content: '\e60b';
}
/* line 344, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-tick:before {
  content: '\e60c';
}
/* line 348, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-users:before {
  content: '\e60d';
}
/* line 352, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-search2:before {
  content: '\e60e';
}
/* line 356, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-warning:before {
  content: '\e60f';
}
/* line 360, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-notification:before {
  content: '\e610';
}
/* line 364, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-play:before {
  content: '\e611';
}
/* line 368, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-loop:before {
  content: '\e612';
}
/* line 372, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-cube:before {
  content: '\e266';
}
/* line 376, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-stack:before {
  content: '\e61f';
}
/* line 380, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-gift:before {
  content: '\e620';
}
/* line 384, ../../../../pattern-library/scss/elements/_icons.scss */
.js .icon-file-pdf:before {
  content: '\e621';
}

/* Banners */
#genie .banner-main{color:#fff;background-color:#32205a;height:141px;overflow:hidden}
#genie .banner-main h1{color:#fff}
#genie .banner-main a{color:#fff;text-decoration:underline}
#genie .banner-main.banner-home{height:71px}
#genie .banner-main.banner-home h1{margin:0;padding:0}
#genie .banner-main.campaign{margin-bottom:20px}

#genie .banner-main.banner-image {
    background-image: none;
    background-position: left top;
    background-repeat: repeat;
    padding-top: 8px
}
#genie .banner-main.banner-image {
    background-image: url(../images/bg-main-banner.png);
    background-color: transparent;
    padding-top: 0
}
#genie .banner-main .overlay {
    background-color: rgba(0, 0, 0, .5);
    width: 50%
}
#genie .banner-main .overlay,
#genie .banner-main .overlay .holder {
    height:141px
}
#genie .banner-main.banner-home .overlay,
#genie .banner-main.banner-home .overlay .holder  {
    height: 71px
}
#genie .banner-main .overlay .centerer {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
#genie .banner-main.banner-home .overlay .centerer p {
    font-size:1.625rem;
    margin:0;
}
#genie .banner-main.banner-small h1 {
    color: #32205a
}
@media only screen and (max-width:40em) {
    #genie .banner-main.banner-small {
        background-position: left top;
        background-repeat: repeat;
        background-image: url(../images/bg-main-banner.png);
        background-color: transparent;
        padding-top: 8px
    }
}
@media only screen and (min-width:40.063em) {
    #genie .banner-main.banner-small {
        min-height: 78px
    }
}
#genie .banner-main.banner-small .overlay {
    background-color: transparent
}
@media only screen and (min-width:40.063em) {
    #genie .banner-main.banner-small .overlay,
    #genie .banner-main.banner-small .overlay .holder {
        height: 77px
    }
}

/* Horizontal tabs */
#genie .tabs-horizontal .tabs{width:100%}
#genie .tabs-horizontal .tabs .tab-title a{float:left;display:block}
#genie .tabs-horizontal .tabs .tab-title a{background-color:#e1e1e1;border-bottom:2px solid #fff;border-right:1px solid #fff;cursor:pointer;display:block;font-family:bt-regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;font-size:1rem;padding:1rem 2rem}
#genie .tabs-horizontal .tabs .tab-title a:hover{background:#efefef}
#genie .tabs-horizontal .tabs .tab-title.active a{background:#f6f6f8;border-bottom:2px solid #f6f6f8}
#genie .tabs-horizontal .tabs-content{background:#f6f6f8;padding:15px 0}
/* Tabs */
#genie .tabs{margin-bottom:0 !important;margin-left:0;width:100%}
#genie .tabs:before,
#genie .tabs:after{content:" ";display:table}
#genie .tabs:after{clear:both}
#genie .tabs dd, #genie .tabs .tab-title{position:relative;margin:0 !important;list-style:none;float:left}
#genie .tabs dd .content{display:none}
#genie .tabs dd > a, #genie .tabs .tab-title > a{display:block;background-color:#EFEFEF;color:#222222;padding:1rem 2rem;font-family:bt-regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;font-size:1rem}
#genie .tabs dd > a:hover,
#genie .tabs .tab-title > a:hover{background-color:#e1e1e1}
#genie .tabs dd > a:focus,
#genie .tabs .tab-title > a:focus{outline:none}
#genie .tabs dd.active a,
#genie .tabs .tab-title.active a{background-color:#FFF;color:#222222}
#genie .tabs.radius dd:first-child a,
#genie .tabs.radius .tab:first-child a{-webkit-border-bottom-left-radius:10px;-webkit-border-top-left-radius:10px;border-bottom-left-radius:10px;border-top-left-radius:10px}
#genie .tabs.radius dd:last-child a, 
#genie .tabs.radius .tab:last-child a{-webkit-border-bottom-right-radius:10px;-webkit-border-top-right-radius:10px;border-bottom-right-radius:10px;border-top-right-radius:10px}
#genie .tabs.vertical dd,
#genie .tabs.vertical .tab-title{position:inherit;float:none;display:block;top:auto}
#genie .tabs-content{margin-bottom:1.5rem;width:100%}
#genie .tabs-content:before,
#genie .tabs-content:after{content:" ";display:table}
#genie .tabs-content:after{clear:both}
#genie .tabs-content > .content{float:left;padding:0.9375rem 0;width:100%}
#genie .tabs-content > .content.active{display:block;float:none}
#genie .tabs-content > .content.contained{padding: 0.9375rem}
#genie .tabs-content.vertical{display:block}
#genie .tabs-content.vertical > .content{padding:0 0.9375rem}
#genie .tabs.vertical {width:20%;max-width:20%;float:left;margin:0 0 1.25rem}
#genie .tabs.vertical .tab-title{width:100%}
#genie .tabs.vertical .tab-title .icon-chevron-right{float:right}
#genie .tabs-content.vertical{width:80%;max-width:80%;float:left;margin-left:-1px;padding-left:1rem}
.no-js #genie .tabs-content > .content{display:block;float:none;}
/* Accordion */
#genie .accordion{background-color:#655684;color:#fff;margin:0 0 0 0}
#genie .accordion:after{clear: both}
#genie .accordion:after, .accordion:before{content:" ";display:table}
#genie .accordion h2{color:#fff}
#genie .accordion .content-wrap{padding-bottom: 24px}
#genie .accordion .content-wrap .columns{width:100%}
#genie .accordion .accordion dd > a,
#genie .accordion-block h2{color: #FFF!important}
#genie .accordion dd{border-bottom:1px solid #fff!important;}
#genie .accordion dd > a{position: relative;}
#genie .accordion dd > a span{display:block;margin-top:-15px;padding:6px 9px;position:absolute;right:10px;top:50%}
#genie .accordion dt.active a:hover {background:#f6f6f8;}
#genie .accordion .accordion .accordion-navigation > .content.active,
#genie .accordion .accordion dd > .content.active{background:none!important;}
#genie .accordion .accordion .accordion-navigation > .content.active p,
#genie .accordion .accordion .accordion-navigation > .content.active p a,
#genie .accordion .accordion .accordion-navigation > .content.active table tr td,
#genie .accordion .accordion .accordion-navigation > .content.active table tr th,
#genie .accordion .accordion dd > .content.active p,#genie .accordion .accordion dd > .content.active p a,
#genie .accordion .accordion dd > .content.active table tr td,
#genie .accordion .accordion dd > .content.active table tr th,
#genie .accordion .accordion dd > .content.active ul{color:#fff!important}
#genie .accordion .accordion-navigation .content .column,
#genie .accordion .accordion-navigation .content .columns{float:none}
#genie .accordion .accordion-block-item dd.active a:hover{background:none!important}
#genie .accordion p > a{text-decoration: underline;color:#fff}
#genie .accordion p > a:hover{text-decoration:none;}
#genie .accordion .accordion-navigation,
#genie .accordion dd{display:block;margin-bottom:0!important;margin-left:0}
#genie .accordion .accordion-navigation.active > a,
#genie .accordion dd.active > a{background:0 0}
#genie .accordion .accordion-navigation > a,#genie .accordion dd > a{background:0 0;color:#222;display:block;font-family:bt-regular,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-size:1rem;padding:1rem 2.5rem 1rem 0}
#genie .accordion .accordion-navigation > a:hover,#genie .accordion dd > a:hover{background:0 0}
#genie .accordion .accordion-navigation > .content,#genie .accordion dd > .content{display: none;padding: .9375rem}
#genie .accordion .accordion-navigation > .content.active,#genie .accordion dd > .content.active{display:block;background:#fff}
#genie .accordion-navigation.active .icon-arrow-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.ie8 #genie .accordion-block-item dd{padding-top:15px;padding-bottom:5px}
.ie8 #genie .accordion-block-item dd > a span{border:0}


h3 a:after {
	content: '\e600';
	display: inline;
	font-family: bt;
	margin-left: 30px;
	font-size: .625em
}


/* Image Scroller
.image-scroller img{padding-bottom:12px}
#genie .image-scroller{overflow:hidden;position:relative}
#genie .image-scroller .container{position:relative;right:0}
#genie .image-scroller .columns{display:block;float:left;width:390px}
#genie .image-scroller .scroll-right{background:url(../images/bg-image-scroller-right.png) 0 0 no-repeat;cursor:pointer;height:52px;position:absolute;right:0;top:137px;width:30px}
#genie .image-scroller .scroll-left{background:url(../images/bg-image-scroller-left.png) 0 0 no-repeat;cursor:pointer;height:52px;left:0;position:absolute;top:137px;width:30px}
#genie .image-scroller [class*="column"] + [class*="column"]:last-child{float:left}
 */
/* See what happens */
.inline-list {
    margin: 0 0 1.0625rem -1.375rem;
    padding: 0;
    list-style: none;
    overflow: hidden
}
.inline-list>li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: block
}
.inline-list>li>* {
    display: block
}
#genie .video-banner{background-repeat:no-repeat;background-position:center center;background-size:cover;margin:20px 0}
#genie .video-banner:hover a{text-decoration:underline}
#genie .video-wrap{cursor:pointer;height:360px}
#genie .video-wrap h2,
#genie .video-wrap h3,
#genie .video-wrap i,
#genie .video-wrap p{color: #FFF!important;text-align:center}
#genie .video-wrap h2 a,
#genie .video-wrap h3 a,
#genie .video-wrap i a,
#genie .video-wrap p a{color:#FFF!important}
#genie .video-wrap h2 a:focus,
#genie .video-wrap h2 a:hover,
#genie .video-wrap h3 a:focus,
#genie .video-wrap h3 a:hover,
#genie .video-wrap i a:focus,
#genie .video-wrap i a:hover,
#genie .video-wrap p a:focus,
#genie .video-wrap p a:hover{text-decoration:underline}
#genie .video-wrap i{font-size:4.5em}
#genie .video-title{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
#genie .video-banner .medium-centered{margin-left:auto;margin-right:auto;float:none}


.C024-related-items .icon-wrapper {
    float: left;
    color: #d4d4d4;
    font-size: 1.6em;
    padding-right: 10px;
    padding-top: .3rem
}
.C024-related-items h3 a:hover {
    opacity: .8
}
.C024-related-items h3 a:after {
    content: '\e600';
    display: inline;
    font-family: bt;
    margin-left: 30px;
    font-size: .625em
}
.C024-related-items h3 a:hover:after {
    margin-left: 36px!important;
    transition: all .1s ease-in-out
}
.C024-related-items .image {
    margin-bottom: 24px
}
.C024-related-items .image img {
    width: 100%
}
.C024-related-items .video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 24px
}
.C024-related-items .video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}
.column.medium-centered,
.columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none
}
/* Old Styles */
#genie .sectionNav{margin:0 auto 24px;max-width:1280px;min-width:960px;padding:0 53px;width:100%}
#genie .sectionNav{background:url("../images/legacy/bg_btn_secondary.gif") left center repeat-x;border:1px solid #ddd;margin:0;overflow:hidden;padding:0}
#genie .sectionNav li{background:transparent url("../images/legacy/sectionNav_divider.gif") left center no-repeat;float:left;list-style:none;margin:0;padding:0}
#genie .sectionNav .first{background:transparent none}
#genie .sectionNav li span{display:block;float:left;font-size:16px;padding:16px 34px}
#genie .sectionNav li a{color:#00528E;display:block;float:left;font-size:16px;padding:16px 34px}
#genie .sectionNav li a:visited{color:#00528E}
#genie .sectionNav li span{background:url("../images/legacy/bg_btn_selected.gif") left center repeat-x;color:#fff!important;text-decoration:none}
#genie .sectionNav li a:hover{background:url("../images/legacy/bg_btn_selected.gif") left center repeat-x;color:#fff!important;text-decoration:none}
#genie .sectionNav li a:active{text-decoration:underline}
#genie .sectionNav li a:focus{text-decoration:underline}
#genie .sectionNav .last.toggleFullScreen{cursor:pointer;float:right;height:56px;overflow:hidden;text-indent: -9999px;width:45px}
#genie .sectionNav .last.toggleFullScreen{background:transparent url('../images/legacy/bg_fullscreenBtn.png') 0 0 no-repeat;}
#genie .sectionNav .last.toggleFullScreen:hover{background:transparent url('../images/legacy/bg_fullscreenBtn.png') 0 -56px no-repeat;}
/* Contact Matrix */
#genie #contactDetails{background-color:#fff;background-position:top right;background-repeat:no-repeat;color:#333;position:relative;}
#genie #contactDetails .contact{border-bottom:1px solid #E4E4E4;clear:both;margin-bottom:10px;padding:21px 26px}
#genie #contactDetails .summary{float:left;width:550px}
#genie #contactDetails .telephone{float:left;padding-left:20px;width:330px}
#genie #contactDetails .telephone ul{margin:0;padding:0}
#genie #contactDetails .telephone .tel-copy{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: #CCCCCC #DDDDDD #EEEEEE;border-image: none;border-style: solid;border-width: 1px;height: 24px;line-height: 24px;margin-top: 5px;padding: 1px 3px;position: relative;}
#genie #contactDetails .telephone strong{float: left;display: block;color: #767676;font-weight: normal;padding-top: 14px}		
#genie #contactDetails .telephone .tel-copy{float: right;width: 14em}
#genie #contactDetails .telephone .tel-copy input{border: 0 none;color: #55379b;cursor: pointer;display: inline-block;font-size: 1.3em;height: 24px;line-height: 24px;margin: 0;padding: 0;text-align: right;width: 100%}
#genie #contactDetails .telephone .tel-copy span{background-image: url(../img/global/bg_copyBtn.png);color:#fff;height:26px;left:0px;padding-left:10px;position:absolute;top:0;width:70px}
#genie #contactDetails .telephone .openingHours{clear:both}
#genie #contactDetails .description{clear:both;color:#767676;font-size:.85em;width:550px}
#genie #contactDetails .meta{color:#767676;font-size:.85em}
/* Footer */
#genie .footerMenu:after,
#genie .footerMenu:before{content:"";display:table}
#genie .footerMenu{background:#181818;background:-moz-linear-gradient(top, #181818 0%, #1d1d1d 3%, #272727 44%, #323232 75%, #353535 94%, #363636 97%, #37393d 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#181818), color-stop(3%,#1d1d1d), color-stop(44%,#272727), color-stop(75%,#323232), color-stop(94%,#353535), color-stop(97%,#363636), color-stop(100%,#37393d));background:-webkit-linear-gradient(top, #181818 0%,#1d1d1d 3%,#272727 44%,#323232 75%,#353535 94%,#363636 97%,#37393d 100%);background:-o-linear-gradient(top, #181818 0%,#1d1d1d 3%,#272727 44%,#323232 75%,#353535 94%,#363636 97%,#37393d 100%); /* Opera 11.10+ */background:-ms-linear-gradient(top, #181818 0%,#1d1d1d 3%,#272727 44%,#323232 75%,#353535 94%,#363636 97%,#37393d 100%); /* IE10+ */background: linear-gradient(top, #181818 0%,#1d1d1d 3%,#272727 44%,#323232 75%,#353535 94%,#363636 97%,#37393d 100%);border-top: 1px solid rgba(255,255,255,.2);position:fixed;bottom:0;z-index:500;color:#fff;font-family:'NewBT Regular', Arial, sans-serif;font-size:81.25%/* 13px */}
#genie .footerMenu:after{clear:both}
#genie .footerMenu .footerMenuInner{border-right:1px solid #3e3e3e;border-right:1px solid rgba(255,255,255,.2);margin:0 auto;width:980px}
#genie .footerMenu li{margin:0;padding:0;list-style-type:none}
#genie .footerMenu ul{margin:0;padding:0;list-style-type:none}
#genie .footerMenu ul{float:right;border-right:1px solid #3e3e3e;border-right:1px solid rgba(255,255,255,.2)}
#genie .footerMenu .first{float:left}
#genie .footerMenu li{background-image:none;border-left:1px solid #3e3e3e;float:left;margin:0;padding:0;position:relative}
#genie .footerMenu a{color:#fff;display:block;padding:11px 15px;text-decoration:none}
#genie .footerMenu a:focus{color:#fff;text-decoration:underline}
#genie .footerMenu a:hover{color:#fff;text-decoration:underline}
#genie .footerMenu .selected{background:#000}
#genie .footerMenu .footerMenuQuickLink a{background:transparent url("../images/legacy/chevrons.png") 15px -791px no-repeat;padding-left:34px}
#genie .footerMenu .selected a{background-position:15px -663px}
#genie .footerMenu ul.first li .menuModule{background:transparent url("../images/legacy/bg_menuModule.png") bottom left repeat-x;border-bottom:3px solid #000;display:none;position:absolute;bottom:39px;left:0px;width:270px;z-index:999}
#genie .footerMenu .menuModule{background:transparent url("../images/legacy/bg_menuModule.png") bottom left repeat-x;border-bottom:3px solid #000;display:none;position:absolute;bottom:39px;right:0px;width:270px;z-index:999}
#genie .footerMenu .menuModule#ContactUsMenu{width:340px}
#genie .footerMenu .footerMenuQuickLink:hover .menuModule{display:block}
#genie .footerMenu .footerMenuQuickLink:hover .menuModule{display:none}
#genie .footerMenu .menuModule .moduleInner{background:transparent none;border:none;font-weight:normal}
#genie .footerMenu .menuModule .mainHeader{background:transparent none;border:none;font-weight:normal}
#genie .footerMenu .menuModule .mainHeader{padding:30px 30px 0}
#genie .footerMenu .menuModule .moduleInner{padding:30px;position:static}
#genie .footerMenu .menuModule .moduleInner .col{padding:0;width:30.435%;/* 280px / 920px */padding-right:2.821%/* 26px / 920px */}
#genie .footerMenu .menuModule .mainHeader h2{color:#FFF;font-size:2em;/* 26px */margin:0}
#genie .footerMenu .menuModule .moduleInner h3{font-size:1.615384615em/* 21px */}
#genie .footerMenu .menuModule .moduleInner li{border:none;float:none;width:auto}
#genie .footerMenu .menuModule .moduleInner ul{border:none;float:none;width:auto}
#genie .footerMenu .menuModule .moduleInner li.hover{background-image: url("../images/legacy/chevrons.png");background-position:0 -448px;background-repeat:no-repeat;margin:0 0 8px;padding-left:17px}
#genie .footerMenu .menuModule .moduleInner li{background-image: url("../images/legacy/chevrons.png");background-position:0 -448px;background-repeat:no-repeat;margin:0 0 8px;padding-left:17px}
#genie .footerMenu .menuModule .moduleInner a{background:transparent none;padding:0;margin:0}
#genie .footerMenu .footerMenuQuickLink .menuModule .close{background:transparent url("../images/legacy/bg_menuModule_close.png") center center no-repeat;text-indent:-9999px;padding:0;margin:0;width:34px;height:32px;overflow:hidden;position:absolute;top:10px;right:10px}