/* Print Styles */
body{color:#6d6e71;font-family:'Arial Unicode MS', 'Sans-serif';font-size:16px}
#genie h1,#genie h2,#genie h3,#genie h4,#genie h5,#genie .h2,#genie .large,#genie .price{font-family:'Arial Unicode MS', 'Sans-serif';font-weight:normal}
#genie h1{color:#55379b;font-size:4.23076923em;line-height:1em;margin-bottom:2px;margin-left:-2px}
#genie h2{color:#55379b;font-size:2.615384615em;line-height:1.029411765em;margin-bottom:.588235294em}
#genie h3{color:#55379b;font-size:1.615384615em;font-weight:normal;line-height:1.142857143em;margin-bottom:.476190476em}
#genie h4{color:#55379b;font-size:1.230769231em;font-weight:normal;line-height:1.3125em;margin-bottom:.476190476em}
#genie p{line-height:1.307692308em;margin-bottom:1.153846154em;margin-top:1em}
#genie ul,#genie ol,#genie dl{margin-bottom:1em}
#genie ul ul,#genie ol ol,#genie dt,#genie dd{font-size:1em}
#genie li,#genie dt,#genie dd{line-height:1.307692308em}
#genie dt{font-family:'Arial Unicode MS', 'Sans-serif';font-size:1.230769231em;font-weight:normal;line-height:1.3125em;margin-bottom:.3125em}
#genie dd{font-family:'Arial Unicode MS', 'Sans-serif';font-weight:normal;margin-bottom:.769230769em}
#genie a{color:#00528e;text-decoration:none}
#genie a:hover,#genie a:focus{color:#55379b;text-decoration:underline}
#genie input,#genie textarea,#genie select,#genie label{color:#333;font-family:'Arial Unicode MS', 'Sans-serif';font-size:1.1em}
#genie table{border:1px solid #E0E0E0;border-collapse:collapse;line-height:1.307692308em;margin-bottom:1em}
#genie table th,#genie table td{border:1px solid #d1d1d1;padding:10px}
#genie hr{background:0;border:0;border-bottom:1px solid #e5e5e5;width:100%}
#genie a img,#genie fieldset{border:none}
#genie #title p{font-size:1.1em}
/* Tables */
#genie .col table{margin:0;table-layout:fixed;width:500px !important}
#genie table tr th{background-color:#816aaf;border-bottom:#6b4fa0 1px solid;border-color:#000;color:#fff;text-align:center;vertical-align:middle;white-space:normal}
#genie table tr td{border-color:#949599}
#genie .primaryModule.documentList table tr th{border-bottom:1px solid #cdcece;border-left:none;border-right:none;border-top:none;color:#6b4fa0;padding:20px 10px;text-align:center;vertical-align:middle;white-space:normal}
#genie .primaryModule.documentList tr td{border-bottom:1px solid #cdcece;border-left:none;border-right:none;border-top:none;padding:20px 10px}
