<apex:component controller="ODFCVDNotifierController" access="global">
  <apex:attribute type="String" name="CaseId" assignTo="{!caseId}" description="This template uses case id to generate email template"/>
  {!NotificationText}
  <apex:outputLabel value="{!mailBody}" escape="false" />
</apex:component>