<apex:component controller="qbOrderCTRL">
<apex:attribute name="orderrec" type="Order_Header__c" description=""/>
<table class="hcInputTable">
    <tr>
        <td colspan="4" style="vertical-align:top;">
			<div class="divInfoText" style="padding: 10px 13px; ">
				If your customer is downgrading their contract with a CRD that is earlier than their end of contract date you will need to advise them that Early Termination Charges may apply.<br/>
				A downgrade could be:<br/>
					&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;licence type (eg Collaborate to Connect or Basic; Connect to Basic)<br/>
					&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;licence term (24 months to 12 months)<br/>
					&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;reducing the number of user licences<br/>
			</div><br/>
			<div style="text-align:center;font-size:120%">
				<div id="RClink"/>
			</div>
		</td>
	</tr>
<!--
    <tr>
        <td colspan="4" style="vertical-align:top;"><h4 class="hc">Details</h4></td>
	</tr>
    <tr>
        <td class="hcLabel">Phone Number</td>
        <td colspan="3"><apex:inputText id="cpTelNum" onBlur="checkCompleteCP('dontUpdate');"/></td>
    </tr>
-->
    <tr>
        <td colspan="4" style="vertical-align:top;"><h4 class="hc">Existing Licences</h4></td>
	</tr>
    <tr>
        <td class="hcLabel">Number</td>
        <td class="input"><input type="text" id="cpOldUsers" class="spinSml" onBlur="checkCompleteCP();"/></td>
        <td class="hcLabel"></td>
        <td class="input"></td>
    </tr>

    <tr>
        <td class="hcLabel">Type</td>
		<td colspan="3"><span class="mandatorySpan"><apex:selectlist id="cpOldLicence" multiselect="false" size="1" onchange="checkCompleteCP(); "><apex:selectoptions value="{!cpLicence}" /></apex:selectlist></span></td>
    </tr>
    <tr>
        <td colspan="4" style="vertical-align:top;"><h4 class="hc">New Licences</h4></td>
	</tr>
    <tr>
        <td class="hcLabel">Number</td>
        <td class="input"><input type="text" id="cpNewUsers" class="spinSml" onBlur="checkCompleteCP();"/></td>
        <td class="hcLabel">Contract Start</td>
        <td class="input"><apex:inputField value="{!orderRec.Resign_Date__c}" styleClass="small" id="cpNewDate" onBlur="checkCompleteCP('dontUpdate');"/></td>
    </tr>
    <tr>
        <td class="hcLabel">Type</td>
		<td colspan="3"><span class="mandatorySpan"><apex:selectlist id="cpNewLicence" multiselect="false" size="1" onchange="checkCompleteCP(); "><apex:selectoptions value="{!cpLicence}" /></apex:selectlist></span></td>
    </tr>
</table>

<br/><br/>
<script>
document.getElementById('RClink').innerHTML = '<a href="https://employeegate.bt.com/ringcentral.htm" target="_new">View Detail on RingCentral Portal</a>&nbsp;';
xml = document.getElementById('{!$Component.XMLinfo}').value;
serviceSite= readXML('serviceSite');

function checkCompleteCP(action){
	strValsOld = strValsNew = cpOldProd = cpNewProd = '';

    //cpTelNum = j$(esc('{!$Component.cpTelNum}')).val();
    cpOldUsers = Number(j$('#cpOldUsers').val());
    cpNewUsers = j$('#cpNewUsers').val();
    cpOldLicence = j$(esc('{!$Component.cpOldLicence}')).val();
    cpNewLicence = j$(esc('{!$Component.cpNewLicence}')).val();
	cpOldProdName = j$(esc('{!$Component.cpOldLicence}')).find("option:selected").text();
	cpNewProdName = j$(esc('{!$Component.cpNewLicence}')).find("option:selected").text();
    //cpOldDate = j$(esc('{!$Component.cpOldDate}')).val();
    cpNewDate = j$(esc('{!$Component.cpNewDate}')).val();

	var list = '{!strList}'.split(',');
	for (var i = 0; i < list.length; i++){
		if(cpOldUsers <20){
			j$(esc("{!$Component.cpOldLicence}")+" option[value='"+list[i]+"']").attr("disabled","disabled");
			if(cpOldProdName.indexOf("Vol") >=0){
				j$(esc('{!$Component.cpOldLicence}')).val("");
				cpOldLicence = null;
			}
		}else{
			j$(esc("{!$Component.cpOldLicence}")+" option[value='"+list[i]+"']").removeAttr("disabled");
		}
		if(cpNewUsers <20){
			j$(esc("{!$Component.cpNewLicence}")+" option[value='"+list[i]+"']").attr("disabled","disabled");
			if(cpNewProdName.indexOf("Vol") >=0){
				j$(esc('{!$Component.cpNewLicence}')).val("");
				cpNewLicence = null;
			}
		}else{
			j$(esc("{!$Component.cpNewLicence}")+" option[value='"+list[i]+"']").removeAttr("disabled");
		}
	}
	if(cpOldUsers > 0 && (cpOldLicence != 'None' && cpOldLicence != null)){
		strValsOld += cpOldLicence+':'+cpOldUsers+':'+serviceSite;
	}
	if(cpNewUsers > 0 && (cpNewLicence != 'None' && cpNewLicence != null)){
		strValsNew += cpNewLicence+':'+cpNewUsers+':'+serviceSite;
	}

    if(action != 'dontUpdate'){
        document.getElementById('{!$Component.productsToRemove}').value = strValsOld;
        document.getElementById('{!$Component.productsToAdd}').value = strValsNew;
		showBasketChange();
    }

    strXML = '<cpResignSettings>';
    //strXML += '<cpTelNum>'+cpTelNum+'</cpTelNum>';
    strXML += '<cpOldUsers>'+cpOldUsers+'</cpOldUsers>';
    strXML += '<cpOldLicence>'+cpOldLicence+'</cpOldLicence>';
    strXML += '<cpOldProdName>'+cpOldProdName+'</cpOldProdName>';
    //strXML += '<cpOldDate>'+cpOldDate+'</cpOldDate>';
    strXML += '<cpNewUsers>'+cpNewUsers+'</cpNewUsers>';
    strXML += '<cpNewLicence>'+cpNewLicence+'</cpNewLicence>';
    strXML += '<cpNewProdName>'+cpNewProdName+'</cpNewProdName>';
    strXML += '<cpNewDate>'+cpNewDate+'</cpNewDate>';
    strXML += '</cpResignSettings>';

    writeXML(xml, "cpResignSettings");
    document.getElementById('{!$Component.XMLinfo}').value = newVal+strXML;

}
//j$(esc('{!$Component.cpTelNum}')).val(readXML('cpTelNum'));
j$('#cpOldUsers').val(readXML('cpOldUsers'));
j$(esc('{!$Component.cpOldLicence}')).val(readXML('cpOldLicence'));
//j$(esc('{!$Component.cpOldDate}')).val(readXML('cpOldDate'));
j$('#cpNewUsers').val(readXML('cpNewUsers'));
j$(esc('{!$Component.cpNewLicence}')).val(readXML('cpNewLicence'));
j$(esc('{!$Component.cpNewDate}')).val(readXML('cpNewDate'));

try {
	window.addEventListener('load',showBasketChange1,false);
} catch(e) {
	window.attachEvent('onload',showBasketChange1);
}

function showBasketChange1(){
	checkCompleteCP();
	showBasketChange();
}
</script>

</apex:component>