<apex:component controller="qbSiteCTRL" allowDml="true">
<apex:attribute name="siteRec" type="Order_Site__c" description=""/>
<apex:attribute name="prodArea" type="String" description=""/>

<apex:inputHidden value="{!scQuoteAttach}" id="scQuoteAttach"/>
<apex:inputHidden value="{!scOutlets}" id="scOutlets"/>

<script>
    var xml = "{!siteRec.zXMLinfo__c}";
    var physicalDevices = readXML2(xml, 'cpePhysicalPhones');
    var physicalDevicesText = "&nbsp;&nbsp;(Solution requires at least <b>"+physicalDevices+"</b> outlets for phones)";
    if(physicalDevices ==''){
        physicalDevices =0;
        physicalDevicesText = "&nbsp;&nbsp;(No physical phones have been added to the solution)";
    }
</script>
<table class="hcInputTable">
    <tr>
    <td class="hcLabel">Requirement</td>
    <td colspan="3">
        <apex:inputField value="{!siteRec.Structured_Cabling_Requirement__c}" id="qsSC" styleclass="mandatory" onchange="checkComplete();showMessage();"/>&nbsp;&nbsp;
        <a id="linkInfo" onclick="showMessage();" style="display:none;">Show Cableplan Qualification Criteria</a></td>
    </tr>
</table>
<table class="hcInputTable" id="Cableplan" style="display:none;width:100%">
    <tr>
    <td class="hcLabel">Outlets<span class="vfHelpText"><apex:outputlink value="javascript: return false;" tabindex="-1"><img src="/s.gif" alt="" class="helpOrb help" /><span>Total number of cable outlets being provided (1x per user desk)</span></apex:outputlink></span></td>
    <td colspan="3"><span class="mandatorySpan"><input type="text" value="{!scOutletsPlan}" id="scOutletsPlan" class="spin100" onchange="checkComplete();" name="cabling" /></span><script>document.write(physicalDevicesText);</script></td>
    </tr>
    <tr>
    <td class="hcLabel">Cabinet<span class="vfHelpText"><apex:outputlink value="javascript: return false;" tabindex="-1"><img src="/s.gif" alt="" class="helpOrb help" /><span>
        1. Wall cabinets are designed specifically for wall mounting<br/>
        2. Floor cabinets are designed specifically to be placed on the floor<br/>
        3. The numbers of "U's" represents the number of LAN switches the cabinet can support which are 19inch / 600mm wide cabinets which are 600mm have top and bottom cable entry<br/>
        4. Cabinets which are 800mm provide additional space at the rear for maximum flexibility when housing the cables over the 600mm
  </span></apex:outputlink></span></td>
    <td colspan="3">
        <select value="{!scCabinet}" id="scCabinet" class="mandatory" onchange="checkComplete();">
            <option value="">--None--</option>
            <apex:repeat value="{!CVProducts}" var="p">
                <apex:outputtext rendered="{!p.Type__c='Cabling' && p.Grouping__c='Cabinet'}"><option value="{!p.Id}">{!p.Product_Summary__c}</option></apex:outputtext>
            </apex:repeat>
        </select>
    </td>
    </tr>
    <tr>
    <td class="hcLabel top">Optional<br/>Extras</td>
    <td colspan="3">
        <table style="margin-left:-15px;">
        <apex:repeat value="{!CVProducts}" var="p">
            <apex:outputText rendered="{!p.Type__c='Cabling' && p.Grouping__c='Option'}">
                <tr>
                <td>
                    <input type="text" id="prod{!p.Id}" class="spin100" name="cabling"/>
                </td>
                <td>{!p.Product_Name__c}<span class="vfHelpText"><apex:outputlink value="javascript: return false;" tabindex="-1"><img src="/s.gif" alt="" class="helpOrb help" /><span>{!p.Description__c}</span></apex:outputlink></span></td>
                <td align="right"><apex:outputField value="{!p.Connection_Charge__c}"/></td>
                </tr>
                <script>
                    j$("#prod{!p.Id}").spinner();    j$("#prod{!p.Id}").spinner({min: 0, max: 10000});    j$("#prod{!p.Id}").on("spinstop", function(){checkComplete();});
                    setFld = readXML2(basketXML, '{!p.Id}');
                    j$("#prod{!p.Id}").val(setFld);
                </script>
            </apex:outputText>
        </apex:repeat>
        </table>
    </td>
    </tr>
</table>
<table class="hcInputTable" id="SurveyReqSent" style="display:none;">
    <tr>
    <td class="hcLabel">Quote Price</td>
    <td class="input"><apex:inputtext value="{!scPrice}" id="scPrice" styleclass="mandatory small right" onchange="checkComplete();" /></td>
    <td class="hcLabel"></td>
    <td class="input"></td>
    </tr>
    <apex:outputpanel rendered="{!if(SCAttachment.size=0,True,False)}">
    <tr id="showAttach">
    <td class="hcLabel">Attach Quote</td>
    <td colspan="3"><button type="button" class="hcButtonxSmall grey" onclick="openFileAttach('Structured Cabling Quote',document.getElementById('{!$Component.scPrice}').value);">Attach Quote Document</button></td>
    </tr>
    </apex:outputpanel>
    <apex:outputpanel rendered="{!if(SCAttachment.size>0,True,False)}">
    <tr id="showQuote">
    <td class="hcLabel">Quote</td>
    <td colspan="3">
        <apex:repeat value="{!SCAttachment}" var="Att">
            <apex:outputLink target="_new" value="{!URLFOR($Action.Attachment.Download,Att.id,[retURL=URLFOR('/apex/qbProduct?Id='+siteRec.Id+'&pArea='+prodArea)])}" style="margin-left:5px;">
            {!Att.Name}&nbsp;&nbsp;(<apex:outputText value="{0,number,###,###,###,###}" ><apex:param value="{!Att.BodyLength/1024}" /></apex:outputText>KB)</apex:outputlink>&nbsp;&nbsp;
            <apex:commandButton value="Delete" action="{!fileDelete}" styleClass="hcButtonxSmall red" reRender="none">
                <apex:param name="fileAttachType" value="Structured Cabling Quote" assignto="{!fileAttachType}" /> 
            </apex:commandButton>  
        </apex:repeat>
    </td>
    </tr>
    </apex:outputpanel>
    <tr>
    <td class="hcLabel top">Date Sent</td>
    <td class="input"><apex:inputText value="{!scReqSent}" id="scReqSent" styleClass="large noBorder"/></td>
    <td class="hcLabel">Date Returned</td>
    <td class="input"><apex:inputText value="{!scQuoteRecd}" id="scQuoteRecd" styleClass="large noBorder"/></td>
    </tr>
    <tr>
    <td class="hcLabel top">Request Details</td>
    <td colspan="3">
        <div id="scSurvOutlets" class="outputText" style="margin-left:-5px;"/>
        <div id="scSurvDetail" class="outputText" style="margin-left:-5px;"/>
        <div id="scSurvNotes" class="outputText" style="margin-left:-5px;"/>
    </td>
    </tr>
</table>
<table class="hcInputTable" id="Survey" style="display:none;">
    <tr>
    <td class="hcLabel">Required Outlets</td>
    <td colspan="3"><span class="mandatorySpan"><input type="text" value="{!scOutletsSurv}" id="scOutletsSurv" class="spin100" /></span><span class="vfHelpText"><apex:outputlink value="javascript: return false;" tabindex="-1"><img src="/s.gif" alt="" class="helpOrb help" /><span>Total number of cable outlets being provided (1x per user desk)</span></apex:outputlink></span>&nbsp;&nbsp;&nbsp;<script>document.write(physicalDevicesText);</script></td>
    </tr>
    <tr>
    <td class="hcLabel">Attend Site Visit<span class="vfHelpText"><apex:outputlink value="javascript: return false;" tabindex="-1"><img src="/s.gif" alt="" class="helpOrb help" /><span>This is an instruction to ensure the customer is present on the cabling visit</span></apex:outputlink></span></td>
    <td class="input">
        <div class="onoffswitch">
            <apex:inputcheckbox value="{!scSiteVisit}" styleclass="onoffswitch-checkbox" id="scSiteVisit" onchange="checkComplete();" />
            <label class="onoffswitch-label" for="{!$Component.scSiteVisit}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </td>
    <td class="hcLabel"></td>
    <td class="input" colspan="3"></td>
    </tr>
    <tr>
    <td class="hcLabel">Clearance Required<span class="vfHelpText"><apex:outputlink value="javascript: return false;" tabindex="-1"><img src="/s.gif" alt="" class="helpOrb help" /><span>This is to instruct if cabling provider requires security sign off to enter premise</span></apex:outputlink></span></td>
    <td class="input">
        <div class="onoffswitch">
            <apex:inputcheckbox value="{!scSecurityReq}" styleclass="onoffswitch-checkbox" id="scSecurityReq" onchange="checkComplete();" />
            <label class="onoffswitch-label" for="{!$Component.scSecurityReq}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </td>
    <td class="hcLabel"></td>
    <td class="input" colspan="3"></td>
    </tr>
    <tr>
    <td class="hcLabel">Premises Over 20 yrs Old</td>
    <td class="input">
        <div class="onoffswitch">
            <apex:inputcheckbox value="{!scPremiseAge}" styleclass="onoffswitch-checkbox" id="scPremiseAge" onchange="checkComplete();" />
            <label class="onoffswitch-label" for="{!$Component.scPremiseAge}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </td>
    <td class="hcLabel"></td>
    <td class="input" colspan="3"></td>
    </tr>
    <tr>
    <td class="hcLabel top">Work Required</td>
    <td class="input" colspan="3">
        <table>
        <tr>
        <td>Category 5e</td>
        <td>
            <div class="onoffswitch" style="display: inline-block;vertical-align: middle;">
                <apex:inputcheckbox value="{!scCat5}" styleclass="onoffswitch-checkbox" id="scCat5" onchange="checkComplete();" />
                <label class="onoffswitch-label" for="{!$Component.scCat5}"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
        </td>
        <td>Category 6a</td>
        <td>
            <div class="onoffswitch" style="display: inline-block;vertical-align: middle;">
                <apex:inputcheckbox value="{!scCat6a}" styleclass="onoffswitch-checkbox" id="scCat6a" onchange="checkComplete();" />
                <label class="onoffswitch-label" for="{!$Component.scCat6a}"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
        </td>
        <td>External Cabling</td>
        <td>
            <div class="onoffswitch" style="display: inline-block;vertical-align: middle;">
                <apex:inputcheckbox value="{!scExternal}" styleclass="onoffswitch-checkbox" id="scExternal" onchange="checkComplete();" />
                <label class="onoffswitch-label" for="{!$Component.scExternal}"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
        </td>
        </tr>
        <tr>
        <td>Category 6</td>
        <td>
            <div class="onoffswitch" style="display: inline-block;vertical-align: middle;">
                <apex:inputcheckbox value="{!scCat6}" styleclass="onoffswitch-checkbox" id="scCat6" onchange="checkComplete();" />
                <label class="onoffswitch-label" for="{!$Component.scCat6}"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
        </td>
        <td>Fibre</td>
        <td>
            <div class="onoffswitch" style="display: inline-block;vertical-align: middle;">
                <apex:inputcheckbox value="{!scFibre}" styleclass="onoffswitch-checkbox" id="scFibre" onchange="checkComplete();" />
                <label class="onoffswitch-label" for="{!$Component.scFibre}"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
        </td>
        <td>Wireless Connectivity</td>
        <td>
            <div class="onoffswitch" style="display: inline-block;vertical-align: middle;">
                <apex:inputcheckbox value="{!scWireless}" styleclass="onoffswitch-checkbox" id="scWireless" onchange="checkComplete();" />
                <label class="onoffswitch-label" for="{!$Component.scWireless}"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
        </td>
        </tr>
        </table>
    </td>
    </tr>
    <tr>
    <td class="hcLabel top">Helpdesk Notes</td>
    <td class="input" colspan="3"><apex:inputTextarea value="{!scNotes}" id="scNotes" styleClass="large" onchange="checkComplete();"/><br/>Optional: Please include the reason(s) that Cableplan was not suitable.</td>
    </tr>
</table>
<table class="hcInputTable" id="ExistingNR" style="display:none;">
    <tr>
    <td class="hcLabel"></td>
    <td colspan="3">
        Confirm with the customer that the existing structured cabling solution will meet the minimum requirements for this 
        <apex:outputText rendered="{!prodArea='Switch'}">&nbsp;BT Office Voice solution.</apex:outputText>
        <apex:outputText rendered="{!prodArea='Cabling'}">&nbsp;BT Cloud Voice solution.<br/>
            Minimum cabling to support: <br/>
            <ul>
            <li>At least <script>document.write(physicalDevices);</script> IP phone devices connected via an outlet socket</li>
            <li>No cables span more than 100 meters from the LAN switch to the outlet socket </li>
            <li>Outlets terminate no more than 1 metre from the physical location of where the IP phone will sit on the user's desk, if greater than 1 meter then longer length patch cables need to be ordered from the Sundry list</li>
            <li>Ensure the customer has sufficient patch cords to patch between the patch panel and LAN switch (Remember : 1 patch cord per phone required, order additional patch cords from Sundry list below as required). </li>
            </ul>
        </apex:outputText>
    </td>
    </tr>

    <tr>
    <td class="hcLabel top">Sundry<br/>Items</td>
    <td colspan="3">
        <table style="margin-left:-15px;">
        <apex:repeat value="{!CVProducts}" var="p">
            <apex:outputText rendered="{!p.Type__c='Cabling' && p.Grouping__c='Option'}">
                <tr>
                <td>
                    <input type="text" id="prod2{!p.Id}" class="spin100" name="cabling"/>
                </td>
                <td>{!p.Product_Name__c}<span class="vfHelpText"><apex:outputlink value="javascript: return false;" tabindex="-1"><img src="/s.gif" alt="" class="helpOrb help" /><span>{!p.Description__c}</span></apex:outputlink></span></td>
                <td align="right"><apex:outputField value="{!p.Connection_Charge__c}"/></td>
                </tr>
                <script>
                    j$("#prod2{!p.Id}").spinner();    j$("#prod2{!p.Id}").spinner({min: 0, max: 10000});    j$("#prod2{!p.Id}").on("spinstop", function(){checkComplete();});
                    setFld = readXML2(basketXML, '{!p.Id}');
                    j$("#prod2{!p.Id}").val(setFld);
                </script>
            </apex:outputText>
        </apex:repeat>
        </table>
    </td>
    </tr>
</table>

<div id="cableplanCiteria" title="Cableplan Qualification Criteria" style="display: none;">
    <table style="margin-top:-5px;">
    <tr><td colspan="2">To provide a Cableplan quote the customer must confirm the following:</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>Not a Listed Building</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>No moisture</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>Not a domestic dwelling/hotel or school</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>Only one cabinet location required</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>Not a phased installation</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>No specialist drilling required</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>No specific H&amp;S considerations</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>UK mainland locations only</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>No external cabling routes</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>No cable runs that exceed 90 metres</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>Standard PVC mini trunking to be used</td></tr>
    <tr><td style="text-align:center;width:10px">-</td><td>Less than 48 outlets required</td></tr>
    <tr><td colspan="2" style="padding-top:7px;">
    If they cannot then 
    <apex:outputText rendered="{!prodArea='Cabling'}"> select Survey from Requirements and a lead will be forwarded to</apex:outputText>
    <apex:outputText rendered="{!prodArea='Switch'}"> contact the </apex:outputText>
    BT Cabling Helpdesk to perform a survey and provide a tailored quote.<br style="margin-bottom:7px;"/>
    If you, or the customer, are unsure on any of the above please call the BT Stuctured Cabling Helpdesk on 0870 2421082 for guidance.
    </td></tr>
    </table>
</div>
<div id="surveyCriteria" title="Survey Cancellation" style="display: none;">
    <table style="margin-top:-5px;">
    <tr><td>You have previouisly requested an automated survey from the BT Structured Cabling team.<br/>
    Changing from a Survey to either Cableplan or Existing/Not Required will not cancel the request.<br/>
    You must contact the BT Stuctured Cabling Helpdesk on 0870 2421082 to cancel this survey.
    </td></tr>
    </table>
</div>
<script>
j$(".spin100").spinner({min: 0, max: 1000000});
j$(".spin100").on("spinstop", function(){
    var isValid = j$(this).spinner( "isValid" );
    if(isValid){
        checkComplete();
    }else{
        alert('Selection is not valid.');
        j$(this).val('');
    }
});
j$("#scOutletsPlan").spinner({min: 1, max: 1000000});
j$("#scOutletsPlan").on("spinstop", function(){
    var isValid = j$(this).spinner( "isValid" );
    if(isValid){
        checkComplete();
    }else{
        alert('Selection is not valid.');
        j$(this).val('1');
        document.getElementById('scOutletsPlan').value = '';
    }
});
j$("#scOutletsSurv").spinner({min: 1, max: 1000000});
j$("#scOutletsSurv").on("spinstop", function(){
    var isValid = j$(this).spinner( "isValid" );
    if(isValid){
        checkComplete();
    }else{
        alert('Selection is not valid.');
        j$(this).val('1');
        document.getElementById('scOutletsSurv').value = '';
    }
});

function showMessage(){
    oldSC = '{!siteRec.Structured_Cabling_Requirement__c}';
    newSC = j$(esc("{!$Component.qsSC}")).val();
    if(newSC == 'Cableplan'){
        clickDialog('cableplanCiteria', 'mod');
    }
    if(oldSC == 'Survey' && newSC != 'Survey'){
        clickDialog('surveyCriteria', 'mod');
    }
}

function checkComplete(onLoad){
    scOutletsPlan = scOutletsSurv = scPrice = scOutletsPlan = scOutletsPlan = scOutletsPlan = 0;
    strVals = scCabinet = scSiteVisit = scSecurityReq = scPremiseAge = scCat5 = scCat6 =  scCat6a =  scExternal =  scFibre =  scWireless =  scNotes =  scReqSent = scSurveyProd = '' ;

    valSC = j$(esc("{!$Component.qsSC}")).val();

    if(valSC == 'Cableplan'){
        document.getElementById('Cableplan').style.display = '';
        document.getElementById('Survey').style.display = 'none';
        document.getElementById('ExistingNR').style.display = 'none';
        document.getElementById('linkInfo').style.display = '';
        document.getElementById('Survey').style.display = 'none';
        document.getElementById('SurveyReqSent').style.display = 'none';

        scCabinet = document.getElementById('scCabinet').value;
        scOutletsPlan = document.getElementById('scOutletsPlan').value;

        if(scOutletsPlan > 0){
            document.getElementById('{!$Component.scOutlets}').value = scOutletsPlan;
            <apex:repeat value="{!CVProducts}" var="p">
                <apex:outputText rendered="{!p.Type__c='Cabling' && p.Grouping__c='Attendance'}">
                    strVals += '{!p.Id}:1:No Care,';
                </apex:outputText>
                <apex:outputText rendered="{!p.Type__c='Cabling' && p.Grouping__c='Outlet'}">
                    strVals += '{!p.Id}:'+scOutletsPlan+':No Care,';
                    scOutletsPlan += '{!p.Id}';
                </apex:outputText>
                <apex:outputText rendered="{!p.Type__c='Cabling' && p.Grouping__c='Option'}">
                    val = j$("#prod{!p.Id}").val();
                    if(val > 0){
                        strVals += '{!p.Id}:'+val+':No Care:CanDelete,';
                    }
                </apex:outputText>
            </apex:repeat>
            if(scCabinet != '--None--'){
                strVals += scCabinet+':1:No Care,';
            }
        }

    }else if(valSC == 'Survey'){
        document.getElementById('Cableplan').style.display = 'none';
        document.getElementById('Survey').style.display = '';
        document.getElementById('ExistingNR').style.display = 'none';
        document.getElementById('linkInfo').style.display = 'none';

        scOutletsSurv = document.getElementById('scOutletsSurv').value;
        scSiteVisit = document.getElementById('{!$Component.scSiteVisit}').checked;
        scSecurityReq = document.getElementById('{!$Component.scSecurityReq}').checked;
        scPremiseAge = document.getElementById('{!$Component.scPremiseAge}').checked;
        scCat5 = document.getElementById('{!$Component.scCat5}').checked;
        scCat6 = document.getElementById('{!$Component.scCat6}').checked;
        scCat6a = document.getElementById('{!$Component.scCat6a}').checked;
        scExternal = document.getElementById('{!$Component.scExternal}').checked;
        scFibre = document.getElementById('{!$Component.scFibre}').checked;
        scWireless = document.getElementById('{!$Component.scWireless}').checked;
        scNotes = document.getElementById('{!$Component.scNotes}').value; scNotes = scNotes.replace(/\n/g, "\\n");
        scPrice = document.getElementById('{!$Component.scPrice}').value;
        scQuoteAttach = document.getElementById('{!$Component.scQuoteAttach}').value;
        scQuoteRecd = document.getElementById('{!$Component.scQuoteRecd}').value;

        document.getElementById('{!$Component.scOutlets}').value = scOutletsSurv;

        if(valSC != '{!siteRec.Structured_Cabling_Requirement__c}'){
            now = new Date();
            strDateTime = [[AddZero(now.getDate()), AddZero(now.getMonth()+1), now.getFullYear()].join("/"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":")].join(" ");
            scReqSent = strDateTime;
        }else{
            scReqSent = readXML2(xml, 'scReqSent');
        }

        <apex:repeat value="{!CVProducts}" var="p">
            <apex:outputText rendered="{!p.Type__c='Cabling' && p.Grouping__c='Survey'}">
                strVals += '{!p.Id}:1:No Care,';
                scSurveyProd += '{!p.Id}';
            </apex:outputText>
        </apex:repeat>

        if(onLoad==undefined){
            document.getElementById('{!$Component.productsToAdd}').value = strVals;
        }else{
            document.getElementById('Survey').style.display = 'none';
            document.getElementById('SurveyReqSent').style.display = '';
        }
        if(scPrice >= 0 && scPrice !=''){
            document.getElementById('Survey').style.display = 'none';
            document.getElementById('SurveyReqSent').style.display = '';
        }
        survSent = readXML2(xml, 'scReqSent');
        if(survSent == ''){
            document.getElementById('Survey').style.display = '';
            document.getElementById('SurveyReqSent').style.display = 'none';
        }

    }else if(valSC == 'Existing/Not Required'){
        document.getElementById('Cableplan').style.display = 'none';
        document.getElementById('Survey').style.display = 'none';
        document.getElementById('ExistingNR').style.display = '';
        document.getElementById('linkInfo').style.display = 'none';
        document.getElementById('Survey').style.display = 'none';
        document.getElementById('SurveyReqSent').style.display = 'none';
        <apex:repeat value="{!CVProducts}" var="p">
            <apex:outputText rendered="{!p.Type__c='Cabling' && p.Grouping__c='Option'}">
                val = j$("#prod2{!p.Id}").val();
                if(val > 0){
                    strVals += '{!p.Id}:'+val+':No Care:CanDelete,';
                }
            </apex:outputText>
        </apex:repeat>
        document.getElementById('{!$Component.productsToAdd}').value = strVals;
    }else{
        document.getElementById('Cableplan').style.display = 'none';
        document.getElementById('Survey').style.display = 'none';
        document.getElementById('ExistingNR').style.display = 'none';
        document.getElementById('linkInfo').style.display = 'none';
        document.getElementById('Survey').style.display = 'none';
        document.getElementById('SurveyReqSent').style.display = 'none';

        strVals = 'none';
    }

    strXML = '<cablingSettings>';
    strXML += '<scOutletsPlan>'+scOutletsPlan+'</scOutletsPlan>';
    strXML += '<scCabinet>'+scCabinet+'</scCabinet>';
    strXML += '<scOutletsSurv>'+scOutletsSurv+'</scOutletsSurv>';
    strXML += '<scSiteVisit>'+scSiteVisit+'</scSiteVisit>';
    strXML += '<scSecurityReq>'+scSecurityReq+'</scSecurityReq>';
    strXML += '<scPremiseAge>'+scPremiseAge+'</scPremiseAge>';
    strXML += '<scCat5>'+scCat5+'</scCat5>';
    strXML += '<scCat6>'+scCat6+'</scCat6>';
    strXML += '<scCat6a>'+scCat6a+'</scCat6a>';
    strXML += '<scExternal>'+scExternal+'</scExternal>';
    strXML += '<scFibre>'+scFibre+'</scFibre>';
    strXML += '<scWireless>'+scWireless+'</scWireless>';
    strXML += '<scNotes>'+scNotes+'</scNotes>';
    strXML += '<scReqSent>'+scReqSent+'</scReqSent>';
    strXML += '<scPrice>'+scPrice+'</scPrice>';
    strXML += '<scSurveyProd>'+scSurveyProd+'</scSurveyProd>';
    strXML += '</cablingSettings>';

    if(onLoad==undefined){
        writeXML(xml, "cablingSettings");
        document.getElementById('{!$Component.XMLinfo}').value = newVal+strXML;
        document.getElementById('{!$Component.productsToAdd}').value = strVals;//'none';
    }

    if(onLoad==undefined && valSC == 'Cableplan' && scOutletsPlan > 0 ){
        updBasket();
    }
}
function AddZero(num) {
    return (num >= 0 && num < 10) ? "0" + num : num + "";
}
function updBasket(){
    showBasketChange();
}

checkComplete('true');

document.getElementById('{!$Component.scOutlets}').value = '{!siteRec.Structured_Cabling_Outlets__c}';
if(readXML2(xml, 'scCabinet') ==''){
    document.getElementById('scCabinet').value = '--None--';
}else{
    document.getElementById('scCabinet').value = readXML2(xml, 'scCabinet');
}
document.getElementById('{!$Component.scSiteVisit}').checked = booleanXML2('scSiteVisit');
document.getElementById('{!$Component.scSecurityReq}').checked = booleanXML2('scSecurityReq');
document.getElementById('{!$Component.scPremiseAge}').checked = booleanXML2('scPremiseAge');
document.getElementById('{!$Component.scCat5}').checked = booleanXML2('scCat5');
document.getElementById('{!$Component.scCat6}').checked = booleanXML2('scCat6');
document.getElementById('{!$Component.scCat6a}').checked = booleanXML2('scCat6a');
document.getElementById('{!$Component.scExternal}').checked = booleanXML2('scExternal');
document.getElementById('{!$Component.scFibre}').checked = booleanXML2('scFibre');
document.getElementById('{!$Component.scWireless}').checked = booleanXML2('scWireless');
document.getElementById('{!$Component.scNotes}').value = readXML2(xml, 'scNotes');
document.getElementById('{!$Component.scReqSent}').value = readXML2(xml, 'scReqSent');
document.getElementById('{!$Component.scPrice}').value = readXML2(xml, 'scPrice');
document.getElementById('{!$Component.scQuoteAttach}').value = readXML2(xml, 'scQuoteAttach');
document.getElementById('{!$Component.scQuoteRecd}').value = readXML2(xml, 'scQuoteRecd');


if('{!siteRec.Structured_Cabling_Outlets__c}' == '' && physicalDevices !=''){
    j$("#scOutletsPlan").val(physicalDevices);
    j$("#scOutletsSurv").val(physicalDevices);
}else{
    document.getElementById('scOutletsPlan').value = '{!siteRec.Structured_Cabling_Outlets__c}'
    document.getElementById('scOutletsSurv').value = '{!siteRec.Structured_Cabling_Outlets__c}'
}

strDetails ='';
document.getElementById('scSurvOutlets').innerHTML = 'Outlets: '+readXML2(xml, 'scOutletsSurv');

if(readXML2(xml,'scSiteVisit')=='true'){YesNo = 'Yes';}else{YesNo = 'No';}      strDetails += 'Attend Site Visit: '+YesNo;
if(readXML2(xml,'scSecurityReq')=='true'){YesNo = 'Yes';}else{YesNo = 'No';}    strDetails += '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Clearance Required: '+YesNo;
if(readXML2(xml,'scPremiseAge')=='true'){YesNo = 'Yes';}else{YesNo = 'No';}     strDetails += '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Premises Over 20 yrs Old: '+YesNo+'<br/>';
strDetails += 'Work Required: ';
if(readXML2(xml,'scCat5')=='true'){strDetails += 'Category 5 / ';}
if(readXML2(xml,'scCat6')=='true'){strDetails += 'Category 6 / ';}
if(readXML2(xml,'scCat6a')=='true'){strDetails += 'Category 6a / ';}
if(readXML2(xml,'scExternal')=='true'){strDetails += 'External Cabling / ';}
if(readXML2(xml,'scFibre')=='true'){strDetails += 'Fibre / ';}
if(readXML2(xml,'scWireless')=='true'){strDetails += 'Wireless Connectivity / ';}

document.getElementById('scSurvDetail').innerHTML = strDetails;
document.getElementById('scSurvNotes').innerHTML = 'Notes: '+readXML2(xml, 'scNotes');

<apex:outputText rendered="{!prodArea='Switch'}">
    j$(esc("{!$Component.qsSC}")).removeClass("mandatory");
    j$(esc("{!$Component.qsSC}")+" option[value='Survey']").remove();
    j$(esc("{!$Component.qsSC}")+" option[value='Existing/Not Required']").remove();
</apex:outputText>
</script>
</apex:component>