<apex:component controller="qbSiteCTRL" allowdml="true">
    <apex:attribute name="siteRec" type="Order_Site__c" description="" />
    <apex:attribute name="prodArea" type="String" description="" />
    
    <apex:inputHidden value="{!sipSol}" id="sipSol" />
    <apex:inputHidden value="{!sipProvide}" id="sipProvideFld" />
    <apex:inputHidden value="{!sipTerm}" id="sipTermFld" />
    <apex:inputHidden value="{!switchModel}" id="switchModelFld" />
    <apex:inputHidden value="{!sipChannels}" id="sipChannels" />
    <apex:inputHidden value="{!numbersPort}" id="numbersPort" />
    <apex:inputHidden value="{!numbersNew}" id="numbersNew" />
    <apex:inputHidden value="{!totalNumbers}" id="totalNumbers" />
    <apex:inputHidden value="{!sipMtceTerm}" id="sipMtceTerm" />
    <apex:inputHidden value="{!sipMtce}" id="sipMtce" />
    <apex:inputHidden value="{!sipMtceTerm2}" id="sipMtceTerm2" />
    <apex:inputHidden value="{!sipMtce2}" id="sipMtce2" />
    <apex:inputHidden value="{!btnetPortSpeed}" id="btnetPortSpeed" />
    <apex:inputHidden value="{!numberProductLines}" id="numberProductLines" />
    <apex:inputHidden value="{!sipNet}" id="sipNet" />
    
    <table class="hcInputTable">
        <tr>
            <td class="hcLabel">IP Trunk Connect Type</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Service__c}" styleclass="mandatory" id="sipProvide" onchange="checkComplete();" /></td>
            <td class="hcLabel">Channels</td>
            <td class="input"><span class="mandatorySpan" id="sipchanSPAN"><input type="text" value="{!siteRec.SIP_Channels__c}" id="sipChannels" class="spin100"/></span></td>    
        </tr>
        <tr>
            <td class="hcLabel">Codec</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Codec__c}" id="codec" /></td>
            <td class="hcLabel">Contract Term</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Contract_Term__c}" styleclass="mandatory" onchange="checkComplete();" id="sipTerm" /></td>
        </tr>
    </table>
    <h4 class="hc">New Telephone Numbers</h4>
    <table class="hcInputTable">
        <tr>
            <td class="hcLabel top">New Numbers</td>
            <td colspan="3">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="50%">
                            <table cellpadding="0" cellspacing="0" class="hcCodes">
                                <tr>
                                    <td class="heading">Quantity</td>
                                    <td class="heading">Dialling Code</td>
                                    <td class="heading" id="gwCodes1">Gateway</td>
                                </tr>
                                <tr>
                                    <td><span class="mandatorySpan" id="newLines"><input type="text" id="newQty1" class="spinSml" onblur="checkComplete();" /></span></td>
                                    <td><input type="text" class="stdcodes" id="std1" onblur="checkComplete();" /></td>
                                    <td><select id="gwSelect1" onchange="checkComplete();"><option value="1">1</option><option value="2">2</option></select></td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="newQty2" class="spinSml" onblur="checkComplete();" /></td>
                                    <td><input type="text" class="stdcodes" id="std2" onblur="checkComplete();" /></td>
                                    <td><select id="gwSelect2" onchange="checkComplete();"><option value="1">1</option><option value="2">2</option></select></td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="newQty3" class="spinSml" onblur="checkComplete();" /></td>
                                    <td><input type="text" class="stdcodes" id="std3" onblur="checkComplete();" /></td>
                                    <td><select id="gwSelect3" onchange="checkComplete();"><option value="1">1</option><option value="2">2</option></select></td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%">
                            <table cellpadding="0" cellspacing="0" class="hcCodes">
                                <tr>
                                    <td class="heading">Quantity</td>
                                    <td class="heading">Dialling Code</td>
                                    <td class="heading" id="gwCodes2">Gateway</td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="newQty4" class="spinSml" onblur="checkComplete();" /></td>
                                    <td><input type="text" class="stdcodes" id="std4" onblur="checkComplete();" /></td>
                                    <td><select id="gwSelect4" onchange="checkComplete();"><option value="1">1</option><option value="2">2</option></select></td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="newQty5" class="spinSml" onblur="checkComplete();" /></td>
                                    <td><input type="text" class="stdcodes" id="std5" onblur="checkComplete();" /></td>
                                    <td><select id="gwSelect5" onchange="checkComplete();"><option value="1">1</option><option value="2">2</option></select></td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="newQty6" class="spinSml" onblur="checkComplete();" /></td>
                                    <td><input type="text" class="stdcodes" id="std6" onblur="checkComplete();" /></td>
                                    <td><select id="gwSelect6" onchange="checkComplete();"><option value="1">1</option><option value="2">2</option></select></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <h4 class="hc">Port Telephone Numbers</h4>
    <table class="hcInputTable">
        <tr>
            <td class="hcLabel">Port Numbers</td>
            <td>
                <div class="onoffswitch">
                    <apex:inputcheckbox value="{!siteRec.SIP_Porting_Required__c}" styleclass="onoffswitch-checkbox" id="numberPorting" onchange="checkComplete();" />
                    <label class="onoffswitch-label mandatoryCheckbox" for="{!$Component.numberPorting}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>
            <td class="hcLabel" id="portDiv1" style="display:none;">Quantity</td>
            <td id="portDiv2"><span id="portNumbersSpan"><apex:inputField value="{!siteRec.Numbers_Port__c}" id="portNumbers" styleClass="spin"/></span></td>
            <td><a onclick="clickDialog('portScenarioDialog');" onmouseover="showDialog('portScenarioDialog');" onmouseout="hideDialog('portScenarioDialog');" id="portLink" class="hlText">Show Port Scenarios</a></td>
        </tr>
    </table>
    <div id="portDiv" class="informationBox" style="display:none;">
        Customers will usually wish to retain their existing UK Geographical numbers when using SIP.  The steps below will establish how you can confirm the status of the numbers and the ability to use them with the service:-<br />
        1. Identify the numbers that are required to be ported. The customer may have multiple single lines, or DDI block ranges. It is critical that you identify each line and DDI range that is required to be moved to BTB SIP.<br />
        2. Go to <a href="http://www.ukphoneinfo.com/locator.php" target="_new">UK Phone Locator</a> and enter the numbers that are required to be ported.<br />
        3. The search facility will indicate which communications provider the number range have been allocated to. This is the Range Holder.
    </div>
    <div id="portScenarioDialog" title="Identify Porting Scenarios for customers existing numbers" style="display:none;">
        <table style="border-collapse:collapse;margin:0;padding:0;">
            <tr style="padding:1px;border:1px solid #ccc;"><td style="padding:1px;border:1px solid #ccc;font-weight:bold;">Scenarios Supported</td></tr>
            <tr><td style="padding:1px;border:1px solid #ccc;">1: A BT telephone number (BT is the Range Holder) that is to be ported from the BT Public Switched Telephone Network (PSTN) or VoIP network to IP Exchange.</td></tr>
            <tr><td style="padding:1px;border:1px solid #ccc;">2: A BT telephone number, previously exported to another CP’s network, is to be ported to IP Exchange.</td></tr>
            <tr><td style="padding:1px;border:1px solid #ccc;">3: Another CP’s telephone number (other CP is the Range Holder), currently on their network, is to be ported to IP Exchange.</td></tr>
            <tr><td style="padding:1px;border:1px solid #ccc;">4: Another CP’s telephone number, already imported to the BT PSTN, is to be ported to IP Exchange.</td></tr>
            <tr><td style="padding:1px;border:1px solid #ccc;">5: Another CP’s end user telephone number, currently on a different CP's network, is to be ported to IP Exchange.</td></tr>
            <tr><td style="padding:1px;border:1px solid #ccc;">6: A range of numbers in a block that belong to 2 or more different range holders or Current Network Operator, referred to as a Mixed Range Holder Port.</td></tr>
            <tr style="padding:1px;border:1px solid #ccc;"><td style="padding:1px;border:1px solid #ccc;font-weight:bold;">Scenarios Not Supported</td></tr>
            <tr><td style="padding:1px;border:1px solid #ccc;">7: Porting of CP own number ranges hosted on IP Exchange to another IP Exchange CP. (Disabled - for future use only).</td></tr>
        </table>
    </div>
    <h4 class="hc">SIP Dial Plan (Multisite Deployments Only)</h4>
    <table class="hcInputTable">
        <tr>
            <td class="hcLabel">Extension Number Length</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Existing_Ext_Length__c}" id="numLength"/></td>
            <td class="hcLabel"></td>
            <td class="input"></td>
        </tr>
    </table>
    <h4 class="hc">Switch/SIP Gateway</h4>
    <table class="hcInputTable" id="switchDetails">
        <tr id="selGateway">
            <td class="hcLabel">Gateway Required</td>
            <td class="input">
                <div class="onoffswitch">
                    <apex:inputfield value="{!siteRec.Switch_Gateway__c}" styleclass="onoffswitch-checkbox" id="gwRequired" onchange="checkComplete();" />
                    <label class="onoffswitch-label mandatoryCheckbox" for="{!$Component.gwRequired}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>
            <td class="hcLabel"></td>
            <td class="input"></td>
        </tr>
        <tr id="selSwitch">
            <td class="hcLabel">Switch Provision</td>
            <td><apex:inputfield value="{!siteRec.Switch_Provision__c}" id="switchProv" onchange="checkComplete();"/></td>
            <td class="hcLabel">Type</td>
            <td><span class="mandatorySpan"><apex:inputfield value="{!siteRec.Switch_Model__c}" id="existingSol" onchange="checkComplete();"/></span></td>
        </tr>
        <tr>
                <td class="hcLabel">SIP Licenses Exist</td>
                <td class="input">
                    <div class="onoffswitch">
                        <apex:inputcheckbox value="{!siteRec.SIP_Licenses_Exist__c}" styleclass="onoffswitch-checkbox" id="sipExists" />
                        <label class="onoffswitch-label" for="{!$Component.sipExists}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="hcLabel">Call Routing</td>
                <td class="input"><apex:inputfield value="{!siteRec.SIP_Call_Routing__c}" /></td>
        </tr>
    </table>
    <apex:outputtext rendered="{!siteRec.zprodSwitch__c}">
        <table class="hcInputTable" id="switchDetails2">
            <tr>
                <td class="hcLabel">Switch Provision</td>
                <td class="input"><a href="/apex/qbProduct?id={!siteRec.Id}&pArea=Switch" class="hlText">Configured within this solution</a></td>
                <td class="hcLabel"></td>
                <td class="input"></td>
            </tr>
        </table>
        <script>document.getElementById('switchDetails2').style.display ='';document.getElementById('switchDetails').style.display ='none';</script>
    </apex:outputtext>
    <table class="hcInputTable" id="gateway" style="display:none;">
        <tr>
            <td class="hcLabel">Gateway Mtce</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Maintenance_Cover__c}" id="mtceCover" onchange="checkComplete();" /></td>
            <td class="hcLabel">Term</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Maintenance_Term__c}" id="mtceTerm" onchange="checkComplete();" /></td>
        </tr>
        <tr id="gwMtce">
            <td class="hcLabel">2nd Gateway Mtce</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Maintenance_Cover2__c}" id="mtceCover2" onchange="checkComplete();" /></td>
            <td class="hcLabel">Term</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Maintenance_Term2__c}" id="mtceTerm2" onchange="checkComplete();" /></td>
        </tr>
        <tr>
            <td class="hcLabel"></td>
            <td colspan="3">
                <span class="informationText">The ISDN Interface must be <strong>ISDN 30 (PRI)</strong> with an IAD Type of <strong>Gateway 3 - 2PRI</strong></span>
            </td>
        </tr>
        <tr>
            <td class="hcLabel">Ports To Enable</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Port_to_Enable__c}" /></td>
            <td class="hcLabel">IAD to PBX Distance</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_IAD_to_PBX__c}" /></td>
        </tr>
        <tr>
            <td class="hcLabel">Number Length</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Existing_Ext_Length__c}" /></td>
            <td class="hcLabel"></td>
            <td class="input"></td>
        </tr>
    </table>
    <table class="hcInputTable" id="nongateway" style="display:none;">
        <tr id="avaya" style="display:none;">
            <td class="hcLabel">Static IP Address</td>
            <td class="input"><apex:inputfield value="{!siteRec.SIP_Switch_Public_Static_IP__c}" /></td>
        </tr>
    </table>
    <div id="setBooleanXMLDiv">
        <h4 class="hc">Call Barring<span class="vfHelpText"><apex:outputlink value="javascript:return false;"><img src="/s.gif" alt="" class="helpOrb help" /><span>Select Yes to bar a call type across all lines. No barring is set by default</span></apex:outputlink></span></h4>
        <table class="hcInputTable">
            <tr>
                <td class="hcLabel">Local</td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barLocal" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barLocal">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="hcLabel">Freephone<span class="vfHelpText"><apex:outputlink value="javascript:return false;"><img src="/s.gif" alt="" class="helpOrb help" /><span>0800, 0808</span></apex:outputlink></span></td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barFreephone" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barFreephone">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="hcLabel">UK Landline</td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barUK" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barUK">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="hcLabel">International</td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barInt" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barInt">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="hcLabel">Operator Assited</td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barOper" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barOper">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="hcLabel">Directory<span class="vfHelpText"><apex:outputlink value="javascript:return false;"><img src="/s.gif" alt="" class="helpOrb help" /><span>118xxx</span></apex:outputlink></span></td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barDirectory" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barDirectory">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="hcLabel">Premium Rate<span class="vfHelpText"><apex:outputlink value="javascript:return false;"><img src="/s.gif" alt="" class="helpOrb help" /><span>09x</span></apex:outputlink></span></td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barPrem" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barPrem">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="hcLabel">NGN Calls<span class="vfHelpText"><apex:outputlink value="javascript:return false;"><img src="/s.gif" alt="" class="helpOrb help" /><span>01x,02x,03x,05x</span></apex:outputlink></span></td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barNGN" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barNGN">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="hcLabel">Mobile &amp; Personal Numbering</td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="barMob" onchange="checkComplete('noUpdate');" />
                        <label class="onoffswitch-label" for="barMob">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <h4 class="hc">BTnet</h4>
    <table class="hcInputTable">
        <apex:outputtext rendered="{!siteRec.zprodBTnet__c}">
            <tr>
                <td class="hcLabel">Service</td>
                <td colspan="3"><a href="/apex/qbProduct?id={!siteRec.Id}&pArea=BTnet" class="hlText">Configured within this solution</a></td>
            </tr>
        </apex:outputtext>
        <apex:outputtext rendered="{!NOT(siteRec.zprodBTnet__c)}">
            <tr>
                <td class="hcLabel">Service</td>
                <td class="input"><apex:inputfield value="{!siteRec.BTnet_Service__c}" id="btnetservice" /></td>
                <td class="hcLabel">Access</td>
                <td class="input"><apex:inputfield value="{!siteRec.BTnet_Access__c}" id="btnetAccess" onchange="onAccessChange(false);" /></td>            
            </tr>
        </apex:outputtext>
        <apex:outputtext rendered="{!NOT(siteRec.zprodBTnet__c)}">
            <tr>
                <td class="hcLabel">Port Speed</td>
                <td class="input"><input type="text" value="{!SUBSTITUTE(siteRec.BTnet_Port_Speed__c,' Mbps','')}" id="portSpeed" class="spin100" /> Mbps</td>              
                <td class="hcLabel">Bearer Speed</td>
                <td class="input"><apex:inputfield value="{!siteRec.BTnet_Bearer_Speed__c}" id="btnetbearer" /></td>
            </tr>
            <tr>
                <td class="hcLabel">SIP Enabled</td>
                <td class="input">
                    <div class="onoffswitch">
                        <apex:inputcheckbox value="{!siteRec.BTnet_SIP_Enabled__c}" styleclass="onoffswitch-checkbox" id="busVoice" />
                        <label class="onoffswitch-label" for="{!$Component.busVoice}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                
                <td class="hcLabel">FTIP</td>
                <td class="input"><apex:inputfield value="{!siteRec.BTnet_FTIP__c}" id="ftip" /></td>
            </tr>
            <tr>
                <td class="hcLabel">Managed Router</td>
                <td class="input">
                    <div class="onoffswitch">
                        <apex:inputcheckbox value="{!siteRec.BTnet_BT_Managed_Router__c}" styleclass="onoffswitch-checkbox" id="manRouter" />
                        <label class="onoffswitch-label" for="{!$Component.manRouter}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td></td>
            </tr>
        </apex:outputtext>
    </table>
    <h4 class="hc">LAN &amp; Firewall</h4>
    <table class="hcInputTable">
        <tr>
            <td class="hcLabel">Managed Firewall</td>
            <td class="input">
                <apex:outputtext rendered="{!NOT(siteRec.zprodFirewall__c)}">
                    <apex:inputfield value="{!siteRec.SIP_Firewall__c}" id="manFirewall" />
                </apex:outputtext>
                <apex:outputtext rendered="{!siteRec.zprodFirewall__c}">
                    <a href="/apex/qbProduct?id={!siteRec.Id}&pArea=Firewall" class="hlText">Configured within this solution</a>
                </apex:outputtext>
            </td>
            <td class="hcLabel">BT Managed LAN</td>
            <td class="input">
                <div class="onoffswitch">
                    <apex:inputcheckbox value="{!siteRec.SIP_LAN__c}" styleclass="onoffswitch-checkbox" id="sipLAN" />
                    <label class="onoffswitch-label" for="{!$Component.sipLAN}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                <button type="button" class="hcButtonxSmall grey" onclick="openGuide('Firewall');">View LAN &amp; Firewall Guide</button>
            </td>
        </tr>
        <!--
            <tr>
            <td colspan="4" align="center">
            <apex:outputtext rendered="{!$User.Id='00520000001U7ZIAA0'}">
            <apex:outputtext rendered="{!siteRec.Order_Header__r.Quote_Contact__r.Email!=''}">
            <button type="button" class="hcButtonxSmall grey" onclick="goSendeSign();">eSign LAN &amp; Firewall Guide</button>
            &nbsp;Send to {!siteRec.Order_Header__r.Quote_Contact__r.Email}
            </apex:outputtext>
            <apex:outputtext rendered="{!siteRec.Order_Header__r.Quote_Contact__r.Email==''}">
            <button type="button" class="hcButtonxSmall grey">View LAN &amp; Firewall Guide</button>
            &nbsp;Update contact email to enable auto send
            </apex:outputtext>
            </apex:outputtext>
            <button type="button" class="hcButtonxSmall grey" onclick="openGuide('Firewall');">View LAN &amp; Firewall Guide</button>
            </td>
            </tr>
		-->
        <tr>
            <td class="hcLabel">Guide Signed</td>
            <td class="input">
                <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="firewallGuide" onchange="checkComplete('noUpdate');" />
                    <label class="onoffswitch-label" for="firewallGuide">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>
            <td class="hcLabel">Changes understood by customer</td>
            <td class="input">
                <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="firewallChanges" onchange="checkComplete('noUpdate');" />
                    <label class="onoffswitch-label" for="firewallChanges">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>
        </tr>
    </table>
    <script>
    	var totalPortCount = 0;
    	var totalNewCount = 0;    
    	var xml = "{!siteRec.zXMLinfo__c}";
    	var accessVal='';
		var numbersProduct = '';
                            
        onAccessChange(true);
    	j$("#sipChannels").spinner({min: 1, max: 120});
    	j$("#sipChannels").on("spinstop", function(){
        var isValid = j$(this).spinner( "isValid" );
        if(isValid){
            document.getElementById('{!$Component.sipChannels}').value = j$(this).val();
            checkComplete();
        }else{
            alert('Select 1-120 only. '+j$(this).val()+' is not valid.');
            j$(this).val('1');
            document.getElementById('sipChannels').value = '';
            document.getElementById('{!$Component.sipChannels}').value = '';
        }
    });
    
        //j$("#portSpeed").spinner({min: 1, max: 1000});
    	j$("#portSpeed").on("spin", function(event, ui){
        if(ui.value >=100) {this.step=10;ui.value *=10;}
        else if(ui.value >=1000) this.step=100;
            else this.step=1;
    });
    	j$("#portSpeed").on("spinstop", function(){
            var isValid = j$(this).spinner("isValid");
            if(isValid){
                portVal = j$(this).val();            
                document.getElementById('{!$Component.btnetPortSpeed}').value = portVal;            
                setBearerOptions(esc('{!$Component.btnetbearer}'), portVal, accessVal);
            }else{
                if(accessVal=='Direct Access')
                    alert('Select 2-1000 Mbps only. '+j$(this).val()+' is not valid.');
                else
                    alert('Select 2-35 Mbps only. '+j$(this).val()+' is not valid.');
                j$(this).val('');
            }
    	});
    	
        <apex:repeat value="{!HCproducts}" var="p">
            <apex:outputtext rendered="{!p.Type__c='SIP' && p.Grouping__c == 'Number' && p.Sub_Grouping__c == 'New'}">
                numbersProduct = '{!p.Id}';
            </apex:outputtext>
        </apex:repeat>
        function onAccessChange(isOnload){
            accessVal =j$('select[id$=btnetAccess').val();
            if(!isOnload)	j$("#portSpeed").val('');
            if(accessVal == 'Direct Access'){
                j$("#portSpeed").spinner({min: 1, max: 1000});
            }else{
                j$("#portSpeed").spinner({min: 1, max: 35});
            }
        }
        function setBearerOptions(bearerId, portVal, accVal)    //mpk
        {
            j$(bearerId).children('option').remove();
            j$(bearerId).append("<option value=''>--None--</option>");
            if(portVal==null || portVal=='' || portVal==1){
                j$(bearerId).prop("disabled", true);
                return;
            }
            j$(bearerId).prop("disabled", false);
            if(accVal == 'Direct Access'){
                if(portVal<=10){
                    j$(bearerId).append('<option value="10 Mbps">10 Mbps</option>');
                    j$(bearerId).append('<option value="100 Mbps">100 Mbps</option>');
                }
                if(portVal>10 && portVal<=49){
                    j$(bearerId).append('<option value="100 Mbps">100 Mbps</option>');
                }
                if(portVal>49 && portVal<=100){
                    j$(bearerId).append('<option value="100 Mbps">100 Mbps</option>');
                    j$(bearerId).append('<option value="500 Mbps">500 Mbps</option>');
                    j$(bearerId).append('<option value="1 Gbps">1 Gbps</option>');
                }
                if(portVal>100 && portVal<=500){
                    j$(bearerId).append('<option value="500 Mbps">500 Mbps</option>');
                    j$(bearerId).append('<option value="1 Gbps">1 Gbps</option>');
                }
                if(portVal>501 && portVal<=1000){
                    j$(bearerId).append('<option value="1 Gbps">1 Gbps</option>');
                }
                if(portVal>1001 && portVal<=10000){
                    j$(bearerId).append('<option value="10 Gbps">10 Gbps</option>');
                }
            }else //if(accVal=='EFM / GEA')
            {
                //j$(bearerId).append("<option value=''>--None--</option>");
                j$(bearerId).append("<option value='GEA Access'>GEA Access</option>");
                for (var i = (portVal); i < 36; i++) {j$(bearerId).append("<option value='"+[i]+" Mbps EFM'>"+[i]+" Mbps EFM</option>");}
            }
            /*if(portVal<=10 || portVal==15 || portVal==20 || portVal==25 || portVal==30 || portVal==35){
                        if(variant==null) //only Primary
                            j$(bearerId).append('<option value="EFM">EFM</option>');
                        else{
                            j$(bearerId).append('<option value="EFM (10 Mbps Primary)">EFM (10 Mbps Primary)</option>');
                            j$(bearerId).append('<option value="EFM (100 Mbps Primary)">EFM (100 Mbps Primary)</option>');
                            j$(bearerId).append('<option value="EFM (100 Mbps LA Primary)">EFM (100 Mbps LA Primary)</option>');
                        }
                    }*/
        }
        
        j$(esc('{!$Component.portNumbers}')).spinner({min: 0, max: 1000});
        j$(esc('{!$Component.portNumbers}')).on("spinstop", function(){
            checkComplete();
        });
        
        function portSection(){
            if(document.getElementById('{!$Component.numberPorting}').checked){
                document.getElementById('portDiv1').style.display = 'inline';
                document.getElementById('portDiv2').style.display = 'inline';
                j$('#portNumbersSpan').addClass("mandatorySpan");
                j$('#newLines').removeClass("mandatorySpan");
                if(document.getElementById('{!$Component.portNumbers}').value == 0){
                    document.getElementById('{!$Component.portNumbers}').value = '';
                }
            }else{
                document.getElementById('portDiv1').style.display = 'none';
                document.getElementById('portDiv2').style.display = 'none';
                document.getElementById('{!$Component.portNumbers}').value = 0;
                j$('#portNumbersSpan').removeClass("mandatorySpan");
                j$('#newLines').addClass("mandatorySpan");
                if(document.getElementById('{!$Component.portNumbers}').value > 0){
                    checkComplete();
                    document.getElementById('{!$Component.portNumbers}').value = '';
                }
            }
            totalPortCount = document.getElementById('{!$Component.portNumbers}').value;
        }
            
        function newLinesTotal(){
            totNew = 0;
            newDetails = '';numStr = '';
            xmlDetails = '';
            
            n1 = eval(document.getElementById('newQty1').value);
            n2 = eval(document.getElementById('newQty2').value);
            n3 = eval(document.getElementById('newQty3').value);
            n4 = eval(document.getElementById('newQty4').value);
            n5 = eval(document.getElementById('newQty5').value);
            n6 = eval(document.getElementById('newQty6').value);
            s1 = document.getElementById('std1').value;
            s2 = document.getElementById('std2').value;
            s3 = document.getElementById('std3').value;
            s4 = document.getElementById('std4').value;
            s5 = document.getElementById('std5').value;
            s6 = document.getElementById('std6').value;
            g1=1;g2=1;g3=1;g4=1;g5=1;g6=1;
            if(document.getElementById('{!$Component.gwRequired}').checked == true  && sipChans > 60){
                g1 = document.getElementById('gwSelect1').value;
                g2 = document.getElementById('gwSelect2').value;
                g3 = document.getElementById('gwSelect3').value;
                g4 = document.getElementById('gwSelect4').value;
                g5 = document.getElementById('gwSelect5').value;
                g6 = document.getElementById('gwSelect6').value;
            }
            if (n1 > 0){totNew += n1;xmlDetails+='<newQty1>'+n1+'</newQty1><std1>'+s1+'</std1><gwSelect1>'+g1+'</gwSelect1>';numStr +=numbersProduct+':'+n1+':New-'+s1+':CanDelete,';}
            if (n2 > 0){totNew += n2;xmlDetails+='<newQty2>'+n2+'</newQty2><std2>'+s2+'</std2><gwSelect2>'+g2+'</gwSelect2>';numStr +=numbersProduct+':'+n2+':New-'+s2+':CanDelete,';}
            if (n3 > 0){totNew += n3;xmlDetails+='<newQty3>'+n3+'</newQty3><std3>'+s3+'</std3><gwSelect3>'+g3+'</gwSelect3>';numStr +=numbersProduct+':'+n3+':New-'+s3+':CanDelete,';}
            if (n4 > 0){totNew += n4;xmlDetails+='<newQty4>'+n4+'</newQty4><std4>'+s4+'</std4><gwSelect4>'+g4+'</gwSelect4>';numStr +=numbersProduct+':'+n4+':New-'+s4+':CanDelete,';}
            if (n5 > 0){totNew += n5;xmlDetails+='<newQty5>'+n5+'</newQty5><std5>'+s5+'</std5><gwSelect5>'+g5+'</gwSelect5>';numStr +=numbersProduct+':'+n5+':New-'+s5+':CanDelete,';}
            if (n6 > 0){totNew += n6;xmlDetails+='<newQty6>'+n6+'</newQty6><std6>'+s6+'</std6><gwSelect6>'+g6+'</gwSelect6>';numStr +=numbersProduct+':'+n6+':New-'+s6+':CanDelete,';}
            
            totalNewCount = totNew;
        }
        
        function showGateway(){
            sipChans = document.getElementById('sipChannels').value;
            
            document.getElementById('gwMtce').style.display = 'none';
            document.getElementById('gwCodes1').style.display = 'none';
            document.getElementById('gwCodes2').style.display = 'none';
            document.getElementById('selSwitch').style.display = 'none';
            document.getElementById('gwSelect1').style.display = 'none';
            document.getElementById('gwSelect2').style.display = 'none';
            document.getElementById('gwSelect3').style.display = 'none';
            document.getElementById('gwSelect4').style.display = 'none';
            document.getElementById('gwSelect5').style.display = 'none';
            document.getElementById('gwSelect6').style.display = 'none';
            if(document.getElementById('{!$Component.gwRequired}').checked == true && !{!siteRec.zprodSwitch__c}){
                //document.getElementById('{!$Component.sipProvide}').value = 'Gateway';
                document.getElementById('{!$Component.switchModelFld}').value = 'Gateway';
                document.getElementById('{!$Component.sipSol}').value = 'Gateway';
                document.getElementById('gateway').style.display = '';
                document.getElementById('selGateway').style.display = '';
                if(sipChans > 60){
                    document.getElementById('gwMtce').style.display = '';
                    document.getElementById('gwCodes1').style.display = '';
                    document.getElementById('gwCodes2').style.display = '';
                    document.getElementById('gwSelect1').style.display = '';
                    document.getElementById('gwSelect2').style.display = '';
                    document.getElementById('gwSelect3').style.display = '';
                    document.getElementById('gwSelect4').style.display = '';
                    document.getElementById('gwSelect5').style.display = '';
                    document.getElementById('gwSelect6').style.display = '';
                }
            }else{
                //document.getElementById('{!$Component.sipProvide}').value = '';
                document.getElementById('{!$Component.switchModelFld}').value = '';
                document.getElementById('{!$Component.sipSol}').value = '';
                document.getElementById('gateway').style.display = 'none';
                document.getElementById('gwSelect1').style.display = 'none';
                document.getElementById('gwSelect2').style.display = 'none';
                document.getElementById('gwSelect3').style.display = 'none';
                document.getElementById('gwSelect4').style.display = 'none';
                document.getElementById('gwSelect5').style.display = 'none';
                document.getElementById('gwSelect6').style.display = 'none';
                document.getElementById('nongateway').style.display = 'none';
                document.getElementById('avaya').style.display = 'none';
                document.getElementById('selSwitch').style.display = '';
            }
            //blank out values
            if({!siteRec.zprodSwitch__c}){
                document.getElementById('{!$Component.gwRequired}').checked == false;
                j$("#gwSelect1").val("1");j$("#gwSelect2").val("1");j$("#gwSelect3").val("1");j$("#gwSelect4").val("1");j$("#gwSelect5").val("1");j$("#gwSelect6").val("1");
                fld = '{!$Component.mtceCover}';j$(esc(fld)).val("Standard");fld = '{!$Component.mtceTerm}';j$(esc(fld)).val("1 Year");
                fld = '{!$Component.mtceCover2}';j$(esc(fld)).val("Standard");fld = '{!$Component.mtceTerm2}';j$(esc(fld)).val("1 Year");
            }
        }
            
        function showSIPSwitch(){
            solSelection = j$(esc('{!$Component.switchProv}')).val();
            fld = "{!$Component.mtceCover}";
            if(solSelection =='BCM 50 Release 6' && sipChans > 12){
                alert('This switch is not valid for more than 12 SIP channels.\nPlease select another switch or reduce the number of channels.');
                solSelection = '';
                document.getElementById('{!$Component.existingSol}').value = '';
                document.getElementById('{!$Component.switchProv}').value = '';
                
                document.getElementById('nongateway').style.display = 'none';
                document.getElementById('avaya').style.display = 'none';
            }else if(solSelection =='BCM 450 Release 6' && sipChans > 120){
                alert('This switch is not valid for more than 120 SIP channels.\nPlease select another switch or reduce the number of channels.');
                document.getElementById('{!$Component.existingSol}').value = '';
                document.getElementById('{!$Component.switchProv}').value = '';
                document.getElementById('nongateway').style.display = 'none';
                document.getElementById('avaya').style.display = 'none';
            }else if(solSelection !=''){
                document.getElementById('nongateway').style.display = '';
                document.getElementById(fld).required = false;
                j$(esc(fld)).removeClass("mandatory");
                if((solSelection.indexOf("Avaya") > -1) || (solSelection.indexOf("BCM") > -1)){
                    document.getElementById('avaya').style.display = '';
                }
            }
        }
        
        function setMtceCover(){
            fldTerm = "{!$Component.mtceTerm}";
            fldCover = "{!$Component.mtceCover}";
            mtceSel = document.getElementById('{!$Component.mtceCover}').options[document.getElementById('{!$Component.mtceCover}').selectedIndex].value;
            mtceTerm = document.getElementById('{!$Component.mtceTerm}').options[document.getElementById('{!$Component.mtceTerm}').selectedIndex].value;
            if(mtceSel == 'Not Required'){
                document.getElementById('{!$Component.mtceTerm}').value = '';
                document.getElementById('{!$Component.mtceTerm}').disabled = true;
                mtceTerm ='';
                j$(esc(fldTerm)).removeClass("mandatory");
                //j$(esc(fldCover)).removeClass("mandatory");
            }else if(mtceSel != ''){
                //document.getElementById('{!$Component.mtceTerm}').value = '1 Year';
                document.getElementById('{!$Component.mtceTerm}').disabled = false;
                j$(esc(fldTerm)).addClass("mandatory");
            }
            j$(esc(fldCover)).addClass("mandatory");
            //document.getElementById('{!$Component.mtceCover}').required = true;
            document.getElementById('{!$Component.sipMtceTerm}').value = mtceTerm;
            document.getElementById('{!$Component.sipMtce}').value =mtceSel;
        }
            
        function setMtceCover2(){
            fldTerm2 = "{!$Component.mtceTerm2}";
            fldCover2 = "{!$Component.mtceCover2}";
            mtceSel2 = document.getElementById('{!$Component.mtceCover2}').options[document.getElementById('{!$Component.mtceCover2}').selectedIndex].value;
            mtceTerm2 = document.getElementById('{!$Component.mtceTerm2}').options[document.getElementById('{!$Component.mtceTerm2}').selectedIndex].value;
            if(mtceSel2 == 'Not Required'){
                document.getElementById('{!$Component.mtceTerm2}').value = '';
                document.getElementById('{!$Component.mtceTerm2}').disabled = true;
                mtceTerm2 ='';
                j$(esc(fldTerm2)).removeClass("mandatory");
                //j$(esc(fldCover2)).removeClass("mandatory");
            }else if(mtceSel2 != ''){
                //document.getElementById('{!$Component.mtceTerm2}').value = '1 Year';
                document.getElementById('{!$Component.mtceTerm2}').disabled = false;
                j$(esc(fldTerm2)).addClass("mandatory");
            }
            j$(esc(fldCover2)).addClass("mandatory");
            //document.getElementById('{!$Component.mtceCover2}').required = true;
            document.getElementById('{!$Component.sipMtceTerm2}').value = mtceTerm2;
            document.getElementById('{!$Component.sipMtce2}').value =mtceSel2;
        }    
        
        function checkComplete(action){
            showGateway();
            setMtceCover();
            setMtceCover2();
            showSIPSwitch();
            portSection();
            newLinesTotal();
            
            firewallGuide = document.getElementById('firewallGuide').checked;
            firewallChanges = document.getElementById('firewallChanges').checked;
            barLocal = document.getElementById('barLocal').checked;
            barFreephone = document.getElementById('barFreephone').checked;
            barUK = document.getElementById('barUK').checked;
            barInt = document.getElementById('barInt').checked;
            barOper = document.getElementById('barOper').checked;
            barDirectory = document.getElementById('barDirectory').checked;
            barPrem = document.getElementById('barPrem').checked;
            barNGN = document.getElementById('barNGN').checked;
            barMob = document.getElementById('barLocal').checked;
            sipNet = document.getElementById('{!$Component.existingSol}').value;
            if (sipNet.indexOf('No BT Mtce') >=0){
                sipNet = 'noMTCE';
            }else{
                sipNet = 'MTCE';
            }
            
            strXML = '<sipSettings>';
            strXML += '<firewallGuide>'+firewallGuide+'</firewallGuide>';
            strXML += '<firewallChanges>'+firewallChanges+'</firewallChanges>';
            strXML += '<barLocal>'+barLocal+'</barLocal>';
            strXML += '<barFreephone>'+barFreephone+'</barFreephone>';
            strXML += '<barUK>'+barUK+'</barUK>';
            strXML += '<barInt>'+barInt+'</barInt>';
            strXML += '<barOper>'+barOper+'</barOper>';
            strXML += '<barDirectory>'+barDirectory+'</barDirectory>';
            strXML += '<barPrem>'+barPrem+'</barPrem>';
            strXML += '<barNGN>'+barNGN+'</barNGN>';
            strXML += '<barMob>'+barMob+'</barMob>';
            strXML += '<sipNet>'+sipNet+'</sipNet>';
            strXML += xmlDetails;
            strXML += '</sipSettings>';
            
            writeXML(xml,'sipSettings');
            document.getElementById('{!$Component.XMLinfo}').value = newVal+strXML;
            
            document.getElementById('{!$Component.sipProvideFld}').value = document.getElementById('{!$Component.sipProvide}').value;
            document.getElementById('{!$Component.sipTermFld}').value = document.getElementById('{!$Component.sipTerm}').value;
            document.getElementById('{!$Component.sipNet}').value = document.getElementById('{!$Component.existingSol}').value;
            
            if(action != 'noUpdate'){
                document.getElementById('{!$Component.numbersNew}').value = Number(totalNewCount);
                document.getElementById('{!$Component.numbersPort}').value = Number(totalPortCount);
                document.getElementById('{!$Component.totalNumbers}').value = Number(totalPortCount+totalNewCount);
                document.getElementById('{!$Component.numberProductLines}').value = numStr;
                
                updBasket();
            }
        }    
        
        function readXMLsip(fld){
            document.getElementById(fld).value = j$(xml).find(fld).text();
        }
        
        function startUp(){        
            if(!{!siteRec.zprodSwitch__c}){showSIPSwitch();}
            
            document.getElementById('{!$Component.numbersNew}').value = '{!siteRec.Numbers_New__c}';
            document.getElementById('{!$Component.numbersPort}').value = '{!siteRec.Numbers_Port__c}';
            document.getElementById('{!$Component.totalNumbers}').value = '{!siteRec.Numbers_New__c+siteRec.Numbers_Port__c}';
            document.getElementById('{!$Component.sipChannels}').value = '{!siteRec.SIP_Channels__c}';
            document.getElementById('{!$Component.sipTerm}').value = '{!siteRec.SIP_Contract_Term__c}';
            document.getElementById('{!$Component.sipProvide}').value = '{!siteRec.SIP_Service__c}';
            document.getElementById('{!$Component.sipMtce}').value = '{!siteRec.SIP_Maintenance_Cover__c}';
            document.getElementById('{!$Component.sipMtceTerm}').value = '{!siteRec.SIP_Maintenance_Term__c}';
            
            readXMLsip('newQty1');readXMLsip('newQty2');readXMLsip('newQty3');readXMLsip('newQty4');readXMLsip('newQty5');readXMLsip('newQty6');
            readXMLsip('std1');readXMLsip('std2');readXMLsip('std3');readXMLsip('std4');readXMLsip('std5');readXMLsip('std6');
            readXMLsip('gwSelect1');readXMLsip('gwSelect2');readXMLsip('gwSelect3');readXMLsip('gwSelect4');readXMLsip('gwSelect5');readXMLsip('gwSelect6');
            booleanXML('barLocal');booleanXML('barFreephone');booleanXML('barUK');booleanXML('barInt');booleanXML('barOper');booleanXML('barDirectory');booleanXML('barPrem');booleanXML('barNGN');booleanXML('barMob');
            booleanXML('firewallGuide');booleanXML('firewallChanges');
            
            checkComplete('noUpdate');
        }
        
        function updBasket(){
            showBasketChange();
        }
        
        startUp();
    </script>
</apex:component>