<apex:component controller="qbOrderCTRL">
<apex:stylesheet value="{!URLFOR($Resource.jQuery, 'js/1.11.2/themes/smoothness/jquery-ui.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/1.11.2/external/jquery/jquery.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/1.11.2/jquery-ui.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-cookie-master/src/jquery.cookie.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jstelnumbers.js')}"  />
<!--<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/accordion-1.0.0-min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/accordion-1.0.0-min.js')}"  />-->

<!--switchbutton-->
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery.switchButton.js')}"  />

<!--checkarator-->
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/fm.checkator.jquery.js')}"  />

<!--chosen-->
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/chosen_v1.5.1/chosen.jquery.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/chosen_v1.5.1/docsupport/prism.js')}"  />

<apex:variable var="pgName" value="{!lower($CurrentPage.Name)}"/>

<!-- QuoteBuilder color scheme -->
<apex:variable var="qbBaseRGB" value="0,153,87"/><apex:variable var="qbBaseHL" value="rgb(229,234,222)"/>
<!-- Honeycomb color scheme -->
<apex:outputText rendered="{!j='hc'}">
    <apex:variable var="qbBaseRGB" value="2,149,212"/><apex:variable var="qbBaseHL" value="rgb(229,243,249)"/>
</apex:outputText>
<!-- Cloud Voice color scheme -->
<apex:outputText rendered="{!j='cv' || j='cvr' }">
    <apex:variable var="qbBaseRGB" value="120,92,158"/><apex:variable var="qbBaseHL" value="rgb(238,234,243)"/>
</apex:outputText>
<!-- Cloud Phone color scheme -->
<apex:outputText rendered="{!j='cpr'}">
    <apex:variable var="qbBaseRGB" value="236,89,160"/><apex:variable var="qbBaseHL" value="rgb(252,234,234)"/>
</apex:outputText>
<!-- OnePhone color scheme -->
<apex:outputText rendered="{!j='op'}">
    <apex:variable var="qbBaseRGB" value="85,55,155"/><apex:variable var="qbBaseHL" value="rgb(238,234,243)"/>
</apex:outputText>

<apex:variable var="qbBase" value="rgb({!qbBaseRGB})"/>

<apex:variable var="basketBaseRGB" value="{!qbBaseRGB}"/><apex:variable var="basketBase" value="rgb({!basketBaseRGB})"/>
<apex:variable var="qbInfoRGB" value="255,153,0" /><apex:variable var="qbInfo" value="rgb({!qbInfoRGB})" />
<apex:variable var="qbTextRGB" value="74,74,86" /><apex:variable var="qbText" value="rgb({!qbTextRGB})" />
<apex:variable var="qbQuoteBuilderRGB" value="232,52,44" /><apex:variable var="qbQuoteBuilder" value="rgb({!qbQuoteBuilderRGB})" />

<apex:variable var="qbRedRGB" value="232,52,44"/><apex:variable var="qbRed" value="rgb({!qbRedRGB})"/>
<apex:variable var="qbYellowRGB" value="255,204,0"/><apex:variable var="qbYellow" value="rgb({!qbYellowRGB})"/>
<apex:variable var="qbGreenRGB" value="0,153,87"/><apex:variable var="qbGreen" value="rgb({!qbGreenRGB})"/>
<apex:variable var="qbGreyRGB" value="204,204,204"/><apex:variable var="qbGrey" value="rgb({!qbGreyRGB})"/>

<style>
/*######## General ########*/
body {margin:0;padding:0;}
.hc.hcForm {display:table;margin:11px;padding:11px;line-height:21px;border-radius:13px;height:100%;min-width:600px;font-face:"Helvetica";font-size:13px;border:3px solid {!qbBase};color:{!qbText};}
.hcForm .hcWrapper {display:block;min-height:100%;}
.hcForm .mainWrapper {display:block;float:left;height:100%;margin-left:7px;width:900px;}
.clear {clear: both;}
.text {color:{!qbText};}
.hcForm a:link,.hcForm  a:hover,.hcForm a:visited,.hcForm a:active {text-decoration-line:underline;text-decoration-style:solid;text-decoration-color:{!qbBase};color:{!qbBase};font-weight:bold;outline:none;}

/*######## Multi use  ########*/
.hcForm .white {color:#000;background:#fff;}
.hcForm .green {color:#fff;background:{!qbGreen};}
.hcForm .grey {color:{!qbText};background:{!qbGrey};}
.hcForm .yellow {color:{!qbText};background:{!qbYellow};}
.hcForm .red {color:#fff;background:{!qbRed};}
.hcForm .base {background:rgba({!qbBaseRGB}, 0.1);}
.hcForm .greyText; {display:block;padding-top:10px;font-size:17px;color:{!qbGrey};font-weight:bold;} 

.hcForm .baseBack { color: #fff; background:{!qbBase};}
.hcForm .baseFore {color:{!qbBase};background:inherit;}
.hcForm .roundBox {font-size:15px;font-weight:bold;margin:11px 8% 11px 8%;text-align:center;}
.hcForm .statusBox {display: block; width: 230px; font-size: 11px; text-align: center; padding: 10px 3px 10px 0px; }
.hcForm .statusSummary { display: block; width: 230px; font-size: 11px; text-align: center; padding: 10px 3px 10px 0px; }
.hcForm ul.status  {margin:0;padding:0;list-style-type:square; text-align:left;}
.hcForm ul.status li {padding-bottom:3px;}
.hcForm ul.status h1 {display:inline-block;font-weight: bold; padding: 3px 0px 1px 7px;font-size:110%; }
.hcForm .greyStatus {border-radius:13px 0px;background:rgba({!qbGreyRGB}, 0.1);border:3px solid {!qbGrey};}
.hcForm .greenStatus {border-radius:13px 0px;background:rgba({!qbGreenRGB}, 0.1);border:3px solid {!qbGreen};}
.hcForm .yellowStatus {border-radius:13px 0px;background:rgba({!qbYellowRGB}, 0.1);border:3px solid {!qbYellow};}
.hcForm .redStatus {border-radius:13px 0px;background:rgba({!qbRedRGB}, 0.1);border:3px solid {!qbRed};}
.hcForm .roundHighlight {font-weight:bold;padding:2px 7px;text-align:center;display:inline;border-radius:7px;background:rgba({!qbBaseRGB}, 0.1);border:1px solid {!qbBase};}

/*######## headings ########*/
.hcForm h1.hc {font-size:19px;display:block;margin:13px 3px 3px -5px;padding:11px 0px 11px 10px;background:{!qbBase};color:#fff;border-radius:0px 13px 13px 0px ;border:1px solid {!qbBase};}
.hcForm h1.hc.first {margin-top:7px;}
.hcForm h1.hcProd {}

.hcForm h2.hc {font-size:17px;display:block;margin:11px 3px 1px 0px;padding:3px 0px 9px 3px;text-align:center;color:{!qbBase};border-radius:5px 5px 0px 0px;border-top:4px solid {!qbBase};
  background: -webkit-linear-gradient({!qbBaseHL}, white); /* For Safari */
  background: -o-linear-gradient({!qbBaseHL}, white); /* For Opera */
  background: -moz-linear-gradient({!qbBaseHL}, white); /* For Firefox */
  background: linear-gradient({!qbBaseHL}, white); /* Standard syntax */
}
.hcForm h2.hc.first {margin-top:5px;}
.hcForm h2.hcProd {}

.hcForm h3.hc {font-size:15px;display:block;margin:19px 3px 1px 0px;padding:2px 0px 7px 3px;text-align:center;color:{!qbBase};border-radius:5px 5px 0px 0px;border-top:2px solid {!qbBase};
  background: -webkit-linear-gradient({!qbBaseHL}, white); /* For Safari */
  background: -o-linear-gradient({!qbBaseHL}, white); /* For Opera */
  background: -moz-linear-gradient({!qbBaseHL}, white); /* For Firefox */
  background: linear-gradient({!qbBaseHL}, white); /* Standard syntax */
  }
.hcForm h3.hc.first {margin-top:5px;}
.hcForm h3.hcProd {}

.hcForm h4.hc {font-size:13px;display:block;margin:7px 3px 1px 0px;padding:1px 0px 3px 3px;text-align:center;color:{!qbBase};border-radius:5px 5px 0px 0px;
  background: -webkit-linear-gradient({!qbBaseHL}, white); /* For Safari */
  background: -o-linear-gradient({!qbBaseHL}, white); /* For Opera */
  background: -moz-linear-gradient({!qbBaseHL}, white); /* For Firefox */
  background: linear-gradient({!qbBaseHL}, white); /* Standard syntax */
  }
.hcForm h4.hc.first {margin-top:5px;}
.hcForm h4.hcProd {font-size:13px;display:block;margin:0px;padding:1px 5px;background:#fff;color:{!qbText};border-radius:5px;border:1px solid {!qbText};}
.hcForm h4.hcProd.green {color:#fff;background:{!qbGreen};border-radius:5px;border:1px solid {!qbGreen};}
.hcForm h4.hcProd.grey {color:{!qbText};background:{!qbGrey};border-radius:5px;border:1px solid {!qbGrey};}
.hcForm h4.hcProd.yellow {color:{!qbText};background:{!qbYellow};border-radius:5px;border:1px solid {!qbYellow};}
.hcForm h4.hcProd.red {color:#fff;background:{!qbRed};border-radius:5px;border:1px solid {!qbRed};}
.hcForm h4.hcProd.notIn {color:{!qbText}; background:{!qbGrey};border-radius:5px;border:1px solid {!qbGrey};}
.hcForm h4.hcProd.default {color:#fff;background:{!qbBase};border-radius:5px;border:1px solid {!qbBase};}

.hcForm h5.hc { font-size: 11px; display: block; margin: 7px 3px 1px 0px; padding: 1px 0px 3px 3px; text-align: center; color:{!qbBase};}

/*######## Table ########*/
.hcForm table.hcTable { padding: 0px; border: 2px solid rgba({!qbBaseRGB}, 0.80); color:{!qbText}; border-collapse:collapse;}
.hcForm table.hcTable th { color: #fff; font-size: 125%; padding: 4px 4px; margin: 0px; background: rgba({!qbBaseRGB}, 0.80); }
.hcForm table.hcTable th.sub {color:{!qbBase};font-size: 110%; padding: 0px 3px; margin: 0px; width: 60px; background: rgba({!qbBaseRGB}, 0.10); }

.hcForm table.hcTable td {margin:3px;padding:2px 7px;vertical-align:middle;line-height:21px;color:{!qbText};}
.hcForm table.hcTable td.Requested {background:white;color:black;}
.hcForm table.hcTable td.Pending {background:{!qbGrey};color:black;}
.hcForm table.hcTable td.Approved {background:{!qbGreen};color:white;}
.hcForm table.hcTable td.Partial {background:{!qbYellow};color:black;}
.hcForm table.hcTable td.Rejected {background:{!qbRed};color:white;}

.highlightTR {background:rgba({!qbYellowRGB}, 0.2); color: {!qbText};}

.hcForm table.hcTable .side { font-weight: bold; background: rgba({!qbBaseRGB}, 0.6); }
.hcForm table.hcTable .boxed {border:1px solid {!qbBase};}
.hcForm table.hcTable tr.alt:nth-child(even) {background:rgba({!qbBaseRGB}, 0.02);}
.hcForm table.hcTable tr.alt:nth-child(odd) {background:rgba({!qbBaseRGB}, 0.1);}

.hcForm table.discTable { padding: 0px; border-collapse: collapse; width:"95%" ;text-align:"center"; }
.hcForm table.discTable th {color:{!qbBase};background:#fff;font-weight:bold;padding:1px 0; margin:0px;font-size:13px;border-bottom:1px SOLID {!qbBase};}
.hcForm table.discTable td {padding:1px 0;vertical-align:middle;color:{!qbText};}
.hcForm table.discTable th.fNumber { text-align: right; padding-right: 10px; }
.hcForm table.discTable td.fNumber { text-align: right; padding-right: 10px; }
.hcForm table.discTable tr.alt { border-bottom: 1px SOLID rgba({!qbBaseRGB}, 0.3); }
.hcForm table.discTable td input {color:{!qbGreen};background:rgba({!qbGreenRGB}, 0.1);font-face:"Helvetica";font-size:12px;width:70px;font-weight:bold;border:2px solid {!qbGreen};border-radius:4px;}
/*
.hcForm table.discTable tr.alt:nth-child(even) { background: rgba({!qbBaseRGB}, 0.05); }
.hcForm table.discTable tr.alt:nth-child(odd) { background: rgba({!qbBaseRGB}, 0.1); }
*/
.hcForm table.hcTableSml { margin: 0px; padding: 2px; border: 1px solid {!qbBase};color:{!qbText};border-radius:5px 5px 0px 0px;}
.hcForm table.hcTableSml th {font-size:13px;margin:0px;padding:0px;text-align:center;color:{!qbBase};border-radius:5px 5px 0px 0px;
  background: -webkit-linear-gradient({!qbBaseHL}, white); /* For Safari */
  background: -o-linear-gradient({!qbBaseHL}, white); /* For Opera */
  background: -moz-linear-gradient({!qbBaseHL}, white); /* For Firefox */
  background: linear-gradient({!qbBaseHL}, white); /* Standard syntax */
  }
.hcForm table.hcTableSml td {margin:0;padding:2px 3px;vertical-align:middle;color:{!qbText};font-size:11px;letter-spacing:-1px;} 

.hcForm table.hcInputTable {display:table;border-collapse:collapse;width:100%;}
.hcForm table.hcInputTable tr {height:23px;}
.hcForm table.hcInputTable td {margin:3px;padding:3px 17px 3px 9px;color:{!qbText};}
.hcForm table.hcInputTable td.line { padding:17px 0px; border-bottom: 1px solid rgba({!qbBaseRGB}, 0.3); }
.hcForm table.hcInputTable td.hcLabel {width: 18%; font-size: 91%; font-weight: bold; text-align: right; color:{!qbText};}
.hcForm table.hcInputTable td.hcLabel.top { padding: 9px 17px 3px 9px; vertical-align:top;}
.hcForm table.hcInputTable td.hcLabelFree {font-size: 91%; font-weight: bold; text-align: right; color:{!qbText};}
.hcForm table.hcInputTable td.input { width: 32%; }
.hcForm table.hcInputTable td.hcLabelTab { width: 38%; font-size: 91%; font-weight: bold; text-align: left; color:{!qbText};padding-left:10px;}
.hcForm table.hcInputTable td.inputTab { width: 12%; }
.hcForm table.hcInputTable td.disable { color: #ccc; }
.hcForm table.hcInputTable ul { margin: 0; padding: 0 15px; list-style-type: square; text-align: left; }
.hcForm table.hcInputTable ul li { padding-bottom: 3px; }

hr { border: 0; height: 0; border-top: 1px solid rgba({!qbBaseRGB}, 0.1); border-bottom: 1px solid rgba({!qbBaseRGB}, 0.3); }
.tdTop { padding: 9px 17px 3px 9px; vertical-align: top; }

.hcForm table.hcOutputTable {display: table; border-collapse: collapse; }
.hcForm table.hcOutputTable td { padding: 7px 7px 3px 0px; border-bottom: 1px solid rgba({!qbBaseRGB}, 0.3); }

.hcForm table.hcCodes {display:table;border-collapse:collapse;width:100%;}
.hcForm table.hcCodes td {margin:0px;padding:3px 7px 3px 0; color:{!qbText};}
.hcForm table.hcCodes td.heading {font-size:91%;font-weight:bold;color:{!qbText};}

.hcForm table.basket {width:80%;padding:0px;background:#fff;border:2px solid {!qbBase};color:{!qbText};border-collapse:collapse;font-size:13px;}
.hcForm table.basket th {color:#fff;font-size:13px;padding:2px 7px;margin:0px;background:{!qbBase};}
.hcForm table.basket td {margin:1px;font-size:12px;padding:1px 7px;vertical-align:middle;color:{!qbText};}
.hcForm table.basket tr.alt:nth-child(even) {background:rgba({!qbBaseRGB}, 0.05);}
.hcForm table.basket tr.alt:nth-child(odd) {background:rgba({!qbBaseRGB}, 0.2);}
.hcForm table.basket td.total {font-size:13px;vertical-align:middle;text-align:right;font-weight:bold;color:{!qbText};}

.hcForm table.addtoBasket {padding:0px;background:#fff;font-size:11px;}
.hcForm table.addtoBasket th {color:#fff;font-size:13px;padding:0px;margin:0px;background:{!qbBase};}
.hcForm table.addtoBasket td {margin:0px;font-size:11px;padding:0px;vertical-align:middle;color:{!qbText};}
.hcForm table.addtoBasket td.total {font-size:13px;vertical-align:middle;text-align:right;font-weight:bold;color:{!qbText};}

.hcForm table.journey {padding:0px;background:#fff;}
.hcForm table.journey td {display:inline-block;font-size:15px;font-weight:bold;margin:0px;text-align:center;padding:0px;min-width:75px;}
.hcForm table.journey td.greyBox {padding:7px 13px;border-radius:11px;background:rgba({!qbGreyRGB}, 0.1);border:3px solid {!qbGrey};}
.hcForm table.journey td.greenBox {padding:7px 13px;border-radius:11px;background:rgba({!qbGreenRGB}, 0.1);border:3px solid {!qbGreen};}
.hcForm table.journey td.yellowBox {padding:7px 13px;border-radius:11px;background:rgba({!qbYellowRGB}, 0.1);border:3px solid {!qbYellow};}
.hcForm table.journey td.redBox {padding:7px 13px;border-radius:11px;background:rgba({!qbRedRGB}, 0.1);border:3px solid {!qbRed};}
.hcForm table.journey td.defaultBox {padding:7px 13px;border-radius:11px;background:#ffffff;border:3px solid {!qbBase};}

.hcForm .greyBox {padding:7px 13px;border-radius:11px;background:rgba({!qbGreyRGB}, 0.1);border:3px solid {!qbGrey};}
.hcForm .greenBox {padding:7px 13px;border-radius:11px;background:rgba({!qbGreenRGB}, 0.1);border:3px solid {!qbGreen};}
.hcForm .yellowBox {padding:7px 13px;border-radius:11px;background:rgba({!qbYellowRGB}, 0.1);border:3px solid {!qbYellow};}
.hcForm .redBox {padding:7px 13px;border-radius:11px;background:rgba({!qbRedRGB}, 0.1);border:3px solid {!qbRed};}
.hcForm .defaultBox{padding: 7px 5px;border-radius:11px; background:#fff;border:3px solid {!qbBase};}
.hcForm .notInBox {padding: 7px 13px;border-radius:11px;background:rgba({!qbGreyRGB}, 0.05);border:3px solid {!qbGrey};}
.hcForm .highlightBox {padding: 7px 5px;border-radius:11px;background:{!qbBaseHL}; border: 3px solid {!qbBase};color:{!qbBase};}
.hcForm .highlightBoxSml {padding: 5px 3px;border-radius:11px;display:inline-block;width:75px;font-weight:bold;text-align:center;}

.hcForm .accessProd{display:inline-block;width:120px; margin: 3px 15px 3px 0; padding:7px 3px 3px 3px;}

.NotSubmitted {border:1px solid {!qbRed};background:rgba({!qbRedRGB}, 0.1);color:{!qbText};padding:3px 0px;width:95px;display:inline-block;}
.Pending {border:1px solid {!qbGrey};background:rgba({!qbGreyRGB}, 0.1);color:{!qbText};padding:3px 0px;width:95px;display:inline-block;}
.Partial {border:1px solid {!qbYellow};background:rgba({!qbYellowRGB}, 0.1);color:{!qbText};padding:3px 0px;width:95px;display:inline-block;}
.Approved {border:1px solid {!qbGreen};background:rgba({!qbGreenRGB}, 0.1);color:{!qbText};padding:3px 3px;width:95px;display:inline-block;}
.Rejected {border:1px solid {!qbRed};background:rgba({!qbRedRGB}, 0.1);color:{!qbText};padding:3px 0px;width:95px;display:inline-block;}

/*######## Form fields ########*/
.hcForm .hcLabel { font-size: 91%; font-weight: bold; text-align: right; color:;{!qbText};}
.hcForm .hcLabel2 {font-size:101%;font-weight:bold;text-align:right;color:{!qbText};}

.hcForm input[type=text] { width: 150px; }
.hcForm input {background:inherit;padding-left:5px;font-size:15px;height:23px;border-radius:4px;border:1px solid {!qbGrey};}
.hcForm input.noBorder { border: 0;color:{!qbText};margin-left:-5px;}

.hcForm input.spin {width:52px;border-radius:0px;border:0px;padding:0 13px 0 0;margin-top:-2px;font-size:15px;letter-spacing:-1px;text-align:right;}
.hcForm input.spin100 { width: 45px; border-radius: 0px; border: 0px; padding: 0 13px 0 0; margin-top: -2px; font-size: 15px; letter-spacing: -1px; text-align: right; }
.hcForm input.spinSml { width: 35px; border-radius: 0px; border: 0px; padding: 0 13px 0 0; margin-top: -2px; font-size: 15px; letter-spacing: -1px; text-align: right; }

.hcForm input[type=text].xsmall { width: 55px; }
.hcForm input[type=text].small { width: 85px; }
.hcForm input[type=text].telNum { width: 105px; font-size: 14px; }
.hcForm input[type=text].large { width: 255px; }
.hcForm input[type=text].stdcodes { width: 215px; font-size: 11px; }
.hcForm input[type=text].xlarge {width:475px;}
.hcForm input[type=text].disc { width: 35px; font-size: 11px; height: 18px; }
.hcForm input[type=file] {font-size: 11px; height: 25px; }
.hcForm input[type=checkbox].lrgCheck { transform: scale(2); margin-top: 7px; border: 0; }
.hcForm input[type=text].smlText { font-size: 11px;}

.hcForm select {background:inherit;font-size:14px;height:23px;border:1px solid {!qbGrey};border-radius:4px;padding-left:3px;}
.hcForm select.multi {background:inherit;font-size:15px;height:100%;border:1px solid {!qbGrey};border-radius:4px;padding-left:3px;}
.hcForm select.disc {display:inline;background:white;font-size:11px;height:19px;}
.hcForm textarea {background:inherit;width:225px;height:75px;padding-left:3px;border:1px solid {!qbGrey};border-radius:4px;}
.hcForm textarea.small {width:105px;height:55px;}
.hcForm textarea.large {width:355px;height:100px;}
.hcForm textarea.xlarge {width:455px;height:150px;}

.hcForm .right {text-align:right;padding-right:3px}
.hcForm .center {text-align:center;padding-right:3px}
.hcForm .floatright {display:inline-block;float:right;margin-right:11px;}
.hcForm .highlight {background-color:rgba({!qbYellowRGB}, 0.15);border:1px solid {!qbYellow};border-left:5px solid {!qbYellow};margin-left:-5px;padding-right:5px;}
.hcForm .missingInfo {display: inline-block; height: 100%; margin-left: -5px;border:3px solid {!qbYellow};border-left: 5px solid {!qbYellow};border-radius: 4px 10px 10px 4px;}
.hcForm .outputText {background: inherit; padding: 3px 0 0 5px; font-size: 15px;}

.hcForm .mandatory {border-left:5px solid {!qbQuoteBuilder};margin-left:-5px;}
.hcForm .mandatoryCheckbox {border-left: 5px solid {!qbQuoteBuilder};border-radius:4px 10px 10px 4px;margin-left:-5px;padding-right:0px;}
.hcForm .mandatorySpan {display: inline-block; height: 100%; margin-left: -5px;border-left:5px solid {!qbQuoteBuilder};border-radius: 4px 10px 10px 4px;}

.hcForm .informationBox {display:block;background-color:rgba({!qbInfoRGB}, 0.1);padding:8px;margin:11px 9%;border-radius:8px;border:2px solid {!qbInfo};margin-top:10px;}
.hcForm .informationText {display:inline;background-color:rgba({!qbInfoRGB}, 0.1);padding:2px 10px 2px 5px;margin-top:10px;border-left:3px solid {!qbInfo};border-right:3px solid {!qbInfo};}
.hcForm .warningBox { display: block; background-color: rgba({!qbRedRGB}, 0.1); padding: 8px; margin: 11px 9%; border-radius: 8px; border: 2px solid {!qbRed}; margin-top:10px; color:{!qbRed};}

.hcForm a.hlText { font-weight: bold; text-decoration-line: underline; text-decoration-style: solid; text-decoration-color:;{!qbBase};color:{!qbBase};}

.hcForm .basketHelp{vertical-align:middle;font-size:21px;display:block;float:right;width:60px;margin:0 0 15px 0;padding:5px;text-align:center;border-radius:10px;border:3px solid {!qbBase};color:{!qbText};}
.hcForm .basketHelp a:hover, :active{text-decoration:none;}
.hcForm .basketHelp:hover, .basketHelp:active{text-decoration:none;color:{!qbBaseHL};background:{!qbBase};}

.hcForm button {background:#fff;font-face:"Arial";font-weight:normal;text-align:center;vertical-align:middle;height:23px;border-radius:4px;border:1px solid; {!qbGrey};}
.hcForm .hcButton {margin-top:19px;font-size:17px;height:43px;font-weight:bold;padding:7px 13px;border-radius:11px;border:2px solid {!qbText};cursor:pointer;}
.hcForm .hcButtonSmall {margin:7px;font-size:12px;height:30px;font-weight:bold;padding:5px 7px;border-radius:7px;border:1px solid {!qbText};cursor:pointer;}
.hcForm .hcButtonxSmall {margin:3px;font-size:11px;font-weight:bold;padding:1px 3px;border-radius:7px;border:1px solid {!qbText};cursor:pointer;}
.hcForm .butDisable{cursor:default;pointer-events:none;opacity:0.6;}

.hcForm .statusFlag {display:inline-block;margin-top:10px;width:65px;font-size: 12px;font-weight: bold;padding:5px 7px;border-radius:13px 0px;}
.hcForm .statusFlagSmall { display: inline; font-size: 12px; font-weight: bold; padding: 3px 9px; border-radius: 13px 0px; }
.hcForm .statusCVJourney { display: inline-block; font-size: 10px; font-weight: bold; width:80px; padding: 3px 0px; border-radius: 11px 0px; margin:5px 0 0 0; }
.hcForm .statusText { display: inline-block; margin-top: 10px; width: 155px; font-size: 11px; font-weight: bold; padding: 5px 7px; border-radius: 13px 0px; }

.hcForm .topButtons {width:99%;display:block;text-align:center;margin:9px 0;padding:0px 0px 3px 0px; }
.hcForm .botButtons { width: 99%; display: block; text-align: center; margin: 21px 0; padding: 13px 0px; border-top: 1px solid rgba({!qbBaseRGB}, 0.3);}
.hcForm .buttonSub {float:left;display:inline;position:absolute;background-color:{!qbBaseHL};padding:0;margin:27px 0 0 -83px;text-align:left;width:90px;border-radius:7px;border:1px solid {!qbBase}}
.hcForm .sysInfo {width:99%;display:block;text-align:center;margin-top:18px;padding-top:9px;border-top:1px solid rgba({!qbBaseRGB}, 0.3);}

.hcForm .finance { display: inline-block; color: rgb(120,120,120); border: 1px solid rgb(236,89,160); text-align: right; width: 80px; padding: 1px; }
.hcForm .finance:before { content: 'F'; float: left; color: rgb(236,89,160);padding-left:3px; font-weight:bold;}

.hcForm .inlineEditWrite{background:url("{!URLFOR($Resource.CloudVoice, 'images/pencil.png')}");background-size:12px;background-repeat:no-repeat;background-position:top 10% right 40% ;}
.hcForm .inlineEditWriteOn{background:url("{!URLFOR($Resource.CloudVoice, 'images/pencil.png')}");background-size:12px;background-repeat:no-repeat;background-position:top 10% right 40% ;}

/* ### image highlight ### */
.imgChecked {-moz-box-shadow: 8px 8px 10px {!qbBase};-webkit-box-shadow: 8px 8px 10px {!qbBase};box-shadow: 8px 8px 10px {!qbBase};-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='{!qbBase}')";}
.imgCheckedText { font-weight: bold;}
.imgUnchecked { opacity: 0.4; -webkit-filter: blur(2px); filter: blur(1px); transition-duration: 300ms; }
.imgUncheckedText { opacity: 0.4; }

/* ######## Quick Start ########*/
.hcForm h3.qs { font-size: 11px; display: block; margin: 3px 0px 8px 0px; padding: 0; color:{!qbBase};font-weight:bold;}
.hcForm select.qs {display: inline; background: white; font-size: 15px; height: 25px; }
.hcForm input.qs { border-radius: 0px; border: 0px; padding: 0px; margin-top: -2px; font-size: 29px; letter-spacing: -1px; height: 29px; font-size: 91%; font-weight: normal; }
.hcForm table.qsInputTable {display:table;border-collapse:collapse;width:100%;}
.hcForm table.qsInputTable tr {height: 23px; border-bottom: 1px solid {!basketBase};}
.hcForm table.qsInputTable td {margin:3px;padding:7px 17px 7px 9px;color:{!qbText};}
.hcForm table.qsInputTable td.line { padding: 17px 0px; border-bottom: 1px solid rgba({!qbBaseRGB}, 0.3); }
.hcForm table.qsInputTable td.input { width: 32%; }
.hcForm table.qsInputTable td.qsLabel { width: 18%; font-size: 91%; font-weight: bold; text-align: right; color:{!qbText};}

/* help element of Form */
.vfHelpText a {position:relative;}
.vfHelpText a span {display: none;}
.vfHelpText a:hover span {display:block;text-align:left;position:absolute;top:-5px;padding:3px 9px;left:25px;min-width:200px;z-index:100;font-size:13px;line-height:13px;letter-spacing: 0px;border:1px solid {!qbBase};background-color:{!qbBaseHL};color:{!qbText};}
.help {vertical-align:middle;margin:-7px -17px 0px 2px;opacity:1;width:14px;}
.help:hover {opacity:1;}

/*######## Information ########*/
.hcForm .infoWrapper { display: block; float: left; margin-left: 5px; padding: 27px 17px 120px 17px; text-align: left; overflow: auto;color:{!qbBase};font-weight:bold;font-size: 17px; border-radius: 17px; border: 1px solid white; background: -webkit-linear-gradient({!qbBaseHL}, white); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient({!qbBaseHL}, white); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient({!qbBaseHL}, white); /* For Firefox 3.6 to 15 */ background: linear-gradient({!qbBaseHL}, white); /* Standard syntax */ }
.hcForm .info { display: table; margin-top:10px;padding: 7px; border-radius: 10px; border:1px {!qbBase};background:#fff; color:{!qbText};font-size: 11px;font-weight:normal;width:220px;}
.hcForm .info .title1st { font-size: 12px; font-weight: bold;}
.hcForm .info .title { font-size: 12px; font-weight: bold; padding-top: 7px; }
.hcForm .info hr { border-bottom: 1px solid {!qbBase};}

/*######## Basket ########*/
.hcForm .basketWrapper { display: block; float: left; margin-left: 5px; padding: 25px 12px 120px 12px; text-align: center; overflow: auto; font-size: 17px; border-radius: 17px; border: 1px solid white; background: -webkit-linear-gradient({!qbBaseHL}, white); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient({!qbBaseHL}, white); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient({!qbBaseHL}, white); /* For Firefox 3.6 to 15 */ background: linear-gradient({!qbBaseHL}, white); /* Standard syntax */ }

.hcForm .basket {display:table;padding:7px;border-radius:10px;border:1px {!basketBase};background:{!basketBase};color:#ffffff;}
.hcForm .basketTableWrapper {display:table;padding:3px;border-radius:10px;border:1px {!basketBase};background:#fff;}
.hcForm table.basketTable {border-collapse:collapse;vertical-align:middle;width:220px;padding:3px;margin:0;}
.hcForm table.basketTable th {font-size:13px;background:#fff;color:{!basketBase};padding:3px 0px;}
.hcForm table.basketTable tr {border-bottom:1px solid {!basketBase};}
.hcForm table.basketTable td {font-size:15px;font-weight:bold;background:#fff;padding:3px 3px 0px 0px;text-align:right;color:{!qbText};}
.hcForm table.basketTable tr.plain{border-bottom:1px solid #fff;}
.hcForm table.basketTable th.green {color:{!qbGreen};}
.hcForm table.basketTable td.green {color:{!qbGreen};}
.hcForm table.basketTable td.plain { border-bottom: 1px solid #fff; }
.hcForm table.basketTable td.finance { color: #FF3B9B;}

.hcForm table.basketTableSummary {border-collapse:collapse;vertical-align:middle;width:220px;margin:0;padding:0;}
.hcForm table.basketTableSummary tr {border-bottom:1px solid {!basketBase};}
.hcForm table.basketTableSummary th {font-size:13px;background:#fff;margin:0;padding:4px 4px;text-align:left;color:{!basketBase};}
.hcForm table.basketTableSummary td {font-size:15px;background:#fff;margin:0;padding:3px 8px 0px 0px;text-align:right;font-weight:bold;color:{!qbText};}
.hcForm table.basketTableSummary tr.plain { border-bottom: 1px solid #fff; }
.hcForm table.basketTableSummary th.Sml {padding: 0px; }
.hcForm table.basketTableSummary td.Sml {padding: 0 8px 0 0; }

/*######## Navigation Menu ########*/
.hcForm #navcontainer {margin:0 0 -16px -5px;padding:0px;height:30px;color:{!qbBase}}
.hcForm #navcontainer ul{margin:0 0 -20px 0px;padding:0;list-style-type:none;}
.hcForm #navcontainer ul li {list-style-type: none;padding:7px 0px;margin:0;text-align:center;display:inline;font-size:15px;}
.hcForm #navcontainer a:link,.hcForm #navcontainer a:visited {background-color:#fff;display:inline-block;font-weight:bold;min-width:60px;text-align:center;padding:2px 9px;margin:0 -7px 5px 0;text-decoration:none;border-radius:15px 15px 0px 0px;border:3px solid {!qbBase};color:{!qbBase};}
.hcForm #navcontainer a:hover,.hcForm #navcontainer a:active {background-color:rgba({!qbBaseRGB}, 0.3);color:{!qbText};}
.hcForm #navcontainer a.active {background-color:{!qbBase};color:#fff;font-weight:bold;}

.hcForm #navcontainer ul.sub {display:none;position:absolute;background-color:{!qbBaseHL};padding:0;margin:-7px 0 0 120px;height:20px;}
.hcForm #navcontainer ul.sub li {float:none;width:200px;display:block;background-color:{!qbBaseHL};text-align:left;padding:0;}
.hcForm #navcontainer ul li:hover > ul.sub {display:block;text-align:left;padding:0;background-color:{!qbBaseHL};}
.hcForm #navcontainer ul.sub a:link,.hcForm #navcontainer ul.sub a:visited {float:none;display:block;font-weight:bold;text-align:left;padding:7px;margin:0px;text-decoration:none;border-radius:0px;border:0px;background-color:{!qbBaseHL};color:{!qbBase};}
.hcForm #navcontainer ul.sub a:hover,.hcForm #navcontainer ul.sub a:active {background-color:rgba({!qbBaseRGB}, 0.3);color:{!qbText};}

/*######## Switch button elements ########*/
.switch-button-label {float:left;font-size:15px;cursor:pointer;width:40px;text-align:center;display:block;}
.switch-button-label.off {margin-left:5px;color:{!qbGrey};}
.switch-button-label.on {margin-left:5px;color:{!qbGreen};}
.switch-button-background {float:left;position:relative;background:#fff;border:1px solid {!qbGrey};-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;cursor:pointer;}
.switch-button-button {position: absolute;background:{!qbBase};border:1px solid {!qbGrey};-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
/**/

/* checkbox formatting
https://proto.io/freebies/onoff/
 */
.onoffswitch {position: relative; width: 65px;-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;}
.onoffswitch-checkbox {display: none;}
.onoffswitch-label {display: block; overflow: hidden; cursor: pointer;border: 2px solid #999999; border-radius: 10px;}
.onoffswitch-inner {display: block; width: 200%; margin-left: -100%;transition: margin 0.3s ease-in 0s;}
.onoffswitch-inner:before, .onoffswitch-inner:after {display: block; float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;box-sizing: border-box;}
.onoffswitch-inner:before {content: "Yes";padding-left: 10px;background-color: #009957; color: #FFFFFF;}
.onoffswitch-inner:after {content: "No";padding-right: 10px;background-color: #EEEEEE; color: #999999;text-align: right;}
.onoffswitch-switch {display: block; width: 9px; margin: 5px;background: #FFFFFF;position: absolute; top: 0; bottom: 0;right: 37px;border: 2px solid #999999; border-radius: 10px;transition: all 0.3s ease-in 0s; }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0px; }

/*=============================================================================
 * jQuery CSS overides/
 * ============================================================================*/
.ui-widget-content {background:#FFF;border: 1px solid #FFF;}
.ui-spinner {border: 1px solid {!qbGrey};font-size: 14px;font-face: "Helvetica";height: 21px;}
.ui-spinner-input { height: 21px;}

.ui-widget-header { border: 1px solid #FFF; background: #fff; font-weight: bold; }
.ui-widget-content .ui-state-active {border:1px solid rgba({!qbBaseRGB}, 0.8);background:#fff;}
.ui-widget-header .ui-state-active {border:1px solid rgba({!qbBaseRGB}, 0.8);background:#fff;}
.ui-tabs .ui-tabs-panel {border:1px solid rgba({!qbBaseRGB}, 0.8);border-radius:7px;padding-bottom:30px;}
.ui-widget select { font-family: "Arial"; background: inherit; font-size: 14px; height: 23px; border: 1px solid {!qbGrey};border-radius:4px;padding-left:3px;}

.ui-autocomplete {max-height:200px;overflow-y:auto;overflow-x:hidden;}
* html .ui-autocomplete {height: 200px;}

/*######## Dialog ########*/
.ui-dialog {border: 3px solid {!qbBase};}

.appDialog .ui-dialog-titlebar {visibility:hidden;display:none; }
.appDialog .ui-dialog-title {visibility:hidden;display:none; }

.appDialog.ui-dialog h1 {font-size:19px;display:block;margin:7px 0px 3px 0px;padding:3px;color:#fff;background:{!qbBase};border-radius:0px 13px 13px 0px;border:1px solid {!qbBase};}
.appDialog.ui-dialog h2 {font-size:17px;display:block;margin:-2px 0px 5px 0px;padding:0;color:{!qbBase};font-weight:bold;}
.appDialog.ui-dialog h3 {font-size:15px;display:block;margin:3px 0px 3px 0px;padding:0;color:{!qbBase};font-weight:bold;}

.appDialog.ui-dialog label {display:inline-block;width:70px;padding:0px;vertical-align:top;font-weight:bolder;color:{!qbText};}
.appDialog.ui-dialog input[type=text] {display:inline-block;width: 75px; text-align: right; padding-left: 5px; margin-right: 10px; font-size: 15px; border-radius: 4px; border: 1px solid {!qbGrey};}
.appDialog.ui-dialog input[type=submit] {display:inline-block;font-size:15px;border-radius:4px;border: 1px solid {!qbGrey};}
.appDialog.ui-dialog textarea {display:inline-block;margin:0 10px 0 0;padding-left:5px;font-size:15px;border-radius:4px;border:1px solid {!qbGrey};}
.appDialog.ui-dialog span {display:inline-block;width:75px;text-align:right;color:black;margin-right:10px;}
.appDialog.ui-dialog .panel {padding:9px;border-radius:13px;border:3px solid {!qbBase};margin:13px 3px 0px 3px;background:rgba({!qbGreyRGB}, 0.1);}
.appDialog.ui-dialog .panelClosed {padding:9px;border-radius:13px;border:3px solid rgba({!qbGreyRGB},0.1);margin:13px 3px 0px 3px;}}
.appDialog.ui-dialog a:link, .appDialog.ui-dialog a:hover, .appDialog.ui-dialog a:visited, .appDialog.ui-dialog a:active { text-decoration-line: underline; text-decoration-style: solid; text-decoration-color: {!qbBase};color:{!qbBase};font-weight:bold;outline:none;}

.appDialog.ui-dialog span.status {display:inline-block;width:100px;padding:1px;text-align:center;}
.appDialog.ui-dialog span.Pending {background:{!qbYellow};color:white;}
.appDialog.ui-dialog span.Approved {background:{!qbGreen};color:white;}
.appDialog.ui-dialog span.Partial {background:{!qbYellow};color:white;}
.appDialog.ui-dialog span.Rejected {background:{!qbRed};color:white;}
.appDialog.ui-dialog span.Required {background:{!qbGrey};color:{!qbText};}

.appDialog.ui-dialog table.dialogTable span.Requested {background:{!qbGrey};color:{!qbText};}
.appDialog.ui-dialog table.dialogTable {padding:0px;border:2px solid rgba({!qbBaseRGB}, 0.6);color:{!qbText};border-collapse:collapse;font-face:"Helvetica";font-size:13px}
.appDialog.ui-dialog table.dialogTable span {display:inline-block;width:100px;padding:1px;text-align:center;}
.appDialog.ui-dialog table.dialogTable th {color:#fff;padding:2px 2px;margin:0px;background:rgba({!qbBaseRGB}, 0.6);}
.appDialog.ui-dialog table.dialogTable td {margin:1px;padding:1px 5px;vertical-align:middle;line-height:17px;color:{!qbText};border-top:2px solid rgba({!qbBaseRGB}, 0.6);}
.appDialog.ui-dialog table.dialogTable td.comment {margin: 0px; padding: 1px 5px 3px 7px; vertical-align: top; color: rgba({!qbTextRGB}, 0.7); font-size: 90%; line-height: 13px; font-style: italic; border-top: 0; }

/*=============================================================================
 * Loader http://blog.crazyegg.com/2012/05/08/loading-spinners-css3-animation/
 * ============================================================================*/
.hcLoader div{height:50px;width:20px;display:inline-block;background-color:{!qbBaseHL};border:1px solid {!qbBase};-webkit-animation:hcLoader_loader 1.3s linear infinite;-moz-animation:loading_loader 1.3s linear infinite;animation:hcLoader_loader 1.3s linear infinite;-webkit-transform:scale(0.91);-moz-transform:scale(0.91);transform:scale(0.91);}
.hcLoader div:nth-child(1){-webkit-animation-delay:0.39s;-moz-animation-delay:0.39s;animation-delay:0.39s;}
.hcLoader div:nth-child(2){-webkit-animation-delay:0.52s;-moz-animation-delay:0.52s;animation-delay:0.52s;}
.hcLoader div:nth-child(3){-webkit-animation-delay:0.65s;-moz-animation-delay:0.65s;animation-delay:0.65s;}
@-webkit-keyframes hcLoader_loader{
0%{-webkit-transform:scale(1.2);opacity:1}
100%{-webkit-transform:scale(0.7);opacity:0.1}
}
@-moz-keyframes hcLoader_loader{
0%{-moz-transform:scale(1.2);opacity:1}
100%{-moz-transform:scale(0.7);opacity:0.1}
}
@keyframes hcLoader_loader{
0%{transform:scale(1.2);opacity:1}
100%{transform:scale(0.7);opacity:0.1}
}

.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden; }
* html .ui-autocomplete { height: 200px; }

/*=============================================================================
 * Chosen jQuery plugin
 * ============================================================================*/
/* @group Base */
.chosen-container { position: relative; display: inline-block; vertical-align: middle; font-size: 11px; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
.chosen-container * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.chosen-container .chosen-drop { position: absolute; top: 100%; left: -9999px; z-index: 1010; width: 100%; border: 1px solid {!qbGrey}; border-top: 0; background: #fff; }
.chosen-container.chosen-with-drop .chosen-drop { left: 0; }
.chosen-container a:link, .chosen-container a:hover, .chosen-container a:visited, .chosen-container a:active { text-decoration: none; cursor: pointer; text-transform: none; color:{!qbText};font-size:11px;font-weight:normal;}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name { margin-right: 4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: normal; color: {!qbText}999; }
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after { content: ":"; padding-left: 2px; vertical-align: top; }
/* @group Single Chosen */
.chosen-container-single .chosen-single { position: relative; display: block; overflow: hidden; padding: 0 0 0 3px; height: 25px; border: 1px solid {!qbGrey}; border-radius: 5px; background-color: #fff; background-clip: padding-box; color: #444; text-decoration: none; white-space: nowrap; line-height: 24px; }
.chosen-container-single .chosen-default { color: {!qbText}; }
.chosen-container-single .chosen-single span { display: block; overflow: hidden; margin-right: 26px; text-overflow: ellipsis; white-space: nowrap; }
.chosen-container-single .chosen-single-with-deselect span { margin-right: 38px; }
.chosen-container-single .chosen-single abbr { position: absolute; top: 6px; right: 26px; display: block; width: 12px; height: 12px; background: url('{!URLFOR($Resource.jQuery, 'js/chosen_v1.5.1/chosen-sprite.png')}') -42px 1px no-repeat; font-size: 1px; }
.chosen-container-single .chosen-single abbr:hover { background-position: -42px -10px; }
.chosen-container-single.chosen-disabled .chosen-single abbr:hover { background-position: -42px -10px; }
.chosen-container-single .chosen-single div { position: absolute; top: 0; right: 0; display: block; width: 18px; height: 100%; }
.chosen-container-single .chosen-single div b { display: block; width: 100%; height: 100%; background: url('{!URLFOR($Resource.jQuery, 'js/chosen_v1.5.1/chosen-sprite.png')}') no-repeat 0px 2px; }
.chosen-container-single .chosen-search { position: relative; z-index: 1010; margin: 0; padding: 3px 4px; white-space: nowrap; }
.chosen-container-single .chosen-search input[type="text"] { margin: 1px 0; padding: 4px 20px 4px 5px; width: 100%; height: auto; outline: 0; border: 1px solid {!qbGrey}; background: url('{!URLFOR($Resource.jQuery, 'js/chosen_v1.5.1/chosen-sprite.png')}') no-repeat 100% -20px; font-size: 1em; font-family: sans-serif; line-height: normal; border-radius: 0; }
.chosen-container-single .chosen-drop { margin-top: -1px; border-radius: 0 0 4px 4px; background-clip: padding-box; }
.chosen-container-single.chosen-container-single-nosearch .chosen-search { position: absolute; left: -9999px; }
/* @group Results */
.chosen-container .chosen-results { color: #444; position: relative; overflow-x: hidden; overflow-y: auto; margin: 0 4px 4px 0; padding: 0 0 0 4px; max-height: 240px; -webkit-overflow-scrolling: touch; }
.chosen-container .chosen-results li { display: none; margin: 0; padding: 5px 6px; list-style: none; line-height: 15px; word-wrap: break-word; -webkit-touch-callout: none; }
.chosen-container .chosen-results li.active-result { display: list-item; cursor: pointer; }
.chosen-container .chosen-results li.disabled-result { display: list-item; color: #ccc; cursor: default; }
.chosen-container .chosen-results li.highlighted { background-color: {!qbBase}; color: #fff; }
.chosen-container .chosen-results li.no-results { color: {!qbGrey}; display: list-item; background: #f4f4f4; }
.chosen-container .chosen-results li.group-result { display: list-item; font-weight: bold; cursor: default; }
.chosen-container .chosen-results li.group-option { padding-left: 15px; }
.chosen-container .chosen-results li em { font-style: normal; text-decoration: underline; }
/* @group Active  */
.chosen-container-active .chosen-single { border: 1px solid {!qbBase};}
.chosen-container-active.chosen-with-drop .chosen-single { border: 1px solid {!qbGrey}; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0;}
.chosen-container-active.chosen-with-drop .chosen-single div { border-left: none; background: transparent; }
.chosen-container-active.chosen-with-drop .chosen-single div b { background-position: -18px 2px; }
.chosen-container-active .chosen-choices { border: 1px solid {!qbBase}; }
.chosen-container-active .chosen-choices li.search-field input[type="text"] { color: {!qbText} !important; }

/* ######## QCHECKMATE and other switch ########*/

span.checkmate img { display: block; filter: none; transition-duration: 300ms; transform: scale(1); -webkit-filter: grayscale(0); margin: 0; padding: 0; }
span.checkmate.checked img { filter: gray; filter: grayscale(1); -webkit-filter: grayscale(1); transform: scale(1); }
span.checkmate { padding: 1px; margin: 5px; display: inline-block; border: 1px solid transparent; transition-duration: 300ms; }
span.checkmate.checked { /*border-color: rgb(2,149,212);padding: 4px 20px; */}
span.checkmate::before { background-color: rgba(50, 200, 50, 0.7); color: white; content: "\2714"; font-weight: bold; border-radius: 50%; position: absolute; margin-left: 11%; top: 1; left: 1; z-index: 1; width: 25px; height: 25px; text-align: center; line-height: 25px; transform: scale(0); transition-duration: 300ms; }
span.checkmate.checked::before { transform: scale(1); }
.tabCountPop { font-size: 12px; border-radius: 5px; color: white; padding: 1px 6px; background-color: rgb(2, 149, 212); bottom: 5px; position: relative; }
/*
.ui-tabs-anchor .count { padding: .5em 0 .5em 1em !important; }
.ui-tabs .ui-tabs-nav li .count { margin: 1px 0.3em -2px 2px !important; }
.ui-tabs .ui-tabs-nav .count { padding: .2em .2em 0 .3em !important; }
*/
.switchImage { width: 100px;border:0; }
.divLabel { font-size: 90%; font-weight: bold; color: #4A4A56; padding-left: 10px; }
.divInfo { border: 3px solid {!qbYellow}; border-radius: 13px 0px; background-color: rgba({!qbYellowRGB}, 0.1); padding: 6px; width: 80%; font-size: 14px; font-weight: bold; color: Orange; margin: auto; text-align: center; display: none; margin-top: 6px; }
.divAlert { border: 3px solid {!qbRed}; border-radius: 13px 0px; background-color: rgba({!qbRedRGB}, 0.1); padding: 6px; width: 80%; font-size: 14px; font-weight: bold; color: red; margin: auto; text-align: center; display: none; margin-top: 6px; }    
.divInfoText{border: 1px solid {!qbYellow}; border-radius: 16px 0px; background-color: rgba({!qbYellowRGB}, 0.1); width: 90%; padding: 10px; margin: auto; }

</style> 

<script>
//--------Event Listener to prevent initial override of SF OnLoad
try {
    window.addEventListener('load',setFocusOnLoad,false);
} catch(e) {
    window.attachEvent('onload',setFocusOnLoad);
}
var j$ = jQuery.noConflict();

function setFocusOnLoad() {

}

function goback() {
    history.go(-1);
}


function populateProdsToAddCSV(){
    var prodsToAddCSV = '';
    var prodId;
    var qty;
    var prodXML = '';
    var qtyCaptured = new Boolean();

    var input = document.getElementsByTagName("input");
    for (var i = 0; i < input.length; i++) {
        var array = input[i].id.split(':');
        for (var j = 0; j < array.length; j++){
            if(array[j] == 'ProdId'){
                prodId = input[i].value;
            }
            if(array[j] == 'Qty'){
                qty = input[i].value;
                qtyCaptured = true;
            }
        }
        if(qtyCaptured){
            if(qty == null || qty == '' || qty == 0){}
            else{
                prodsToAddCSV += prodId + ':' + qty + ',';
                prodXML += '<'+prodId + '>' + qty + '</'+prodId+'>';
            }
            qtyCaptured = false;
        }
    }
    input = document.getElementsByTagName("input");
    for (var k = 0; k < input.length; k++) {
        var array = input[k].id.split(':');
        for (var l = 0; l < array.length; l++){
            if(array[l] == 'productsToAddCSV'){
                prodsToAddCSV = prodsToAddCSV.replace("NaN:undefined,","");
                prodsToAddCSV = prodsToAddCSV.replace("undefined","");
                input[k].value = prodsToAddCSV;
            }
            if(array[l] == 'productXML'){
                input[k].value = prodXML;
            }

        }
    }
}


function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
    }
    return "";
}

function checkCookie() {
    var user = getCookie("username");
    if (user != "") {
        alert("Welcome again " + user);
    } else {
        user = prompt("Please enter your name:", "");
        if (user != "" && user != null) {
            setCookie("username", user, 365);
        }
    }
}
function formatNumber(x, y) {
	symbol = '£';
    if(y == 'M'){
        x = eval(x/1000000);
        d = 1;
    }else if(y == 'k'){
        x = eval(x/1000);
        d = 1;
    }else if(y == '2dec'){
        y = '';
        d = 2;
    }else if(y == '2dec£'){
        symbol = '';
        y = '';
        d = 2;
    }else if(y == '3dec'){
        symbol = '';
		y = '';
        d = 3;
    }else if(y == 'alert'){
        y = '';
        d = 2;
    }else{
        y = '&nbsp;';
        d = 0;
    }
    x = parseFloat(x).toFixed(d);
    x = symbol+x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+y;
    return x;
}

function writeXML(rwXML,nodeText){
    var len = nodeText.length;
    len = eval(len+3);
    var n1 = rwXML.indexOf("<"+nodeText+">");
    var n2 = rwXML.indexOf("</"+nodeText+">")+len;
    if(n1 >= 0){
      newVal = rwXML.replace(rwXML.substring(n1,n2),'');
    }else{
      newVal = rwXML;
    }
}

var xml = '';

function readXML(fld){
    var resp =  j$(xml).find(fld).text();
    return resp;
}

function readXML2(text, fld){
    var resp =  j$(text).find(fld).text();
    return resp;
}

function readXMLCheckbox(text, fld){
	val = j$(text).find(fld).text();
    if(val=='true'){
		val = '<img src="{!URLFOR($Resource.qbResource, 'images/iconTick.png')}" width="18"/>';
    }else{
		val = '<img src="{!URLFOR($Resource.qbResource, 'images/iconCross.png')}" width="18"/>';
    }
    return val;
}

function showCheckbox(val){
    if(val=='true'){
		val = '<img src="{!URLFOR($Resource.qbResource, 'images/iconTick.png')}" width="18"/>';
    }else{
		val = '<img src="{!URLFOR($Resource.qbResource, 'images/iconCross.png')}" width="18"/>';
    }
    return val;
}
function booleanXML(fld){
    val = j$(xml).find(fld).text();
    if(val=='true'){
		//j$(fld).prop("checked",true);
        document.getElementById(fld).checked = true;
    }else{
		//j$(fld).prop("checked",false);
        document.getElementById(fld).checked = false;
    }
}

function booleanXML2(fld){
    val = j$(xml).find(fld).text();
    if(val=='true'){
        return true;
    }else{
        return false;
    }
}

function esc(myid) {
  return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
}

function AddZero(num) {
    return (num >= 0 && num < 10) ? "0" + num : num + "";
}
var strDateTime = '';
function getNow() {
	now = new Date();
    strDateTime = [[AddZero(now.getDate()), AddZero(now.getMonth()+1), now.getFullYear()].join("/"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":")].join(" ");
}

function openGuide(guide){
	if(guide =='Firewall'){
		var openDoc = '{!URLFOR($Resource.qbResource,'downloads/Brochure_SIPTrunks_FirewallAandLANGuide_ext_CUCFCDLB.pdf')}';
		if('{!j}' == 'cv'){
			openDoc = '{!URLFOR($Resource.qbResource,'downloads/CloudVoiceCustomerFirewallAndLANguide.pdf')}';
		}
	}else if(guide =='Gateway'){
		openDoc = '{!URLFOR($Resource.qbResource,'downloads/BT_SIP_Trunks_SIP_Gateway_Guide.pdf')}';
	}
	window.open(openDoc,'targetWindow','toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=no,width=800,height=800,left=200,top=0')
}

//####################################################################################################################################
//##################################################### Setup strings for use ########################################################
//####################################################################################################################################

//list of EINs to authorise flex pricing
var FlexAuthoriserStr = '803268119,603685369';
</script>
</apex:component>