<apex:component controller="qbSiteCTRL" allowdml="true">
    <!-- The product list is filtered based on the page name pushed into the controller-->
    <apex:attribute name="siteProduct" type="Order_Product__c" description="Product list view." />
    <apex:attribute name="prodListView" type="string" description="Product page called." />
    <apex:attribute name="product" type="string" description="Product to show." />
    <apex:attribute name="showDel" type="string" description="Product to show." />
    <apex:variable var="prodCount" value="{!0}" />
    <apex:variable var="prodTotalI" value="{!0}" />
    <apex:variable var="prodTotalR" value="{!0}" />
    <apex:variable var="prodTotalDI" value="{!0}" />
    <apex:variable var="prodTotalDR" value="{!0}" />


    <apex:repeat value="{!BasketProducts}" var="p">
        <apex:outputtext rendered="{! p.Type__c==prodListView || (prodListView == 'Switch' && (p.Type__c == 'Training' || p.Type__c == 'Cabling'))||prodListView='service'||prodListView='summary'||prodListView='hw'}">
            <apex:variable var="prodCount" value="{!prodCount+1}" />
            <apex:variable var="prodTotalI" value="{!prodTotalI+p.Total_Initial__c}" />
            <apex:variable var="prodTotalR" value="{!prodTotalR+p.Total_Recurring_Cost__c}" />
            <apex:variable var="prodTotalDI" value="{!prodTotalDI+p.Total_Discount_Initial__c}" />
            <apex:variable var="prodTotalDR" value="{!prodTotalDR+p.Total_Discount_Recurring__c}" />
        </apex:outputtext>
    </apex:repeat>
    <apex:outputtext rendered="{!prodCount=0}">
        No products have been added to the basket.
    </apex:outputtext>
    <apex:outputtext rendered="{!prodCount>0}">
        <table class="basket" cellspacing="0" cellpadding="0" align="center" style="width:750px;">
            <tr>
                <apex:outputtext rendered="{!showDel!='no'}">
                    <th></th>
                </apex:outputtext>
                <apex:outputtext rendered="{!IF(prodListView='summary'||prodListView='service'||prodListView='hw',True,False)}">
                    <th>Area</th>
                </apex:outputtext>
                <th class="center">A Code</th>
                <th class="center">Product</th>
                <th class="center" width="">Qty</th>
                <th class="right" width="">Initial</th>
                <th class="right" width="">Recurring</th>
            </tr>
            <apex:repeat value="{!BasketProducts}" var="p">
                <apex:outputtext rendered="{! p.Type__c==prodListView ||(prodListView == 'Switch' && (p.Type__c == 'Training' || p.Type__c == 'Cabling')) || prodListView='service'||prodListView='summary'||prodListView='hw'}">
                    <tr class="alt" valign="top">
                        <apex:outputtext rendered="{!showDel!='no'}">
                            <td>
                                <apex:commandlink target="_top" value="Del" action="{!deleteproduct}" onclick="return window.confirm('are you sure?');" style="color:#015ba7;" rendered="{!not(p.Locked_Delete__c)}">
                                    <apex:param name="delproductid" value="{!p.id}" assignto="{!delproductid}" />
                                    <apex:param name="delproductgroup" value="{!p.Grouping__c}" assignto="{!delproductgroup}" />
                                    <apex:param name="delproductsubgroup" value="{!p.Sub_Grouping__c}" assignto="{!delproductsubgroup}" />
                                    <apex:param name="delsiteid" value="{!p.Order_Site__c}" assignto="{!delsiteid}" />
                                </apex:commandlink>
                            </td>
                        </apex:outputtext>
                        <apex:outputtext rendered="{!IF(prodListView ='summary'||prodListView='service'||prodListView='hw',True,False)}">
                            <td valign="top">{!p.Type__c}</td>
                        </apex:outputtext>
                        <td class="center">{!p.A_Code__c}</td>
                        <td valign="top">
                            {!p.Product_Name__c}
                            <apex:outputtext rendered="{!p.Care__c !='No Care' && j != 'cv'}"> <i>({!p.Care__c} Care)</i></apex:outputtext>
                            <apex:outputtext rendered="{!p.Information__c !=''}"> &nbsp;<i>{!p.Information__c}</i></apex:outputtext>
                            <apex:outputtext rendered="{!p.Number_Info__c !='' && p.Type__c == 'Numbers' && p.Grouping__c != 'Connection'}"><i>: {!p.Number_Info__c}</i></apex:outputtext>
                            <apex:outputtext rendered="{!p.Directory_Entry__c =='Required' && p.Grouping__c != 'Connection'}"><i style="float:right;"> Directory Entry</i></apex:outputtext>
                            <apex:outputtext rendered="{!p.Directory_Entry__c =='Not Required' && p.Grouping__c != 'Connection'}"><i style="float:right;"> No Directory Entry</i></apex:outputtext>
                            <apex:outputtext rendered="{!p.Offer_Applied__c !=''}"><br /><span style="color:{!qbGreen};padding-left:17px;">{!p.Offer_Applied__r.Name}</span></apex:outputtext>
                        </td>
                        <td class="center" valign="top">
                            <apex:outputfield value="{!p.Quantity__c}" />
                        </td>
                        <td class="right" valign="top">
                            <apex:variable var="hlFinance" value=""/>
                            <apex:outputtext rendered="{!p.Purchasing_Option__c =='Finance' && p.Total_Initial__c<>0}">
                                <apex:variable var="hlFinance" value="finance"/>
                            </apex:outputtext>
                            <span class="{!hlFinance}"><apex:outputfield value="{!p.Total_Initial__c}" rendered="{!p.Total_Original_Initial__c<>0 && p.Purchasing_Option__c =='Finance'}" /></span>
                            <apex:outputfield value="{!p.Total_Initial__c}" rendered="{!p.Total_Original_Initial__c<>0 && p.Purchasing_Option__c !='Finance'}" />
                            <apex:outputtext rendered="{!p.Total_Discount_Initial__c>0}"><span class="green"><br />&nbsp;<apex:outputfield value="{!p.Total_Discount_Initial__c}" /></span></apex:outputtext>
                        </td>
                        <td class="right" valign="top">
                            <apex:outputfield value="{!p.Total_Recurring_Cost__c}" rendered="{!p.Total_Recurring_Cost__c>0}" />
                            <apex:outputtext rendered="{!p.Total_Discount_Recurring__c>0}"><span class="green"><br />&nbsp;<apex:outputfield value="{!p.Total_Discount_Recurring__c}" /></span></apex:outputtext>
                        </td>
                    </tr>
                </apex:outputtext>
            </apex:repeat>
            <tr>
                <apex:outputtext rendered="{!showDel!='no'}">
                    <td></td>
                </apex:outputtext>
                <apex:outputtext rendered="{!prodListView='service'||prodListView='summary'||prodListView='hw'}">
                    <td></td>
                </apex:outputtext>
                <td></td>
                <td colspan="2" class="total">
                    TOTAL
                    <apex:outputtext rendered="{!prodTotalDI>0||prodTotalDR>0}"><br />Discounts Applied</apex:outputtext>
                </td>
                <td class="total">
                    <apex:outputtext value="{0, number, £#,###,##0.00}" rendered="{!prodTotalI>0}"><apex:param value="{!prodTotalI}" /></apex:outputtext>
                    <apex:outputtext rendered="{!prodTotalDI>0||prodTotalDR>0}"><br />&nbsp;</apex:outputtext>
                    <apex:outputtext rendered="{!prodTotalDI>0}"><span class="green"><apex:outputtext value="{0, number, £#,###,##0.00}"><apex:param value="{!prodTotalDI}" /></apex:outputtext></span></apex:outputtext>
                </td>
                <td class="total">
                    <apex:outputtext value="{0, number, £#,###,##0.00}" rendered="{!prodTotalR>0}"><apex:param value="{!prodTotalR}" /></apex:outputtext>
                    <apex:outputtext rendered="{!prodTotalDI>0||prodTotalDR>0}"><br />&nbsp;</apex:outputtext>
                    <apex:outputtext rendered="{!prodTotalDR>0}"><span class="green"><apex:outputtext value="{0, number, £#,###,##0.00}"><apex:param value="{!prodTotalDR}" /></apex:outputtext></span></apex:outputtext>
                </td>
            </tr>
        </table>
    </apex:outputtext>
</apex:component>