<apex:component controller="SalesDropOutController" access="global">
<style type="text/css">
@media only screen and (max-width: 480px) {

    table[class=responsiveTable],
    table[class=asideTable],
    table[class=mainContentTable],
    table[class=social],
    table[class=productInformation],
    table[class=logoHolder] {
        width: 100% !important;
    }
    
    table[class=title] {
        font-size: 24px !important;
    }
    
    table[class=productImage] {
        display: none !important;
    }
    
    table[class=mainContent] {
        padding: 0 !important;
    }
    
    table[class=asideTable] table {
        background-color: transparent !important;
    }
    
    table[class=asideTable] table td > div {
        border-color: transparent !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
    
    td[class=headcopyHolder] {
        padding: 0 10px 10px !important;
        text-align: center;
    }
    
    td[class=hSpacer] {
        height: 10px !important;
        font-size: 5px !important;
        line-height: 5px !important;
    }
    
    a[class=blockLink] {
        display: block !important;
        text-align: center !important;
        padding: 10px !important;
        border: 0 !important;
    }
    
}
</style>

<apex:attribute name="componentValue" description="Attribute on the component."  type="String" assignTo="{!sdoLeadId}"/>
<body>
<table width="640" border="0" cellpadding="0" cellspacing="0" class="responsiveTable" style="border: 4px solid #F4F4F4;">
    <tr>
        <td>
        <table align="right" width="111" border="0" cellspacing="0" cellpadding="0" class="logoHolder">
            <tr>
                <td class="logo" style="padding: 10px;" align="center"><img style="display: block;" src="http://business.bt.com/assets/img/email/orders/bt-logo.png" width="111" height="65" alt="BT" /></td>
                </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" align="left">
                <tr>
                    <td align="left" valign="middle" class="headcopyHolder" style="padding: 30px 10px 10px 10px; font-family: Verdana, Helvetica, sans-serif; font-size: 10px; color: #666">Please add <span style="font-weight:700;">noreply.btbusiness@bt.com</span><br/ > to your contacts to avoid missing any offers.</td>                 </tr>
        </table></td>
    </tr>
    <tr style="background-color: #F4F4F4;">
        <td style="padding: 0 10px;" class="mainContent"><table width="330" border="0" cellspacing="0" cellpadding="0" align="left" class="mainContentTable">
                <tr>
                    <td width="10" rowspan="2">&nbsp;</td>
                    <td style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><div style="border-top: 20px solid #F4F4F4; border-bottom: 10px solid #F4F4F4; font-size: 28px; line-height:33px; font-family: Verdana, Helvetica, sans-serif;" class="title">Continue where you left off...</div>
                        <div style="border-bottom: 10px solid #F4F4F4;">We noticed you started an order for our <span style="font-weight: 700;">Premium Mobile, broadband, phone line and calls</span> package recently but didn't finish it.</div>
                        <div style="border-bottom: 10px solid #F4F4F4;">If you needed some time to think about it, and now you want to go ahead, click the button below to start again where you left off...</div>
                        <div style="border-bottom: 10px solid #F4F4F4;"><span style="font-weight: 700;">This package includes:</span></div>
                    </td>
                    <td width="10" rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><table border="0" cellpadding="0" cellspacing="0" width="105" align="left" class="productImage">
                            <tr>
                                <td><img style="display: block;" alt="" align="left" src="http://business.bt.com/assets/img/email/orders/product-mobile-premium.png" width="105" height="67" /></td>
                            </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" align="right" width="180" class="productInformation">
                            <tr>
                                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="17" valign="top"><img src="http://business.bt.com/assets/img/email/orders/tick-pink.png" alt="" width="17" height="16" /></td>
                                            <td width="10" valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><span style="font-weight: 700;">Free</span> smartphone</td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td valign="top"><img src="http://business.bt.com/assets/img/email/orders/tick-pink.png" alt="" width="17" height="16" /></td>
                                            <td valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><span style="font-weight: 700;">500</span> UK mobile minutes and texts
</td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        
                                        <tr>
                                            <td valign="top"><img src="http://business.bt.com/assets/img/email/orders/tick-pink.png" alt="" width="17" height="16" /></td>
                                            <td valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><span style="font-weight: 700;">Unlimited</span> Wi-Fi</td>
                                        </tr>
                                        
                                        <tr>
                                            <td height="10" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td valign="top"><img src="http://business.bt.com/assets/img/email/orders/tick-pink.png" alt="" width="17" height="16" /></td>
                                            <td valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;">500 <span style="font-weight: 700;">inclusive</span> UK landline minutes with BT Business Complete</td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td valign="top"><img src="http://business.bt.com/assets/img/email/orders/tick-pink.png" alt="" width="17" height="16" /></td>
                                            <td valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;">Option to add Call Package to give <span style="font-weight: 700;">5000 UK &amp; international landline minutes</span> and 500 mobile minutes for &pound;12.50 per month</td>
                                        </tr>
                                        <tr>
                                            <td height="15" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="line-height:20px;"><a target="_blank" href="https://btbsecure.business.bt.com/order/packages/broadband-phone-and-mobile.aspx?handsets=Premium&broadband=basic&s_intcid=btb_email_fallout_sim18mthpremium_continue" class="blockLink" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; background: #8F7FAE; border:10px solid #8F7FAE; text-decoration: none; color: #FFF; font-weight:700;">Continue with my order</a></td>
                                        </tr>
                                        <tr>
                                            <td height="20" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        
                                        
                                    </table></td>
                            </tr>
                        </table></td>
                </tr>
            </table>
            <table width="260" border="0" cellspacing="0" cellpadding="0" align="right" class="asideTable">
                <tr>
                    <td width="10" class="margin">&nbsp;</td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="30" style="font-size:5px; line-height:5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"><img style="display: block;" src="http://business.bt.com/assets/img/email/orders/guy-on-computer.jpg" width="200" height="191" class="image" /></td>
                            </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="10" style="font-size:5px; line-height:5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td><table style="background-color: #FFFFFF;" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><div style="border-bottom: 5px solid #FFF; border-top: 10px solid #FFF; border-right: 10px solid #FFF; border-left: 10px solid #FFF; font-size:18px; font-family: Verdana, Helvetica, sans-serif;">Need some help with your BT Business order?</div>
                                                <div style="border-bottom: 10px solid #FFF; border-right: 10px solid #FFF; border-left: 10px solid #FFF;">Whether you need more info or just want to chat about what's right for you, we're ready to help.</div>
                                                <div style="border-bottom: 15px solid #FFF; border-right: 10px solid #FFF; border-left: 10px solid #FFF;">We're open Monday-Friday, 8am-6pm.</div>
                                                <div style="border-right: 10px solid #FFF; border-left: 10px solid #FFF;"><a target="_blank" href="https://server.lon.liveperson.net/hc/42676151/?cmd=file&file=visitorWantsToChat&site=42676151&byhref=1&SESSIONVAR!skill=business-email&SESSIONVAR!source=PremiumMobile_BB_Phone_Line_18" class="blockLink" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; background: #8F7FAE; border:10px solid #8F7FAE; text-decoration: none; color: #FFF; font-weight: 700;">Chat now</a></div></td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                    </table></td>
                            </tr>
                        </table></td>
                    <td width="10" class="margin">&nbsp;</td>
                </tr>
            </table></td>
    </tr>
    <tr>
        <td class="hSpacer" style="background-color: #F4F4F4;" height="30">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000; padding: 10px;"><div style="border-bottom: 10px solid #FFF; font-size:13px; font-weight:700">Things you need to know</div>
        <div style="border-bottom: 10px solid #FFF; font-size:13px; font-weight:700; font-style:italic;">Phone line</div>
            <div style="border-bottom: 10px solid #FFF;">This package is a 18 month minimum period contract and comes with BT Business Complete as the standard call package. This gives you 500 minutes to UK landlines each month. Once you've used these minutes, your calls will be charged at capped call rates.</div>
            <div style="border-bottom: 10px solid #FFF; font-size:13px; font-weight:700; font-style:italic;">Mobile</div>
            <div style="border-bottom: 10px solid #FFF;">This package is on Talk Time Solo &amp; includes a free smartphone. You'll get 500 UK minutes and texts each month, you can download up to 500MB UK data each month (after this excess usage charges apply), and you'll have unlimited free Wi-Fi.</div>
            <div style="border-bottom: 10px solid #FFF;">For complete details about all the terms and conditions of the products in your order, please read <a href="http://business.bt.com/packages/broadband-phone-and-mobile/?s_intcid=btb_email_fallout_sim18mthpremium_continue" target="_blank" style="text-decoration:none; color:#005898;">things you need to know</a> on our website.</div>
            </td>
    </tr>
</table>
<table width="640" cellpadding="0" cellspacing="0" class="social">
    <tr>
        <td colspan="3" style="background-color: #FFF; font-size:5px; line-height:5px;" height="10">&nbsp;</td>
    </tr>
    <tr>
        <td width="590" height="28">&nbsp;</td>
        <td width="40" height="28" align="right" valign="bottom"><a href="https://www.facebook.com/btbusiness" target="_blank"><img style="display:block; border:0;" width="25" height="24" src="http://business.bt.com/assets/img/email/orders/facebook.gif" alt="Like us on Facebook" /></a></td>
        <td width="40" height="28" align="right" valign="bottom"><a href="https://twitter.com/btbusiness" target="_blank"><img style="display:block; border:0;" width="25" height="21" src="http://business.bt.com/assets/img/email/orders/twitter.gif" alt="Follow us on Twitter" /></a></td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: #FFF; font-size:5px; line-height:5px;" height="10">&nbsp;</td>
    </tr>
</table>
</body>
</apex:component>