<apex:component controller="SalesDropOutController" access="global">
<style type="text/css">
@media only screen and (max-width: 480px) {

    table[class=responsiveTable],
    table[class=asideTable],
    table[class=mainContentTable],
    table[class=social],
    table[class=productInformation],
    table[class=logoHolder] {
        width: 100% !important;
    }
    
    table[class=title] {
        font-size: 24px !important;
    }
    
    table[class=productImage] {
        display: none !important;
    }
    
    table[class=mainContent] {
        padding: 0 !important;
    }
    
    table[class=asideTable] table {
        background-color: transparent !important;
    }
    
    table[class=asideTable] table td > div {
        border-color: transparent !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
    
    td[class=headcopyHolder] {
        padding: 0 10px 10px !important;
        text-align: center;
    }
    
    td[class=hSpacer] {
        height: 10px !important;
        font-size: 5px !important;
        line-height: 5px !important;
    }
    
    a[class=blockLink] {
        display: block !important;
        text-align: center !important;
        padding: 10px !important;
        border: 0 !important;
    }
    
}
</style>


<apex:attribute name="componentValue" description="Attribute on the component."  type="String" assignTo="{!sdoLeadId}"/>
<body>
<table width="640" border="0" cellpadding="0" cellspacing="0" class="responsiveTable" style="border: 4px solid #F4F4F4;">
    <tr>
        <td>
        <table align="right" width="111" border="0" cellspacing="0" cellpadding="0" class="logoHolder">
            <tr>
                <td class="logo" style="padding: 10px;" align="center"><a href="http://business.bt.com/?s_intcid=btb_email_ojfallout_2_pl_value_24_mth_btbusinesslogo" target="_blank"><img style="display: block;" src="http://business.bt.com/assets/img/email/orders/bt-logo.png" width="111" height="65" alt="BT Business" /></a></td>
                </tr>
            </table>
            </td>
    </tr>
    <tr style="background-color: #F4F4F4;">
        <td style="padding: 0 10px;" class="mainContent"><table width="330" border="0" cellspacing="0" cellpadding="0" align="left" class="mainContentTable">
                <tr>
                    <td width="10" rowspan="2">&nbsp;</td>
                    <td style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><div style="border-top: 20px solid #F4F4F4; border-bottom: 10px solid #F4F4F4; font-size: 26px; line-height:33px; font-family: Verdana, Helvetica, sans-serif;" class="title">We dropped you a line a couple of days ago...</div>
                        <div style="border-bottom: 10px solid #F4F4F4;">Because you'd started an order for a <span style="font-weight: 700;">Value business phone line</span> but didn't finish it.  So we were wondering if you needed some help or were just having a think about it. </div>
                        <div style="border-bottom: 10px solid #F4F4F4;">If you've changed your mind, that's fine. But you'll be missing out on...</div>
                    </td>
                    <td width="10" rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><table border="0" cellpadding="0" cellspacing="0" width="107" align="left" class="productImage">
                            <tr>
                                <td><img style="display: block;" alt="" align="left" src="http://business.bt.com/assets/img/email/orders/product-value-phone-line.png" width="107" height="133" /></td>
                            </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" align="right" width="200" class="productInformation">
                            <tr>
                                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="17" valign="top"><img src="http://business.bt.com/assets/img/email/orders/tick-pink.png" alt="" width="17" height="16" /></td>
                                            <td width="10" valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><span style="font-weight: 700;">Capped </span>calls</td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="17" valign="top"><img src="http://business.bt.com/assets/img/email/orders/tick-pink.png" alt="" width="17" height="16" /></td>
                                            <td width="10" valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><span style="font-weight: 700;">24/7</span> fault reporting</td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td valign="top"><img src="http://business.bt.com/assets/img/email/orders/tick-pink.png" alt="" width="17" height="16" /></td>
                                            <td valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;">Up to <span style="font-weight: 700;">8 Calling Features</span></td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="15" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="line-height:20px;"><a target="_blank" href="https://btbsecure.business.bt.com/order/phoneline/value.aspx?contract=24&s_intcid=btb_email_ojfallout_2_pl_value_24_mth_continue" class="blockLink" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; background: #D71F85; border:10px solid #D71F85; text-decoration: none; color: #FFF; font-weight:700;">Continue with my order</a></td>
                                        </tr>
                                         <tr>
                                            <td height="10" colspan="3" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="height:60px;"><a target="_blank" href="http://business.bt.com/phone-services/business-phone-lines/?s_intcid=btb_email_ojfallout_2_pl_value_24_mth_takeanotherlook" class="blockLink" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; background: #8F7FAE; border:10px solid #8F7FAE; text-decoration: none; color: #FFF; font-weight:700;">Or take another look</a></td>
                                        </tr>
                                        
                                        
                                        
                                    </table></td>
                            </tr>
                        </table></td>
                </tr>
            </table>
            <table width="260" border="0" cellspacing="0" cellpadding="0" align="right" class="asideTable">
                <tr>
                    <td width="10" class="margin">&nbsp;</td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="30" style="font-size:5px; line-height:5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                 <td align="center"><img style="display: block;" src="http://business.bt.com/assets/img/email/orders/img-template-2-business-order.png" width="235" height="337" class="image" /></td>
                            </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="10" style="font-size:5px; line-height:5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td><table style="background-color: #FFFFFF;" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000;"><div style="border-bottom: 5px solid #FFF; border-top: 10px solid #FFF; border-right: 10px solid #FFF; border-left: 10px solid #FFF; font-size:18px; font-family: Verdana, Helvetica, sans-serif;">Need some help?</div>
                                                <div style="border-bottom: 10px solid #FFF; border-right: 10px solid #FFF; border-left: 10px solid #FFF;">Whether you need more info or just want to chat about what's right for you, we’re ready to help.</div>
                                                <div style="border-bottom: 15px solid #FFF; border-right: 10px solid #FFF; border-left: 10px solid #FFF;">We're open Monday-Friday, 8am-6pm.</div>
                                                <div style="border-right: 10px solid #FFF; border-left: 10px solid #FFF;"><a target="_blank" href="https://server.lon.liveperson.net/hc/42676151/?cmd=file&file=visitorWantsToChat&site=42676151&byhref=1&SESSIONVAR!skill=business-email&SESSIONVAR!source=NEW_Dropout_Campaign" class="blockLink" style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; background: #8F7FAE; border:10px solid #8F7FAE; text-decoration: none; color: #FFF; font-weight: 700;">Chat now</a></div></td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size:5px; line-height:5px;">&nbsp;</td>
                                        </tr>
                                    </table></td>
                            </tr>
                        </table></td>
                    <td width="10" class="margin">&nbsp;</td>
                </tr>
            </table></td>
    </tr>
    <tr>
        <td class="hSpacer" style="background-color: #F4F4F4;" height="30">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:20px; color: #000; padding: 10px;"><div style="border-bottom: 10px solid #FFF; font-size:13px; font-weight:700">Things you need to know</div>
            <div style="border-bottom: 10px solid #FFF;">This service is a 24 month minimum period contract. For complete details about all the terms and conditions of the products in your order, please read <a style="text-decoration:none; color:#005898;" target="_blank" href="http://business.bt.com/phone-services/business-phone-lines/?s_intcid=btb_email_ojfallout_2_pl_value_24_mth_needtoknow">things you need to know</a> on our website.
          </div>
            <div style="border-bottom: 10px solid #FFF;">Please add <span style="font-weight:700;">noreply.btbusiness@bt.com</span> to your contacts so that our emails are delivered to your inbox and not treated as spam. 
            </div>
        </td>
    </tr>
</table>
<table width="640" cellpadding="0" cellspacing="0" class="social">
    <tr>
        <td colspan="3" style="background-color: #FFF; font-size:5px; line-height:5px;" height="10">&nbsp;</td>
    </tr>
    <tr>
        <td width="590" height="28">&nbsp;</td>
        <td width="40" height="28" align="right" valign="bottom"><a href="https://www.facebook.com/btbusiness" target="_blank"><img style="display:block; border:0;" width="25" height="24" src="http://business.bt.com/assets/img/email/orders/facebook.gif" alt="Like us on Facebook" /></a></td>
        <td width="40" height="28" align="right" valign="bottom"><a href="https://twitter.com/btbusiness" target="_blank"><img style="display:block; border:0;" width="25" height="21" src="http://business.bt.com/assets/img/email/orders/twitter.gif" alt="Follow us on Twitter" /></a></td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: #FFF; font-size:5px; line-height:5px;" height="10">&nbsp;</td>
    </tr>
</table>
</body>
</apex:component>