<h1 id="contributing-to-jquery-validation-plugin">Contributing to jQuery Validation Plugin</h1>

<p>Thanks for contributing! Here's a few guidelines to help your contribution get landed.</p>

<ol>
  <li>Make sure the problem you're addressing is reproducible. Use jsbin.com or jsfiddle.net to provide a test page.</li>
  <li>Follow the <a href="http://contribute.jquery.com/style-guides/js">jQuery style guide</a></li>
  <li>Add or update unit tests along with your patch. Run the unit tests in at least one browser (see below).</li>
  <li>Run <code>grunt</code> (see below) to check for linting and a few other issues.</li>
  <li>Describe the change in your commit message and reference the ticket, like this: "Fixed delegate bug for dynamic-totals demo. Fixes #51". If you're adding a new localization file, use something like this: "Added croatian (HR) localization"</li>
</ol>

<h2 id="build-setup">Build setup</h2>

<ol>
  <li>Install <a href="http://nodejs.org">NodeJS</a>.</li>
  <li>Install the Grunt CLI To install by running <code>npm install -g grunt-cli</code>. More details are available on their website http://gruntjs.com/getting-started.</li>
  <li>Install the NPM dependencies by running <code>npm install</code>.</li>
  <li>The build can now be called by running <code>grunt</code>.</li>
</ol>

<h2 id="creating-a-new-additional-method">Creating a new Additional Method</h2>

<p>If you've wrote custom methods that you'd like to contribute to additional-methods.js:</p>

<ol>
  <li>Create a branch</li>
  <li>Add the method as a new file in src/additional</li>
  <li>(Optional) Add translations to src/localization</li>
  <li>Send a pull request to the master branch.</li>
</ol>

<h2 id="unit-tests">Unit Tests</h2>

<p>To run unit tests, you should have a local webserver installed and pointing at your workspace. Then open <code>http://localhost/jquery-validation/test</code> to run the unit tests. Start with one browser while developing the fix, then run against others before committing. Usually latest Chrome, Firefox, Safari and Opera and a few IEs.</p>

<h2 id="linting">Linting</h2>

<p>To run JSHint and other tools, use <code>grunt</code>. </p>
