html body{
	background-image: url('../images/background.png');
	margin: 40px;
}
#page-container{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #000;
}
#logo{
	margin: 5px;
}
.siteBox{
	margin: 5px;
	padding: 5px;
	border-radius: 5px;	
}
#error-container{
	display: none;
}
#output{
	display: none;
}
.siteBoxTitle{
	font-weight: bold;
}
.largeField{
	font-size: 3em;
	border-radius: 5px;
	padding: 2px;
}
