.image {float: right;}
.paddingarea {background-color: #5900b3;
	padding:50px 30px 50px 80px;
    color:white;
    font-size:28px;
    font-family: "calibri";
    text-align: center;}
.textarea{font-size:12px;
    font-family: "calibri";
    text-align: left;
    line-height: 100%;}
.For1 {float: left; 
	width:50%;
	line-height: 250%;}
.For2 {float:right; 
	width:50%;
	line-height: 250%;}
.footer {width:80%;
	margin-top: 40%; 
	margin-left: 0%;
	opacity:0.5;}