﻿html body
{
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 12px;
	padding: 10px;
	border: 1px solid black;
	width: 850px;
	margin: auto;
}
table
{
}
table td
{
	padding-top: 2px;
	vertical-align: top;
}
select
{
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: Verdana, Arial;
}
textarea
{
	height: 100px;
	widows: 300px;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 12px;
	color: black;
	border: 1px solid #ccc;
	padding-left: 2px !important;
	padding-top: 1px !important;
}
input[type=text]
{
	height: 16px;
	font-size: 12px;
	color: black;
	border: 1px solid #ccc;
	padding-left: 2px !important;
	padding-top: 1px !important;
	width: 250px;
}
.divMain
{
	padding: 0px;
}
.divTcell
{
	font-size: 12px;
	font-weight: bold;
}
.divTcellRequired
{
	color: red;
	font-size: 11px;
	font-weight: bold;
	height: 14px;
}
.MainHeading
{
	width: 50%;
	font-family: Verdana,Comic Sans MS;
	font-size: 200%;
	font-weight: bold;
	color: Navy;
	margin: auto;
}
.reqLine
{
	border-left: 2px solid red;
	font-size: 80%;
	vertical-align: 1px;
	padding-left: 0px;
	float: right;
	float: right;
}
.hide
{
	display: none;
}
.show
{
	display: block;
}
.error
{
	font-size: 11px;
	color: Red;
}
.error2
{
	font-size: 13px;
	color: Red;
}
.success
{
	font-size: 12px;
	color: green;
}
.pleasewait
{
	font-weight: bold;
	font-size: 11px;
	color: Gray;
}

.divReq .required
{
	background-color: red;
	bottom: 1px;
	left: -4px;
	position: absolute;
	top: 1px;
	width: 2px;
}
.divReq
{
	height: 100%;
	position: relative;
}
.btnCreate
{
	background-image: url(    '../Images/btnCreate.PNG' );
	display: block;
	overflow: hidden;
	width: 80px;
	height: 24px;
}
/*a.btnCreate:hover
{
    background-image: url(/Images/btnCreate.PNG);
    background-position: 0px 18px;
}*/
a
{
	font-weight: normal;
	text-decoration: none;
}
.btnCreateNew
{
	background-image: url(    '../Images/btnCreateNew.PNG' );
	display: block;
	overflow: hidden;
	width: 90px;
	height: 24px;
}
.btnCancel
{
	background-image: url(    '../Images/btnCancel.PNG' );
	display: block;
	overflow: hidden;
	width: 80px;
	height: 24px;
}
.imgBanner
{
	background: url(../Images/Banner.JPG) no-repeat right 65%;
	padding-left: 500px;
}
.iconHelp
{
	background-image: url(../Images/iconHelp2.PNG) no-repeat right 65%;
	padding-left: 2px;
}
.helpText
{
	color: Gray;
	font-size: 10px;
}
/*dasdas*/
p
{
	padding: 0 0 1em;
}
.msg_list
{
	margin: 0px;
	padding: 0px;
	width: 383px;
}
.msg_head
{
	font-weight: bold;
	padding: 5px 10px;
	position: relative;
	background-color: #F0F0F0; /*#8E9DBE;cursor: pointer;*/
	margin: 1px;
}
.msg_body
{
	padding: 5px 10px 15px; /*background-color: #F4F4F8;*/
}
