.loadingStatus {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100,100,100,0.25) url("gifs/loadingGif.gif") no-repeat center / 4rem;
}
.btn-wrapper button,
.btn-wrapper input[type="button"],
.btn-wrapper input[type="submit"],
.totalDataRow,
.list .dataRow.bold {
  background-color: {!visualThemeColor};
}

.selectedRow {
	font-weight: bold;
	outline: 2px solid #000;
}

.save-btn-wrapper {
	border-left: 1px dotted {!visualThemeColor};
	padding-left: 15px;
}

#headerProducts table td:nth-child(2) .pbSubheader{
	margin-top: 0!important;
}

#headerProducts table h3 {
	color: #000!important;
}

.pbSubsection .detailList th {
	width: 35%!important;
}

.pbSubsection .detailList td {
	width: 65%!important;
}

.alignRight{
	text-align: right;
}

.pctSign {
	display: none;
}

.dataRow.percentage {
	padding-right: 20px!important;
	position: relative;
}

.percentage .pctSign{
	display: block;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: .95rem;
}