@charset "UTF-8";

@font-face {
  font-family: "button-icons";
  src: url("button-icons/button-icons.eot?orgId=00D20000000MNmT");
  src: url("button-icons/button-icons.eot?orgId=00D20000000MNmT#iefix") format("embedded-opentype"), url("button-icons/button-icons.woff?orgId=00D20000000MNmT") format("woff"), url("button-icons/button-icons.ttf?orgId=00D20000000MNmT") format("truetype"), url("button-icons/button-icons.svg?orgId=00D20000000MNmT#button-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=icon-]:before, [class*=icon-]:before {
  font-family: "button-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loss:before {
  content: "\61";
}

.icon-shopping-basket:before {
  content: "\62";
}

.icon-chevrondown:before {
  content: "\63";
}

.icon-chevronleft:before {
  content: "\64";
}

.icon-chevronright:before {
  content: "\65";
}

.icon-chevronup:before {
  content: "\66";
}

.icon-add:before {
  content: "\67";
}

.icon-save:before {
  content: "\68";
}

.icon-delete:before {
  content: "\69";
}

.main-title {
  font-size: 1.5rem;
  margin: 1.5rem;
  display: inline-block;
  color: #333;
  font-weight: normal;
}

.section {
  margin: 1rem 0;
}

.section.collapsed table {
  display: none;
}

.section h1 {
  padding: 1rem 2.5rem;
  background-color: #ebebeb;
  display: block;
  cursor: pointer;
  position: relative;
  color: #333;
  font-size: 14px;
  font-weight: normal;
}

.section h1:before {
  color: #f29108;
  position: absolute;
  left: 0.8rem;
  font-size: 1rem;
}

.section h1:hover:before {
  color: #fab85c;
}

body .bRelatedList .pbBody table.list, body .apexp .pbBody table.list {
  width: 100% !important;
  border: none;
}

.list .headerRow, .list .dataRow {
  padding: 0.5rem !important;
  min-height: 1.75em;
  height: 2em;
  border: 3px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.list .headerRow {
  color: #5e5d60;
  font-weight: normal;
  text-align: right;
}

.list .dataRow {
  background: #ebebeb;
  color: #5e5d60;
  text-align: right;
  vertical-align: middle;
}

.list .dataRow td:first-child {
  text-align: left;
}

.list .dataRow.bold {
  background: #ff9900;
  color: #5e5d60;
  opacity: 0.65;
}

.list .dataRow select, .list .dataRow input[type=text], .list .dataRow input[type=number] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  height: 1.5rem;
  display: block;
  padding: 0.125rem 0.5rem;
}

body .pbBody table.list tr th, body .pbBody table.list tr td, body .pbBody table.list tr.dataRow th, body .pbBody table.list tr.dataRow td, body .pbBody table.list tr.headerRow td, body .pbBody table.list tr.headerRow th {
  padding: 5px 5px 4px;
  border-top: 1px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 3px solid #fff;
  color: #434958;
}

body .pbBody table.list tr.headerRow td, body .pbBody table.list tr.headerRow th {
  background-color: transparent;
  font-weight: normal;
  color: #7d7d7d;
  font-size: 12px;
  border-bottom: none;
}

#tables {
  padding: 1rem 1rem 0 1rem;
  color: #5e5d60;
}

.totalDataRow {
  background: #f29108;
  text-align: left;
  font-weight: bold;
}

body .pbBody table.list .totalDataRow td {
  color: #fff;
}

body .pbBody table.list .totalDataRow .calculationHeaderName {
  border-left: none;
  text-align: left;
}

body .pbBody table.list tr.headerRow th:first-child, body .pbBody table.list tr.dataRow td:first-child {
  text-align: left;
}

.header-flex {
  display: flex;
  align-items: center;
}

.header-flex .title {
  float: left;
}

.header-flex h2 {
  font-size: 1.3em;
  margin: 0.25rem 0;
  display: block;
}

.header-flex .btn-flex {
  flex: 1;
  float: right;
}

.selected-item {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: #e3f3ff;
}

tfoot tr td {
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
}

header .btn-wrapper, .btn-wrapper {
  overflow: hidden;
  max-width: 9rem;
  float: right;
  margin-right: 1rem;
  cursor: pointer;
}

.btn-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}

.btn-wrapper button, .btn-wrapper input[type=button], .btn-wrapper input[type=submit] {
  display: block;
  float: none;
  margin: 0.5rem auto;
  color: #fff;
  border: none !important;
  padding: 0;
  height: 3rem;
  width: 3rem;
  background-image: none;
  border-radius: 1.5rem;
  font-size: 1.75rem;
  background-color: #f29108;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nonselectable {
  pointer-events: none;
}

.btn-wrapper button:hover, .btn-wrapper button:focus, .btn-wrapper button:active {
  outline: none;
  background-position: center !important;
  opacity: 0.8;
}

.btn-wrapper:hover .nonselectable {
  opacity: 0.8;
}

.btn-wrapper button[disabled], .btn-wrapper button[disabled]:hover, .btn-wrapper button[disabled]:focus, .btn-wrapper button[disabled]:active {
  background-color: #ebebeb;
}

.btn-wrapper label {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.91rem;
  font-weight: lighter;
  color: #5e5d60;
}