/**
 * BT Business
 * IE 6 CSS for Screen
 *
 * Contents:
 *	1. Global declarations
 *	2. BT Business Global Template
 *	3. Modules
 */

/* HasLayout */
#genie .primaryModule,
#genie .secondaryModule,
#genie .moduleInner,
#genie .ctaModule,
#genie .twoColInner .asideHasRows .row,
#genie .linkAsButton a,
#genie .linkAsButton .chevron,
#genie .price .middle,
#genie .ctaModule .moduleInner,
#genie .mobileHeader .promo,
#genie .sideTabsSmall .nav a {
	zoom: 1;
}

/*--------------------------------
  1. Global declarations
---------------------------------- */
#genie #wrapper {
	height: 1100px;
}

/* Content */
#genie #content {
	width:99.7%; /* ghost text fix */
	height:900px;
}
/* End Content */

#genie .footerInner li.hover {
	background:none;
}

/*--------------------------------
  2. BT Business Global Template
---------------------------------- */

/*--------------------------------
  3. Modules
---------------------------------- */
/* Remove semi-transparent border */
#genie .primaryModule,
#genie .secondaryModule,
#genie .ctaModule,
#genie .quickLinks,
#genie .quickLinks .qlContent,
#genie .staticTopRight {
	background-image: url(../../img/global/transparent30pc_pixel_ie6.png);
	border: none;
	padding: 5px;
}

/* Icon List (Disappearing list background bug) */
#genie .icon li {
    position: relative;
}
/* End Icon List */

#genie .defaultList dt a{ padding:14px 0;}

/* SideTabs */
#genie .sideTabsSmall .nav li {
	float: left; /* fixes gap between LI's */
}

