/**
 * BT Business - The Genie
 * IE 7 CSS for Screen
 *
 * Contents:
 *	1. Global declarations
 *	2. BT Business Global Template
 *	3. Modules
 */

/*--------------------------------
  1. Global declarations
---------------------------------- */
/* Clearfix */
#genie .primaryModule,
#genie .secondaryModule,
#genie .moduleInner,
#genie .ctaModule,
#genie .twoColInner .asideHasRows .row,
#genie .linkAsButton a,
#genie .linkAsButton .chevron,
#genie .price .middle,
#genie .ctaModule .moduleInner,
#genie ul.twoCol,
#genie .tabbedContentContainer,
.js #genie .tabbedContentContainer,
#genie .priceHasRadios,
.js #genie dl.expandableList,
#genie .carouselContainer,
#genie .currentBasketTotal,
#genie .totalSaving,
#genie .contractLength,
#genie .totalSaving dl,
#genie dl.expandableList dt a,
#genie .formRow,
#genie .fullWidthRadio,
#genie .numberCheckResult,
#genie .cf,
#genie .sectionNav,
#genie .moduleInner .colLast,
#genie .moduleInner .asideInner,
#genie .twoColPromo .largePrimarySubCol,
#genie .twoColPromoNoMinHeight .largePrimarySubCol,
#genie .mobileHeader .product,
.js #genie .qlLast,
#genie .productTableOfThree .priceHasRadios {
	zoom: 1;
}

#genie dl.expandableList dd,
#genie dl.expandableList dt {
	overflow: hidden;
}

/* Display inline-block */
.js #genie .gallery .pagination li,
#genie .carouselContainer .pagination li,
#genie .twoColForm .formRow,
#genie .threeColForm .formRow,
#genie ul.iconTwoCol li {
	zoom: 1;
	display: inline;
}

/* Access and screen reader content */
#genie .skip-links {
	position:absolute;
	left:-9999px;
}
/* End Access and screen reader content */

/*--------------------------------
  2. BT Business Global Template
---------------------------------- */

/*--------------------------------
  3. Modules
---------------------------------- */

/* Expandable lists */
.js #genie dl.expandableList dd {
	position: relative;
}

/* Percentage padding is broken in IE7 and below. Padding with fixed width is needed */
/* Shared padding among modules */
#genie .moduleInner .col,
#genie .moduleInner .mainInner,
#genie .moduleInner .asideInner,
#genie .twoColGrid .twoColInner .col,
#genie .twoColGrid .mainInner, .twoColGrid .twoColInner .col,
#genie .twoColGrid .expandableList .twoColSeperator .col {
	padding-left: 26px;
	padding-right: 26px;
}

#genie .twoColInner .mainInner {
	padding-right: 0;
}

#genie .twoColSeperator .mainInner,
#genie .twoColRev .mainInner,
#genie .twoColSeperator .mainInner {
    padding-right: 26px;
}

#genie .asideHasRows .asideInner {
	padding: 26px 0 0;
}