<apex:page controller="AdamS_POC">
    <apex:includescript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includescript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
    <apex:stylesheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" />
    <apex:pagemessages />
    <apex:form id="theForm">
        <fieldset>
            <apex:pageblock title="Number Port" id="listBlock" mode="inlineEdit">
                <apex:outputpanel style="float:middle">
                    <apex:pageblocktable value="{!NumberPortWrapperList}" var="n" cellpadding="2" border="1" id="opp_table">
                        <apex:column headervalue="Update">
                            <apex:inputcheckbox value="{!n.selected}">
                                <apex:actionsupport event="onclick" action="{!getSelected}" rerender="opp_table" />
                            </apex:inputcheckbox>&nbsp;
                        </apex:column>
                        <apex:column headervalue="Site Address">
                            <apex:selectlist value="{!n.selectedAddress}" multiselect="false" size="1">
                                <apex:selectoptions value="{!n.addressList}" />
                            </apex:selectlist>
                        </apex:column>
                        <apex:column headervalue="Selected Address">
                            <apex:outputfield value="{!n.np.Order_Address__r.Display_Name__c}" />
                        </apex:column>
                        <apex:column headervalue="Losing CP">
                            <apex:inputfield value="{!n.np.Losing_CP__c}" id="CPs" />
                        </apex:column>
                        <apex:column headervalue="Billing A/C Number">
                            <apex:outputfield value="{!n.np.Billing_A_C_Number__c}" />
                        </apex:column>
                    </apex:pageblocktable>
                </apex:outputpanel>
            </apex:pageblock>
            <apex:commandbutton value="Save" action="{!tosave}" id="saveButton" />
        </fieldset>
        <script>
            $(function() {
                var availableTags = [
                    <apex:repeat value="{!CPs}" var="r">"{!r.Description__c} {!r.Area__c} (CUPID: {!r.Reference__c}) <apex:outputText rendered="{!IF(r.EstablishedIP__c == False,True,False)}"> **Not Service Established**</apex:outputText>",</apex:repeat>"_"
                ];
                $('[id$=CPs]').autocomplete({source: availableTags});
            });
        </script>
    </apex:form>
</apex:page>