<apex:page standardcontroller="ADP__c" showHeader="false">


    <apex:pageBlock mode="edit" >
     <apex:outputLink target="_top" value="{!URLFOR($Action.ADP_Contacts__c.New, null, 
            [CF00N20000002Azfc_lkid=ADP__c.id,
            CF00N20000002Azfc=adp__c.name,
            saveURL=URLFOR($Action.ADP__c.View, ADP__c.Id, null, true), 
            cancelURL=URLFOR($Action.ADP__c.View, ADP__c.Id, null, true)
        ], true)}" 
     style="font-weight: bold;">New Contact</apex:outputLink>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <apex:outputLink target="_new" value="/apex/OrgChartACC?ADPId={!ADP__c.id}" style="font-weight: bold;">Org Chart</apex:outputLink>     
   
    
        <apex:pageBlockTable value="{!ADP__c.ADP_Contact__r}" var="thisContact">
        
        <apex:column >
            <apex:outputLink target="_top"  value="{!URLFOR($Action.ADP_Contacts__c.View,thisContact.id,[retURL=URLFOR($Action.ADP__c.View, ADP__c.Id)])}" style="font-weight: bold;">View</apex:outputLink> |&nbsp; 
            <apex:outputLink target="_top"  value="{!URLFOR($Action.ADP_Contacts__c.Edit,thisContact.id,[retURL=URLFOR($Action.ADP__c.View, ADP__c.Id)])}" style="font-weight: bold;">Edit</apex:outputLink> |&nbsp; 
            <apex:outputLink target="_top" value="{!URLFOR($Action.ADP_Contacts__c.Delete,thisContact.id,[retURL=URLFOR($Action.ADP__c.View, ADP__c.Id)])}" onclick="return window.confirm('Are you sure?');" style="font-weight: bold;">Del</apex:outputLink>
        </apex:column>
        
            <apex:column >
            <apex:facet name="header">Contact</apex:facet>
            <apex:outputText value="{!thisContact.ContactName__c}"/>
            </apex:column>       
            <apex:column value="{!thisContact.Role__c}"/>
            <apex:column value="{!thisContact.Telephone__c}"/>
            <apex:column value="{!thisContact.Email__c}"/>
           <!-- <apex:column value="{!thisContact.Post_Town__c}"/> -->
           <apex:column value="{!thisContact.KDM_Flag__c}" headerValue="KDM"/>
           <apex:column value="{!thisContact.AM_Contact__c}" headerValue="AM Contact"/>
            
        </apex:pageBlockTable>
        
    </apex:pageBlock>
   
   

</apex:page>