<apex:page standardcontroller="ADP__c" renderAs="pdf" showHeader="false">
<apex:form >
	
	<apex:pageBlock title="ADP Detail">
	  <apex:outputField value="{!ADP__c.Name}"/>
	  <apex:outputField value="{!ADP__c.HQ_Address__c}"/>
	</apex:pageBlock>


	<apex:pageBlock title="ADP Contacts">
		<apex:pageBlockTable value="{!ADP__c.ADP_Contact__r}" var="thisContact">
			<apex:column value="{!thisContact.Contact__c}"/>
			<apex:column value="{!thisContact.Role__c}"/>
			<apex:column value="{!thisContact.Email__c}"/>
		</apex:pageBlockTable>
	</apex:pageBlock>

</apex:form>
</apex:page>