<apex:page standardcontroller="ADP__c" showHeader="false" extensions="ADPSWOTCtrl">
<style> 
   body {background: #F3F3EC;}
</style>

<body>

    <apex:pageBlock mode="edit">
      <apex:outputLink target="_top" value="{!URLFOR($Action.ADP_BT_SWOT__c.New, null,
           [CF00N20000002orzh_lkid=ADP__c.id,
            CF00N20000002orzh=adp__c.name,
            saveURL=URLFOR($Action.ADP__c.View, ADP__c.Id, null, true), 
            cancelURL=URLFOR($Action.ADP__c.View, ADP__c.Id, null, true)
        ], true)}" 
      style="font-weight: bold;">New BT SWOT Action</apex:outputLink>


     
        <apex:pageBlockTable value="{!BT}" var="thisSWOT">
   
        <apex:column width="110" >
            <apex:outputLink target="_top"  value="{!URLFOR($Action.ADP_BT_SWOT__c.View,thisSWOT.id,[retURL=URLFOR($Action.ADP__c.View, ADP__c.Id)])}" style="font-weight: bold;">View</apex:outputLink> |&nbsp; 
            <apex:outputLink target="_top"  value="{!URLFOR($Action.ADP_BT_SWOT__c.Edit,thisSWOT.id,[retURL=URLFOR($Action.ADP__c.View, ADP__c.Id)])}" style="font-weight: bold;">Edit</apex:outputLink> |&nbsp; 
             <apex:outputLink target="_top" value="{!URLFOR($Action.ADP_BT_SWOT__c.Delete,thisSWOT.id,[retURL=URLFOR($Action.ADP__c.View, ADP__c.Id)])}" onclick="return window.confirm('Are you sure?');" style="font-weight: bold;">Del</apex:outputLink>
        </apex:column>


            <apex:column value="{!thisSWOT.What_needs_to_be_done__c}" width="30%"/>
            <apex:column value="{!thisSWOT.Who_is_going_to_do_it__c}" width="20%"/>
            <apex:column value="{!thisSWOT.When_will_it_be_achieved__c}" width="10%"/>
            <apex:column value="{!thisSWOT.What_is_the_progress__c}" width="20%"/>
            <apex:column value="{!thisSWOT.Status__c}" width="5%"/>  
            <apex:column value="{!thisSWOT.Show_in_PDF__c}" width="5%"/> 
            
        </apex:pageBlockTable>
    </apex:pageBlock>
</body>
</apex:page>