<apex:page standardController="Project__c" extensions="AttachToOpportunityController" tabstyle="Project__c" title="{!$Label.Attach_to_Opportunity}" id="page">
<apex:form enctype="multipart/form-data" id="form">
	<apex:pageMessages />
	<apex:pageBlock mode="view" title="{!$Label.Attach_to_Opportunity}" tabStyle="Attachment" rendered="{!NOT(ShowForm)}" id="block">
		<apex:pageBlockSection columns="1" id="section1">
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="File" for="file"/>
				<apex:outputPanel > 
					<div class="requiredInput"><div class="requiredBlock"></div>
					  <apex:inputFile id="file" value="{!attachment.body}" filename="{!attachment.name}" />
					</div>	
				</apex:outputPanel>
			</apex:pageBlockSectionItem>

			<apex:pageBlockSectionItem >
				<apex:outputLabel value="{!$Label.Document_Type}" for="docType"/>
				<apex:actionRegion >
				<div class="requiredInput"><div class="requiredBlock"></div>
					<apex:selectList id="docType" value="{!documentType}" multiselect="false" size="1" >
						<apex:selectOptions value="{!documentTypeList}"/>
						<apex:actionSupport event="onchange" rerender="docTypeOtherSection" />
					</apex:selectList>
				</div>	
				</apex:actionRegion>
			</apex:pageBlockSectionItem>
		</apex:pageBlockSection>

		<apex:pageBlockSection columns="1" id="docTypeOtherSection" >
			<apex:pageBlockSectionItem >
				<apex:outputLabel id="docTypeOtherLabel" value="{!$Label.User_Defined_Document_Type}" for="docTypeOther" rendered="{!AllowUserDefinedDocType}"/>
				<apex:outputPanel >
				<div class="requiredInput"><div class="requiredBlock"></div>
					<apex:inputText id="docTypeOther" value="{!userDefinedDocType}" rendered="{!AllowUserDefinedDocType}"/>
				</div>
				</apex:outputPanel>
			</apex:pageBlockSectionItem>
		</apex:pageBlockSection>
		<apex:pageBlockButtons location="bottom">
			<apex:commandButton value="{!$Label.Attach}" action="{!attach}"/>
			<apex:commandButton value="{!$Label.Cancel}" action="{!cancel}"/>
		</apex:pageBlockButtons>
	</apex:pageBlock>
</apex:form>
</apex:page>