<apex:page showHeader="false">
  <apex:form id="form1">                                                
            <script>
                    function ShowAccount(){                        
                    var v =  document.getElementById('acc').value ;                    
                    if(v != ''){    
                        window.open('/00O20000003Ppdm?name='+v+'&sort=ACCOUNT_NAME&name_op=sw&t=title','_parent');
                        newwindow.focus();
                    }                                           
                }
            </script>
        <div style="background-color:#CEECF5"> 
           
        <input name="crfname" style="width:120px" id="acc" type="text"/>
        <input type="button" value="Go!" onclick="ShowAccount()"/> 
        <font face="Arial, sans-serif,MS Shell" size="2">Displays account irrespective of ownership</font> 
        </div>
    </apex:form>
    
</apex:page>