<apex:page standardController="Account" extensions="BtlbTeamCtrl">

<apex:pageBlock >
<apex:pageBlockTable value="{!Specialist}" var="c">
<apex:column value="{!c.Specialist_Name__c}"/>
<apex:column value="{!c.Specialist_Role__c}"/>
<apex:column value="{!c.Tel_No__c}"/>
<apex:column value="{!c.Mobile__c}"/>
<apex:column value="{!c.email__c}"/>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:page>