<apex:page standardcontroller="BTLB_Suite__c" extensions="BTLBSuiteCTRL">
<c:BTLBSuiteCommon />
<apex:variable value="{!0}" var="index" />
<body style="margin:0;padding:0;">
<apex:outputPanel styleclass="jmmForm" style="margin:0;padding:0;">
	<table class="noBorder" style="width:100%;">
		<tr>
		<td valign="top" style="width: 18%;text-align:right;"><h2 style="padding-bottom: 10px; ">BTLB Entered</h2>
		<a href="/apex/BTLBSuiteNew?oppId={!BTLB_Suite__c.Opportunity__c}&existingRef={!BTLB_Suite__c.Order_Reference__c}" target="_parent" class="icon">+</a></td>
		<apex:variable value="{!0}" var="index" />
		<td>
			<table class="smallTbl" style="width:90%;"> 
				<th width="10">Line</th><th>Product</th><th width="20">Qty</th><th width="75">SOV</th><th width="60">Order Date</th><th width="60">CRD</th><th width="75"></th><th width="60"></th>
				<apex:repeat value="{!OrderLineItems}" var="l">
					<apex:outputText rendered="{!l.RecordType.DeveloperName  ='BTLB_Suite_BTLB_Entered'}">
					<tr>
						<td><apex:outputText ><apex:variable value="{!index + 1}" var="index" />{!index}</apex:outputText></td>
						<td><a href="/{!l.Id}" target="_top">{!l.Product_Description__c}</a></td>
						<td align="right"><apex:outputField value="{!l.Volume__c}"/></td>
						<td align="right"><apex:outputField value="{!l.SOV__c}"/></td>
						<td align="right"><apex:outputField value="{!l.Order_Date__c}"/></td>
						<td align="right"><apex:outputField value="{!l.CRD__c}"/></td>
						<td align="right">&nbsp;</td>
						<td align="right">&nbsp;</td>
					</tr>
					</apex:outputText>
				</apex:repeat>
			</table>
        </td></tr>
		<tr>
		<td valign="top" style="width: 18%; text-align: right;"><h2>BT Entered</h2></td>
		<apex:variable value="{!0}" var="index" />
		<td>
			<table class="smallTbl" style="width:90%;"> 
				<th width="10">Line</th><th>Product</th><th width="20">Qty</th><th width="75">SOV</th><th width="60">Order Date</th><th width="60">CRD</th><th width="75">Status</th><th width="60">Changed</th>
				<apex:repeat value="{!OrderLineItems}" var="l">
					<apex:outputText rendered="{!l.RecordType.DeveloperName  ='BTLB_Suite_BT_Entered'}">
					<tr>
						<td><apex:outputText ><apex:variable value="{!index + 1}" var="index" />{!index}</apex:outputText></td>
						<td><a href="/{!l.Id}" target="_top">{!l.Product_Description__c}</a></td>
						<td align="right"><apex:outputField value="{!l.Volume__c}"/></td>
						<td align="right"><apex:outputField value="{!l.SOV__c}"/></td>
						<td align="right"><apex:outputField value="{!l.Order_Date__c}"/></td>
						<td align="right"><apex:outputField value="{!l.CRD__c}"/></td>
						<td>{!l.Status__c}</td>
						<td align="right">
							<apex:outputText rendered="{!l.Status__c='Cancelled'}"><apex:outputField value="{!l.Cancel_Date__c}"/></apex:outputText>
							<apex:outputText rendered="{!l.Status__c='Closed'}"><apex:outputField value="{!l.Closed_Date__c}"/></apex:outputText>
						</td>
					</tr>
					</apex:outputText>
				</apex:repeat>
			</table>
		</td>
		</tr>
		<tr>
		<td valign="top" style="width: 18%;text-align:right;"><h2>Cobra Entered</h2></td>
		<apex:variable value="{!0}" var="index" />
		<td>
			<table class="smallTbl" style="width:90%;"> 
				<th width="10">Line</th><th>Product</th><th width="20">Qty</th><th width="75">SOV</th><th width="60">Paid</th><th width="60">Cobra Period</th><th width="75"></th><th width="60"></th>
				<apex:repeat value="{!OrderLineItems}" var="l">
					<apex:outputText rendered="{!l.RecordType.DeveloperName  ='BTLB_Suite_Cobra_Entered'}">
					<tr>
						<td><apex:outputText ><apex:variable value="{!index + 1}" var="index" />{!index}</apex:outputText></td>
						<td><a href="/{!l.Id}" target="_top">{!l.Product_Description__c}</a></td>
						<td align="right"><apex:outputField value="{!l.Volume__c}"/></td>
						<td align="right"><apex:outputField value="{!l.SOV__c}"/></td>
						<td align="right"><apex:outputField value="{!l.Cobra_Commission_Paid__c}"/></td>
						<td align="right"><apex:outputField value="{!l.Cobra_Period__c}"/></td>
						<td align="right">&nbsp;</td>
						<td align="right">&nbsp;</td>
					</tr>
					</apex:outputText>
				</apex:repeat>
			</table>
        </td></tr>
	</table>    
</apex:outputPanel>
</body>
</apex:page>