<apex:page standardController="Landscape_BTLB__c">

<style>
        #DIV_Container{background-color: red;font-weight:bold;}
</style>

 <div id="DIV_Container">
  
 <apex:outputText value="Networked IT :Priority" />
</div>
 
</apex:page>