<apex:page standardController="Opportunity" extensions="BTSportSVOCOppDetail">
<apex:form >
    <apex:pageBlock mode="maindetail">
       <apex:pageBlocksection collapsible="False"> 
            <apex:outputField value="{!LeadRec.preSales_Status__c}"/>
            <apex:outputField value="{!LeadRec.preSales_User_Update__c}"/>  
            <apex:outputField value="{!LeadRec.preSales_User__c}"/> 
            <apex:outputField value="{!LeadRec.preSales_Notes__c}"/>             
          
       </apex:pageBlocksection>
        <apex:pageBlocksection title="Pre-Registration/Call Me Back">
            <apex:outputField value="{!LeadRec.Type_of_venue__c}"/>
             <apex:outputField value="{!LeadRec.Date_of_Submission__c}"/>
            <apex:outputField value="{!LeadRec.Other_venue__c}"/> 
            <apex:outputField value="{!LeadRec.Number_of_business_premises__c}"/> 
            <apex:outputField value="{!LeadRec.Venue_detail__c}"/>
            <apex:outputField value="{!LeadRec.Are_you_a_Sky_customer__c}"/>  
            <apex:outputField value="{!LeadRec.Existing_Customer__c}"/> 
            <apex:outputField value="{!LeadRec.BT_Account_Number__c}"/>     
            <apex:outputField value="{!LeadRec.Comment__c}"/>             
            <apex:outputField value="{!LeadRec.Call_Back__c}"/>          
        </apex:pageBlocksection>
        <apex:pageBlocksection title="Field Force">
            <apex:outputField value="{!LeadRec.How_likely_is_DM_to_subscribe_c__c}"/>
             <apex:outputField value="{!LeadRec.Prospect_Type__c}"/>  
            <apex:outputField value="{!LeadRec.How_They_Classify_Venue__c}"/>
            <apex:outputField value="{!LeadRec.Territory__c}"/> 
            <apex:outputField value="{!LeadRec.BTSport_Genesis_how_many_tvs__c}"/>         
             <apex:outputField value="{!LeadRec.BT_Sport_Price_Sent__c}"/>                 
        </apex:pageBlocksection>
        <apex:pageBlocksection title="Marketing Campaign Information">
            <apex:outputField value="{!LeadRec.RV_Description__c}"/>
            <apex:outputField value="{!LeadRec.BTSport_Genesis_Rateable_Value__c}"/> 
            <apex:outputField value="{!LeadRec.Premises_Category__c}"/>             
            <apex:outputField value="{!LeadRec.Price__c}"/>    
            <apex:outputField value="{!LeadRec.Banding__c}"/>                        
        </apex:pageBlocksection>
    </apex:pageBlock>
</apex:form>
   
        
            
       

</apex:page>