<apex:page standardController="BT_Sport_Site__c" extensions="BTSportSiteAddressSearch">    
<apex:form >
<apex:sectionHeader Title="Address Search"/>
<apex:pageBlock >
<apex:pageMessages />
        <head>
            <style type="text/css"> 
                h3{color:blue; font-size:15px; padding-left:2px; padding-right:2px} 
            </style>
        </head>
       
</apex:pageBlock>
<apex:pageBlock >
<apex:outputLabel style="font-size:10pt; font-weight:bolder" value="If your address is not in the table below, please 'Create Address’."/><br/><br/>                  
        <apex:dataTable value="{!pullAddr}" width="100%" var="a" cellpadding="4" border="1">
            <apex:column >
                <apex:facet name="header">Select</apex:facet>
                <apex:actionRegion id="areg">
                <apex:inputCheckbox value="{!a.selected}" id="checkedone">
                <apex:actionSupport event="onclick" action="{!GetSelected}" rerender="Selected_PBS" />
                </apex:inputCheckbox>
                </apex:actionRegion>
                <apex:actionStatus for="areg" id="cbStatus">
                 <apex:facet name="start">
                    <apex:image value="/img/loading.gif" />
                 </apex:facet>
                 </apex:actionStatus>
            </apex:column>
                <apex:column value="{!a.acc.Name}" >
                    <apex:facet name="header">Name</apex:facet>
                </apex:column>
                <apex:column value="{!a.acc.SubBuilding}" >
                    <apex:facet name="header">SubBuilding</apex:facet>
                </apex:column>
                <apex:column value="{!a.acc.BuildingNumber}">
                    <apex:facet name="header">Number</apex:facet>
                </apex:column>
                <apex:column value="{!a.acc.Street}">
                    <apex:facet name="header">Street</apex:facet>
                </apex:column>
                <apex:column value="{!a.acc.Town}">
                    <apex:facet name="header">Town</apex:facet>
                </apex:column>
                <apex:column value="{!a.acc.County}">
                    <apex:facet name="header">County</apex:facet>
                </apex:column>
            </apex:dataTable>  
</apex:pageBlock>
</apex:form>
<script>          
    var selectedChkbox;
        
    function deselectOther(chkBox) {
        if (chkBox.checked) {
                if ((chkBox != selectedChkbox) && (selectedChkbox != null)) {
                    selectedChkbox.checked = false;
                }
            selectedChkbox = chkBox;
        }            
    }        
</script>
</apex:page>