<apex:page showHeader="false" sidebar="false" standardController="CSAT_Contact_Feedback__c" extensions="GetClosingtheLoopController" >
<table border="5" bordercolor="GREEN">
     <tr>
         <th colspan="10">Key Driver</th><th colspan="10">Project Name</th><apex:outputText rendered="{!$User.UITheme == 'Theme4t'}"><th colspan="10">Project Overview</th></apex:outputText><th colspan="10">Launch Timescales</th><th colspan="10">Key Contact</th><th colspan="10">Link</th>
     </tr>
     <apex:repeat value="{!clilist }" var="c">
     <tr>
      <td colspan="10"> {!c.Name}</td><td colspan="10">
    <a href="" title="{!c.Overview_Of_Project__c}" style="text-decoration: bold; border-bottom: 1px solid #001cff; color: #001cff;"><b>{!c.Project_Name__c}</b></a>
  
</td>
<apex:outputText rendered="{!$User.UITheme == 'Theme4t'}"><td colspan="10">{!c.Overview_Of_Project__c}</td></apex:outputText>
<td colspan="10">{!c.Launch_Timescales__c}</td>
<td colspan="10">{!c.Key_Contact__c}</td>
<td colspan="10"><apex:outputLink value="{!c.Link__c}" target="_blank" style="text-decoration: bold; border-bottom: 1px solid #001cff; color: #001cff;">{!c.Link__c}</apex:outputLink></td>
     </tr>  
     </apex:repeat>

</table>
</apex:page>