<apex:page standardController="Cloud_Voice_Site__c" extensions="CloudVoiceConfigCTRL" showHeader="false" sidebar="false" standardStylesheets="true" title="BT Cloud Voice Customer Configuration">
<c:CloudVoiceCommon />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-1.9.1.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-ui.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery.ui.touch-punch.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.jQuery, 'css/jquery-ui.css')}"  />

<apex:pageMessages />
<apex:form >
<apex:outputPanel rendered="{!IF($CurrentPage.parameters.Id='',True,False)}">
No or invalid reference. Please review email.
</apex:outputPanel>

<apex:outputPanel rendered="{!IF($CurrentPage.parameters.Id<>'',True,False)}">
<table>
<tr>
<td valign="top">
<h1>Customer Configuration</h1>
<h3>Reference: {!Cloud_Voice_Site__c.CV__r.Name}</h3>
<h4>Site Name: {!Cloud_Voice_Site__c.Site_name__c}</h4>
</td>
<td width="50">&nbsp;</td>
<td valign="bottom">
<h3>Load Users</h3>
Load csv file of users: <apex:inputFile id="file_File" value="{!fileBody}" size="55"/>
<apex:commandButton action="{!uploadUsers}" value="Add Users" /> <br/>
This will overwrite any existing configuration
</td>
</tr>
</table>
<br/><br/>
<table width="100%" id="config">
<tr>
<td width="1%">&nbsp;</td>
<td valign="top" width="32%" class="sU">User<br/>
    <div id="selUsers" style="width:100%;padding:0;margin:0;">
        <ul class="sList">
        	<apex:variable value="{!1}" var="count"/>
        	<apex:repeat value="{!configUsers}" var="u">
            <li class="sItem" id="{!u}"><apex:image value="{!URLFOR($Resource.CloudVoice, 'images/bgclear.png')}" height="40" width="1" style="vertical-align:middle"/>{!u}</li>
            <apex:variable value="{!count+1}" var="count"/>
            </apex:repeat>
        </ul>
    </div>
</td>
<td valign="top" width="1%">&nbsp;</td>
<td valign="top" width="32%" class="sP">Phone<br/>
    <div id="selPhones" style="width:100%;padding:0;margin:0;">
        <ul class="sList">
        <apex:repeat value="{!configPhones}" var="p">
            <li class="sItem" id="{!p}">
            <apex:variable var="imageVar" value="{!LEFT(p,FIND('~',p)-1)}"/>
            <apex:image value="{!URLFOR($Resource.CloudVoice, 'products/'+imageVar+'.png')}" height="40" style="vertical-align:middle"/>
            <span>{!RIGHT(p,LEN(p)-17-FIND('~',p))}</span>
            </li>
        </apex:repeat>
        </ul>
    </div>    
</td>
<td valign="top" width="1%">&nbsp;</td>
<td valign="top" width="32%" class="sN">Number<br/>
    <div id="selNumbers" style="width:100%;padding:0;margin:0;">
        <ul class="sList">
        	<apex:repeat value="{!configNumbers}" var="n">
            <li class="sItem" id="{!n}"><apex:image value="{!URLFOR($Resource.CloudVoice, 'images/bgclear.png')}" height="40" width="1" style="vertical-align:middle"/>{!n}</li>
            </apex:repeat>
        </ul>
    </div>
</td>

<td width="1%">&nbsp;</td>
</tr>
</table>
<!--<p align="center"><input type="submit" class="input-button" id="btn-get" value="Save Cloud Voice Configuration" style="padding:10px;margin-top:10px;"/></p>-->
<apex:inputHidden value="{!zUser}" id="zUser"/>
<apex:inputHidden value="{!zNumber}" id="zNumber"/>
<apex:inputHidden value="{!zPhone}" id="zPhone"/>
<p align="center"><apex:commandButton action="{!saveConfig}" value="Save Cloud Voice Configuration" onClick="javascript: go();" style="padding:10px;margin-top:10px;"/></p>

<script type="text/javascript">
$(document).ready(function(){
    $('#selNumbers .sList').sortable();
    $('#selUsers .sList').sortable();   
    $('#selPhones .sList').sortable();   
});

    function getItems(exampleNr)
    {
        var columns = [];

        $(exampleNr + ' ul.sList').each(function(){
            columns.push($(this).sortable('toArray').join(','));                
        });

        return columns.join('|');
    }

    function go(){
        //alert( + '\n' + getItems('#selPhone') + '\n' + getItems('#selNumbers2'));
        document.getElementById('{!$Component.zUser}').value = getItems('#selUsers');
        document.getElementById('{!$Component.zNumber}').value = getItems('#selNumbers');
        document.getElementById('{!$Component.zPhone}').value = getItems('#selPhones');

    };
</script>

</apex:outputPanel>
</apex:form>
</apex:page>