<apex:page standardController="Cloud_Voice_Site__c" extensions="CloudVoiceSiteCTRL" title="BT Cloud Voice in Salesforce.com" >    
<!-- add style sheet-->
<c:CloudVoiceCommon />  
<script type="text/javascript">
    function toggle_visibility(id) {  
       var e = document.getElementById(id);
    <apex:repeat value="{!AllCPE}" var="p">
        if(e != {!p.Id})
            {!p.Id}.style.display = 'none';
        
    </apex:repeat>     
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>
   
 
<br/>
<span style="font-face: 'Helvetica'; font-size: 21px">CPE Requirements Capture</span><br/>
<span style="font-face: 'Helvetica'; font-size: 17px">{!Cloud_Voice_Site__c.CV__r.Customer__c} - {!Cloud_Voice_Site__c.Site_name__c}</span><br/>
<br/>
<!--
<apex:include pageName="CloudVoiceJourney"/>
-->
<br/>&nbsp;<br/>
<apex:pageBlock >
<apex:pageMessages />  
<apex:form >
<div style="border-bottom: 1px ridge #cccccc;padding-bottom:10px;text-align:right;margin-bottom:15px;">
<apex:commandButton action="{!goPrevious}" value="<< Choose Devices"/> &nbsp; <apex:commandButton action="{!addDetails}" value=">> Finish <<"/>
</div>   
    <h1>IP Phones and peripheral devices</h1>
    Installation &amp; delivery options apply only to&nbsp;<apex:outputText value="{!Cloud_Voice_Site__c.Site_address__c}"/><br/>
    
    <table cellspacing="10" width="70%"> 
    <tr><td colspan="3"><h2>Installation</h2> Total IP Phones: {!Cloud_Voice_Site__c.zPhysicalPhones__c} </td></tr>
    <apex:repeat value="{!AllCPESetup}" var="p">
    <apex:outputPanel rendered="{!if(((Cloud_Voice_Site__c.zPhysicalPhones__c) >= p.Start__c && (Cloud_Voice_Site__c.zPhysicalPhones__c) <= p.End__c) || (Cloud_Voice_Site__c.zPhysicalPhones__c) >= p.Start__c ,True, False)}">
        <tr valign="top" >
        <apex:variable var="imageVar" value="{!p.ShopLink__c}"/>
        <td>
        <apex:commandLink action="{!addProd}" style="vertical-align: top; padding:3px;">
            <apex:image value="{!URLFOR($Resource.CloudVoice, 'images/add.png')}"/>
            <apex:param name="selectedProducts" value="{!p.Id}" assignTo="{!selectedProducts}"/>
                <apex:param name="Qty" assignTo="{!Qty}" value="1"/> 
        </apex:commandLink>
        </td>
        <td>
        <b>{!p.Product_Name__c}</b>
        <apex:outputPanel rendered="{!if(p.Description__c = Null,False,True)}"><br/><apex:outputField value="{!p.Description__c}"/></apex:outputPanel>
        <apex:outputPanel rendered="{!if(p.Required_Product__r.Name = Null,False,True)}" style="color: red;"><br/><b>{!p.Required_Product__r.Name}</b> will be added to the basket if not already in there.</apex:outputPanel>
        </td>
        <td valign="top"><apex:outputField value="{!p.Connection_Charge__c}"/></td>           
        </tr>
    </apex:outputPanel>    
    </apex:repeat>
    
    <tr><td colspan="3"><h2>Delivery</h2></td></tr>
    <apex:repeat value="{!AllCPEDel}" var="p">
    <apex:outputPanel rendered="{!if((Cloud_Voice_Site__c.zPhysicalPhones__c) >= p.Start__c && (Cloud_Voice_Site__c.zPhysicalPhones__c) <= p.End__c,True, False)}">
        <tr valign="top" >
        <apex:variable var="imageVar" value="{!p.ShopLink__c}"/>
        <td>
        <apex:commandLink action="{!addProd}" style="vertical-align: top; padding:3px;">
            <apex:image value="{!URLFOR($Resource.CloudVoice, 'images/add.png')}"/>
            <apex:param name="selectedProducts" value="{!p.Id}" assignTo="{!selectedProducts}"/>
                <apex:param name="Qty" assignTo="{!Qty}" value="1"/> 
                <apex:param name="CPEmax" assignTo="{!CPEmax}" value="{!FLOOR(p.End__c)}"/> 
        </apex:commandLink> 
        </td>
        <td>
        <b>{!p.Product_Name__c}</b>
        <apex:outputPanel rendered="{!if(p.Description__c = Null,False,True)}"><br/><apex:outputField value="{!p.Description__c}"/></apex:outputPanel>
        <apex:outputPanel rendered="{!if(p.Required_Product__r.Name = Null,False,True)}" style="color: red;"><br/><b>{!p.Required_Product__r.Name}</b> will be added to the basket if not already in there.</apex:outputPanel>
        </td>
        <td valign="top"><apex:outputField value="{!p.Connection_Charge__c}"/></td>           
        </tr>
    </apex:outputPanel>    
    </apex:repeat>
    <tr><td><apex:inputField value="{!Cloud_Voice_Site__c.CPE_Multiple_Delivery_Addresses__c}"/></td><td>Tick if the customer requires delivery to multiple addresses. Additional charges will apply.</td></tr>
    </table>   
    <br/>

    <hr/>
    <apex:dataTable value="{!SelectedCPE}" var="Prod" width="75%">
     <apex:column style="width:67px;" headerValue="Action" headerClass="headerRow" styleClass="normalRow">
         <apex:outputLink target="_top" value="{!URLFOR($Action.Cloud_Voice_Site_Product__c.Delete,Prod.id,[retURL=URLFOR('/apex/CloudVoiceCPEInstall?Id='+Cloud_Voice_Site__c.Id+'&mod=CPE1')])}" onclick="return window.confirm('Are you sure?');" style="color:#015ba7;" rendered="{!IF(Prod.Locked_Delete__c = True, False,True)}">Del</apex:outputLink>        
     </apex:column>
     <apex:column value="{!Prod.Product_Name__c}" headerValue="Type" headerClass="headerRow" styleClass="normalRow"/>
     <apex:column value="{!Prod.Purchasing_Option__c}" headerValue="Purchasing" headerClass="headerRow" styleClass="normalRow"/>
     <apex:column value="{!Prod.Quantity__c}" headerValue="Quantity" headerClass="headerRow" styleClass="normalRow, number"/>
     <apex:column value="{!Prod.Connection_Charge__c}" headerValue="Unit Cost" headerClass="headerRow" styleClass="normalRow, money"/>
     <apex:column headerValue="Total Cost" headerClass="headerRow" styleClass="normalRow, money" >
         <apex:outputField value="{!Prod.Total_One_Off_Cost__c}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </apex:column>  
   </apex:dataTable> 
   <br/>
   <span style="font-size:15px;">Total:&nbsp;<apex:outputField value="{!Cloud_Voice_Site__c.Total_CPE_OneoffCost__c}" /></span>
      
<div style="border-top: 1px ridge #cccccc;padding-top:10px;text-align:right;margin-top:15px;">
<apex:commandButton action="{!goPrevious}" value="<< Choose Devices"/> &nbsp; <apex:commandButton action="{!addDetails}" value=">> Finish <<"/>
</div>
</apex:form>
</apex:pageBlock>
<br/>
<span style="font-face: 'Helvetica'; font-size: 15px;color:red;">Do not refresh this page or use the browser back and forward buttons</span><br/>
<apex:outputText rendered="{!IF($Profile.Name='System Administrator',True,False)}">
<span style="font-face: 'Helvetica'; font-size: 15px;">DEV: <a href="/{!Cloud_Voice_Site__c.Id}">Return to site</a></span><br/>
</apex:outputText>
<br/>
</apex:page>