<apex:page standardController="Cloud_Voice_Site__c" extensions="CloudVoiceLineCheckCTRL" standardStylesheets="false" title="Salesforce Cloud Voice" action="{!lineResults}">
<!-- add style sheet-->
<c:CloudVoiceCommon />     

<script type="text/javascript">
    function showTxt(id) {  
       var e = document.getElementById(id);
          e.style.display = 'block';
    }
    function hideTxt(id) {  
       var e = document.getElementById(id);
          e.style.display = 'none';
    }    
</script>

<apex:variable var="access" value="{!Cloud_Voice_Site__c.zAccess__c}" />
<apex:variable var="licenses" value="{!Cloud_Voice_Site__c.zLicenses__c}" />
<apex:variable var="cpe" value="{!Cloud_Voice_Site__c.zCPE__c}" />
<apex:variable var="lan" value="{!Cloud_Voice_Site__c.zLAN__c}" />
<apex:variable var="cabling" value="{!Cloud_Voice_Site__c.zCabling__c}" />
<apex:variable var="numbers" value="{!Cloud_Voice_Site__c.zNumbers__c}" />
<apex:variable var="other" value="{!Cloud_Voice_Site__c.zOther__c}" />
<apex:variable var="stop" value="{!Cloud_Voice_Site__c.zComplete__c}" />
<!--
<span class="h1">Cloud Voice Sales Journey</span><apex:outputLink value="/apex/CloudVoiceFlowNetwork?Id={!Cloud_Voice_Site__c.Id}&varID={!Cloud_Voice_Site__c.Id}" target="_top">ACCESS TEST</apex:outputLink>
-->
<apex:outputText rendered="{!IF(Cloud_Voice_Site__c.RecordType.DeveloperName='Cloud_Voice_Modify',True,False)}">
  <apex:variable var="access" value="warning" rendered="{!IF(Cloud_Voice_Site__c.zAccess__c='problem',True,False)}" />
  <apex:variable var="licenses" value="warning" rendered="{!IF(Cloud_Voice_Site__c.zLicenses__c='problem',True,False)}" />
  <apex:variable var="cpe" value="warning" rendered="{!IF(Cloud_Voice_Site__c.zCPE__c='problem',True,False)}" />
  <apex:variable var="lan" value="warning" rendered="{!IF(Cloud_Voice_Site__c.zLAN__c='problem',True,False)}" />
  <apex:variable var="cabling" value="warning" rendered="{!IF(Cloud_Voice_Site__c.zCabling__c='problem',True,False)}" />
  <apex:variable var="numbers" value="warning" rendered="{!IF(Cloud_Voice_Site__c.zNumbers__c='problem',True,False)}" />
  <apex:variable var="other" value="warning" rendered="{!IF(Cloud_Voice_Site__c.zOther__c='problem',True,False)}" />
  <apex:variable var="stop" value="warning" rendered="{!IF(Cloud_Voice_Site__c.zComplete__c='problem',True,False)}" />
</apex:outputText>
<br/>
<table cellspacing="0" cellpadding="0">
<tr>
<td id="{!access}" width="17">
</td>
<td id="{!access}" onMouseOver="showTxt('access');" onMouseOut="hideTxt('access');">
    <apex:outputLink value="/apex/CloudVoiceAccess?Id={!Cloud_Voice_Site__c.Id}&mod=acc" target="_top">
    <div class="image">
      <apex:image alt="" value="{!URLFOR($Resource.CloudVoice, 'images/bg'+access+'.png')}" />
      <div class="text"><p>Access</p></div>
    </div>
    </apex:outputLink>
</td>
<td id="{!licenses}">
<apex:image value="{!URLFOR($Resource.CloudVoice, 'images/bg'+access+'join.png')}" />
</td>

<td id="{!licenses}" onMouseOver="showTxt('licenses');" onMouseOut="hideTxt('licenses');">
    <apex:outputLink value="/apex/CloudVoiceCVSite?Id={!Cloud_Voice_Site__c.Id}&mod=CVA" target="_top">
    <div class="image">
      <apex:image alt="" value="{!URLFOR($Resource.CloudVoice, 'images/bg'+licenses+'.png')}" />
      <div class="text"><p>Licences</p></div>
    </div>
    </apex:outputLink>
</td>
<td id="{!cpe}">
<apex:image value="{!URLFOR($Resource.CloudVoice, 'images/bg'+licenses+'join.png')}" />
</td>

<td id="{!cpe}" onMouseOver="showTxt('cpe');" onMouseOut="hideTxt('cpe');">
    <apex:outputLink value="/apex/CloudVoiceCPE?Id={!Cloud_Voice_Site__c.Id}&mod=CPE" target="_top">
    <div class="image">
      <apex:image alt="" value="{!URLFOR($Resource.CloudVoice, 'images/bg'+cpe+'.png')}" />  
      <div class="text"><p>CPE</p></div>
    </div>
    </apex:outputLink>
</td>
<td id="{!lan}">
<apex:image value="{!URLFOR($Resource.CloudVoice, 'images/bg'+cpe+'join.png')}" />
</td>

<td id="{!lan}" onMouseOver="showTxt('lan');" onMouseOut="hideTxt('lan');">
    <apex:outputLink value="/apex/CloudVoiceLAN?Id={!Cloud_Voice_Site__c.Id}" target="_top">
    <div class="image">
      <apex:image alt="" value="{!URLFOR($Resource.CloudVoice, 'images/bg'+lan+'.png')}" />
      <div class="text"><p>LAN</p></div>
    </div>
    </apex:outputLink>
</td>
<td id="{!cabling}">
<apex:image value="{!URLFOR($Resource.CloudVoice, 'images/bg'+lan+'join.png')}" />
</td>

<td id="{!cabling}" onMouseOver="showTxt('cabling');" onMouseOut="hideTxt('cabling');">
    <apex:outputLink value="/apex/CloudVoiceSC?Id={!Cloud_Voice_Site__c.Id}&mod=SC" target="_top" rendered="{!if(Cloud_Voice_Site__c.SC_Quote__c= '',True,False)}">
    <div class="image">
      <apex:image alt="" value="{!URLFOR($Resource.CloudVoice, 'images/bg'+cabling+'.png')}" />
      <div class="text"><p>Cabling</p></div>
    </div>
    </apex:outputLink>
    <apex:outputLink value="/apex/CloudVoiceSChelp?Id={!Cloud_Voice_Site__c.Id}&mod=SCH" target="_top" rendered="{!if(Cloud_Voice_Site__c.SC_Quote__c <> '',True,False)}">
    <div class="image">
      <apex:image alt="" value="{!URLFOR($Resource.CloudVoice, 'images/bg'+cabling+'.png')}" />
      <div class="text"><p>Cabling</p></div>
    </div>
    </apex:outputLink>
</td>
<td id="{!numbers}">
<apex:image value="{!URLFOR($Resource.CloudVoice, 'images/bg'+cabling+'join.png')}" />
</td>

<td id="{!numbers}" onMouseOver="showTxt('numbers');" onMouseOut="hideTxt('numbers');">
    <apex:outputLink value="/apex/CloudVoiceLine?Id={!Cloud_Voice_Site__c.Id}&mod=Line" target="_top">
    <div class="image">
      <apex:image alt="" value="{!URLFOR($Resource.CloudVoice, 'images/bg'+numbers+'.png')}" />
      <div class="text"><p>Numbers</p></div>
    </div>
    </apex:outputLink>
</td>
<td>
<apex:image value="{!URLFOR($Resource.CloudVoice, 'images/bg'+numbers+'join.png')}" />
</td>
<td>
   <apex:image value="/img/msg_icons/confirm32.png" style="margin-left:10px;" rendered="{!if(Cloud_Voice_Site__c.zComplete__c = 'complete',True, False)}" onMouseOver="showTxt('other');" onMouseOut="hideTxt('other');"/>
   <apex:image value="/img/msg_icons/warning32.png" style="margin-left:10px;" rendered="{!if(Cloud_Voice_Site__c.zComplete__c = 'warning',True, False)}" onMouseOver="showTxt('other');" onMouseOut="hideTxt('other');"/>
   <apex:image value="/img/msg_icons/error32.png" style="margin-left:10px;" rendered="{!if(Cloud_Voice_Site__c.zComplete__c = 'problem',True, False)}" onMouseOver="showTxt('other');" onMouseOut="hideTxt('other');"/>
    <!--
    <div class="image">
      <apex:image alt="" value="{!URLFOR($Resource.CloudVoice, 'images/bgclear.png')}" height="31" width="108" />
      <div class="text" style="color:#2f9531;"><p>Configured</p></div>
    </div>
    -->
</td>
</tr>
<tr><td colspan="14">
<span id="access" style="display: none;"><apex:outputField value="{!Cloud_Voice_Site__c.zAccessCheck__c}" rendered="{!IF(access='notstarted',False,True)}"/></span>
<span id="licenses" style="display: none;"><apex:outputField value="{!Cloud_Voice_Site__c.zLicensesCheck__c}" rendered="{!IF(licenses='notstarted',False,True)}"/></span>
<span id="cpe" style="display: none;"><apex:outputField value="{!Cloud_Voice_Site__c.zCPECheck__c}" rendered="{!IF(cpe='notstarted',False,True)}"/></span>
<span id="lan" style="display: none;"><apex:outputField value="{!Cloud_Voice_Site__c.zLANCheck__c}" rendered="{!IF(lan='notstarted',False,True)}"/></span>
<span id="cabling" style="display: none;"><apex:outputField value="{!Cloud_Voice_Site__c.zCablingCheck__c}" rendered="{!IF(cabling='notstarted',False,True)}"/></span>
<span id="numbers" style="display: none;"><apex:outputField value="{!Cloud_Voice_Site__c.zNumbersCheck__c}" rendered="{!IF(numbers='notstarted',False,True)}"/></span>
<span id="other" style="display: none;"><apex:outputField value="{!Cloud_Voice_Site__c.zOtherCheck__c}" rendered="{!IF(other='notstarted',False,True)}"/></span>
</td></tr>
</table>

</apex:page>