<apex:page standardController="Contract_Change__c" tabStyle="Contract_Change__c">
    <apex:pageBlock title="Notes & Attachments">
        <apex:pageBlockTable value="{!Contract_Change__c.NotesAndAttachments}" var="notesattachments">
        
            <apex:column HeaderValue="Action" width="20%">
                <apex:outputLink value="/{!LEFT(notesattachments.id,15)}?retURL={!Contract_Change__c.Id}" 
                    rendered="{!notesattachments.isNote}" target="_blank">View (New Window)</apex:outputLink>
                    
                <apex:outputLink value="/servlet/servlet.FileDownload?file={!LEFT(notesattachments.id,15)}" 
                    rendered="{!IF(NOT notesattachments.isNote,TRUE,FALSE)}" target="_blank">View (New Window)</apex:outputLink>
            </apex:column>
            
            <apex:column HeaderValue="Type">
                {!IF(notesattachments.isNote=TRUE,'Note','Attachment')}
            </apex:column>
            
            <apex:column value="{!notesattachments.title}" width="20%"/>
            
            <apex:column value="{!notesattachments.lastmodifieddate}" width="20%"/>
            
            <apex:column value="{!notesattachments.createdbyid}" width="20%"/>
            
        </apex:pageBlockTable>                    
    </apex:pageBlock>
</apex:page>