<apex:page showHeader="false" sidebar="false" standardController="Coverage_Check__c" extensions="CoverageCommercialSitesListController">
<apex:form >
     <apex:pageblock id="CustomList">
        <apex:pageBlockButtons location="top">                
                <apex:commandLink action="{!doNew}"  target="_top" value="New Coverage Check Site" styleClass="btn" style="text-decoration:none;padding:4px;" onclick="window.location.reload()"/>
            </apex:pageBlockButtons>        
        <apex:pageBlockTable value="{!coverageCommercialSites}" var="sites" width="100%" rendered="{!NOT(ISNULL(coverageCommercialSites))}" >
        <apex:column headerValue="Name"><apex:outputlink value="{!LEFT($Api.Partner_Server_URL_140,FIND('.com',$Api.Partner_Server_URL_140)+4)+sites.id}" target="_top" >{!LEFT(sites.Name,30)}</apex:outputlink>
        </apex:column>
        <apex:column headerValue="Post Code" value="{!sites.Post_Code__c}" /> 
        <apex:column headerValue="Status" value="{!sites.Status__c}" />
        <apex:column headerValue="Coverage 2G" value="{!sites.Coverage_2G_Description__c}" />
        <apex:column headerValue="Coverage 3G" value="{!sites.Coverage_3G_Description__c}" /> 
        <apex:column headerValue="Coverage 4G" value="{!sites.Coverage_4G_Description__c}" />
        <apex:column headerValue="Number of Handsets at this location" value="{!sites.Number_of_Handsets_at_this_location__c}" />
         <apex:column headerValue="Commercial?" value="{!sites.Commercial__c}" />
         <apex:column headerValue="CER Required" value="{!sites.CER_Required__c}" />            
     </apex:pageBlockTable>
          
  <apex:outputText value="No Commercial sites" rendered="{!(ISNULL(coverageCommercialSites))}" />
  
 </apex:pageBlock>
 </apex:form> 

</apex:page>