<apex:page standardController="Contract" extensions="createBulkTasksContract" action="{!createContractTasks}">
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Tasks Created.  Click </h1>
 
</apex:page>