<apex:page controller="CS_CloudVoice_LineCheckCtrl" showheader="false" sidebar="false" standardstylesheets="true" title="Cloud Voice CPQ Line Check" id="page">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
     <!-- CloudSense - jQuery and cs_messaging resources -->
    <apex:includescript value="{!$Resource.cscfga__jQuery_min}" />
    <apex:includescript value="{!$Resource.cscfga__cs_messaging}" />
    <apex:slds />
        <style>
            .CS_Container {
                background-color: #fafaf9 !important;
                padding-right: 0rem !important;
                padding-left: 0rem !important;
                margin-left: 2rem !important;
                margin-right: 2rem !important;
                padding: 1.5rem !important;
                margin-bottom: 2rem !important;
                margin-top: 2rem !important;
                width: 0px;
            }
            .slds-box {
                border: 3px solid #0070d2;
            }

            tr.spaceUnder > td {
                padding-bottom: 1.5em;
            }

            .button {
                display: inline;
                background: #1B5297;
                align-items: center;
                padding: 0 0.5rem;
                border-radius: 0.75rem;
                height: 1.5rem;
                text-transform: uppercase;
                border: 1px solid #0070d2;
            }

            .hcForm table.lineResultsTableSummary {
                border-collapse: collapse;
                vertical-align: middle;
                width: 220px;
                margin: 0;
                padding: 0;
            }

            .hcForm table.lineResultsTableSummary tr {
                border-bottom: 1px solid #CCCCCC;
            }

            .hcForm table.lineResultsTableSummary th {
                font-size: 13px;
                background: #fafaf9;
                margin: 0;
                padding: 4px 4px;
                text-align: left;
                color: #4A4A56;
            }

            .hcForm table.lineResultsTableSummary td {
                font-size: 15px;
                background: #fafaf9;
                margin: 0;
                padding: 3px 8px 0px 0px;
                text-align: right;
                font-weight: bold;
                color: #4A4A56;
            }

            .hcForm table.lineResultsTableSummary tr.plain {
                border-bottom: 1px solid #f3f2f2;
            }

            .hcForm table.lineResultsTableSummary th.Sml {
                padding: 0px;
            }

            .hcForm table.lineResultsTableSummary td.Sml {
                padding: 0 8px 0 0;
            }
        </style>
    <apex:form styleclass="hcForm" id="hcForm">
        <apex:actionfunction name="loadData" action="{!lineResults}" oncomplete="onLoadActions();" status="sts" rerender="hcForm" />
            <fieldset class="CS_Container slds-box slds-theme--default" style="border: 2px solid #1B5297;">
                <table class="hcInputTable" style="width:640px">
                    <!-- Input Fields-->
                    <tr class="spaceUnder">
                        <td><b style="font-size: 13px; color: #0070d2;">Telephone</b></td>
                        <td colspan="3">
                            <apex:inputtext styleclass="slds-input ng-untouched ng-pristine ng-valid" id="acLineCheckNumber" value="{!acLineCheckNumber}" size="12" style="width:200px" maxlength="11" onblur="checkTel(this);" />
                            <input type="button" value="Check" class="button" style="color: white; margin-left: 10px; background: #1B5297;" onclick="dslCheckTelNum();" />
                        </td>
                    </tr>
                    <tr>
                        <td><b style="font-size: 13px; color: #0070d2;">Address</b></td>
                        <td colspan="3">
                            Name/Num:&nbsp;<apex:inputtext styleclass="slds-input ng-untouched ng-pristine ng-valid" id="aclinechecknamenum" value="{!acLineCheckNameNum}" style="width:200px" />&nbsp;&nbsp;&nbsp;
                            Post Code:&nbsp;<apex:inputtext styleclass="slds-input ng-untouched ng-pristine ng-valid" id="acLineCheckPostCode" value="{!acLineCheckPostCode}" maxlength="8" style="width:100px" />
                            <input type="button" class="button" style="color: white; margin-left: 10px; background: #1B5297;" value="Check" onclick="dslCheckPostCode();" />
                        </td>
                    </tr>
                    <!-- Line Results -->
                    <apex:outputtext rendered="{!showResults}">
                        <tr>
                            <td colspan="4" align="center">
                                <h2 class="slds-page-header__title slds-truncate" style="margin-top: 20px; margin-bottom: 5px;"><b>Results</b></h2>
                                <div id="lineResults" />
                            </td>
                        </tr>
                    </apex:outputtext>
                    <!-- Address Select -->
                    <apex:outputtext rendered="{!showAddresses}">
                        <tr>
                            <td colspan="4" align="center">
                                <h2 class="slds-page-header__title slds-truncate" style="margin-top: 20px; margin-bottom: 5px;"><b>Address Select</b></h2>
                                <img src="/img/msg_icons/warning16.png" alt="Warning" />&nbsp;&nbsp;More than one address match the criteria entered, please select the full address from the list below.<br /><br />
                                <apex:selectlist styleclass="slds-input slds-combobox__input" style="width:400px" value="{!multiAddress}" id="multiAddress" multiselect="false" size="1">
                                    <apex:selectoptions value="{!selOptions}" />
                                </apex:selectlist>&nbsp;&nbsp;
                                <input type="button" value="Select" class="button" style="color: white; margin-left: 10px; background: #1B5297;" onclick="selPostCode();" />
                                <script>
                                function selPostCode(){
                                    window.location.href = "/apex/CS_CloudVoice_LineCheck?full="+document.getElementById('{!$Component.multiAddress}').value+'&checkType=full&configGuid='+configGuid;
                                }
                                </script>
                            </td>
                        </tr>
                    </apex:outputtext>
                    <tr>
                        <td align="center">
                            <!-- SPINNER -->
                            <apex:actionstatus id="sts">
                                <apex:facet name="start">
                                    <apex:image id="theImage" value="/img/loading32.gif" />
                                </apex:facet>
                            </apex:actionstatus>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div class="slds-modal__footer">
                <div class="CS_footerButtons slds-button-group" role="group">
                    <apex:commandbutton styleclass="slds-button slds-button_brand" value="Save" onclick="closeIframeModalandUpdateLineChecker('{!configGuid}');return false;" id="button_save_return" />
                </div>
            </div>
        <script>
            var winOrigin = parent;
            // set configurator window as target for messaging API
            CSMSG.setConfiguratorWindow(winOrigin);

            var j$ = jQuery.noConflict();
            var xml ="{!resultsXML}";
            var configGuid = "{!configGuid}";
            var strResults;
            var broadbandStatus;
            var fibreStatus;
            var queryString = location.search;
            var addressId = queryString.includes("addressId");

            function dslCheckTelNum(){
                lineNo = document.getElementById('{!$Component.acLineCheckNumber}').value;
                window.location.href = "/apex/CS_CloudVoice_LineCheck?line="+lineNo+'&checkType=tel&configGuid='+configGuid;
            }

            function dslCheckPostCode(){
                pc = document.getElementById('{!$Component.acLineCheckPostCode}').value;
                namenum = document.getElementById('{!$Component.acLineCheckNameNum}').value;
                pc = pc.replace(' ','');
                window.location.href = "/apex/CS_CloudVoice_LineCheck?pc="+pc+"&namenum="+namenum+'&checkType=pc&configGuid='+configGuid;
            }

            /*
            ticked          &#9745;     \u2611
            unticked        &#9744;     \u2610
            crossed out     &#9746;     \u2612
            */

            function updateLineCheck(){
                errText = readXML2(xml, 'errText');
                if(errText == 'null' && readXML2(xml, 'linecheckRun') != ''){
                    strResults = '<table class="lineResultsTableSummary" id="result2">';
                    strResults += checkResults('MAX');
                    strResults += checkResults('ADSL2');
                    strResults += checkResults('WBC');
                    strResults += checkResults('FTTC');
                    strResults += checkResults('FTTP');
                    strResults += checkResults('FOD');
                }else{
                    strResults = '<table><tr><td style="color:red;text-align:left;font-size:12px;font-weight:normal;padding:5px;"><img src="/img/msg_icons/error16.png" alt="Warning" />&nbsp;&nbsp;'+errText+'</td></tr>';
                }
                strResults += '</table>' ;
                document.getElementById('lineResults').innerHTML = strResults;
            }

            function accessTypeAvailable(){
                broadbandStatus = 'Unavailable';
                fibreStatus = 'Unavailable';
                if(readXML2(xml, 'MAX') == 'Available' || readXML2(xml, 'ADSL2') == 'Available' || readXML2(xml, 'WBC') == 'Available'){
                    broadbandStatus = 'Available';
                }
                if(readXML2(xml, 'FTTC') == 'Available' || readXML2(xml, 'FTTP') == 'Available' || readXML2(xml, 'FOD') == 'Available'){
                    fibreStatus = 'Available';
                }
            }

            function checkResults(val){
                upSpeed = readXML2(xml, val);
                result = '';
                if(upSpeed == 'Available'){
                    result = '<span style="color:green;">&#x2714;</span>';
                }else if(upSpeed == 'Unavailable'){
                    result = '<span style="color:red;">&#x2718;</span>';
                }else{
                    result = '<span style="color:green;font-weight:bold;">'+(upSpeed/1024).toFixed(1)+'&#x25B2;</span>';
                }
                dlSpeed = readXML2(xml, 'dl'+val);
                if(isNaN(upSpeed)==false && dlSpeed != '-'){
                    result += ' <span style="color:green;font-weight:bold;">'+(dlSpeed/1024).toFixed(1)+'&#x25BC;</span>';
                }else if(dlSpeed != '-'){
                    result = '<span style="color:green;font-weight:bold;">'+(dlSpeed/1024).toFixed(1)+'&#x25BC;</span>';
                }
                if(val == 'FOD'){
                    result = '<tr><th class="Sml" style="padding-left:33px;">'+val+'</th><td class="Sml">'+result+'</td></tr>';
                }else{
                    result = '<tr><th class="Sml" style="padding-left:33px;">'+val+'</th><td class="Sml">'+result+'</td></tr>';
                }
                return result;
            }

            function readXML(fld){
                var resp =  j$(xml).find(fld).text();
                return resp;
            }

            function readXML2(text, fld){
                var resp =  j$(text).find(fld).text();
                return resp;
            }

            function onLoadActions(){
                document.getElementById('{!$Component.acLineCheckNumber}').value = readXML('acLineCheckNumber');
                if(!addressId){
                    document.getElementById('{!$Component.acLineCheckNameNum}').value = readXML('acLineCheckNameNum');
                    document.getElementById('{!$Component.acLineCheckPostCode}').value = readXML('acLineCheckPostCode');
                }
                updateLineCheck();
                accessTypeAvailable();
            }

            function closeIframeModalandUpdateLineChecker(configGuid)
    		{
    			let message = '';
    			if(queryString != ''){
                     queryString = queryString.replace('&configGuid='+configGuid, '');
    				 message = 'closeModal,saveLineCheckerData,'+configGuid+','+broadbandStatus+','+fibreStatus+','+queryString;
    			}
    			//alert('message>>'+message);
    			winOrigin.postMessage(message, '*');
    		}
            try {
                window.addEventListener('load',loadData,false);
            } catch(e) {
                window.attachEvent('onload',loadData);
            }
        </script>
    </apex:form>
</apex:page>