<apex:page standardController="cscfga__Product_Basket__c" 
           extensions="CS_NewProductBasketController"
           id="resign">
         
    
           <apex:form id="newProductBasketOverrideForm">
           
         
                <apex:pageBlock >
                     <apex:pageMessages />
                     
                     <!--Added for SME-->
                    <apex:pageBlockSection columns="1" id="newBasketSection" title="Basket Information" rendered="{!isSMEUser}">
                            <apex:inputField value="{!basket.Name}" required="true" ></apex:inputField>
                      </apex:pageBlockSection>
                      <!--Ends here-->
                     
                     <apex:pageBlockSection columns="1" id="newBasket" title="Re-Sign and Public Sector Flag Information" rendered="{!!isSMEUser}">
                      
                           <!-- New Product basket Scenario  --> 
                          
                            <apex:inputField value="{!basket.Name}" required="true" ></apex:inputField>
                            <apex:inputField value="{!basket.ReSign__c}" rendered="{!isNew}">
                                <apex:actionSupport event="onchange" rerender="newBasket"/>
                            </apex:inputField>
                            <apex:inputField value="{!basket.ARPM_Current__c}" rendered="{!isResign && isNew}"/>
                            <apex:inputField value="{!basket.Total_Buyout_Cost__c}" rendered="{!isResign && isNew}"/>
                            
                            <apex:inputField value="{!basket.Public_Sector__c}" rendered="{!isNew}"/>
                         
                           <!-- Edit Product basket Scenario  --> 
 
                            <apex:inputCheckbox value="{!basket.ReSign__c}"  rendered="{!!isNew}" disabled="true"/>
                            <apex:inputField value="{!basket.ARPM_Current__c}" rendered="{!isResign && NOT(isNew)}"/>
                            <apex:inputField value="{!basket.Total_Buyout_Cost__c}" rendered="{!isResign && NOT(isNew)}"/>
                            <apex:inputCheckbox value="{!basket.Public_Sector__c}" rendered="{!!isNew}" disabled="true" />
                        
                        
                      </apex:pageBlockSection>
                        
             
                     <apex:pageBlockButtons >
                          <apex:commandButton value="Save" action="{!save}" />
                     </apex:pageBlockButtons>

                </apex:pageBlock>
      
        </apex:form>
           
      </apex:page>