<apex:page standardController="Trial__c" sidebar="false" showHeader="false" title="Dispatch Stock Item" standardStylesheets="false">

	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.Trials, 'css/blueprint/screen.css')}" media="screen" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.Trials, 'css/blueprint/print.css')}" media="print" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.Trials, 'css/site.css')}"/>
	<script type="text/javascript">
	  var __sfdcSessionId = '{!GETSESSIONID()}';
	</script>
	<script src="../../soap/ajax/25.0/connection.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>	
    
    <script type="text/javascript">
    
		function showError(message){
        	$("#errorMessage").text(message);
			$(".error").show("pulsate");            
		}
            
		function hideError(){
			$(".error").hide();
		}
            
		function showInfo(message){
			$("#infoMessage").text(message);
			$(".success").show();
		}
            
		function hideInfo(){
			$(".success").hide();
		}    
		
		function addHistory(status, imei, message){
        	$('#historyTable tr:last').after("<tr><td>" + status + "</td><td>" + imei + "</td><td>" + message + "</td></tr>");
		}		
    
    	$(document).ready(function(){
    		//Set the focus
    		$('#idField').focus();
    		
    		$("#idField").bind("keydown", function(evt){
    			if(evt.keyCode == 13){    				
    				//Get stock item id
    				try{
    					result = sforce.connection.query("SELECT Id, SKU__r.Name__c FROM Stock_Item__c WHERE Identification_Number__c = '" + $("#idField").val() + "'");    					
    				} catch(error) {
    					hideInfo();
    					showError(error);
    					addHistory("Error", $("#idField").val(), error);
    				}
    				if(result.size == 1){
    					hideError();
    					showInfo("Found stock item " + result.records.SKU__r.Name__c);
    					addHistory("Found", $("#idField").val(), result.records.SKU__r.Name__c);
    					//Create Trial Stock Item Record
    					var aTrialStockItem = new sforce.SObject("Trial_Stock_Item__c");
    					aTrialStockItem.Trial__c = '{!Id}';
    					aTrialStockItem.Stock_Item__c = result.records.Id;
    					var result = sforce.connection.create([aTrialStockItem]);    					
    					if(result[0].success == "false"){
    						hideInfo();
    						showError(result[0].errors.message);
    						addHistory("Error", $("#idField").val(), result[0].errors.message);
    					} else {
    						hideError();
    						showInfo("Dispatched");
    						addHistory("Dispatched", $("#idField").val(), "Item has been marked as dispatched");  						
    					}
    				} else {
    					hideInfo();
    					showError("Stock item not found");
    					addHistory("Error", $("#idField").val(), "Stock item not found");
    				}				    				
    				
    				//Set field to blank and set focus
    				$("#idField").val("");
    				$('#idField').focus();    				
    			}
    		});
    	});
    </script>
    
    <div id="page-container" class="container">
		<div id="input-container" class="span-12">
        	<img id="logo" src="{!URLFOR($Resource.Trials, 'images/everything-everywhere.gif')}" alt="Everything Everywhere"/>
			<div class="siteBox">            	
                <input type="text" class="largeField" id="idField" />
			</div>
		</div>
        <div id="output-container" class="span-12 last">
        	<div id="info-container" class="info siteBox">
            	<span class="siteBoxTitle">Begin scanning</span>                   
			</div>
            <div id="error-container" class="error siteBox">
            	<img src="{!URLFOR($Resource.Trials, 'images/icon_alert.gif')}"/>
                <span class="siteBoxTitle" id="errorMessage"></span>
			</div>
            <div id="output" class="success siteBox">
            	<img src="{!URLFOR($Resource.Trials, 'images/icon_accept.gif')}"/>
                <span class="siteBoxTitle" id="infoMessage"></span>         
			</div>
			<div class="info siteBox">
            	<span class="siteBoxTitle">History</span>
                <table id="historyTable">
                	<tr>
                    	<th>Status</th>
						<th>ID</th>
						<th>Message</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
</apex:page>