<apex:page standardController="Flow_Address_Details__c" extensions="updateFlowCRFAddress" >
  <html>
        <style>
        
        .fontcolor
        {
        font-weight:Bold;
        }
        </style>
    
    </html>
    <apex:form >
    <apex:sectionHeader Title="Address Details" />
    <apex:pageBlock Title="Select the type of Address">
     
        <apex:pageBlockSection columns="1">
       
            <apex:PageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Flow_Address_Details__c.fields.Type__c.label}" styleClass="fontcolor"/>
                   
                   <!--<apex:inputField id="id_1" value="{!Flow_Address_Details__c.Type__c}"  > </apex:inputField>-->
                    <apex:selectList value="{!Flow_Address_Details__c.Type__c}" size="1" multiselect="false">
                        <apex:selectOption itemLabel="--None--" itemValue="None"/>
                        <apex:selectOption itemLabel="Correspondence Address" itemValue="Correspondence Address" rendered="{!CRfRecordTypeName == 'AXForm' || CRfRecordTypeName  == 'Broadband'}"/>
                        <apex:selectOption itemLabel="Billing Address" itemValue="Billing Address" rendered="{!CRfRecordTypeName  == 'AXForm' || CRfRecordTypeName  == 'Broadband'}"/>
                        <apex:selectOption itemLabel="Delivery Address" itemValue="Delivery Address" rendered="{!CRfRecordTypeName  == 'AXForm' || CRfRecordTypeName  == 'Broadband'}"/>
                        <apex:selectOption itemLabel="Cease Address" itemValue="Cease Address" rendered="{!CRfRecordTypeName  == 'BusinessMovers' || CRfRecordTypeName  == 'MoverswithexistingBB' || CRfRecordTypeName  == 'Movers' || CRfRecordTypeName  == 'ISDN30'}"/>
                        <apex:selectOption itemLabel="Existing Address" itemValue="Existing Address" rendered="{!CRfRecordTypeName == 'Number_Port' || CRfRecordTypeName  == 'NSO' || CRfRecordTypeName  == ' Name_Change'}"/>
                        <apex:selectOption itemLabel="Provide Address" itemValue="Provide Address" rendered="{!CRfRecordTypeName  == 'BusinessMovers' || CRfRecordTypeName  == 'Number_Port' || CRfRecordTypeName  == 'NSO' || CRfRecordTypeName  == ' Name_Change' || CRfRecordTypeName  == 'MoverswithexistingBB' || CRfRecordTypeName  == 'Movers' || CRfRecordTypeName  == 'ISDN30'}"/>
                        <apex:selectOption itemLabel="Alternate Billing Address" itemValue="Alternate Billing Address" rendered="{!CRfRecordTypeName  == 'BusinessMovers' || CRfRecordTypeName  == 'Number_Port' || CRfRecordTypeName  == 'NSO' || CRfRecordTypeName  == ' Name_Change' || CRfRecordTypeName  == 'MoverswithexistingBB' || CRfRecordTypeName  == 'Movers' || CRfRecordTypeName  == 'ISDN30'}"/>

                        
                        <apex:actionSupport event="onchange" reRender="Container"/>
                    </apex:selectList>
                    
                    
                     
                    

            </apex:PageBlockSectionItem>

            <apex:PageBlockSectionItem >
            <apex:outputPanel id="Container">
            <apex:outputPanel id="ajaxrequest" rendered="{!Flow_Address_Details__c.Type__c!=''}">
                <apex:commandButton value="Continue" action="{!NextPage}"/>
            </apex:outputPanel>
            </apex:outputPanel>
            </apex:PageBlockSectionItem>
        </apex:pageBlockSection>
    </apex:pageBlock>
        
    
</apex:form>   
</apex:page>