<apex:page standardController="Flow_CRF__c" sidebar="false" showHeader="false" standardStylesheets="false" renderAs="pdf">
  <apex:stylesheet value="{!URLFOR($Resource.GFast, 'design.css')}" />  
    <body>        
        <div >    
        <div class="image">
            <apex:image url="{!URLFOR($Resource.GFast,'BTLogo.jpg')}" />
            
            </div><br/><br/><br/><br/>
        <div class="paddingarea" >
            Trial Agreement
        </div><br/>
        <div class="textarea">
            <b>THIS TRIAL AGREEMENT </b>is dated &nbsp;<apex:outputText value="{0,date,dd/mm/yy}"> <apex:param value="{!Flow_CRF__c.CreatedDate}" /> </apex:outputText><br/><br/>
            <b>Between:</b><br/><br/>
            <b>BRITISH TELECOMMUNCATIONS PLC</b> registered in England and Wales with company number 1800000 whose
            registered office is at 81 Newgate Street, London, EC1A 7AJ ("<b>BT</b>");<br/><br/>and<br/><br/>
            {!Flow_CRF__c.Account__r.Name} registered in England and Wales with company number &nbsp;<apex:repeat value="{!Flow_CRF__c.Flow_Address_Details__r}" var="Add">{!Add.Company_Number__c}</apex:repeat>
            whose registered office is at &nbsp;<apex:repeat value="{!Flow_CRF__c.Flow_Address_Details__r}" var="Add">{!Add.Number__c}&nbsp;{!Add.Street__c},{!Add.Locality__c},{!Add.Post_Code__c}</apex:repeat> ("<b>Customer</b>"), (each, a "<b>Party</b>" and, together, the "<b>Parties</b>").<br/><br/>
        <b>INTRODUCTION</b><br/><br/>
            A. BT is developing a new service through which Customers will receive up to 300Mbps Fibre broadband via G.Fast technology.<br/><br/>
            B. The Customer has agreed to participate in a trial and evaluation programme for the Trial Service for a trial period.<br/><br/>
            C. These terms set out the terms and conditions upon which the parties have agreed to participate in the trial.<br/><br/>
            BT and the Customer have shown their agreement to thisTrial Agreement by signing below. <br/><br/>
            <div class="For1">
                <b>For BT:</b><br/>
                By:<br/><br/>
                (Authorised Signature)<br/><br/>
                (Typed or Printed Name)<br/><apex:outputText rendered="{!Flow_CRF__c.Contact__r.Job_Title__c != Null}"><br/></apex:outputText>
                (Title)                     
            </div>
            <div class="For2">
                <b>For the Customer:</b><br/>
                By:<br/><br/>
                (Authorised Signature)<br/>
                {!Flow_CRF__c.Contact__r.Name}<br/>
                (Typed or Printed Name)<br/>
                {!Flow_CRF__c.Contact__r.Job_Title__c}<apex:outputText rendered="{!Flow_CRF__c.Contact__r.Job_Title__c != Null}"><br/></apex:outputText>
                (Title)
            </div>                  
        </div>      
        <div style="width:80%;margin-top:40%;margin-left:0%;opacity:0.5;font-size:10px">
            <b>Commercial Confidence</b><br/>
            ©British Telecommunictions plc 2015<br/>
            Template trial agreement v3_22Oct2015.docx
        </div>
    </div>
    </body>
</apex:page>