<apex:page standardController="iDepot__c" extensions="iDepotController" standardStylesheets="false"> 
<style>
   .headerRow {color: #333333; border-bottom: 2px solid #cccccc; padding: 4px 0 4px 0;} 
   .normalRow {border-bottom: 1px solid #e3deb8; padding: 4px 0 4px 0; vertical-align: top;}   
</style>       
<body>

  <apex:PageMessages />
  <apex:form id="attForm" styleClass="form">
    <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" />
    <apex:outputLabel value="Title:" />
    <apex:inputText value="{!attachment.description}" size="70"/>
    <apex:commandButton value="Add Attachment" action="{!upload}" />
  </apex:form>
<hr style="color: #3D8D8D;"/>
        
    <apex:dataTable value="{!Att}" var="FbkAtt" width="100%" >
     <apex:column headerClass="headerRow" styleClass="normalRow" >
      <apex:outputLink target="_top"  value="{!URLFOR($Action.Attachment.Download,FbkAtt.ID,[retURL=URLFOR($Action.iDepot__c.View, iDepot__c.Id)])}">
      {!FbkAtt.description}
      </apex:outputlink>
     </apex:column>
     <apex:column headerClass="headerRow" styleClass="normalRow" >
     {!FbkAtt.Name}
     (<apex:outputText value="{0,number,###,###,###,###}" ><apex:param value="{!FbkAtt.BodyLength/1024}" /></apex:outputText>kb)
     </apex:column>    
     <apex:column headerClass="headerRow" styleClass="normalRow" >
      {!FbkAtt.CreatedBy.Name},&nbsp;<apex:outputField value="{!FbkAtt.CreatedDate}" />
     </apex:column>
   </apex:dataTable>                


 </body>
</apex:page>