<apex:page showheader="no" controller="ipsRecruitmentController">
    <html>
    <head>
        <style>
            .fontstyle {
                font-family: Tahoma,Geneva,Kalimati,sans-serif;
                font-style: normal;
            }

            .fontstyle2 {
                font-family: Tahoma,Geneva,Kalimati,sans-serif;
                font-style: normal;
                font-weight: bold;
                color: purple;
            }
        </style>
        <script>
  function confirmCancel() {
      var isCancel = confirm("Are you sure you wish to cancel?");
      if (isCancel) return true;

     return false;
  }
        </script>
    </head>
    <body class="fontstyle">
        <!--<apex:sectionHeader title="New IPS Recruitment Partner"
                            subtitle="Step 5 of 5"/>-->

        <font size="5pt"><b style="color:purple"> BT Business Partner Channel Recruitment - Step 5 of 5</b></font><br /><br /><br />

        <apex:form >
            <apex:pageblock title="Summary">
                <!-- This facet tag defines the "Submit" button that appears
                     in the footer of the pageBlock. It calls the step4()
                     controller method, which returns a pageReference to
                     the next step of the wizard. -->

                <apex:pageblockbuttons >
                    <apex:commandbutton action="{!step4}" value="Previous" />
                    <apex:commandbutton action="{!save}" value="Submit" />
                    <apex:commandbutton action="{!cancel}" value="Cancel" onclick="return confirmCancel()" immediate="true" />
                </apex:pageblockbuttons>

                <!-- Removed as Part of CR9759
                <b>On submission of your application, you will be contacted in the next few days by the BT Business Partner Channel recruitment team.</b><br /><br />
                <b>Please review the summary below before submitting.</b><br /><br />
                <b>Thank you for your interest.</b><br /><br />-->
                
                <!-- CR9759 Starts -->
                <b>Thank you for your interest, you will be contacted in the next few days.</b><br/><br/>
                <b>If your company does not meet the criteria for becoming a direct BT partner, we will pass your application to one of our Premier or Authorised Partners and they will contact you to discuss their partner proposition for BT/EE products and services.</b><br/><br/>
                <apex:inputCheckbox value="{!ipsRecruitment.Do_not_share_my_detail__c}"/> &nbsp;&nbsp;
                <b>Tick here I if you do not want us to pass your application to one of our Premier or Authorised Partners.</b><br/><br/>
                
                <!-- CR9759 Ends -->
                
                <apex:pagemessages />
                <apex:pageblocksection >
                    <font font-family="Tahoma,Geneva,Kalimati,sans-serif !important" font-style="normal">
                        <apex:facet name="header">
                            <span>Company Overview</span>
                        </apex:facet>
                    </font>
                    <!-- <apex:panelGrid> tags organize data in the same way as
                          a table. It places all child elements in successive cells,
                          in left-to-right, top-to-bottom order -->
                    <!-- <apex:outputLabel > and <apex:inputField > tags can be
                          bound together with the for and id attribute values,
                          respectively. -->

                    <apex:panelgrid columns="2">
                        <apex:outputtext value="Company Name" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Company_Name__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Trading Name" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Trading_Name__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Company Registered Address" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Company_Registered_Address__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Post Code" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Post_Code__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Trading Address (if different)" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Trading_Address_if_different__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Country" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Country__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Telephone No" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Telephone_No__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Website" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Website__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Contact Person" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Contact_Person__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Contact Number" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Contact_Number__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Position" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Position__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Email Address" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Email_Address__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Turnover" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Turnover__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Company Registration No" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Company_Registration_No__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Company Registration Date" styleclass="fontstyle" />
                        <apex:outputtext value="{0,date,dd'/'MM'/'yyyy}" styleclass="fontstyle2">
                            <apex:param value="{!ipsRecruitment.Company_Registration_Date__c}" />
                        </apex:outputtext>
                        <apex:outputtext value="VAT Registration No" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.VAT_Registration_No__c}" styleclass="fontstyle2" />
                    </apex:panelgrid>
                </apex:pageblocksection>
                <apex:pageblocksection >
                    <font font-family="Tahoma,Geneva,Kalimati,sans-serif !important" font-style="normal">
                        <apex:facet name="header">
                            <span>Your Company</span>
                        </apex:facet>
                    </font>
                    <!-- <apex:panelGrid> tags organize data in the same way as
                          a table. It places all child elements in successive cells,
                          in left-to-right, top-to-bottom order -->
                    <!-- <apex:outputLabel > and <apex:inputField > tags can be
                          bound together with the for and id attribute values,
                          respectively. -->

                    <apex:panelgrid columns="2">
                        <apex:outputtext value="Core Business Activities" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Core_Business_Activities__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Number of permanently employed staff" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Number_of_People_Employed__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Sales (desk)" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Sales_desk__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Sales (field)" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Sales_field__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Administration Staff" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Administration_Staff__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Technical Engineering" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Technical_Engineering__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Marketing" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Marketing__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Presales" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Presales__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Developers" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Developers__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Service/Operations" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Service_Operations__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Geographical Coverage" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Geographical_Coverage__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Size of Active Customer Base" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Customer_Base_Size__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Routes to Market (select all that apply)" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Routes_to_Market__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="How many sites or offices do you have" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Number_of_Sites_Offices__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="BT/EE products keen to sell" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Which_BT_EE_Products__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Managed online/CRM system" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Managed_online_CRM_system__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Typical Customer Size" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Typical_Customer_Size__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Sector/S" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Vertical_Sector__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Marketing Plan" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Marketing_Plan__c}" styleclass="fontstyle2" />
                    </apex:panelgrid>
                </apex:pageblocksection>
                <apex:pageblocksection >
                    <apex:facet name="header">
                        <span>Business to Business</span>
                    </apex:facet>
                    <apex:panelgrid columns="2">
                        <apex:outputtext value="Product Area" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Product_Area__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Mobile" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Mobile__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Fixed lines" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Fixed_lines__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Broadband" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Broadband__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Cloud services" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Cloud_services__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Wide area networking" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Wide_area_networking__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Leased line internet access" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Leased_line_internet_access__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Typical Customer size" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Typical_Customer_Size2__c}" styleclass="fontstyle2" />
                    </apex:panelgrid>
                </apex:pageblocksection>
                <apex:pageblocksection >
                    <!--This facet is used to change the font style of pageblock -->
                    <font font-family="Tahoma,Geneva,Kalimati,sans-serif !important" font-style="normal">
                        <apex:facet name="header">
                            <span>Business Plan</span>
                        </apex:facet>
                    </font>
                    <!-- <apex:panelGrid> tags organize data in the same way as
              a table. It places all child elements in successive cells,
              in left-to-right, top-to-bottom order -->
                    <!-- <apex:outputLabel > and <apex:inputField > tags can be
              bound together with the for and id attribute values,
              respectively. -->
                    <apex:panelgrid columns="2">
                        <apex:outputtext value="Trading history" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Trading_history__c}" style="width:400px" styleclass="fontstyle2" />
                        <apex:outputtext value="Overview of the business" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Overview__c}" style="width:400px" styleclass="fontstyle2" />
                        <apex:outputtext value="Organisation and management" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Organisation_and_Management__c}" style="width:400px" styleclass="fontstyle2" />
                        <apex:outputtext value="Marketing and sales strategies" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Marketing_and_sales_strategies__c}" style="width:400px" styleclass="fontstyle2" />
                        <apex:outputtext value="Services and product lines sold" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Services_and_product_lines_sold__c}" style="width:400px" styleclass="fontstyle2" />
                        <apex:outputtext value="Major achievements and accreditations" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Major_achievements__c}" style="width:400px" styleclass="fontstyle2" />
                        <apex:outputtext value="Future plans for your business" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Future_plans__c}" style="width:400px" styleclass="fontstyle2" />
                        <apex:outputtext value="Aspirations for a partnership with BT " styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Partnership_aspirations__c}" style="width:400px" styleclass="fontstyle2" />
                    </apex:panelgrid>
                </apex:pageblocksection>
                 <apex:pageblocksection >
                    <!--This facet is used to change the font style of pageblock -->
                    <font font-family="Tahoma,Geneva,Kalimati,sans-serif !important" font-style="normal">
                        <apex:facet name="header">
                            <span>Commercial Models</span>
                        </apex:facet>
                    </font>
                    <apex:panelgrid columns="2">
                        <apex:outputtext value="Sales referral model where you are paid commission for selling the services but the contractual and billing relationship with the customer is with BT/EE" styleclass="fontstyle" />
                        <apex:outputtext value="{!IF(ipsRecruitment.Interest_in_Commercial_Model_1__c, 'Yes', '')}" styleclass="fontstyle2" />
                        <apex:outputtext value="Wholesale arrangement buying services in your own name, where you contract and bill the customer for those services" styleclass="fontstyle" />
                        <apex:outputtext value="{!IF(ipsRecruitment.Interest_in_Commercial_Model_2__c, 'Yes', '')}" styleclass="fontstyle2" />
                    </apex:panelgrid>
                    <apex:panelgrid columns="2">
                        <apex:outputtext value="Additional Information" styleclass="fontstyle" />
                        <apex:outputtext id="additionalinfo" value="{!ipsRecruitment.Additional_Information__c}" style="width:400px" styleclass="fontstyle2" />
                    </apex:panelgrid>
                </apex:pageblocksection>
                <apex:pageblocksection >
                    <font font-family="Tahoma,Geneva,Kalimati,sans-serif !important" font-style="normal">
                        <apex:facet name="header">
                            <span>Submission</span>
                        </apex:facet>
                    </font>

                    <apex:panelgrid columns="2">
                        <apex:outputtext value="EE.COM" styleclass="fontstyle" />
                        <apex:outputtext value="{!IF(ipsRecruitment.EE_Com__c, 'Yes', '')}" styleclass="fontstyle2" />
                        <apex:outputtext value="BT.COM" styleclass="fontstyle" />
                        <apex:outputtext value="{!IF(ipsRecruitment.BT_Com__c, 'Yes', '')}" styleclass="fontstyle2" />
                        <apex:outputtext value="Channel press" styleclass="fontstyle" />
                        <apex:outputtext value="{!IF(ipsRecruitment.Channel_Press__c, 'Yes', '')}" styleclass="fontstyle2" />
                        <apex:outputtext value="Name of publication" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Name_of_publication__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Personal Contacts" styleclass="fontstyle" />
                        <apex:outputtext value="{!IF(ipsRecruitment.Personal_Contacts__c, 'Yes', '')}" styleclass="fontstyle2" />
                        <apex:outputtext value="Contact details" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Contact_details__c}" styleclass="fontstyle2" />
                        <apex:outputtext value="Other (please state)" styleclass="fontstyle" />
                        <apex:outputtext value="{!IF(ipsRecruitment.Other_please_state__c, 'Yes', '')}" styleclass="fontstyle2" />
                        <apex:outputtext value="Details (other)" styleclass="fontstyle" />
                        <apex:outputtext value="{!ipsRecruitment.Details_other__c}" styleclass="fontstyle2" />
                    </apex:panelgrid>
                </apex:pageblocksection>
            </apex:pageblock>
        </apex:form>
    </body>
</html>
</apex:page>