<!--

Author                    Date             Description
Sridevi Bayyapuneedi      01/10/2014       Modified the look and feel of the page as per CR6225

-->
<apex:page showheader="false" sidebar="false" controller="ipsRecruitmentController">
    <html>
    <head>
        <style>
            .HeaderShare {
                font: Tahoma, sans-serif;
                color: #666666;
                font-size: 9px;
                line-height: 12px;
                font-style: normal;
            }
        </style>
    </head>
    <body>
        <div class="HeaderShare" style="background-color:#FFFFFF; width:100%; height:5px; color:#000000;">
            <table style="position:absolute; right:20%">
                <tr>
                    <td style="width:250px;"><center><a href="http://www.bt.com" target="_blank"><img width="100px" height="70px" style="display:block; z-index:-1" src="http://www.kvsk.net/temp/BT/Email_June2014/images/BT_Business_Logo.gif" /></a></center></td>
                </tr>
            </table>
        </div><br /><br /><br /><br /><br /><br /><br /><br />

        <div style="background-color:#EBEBEC; width:100%; height:550px;">
            <apex:form >
                <table style="position:absolute; left:13% ;width:800px; height:200px;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>

                            • <a href="http://www.bt.com" style="color:blue;" target="_blank">BT.com</a><br /><br />
                            • <a href="apex/IPS_Recruitment_HomePage" style="color:blue;">Home</a>
                        </td>
                        <td width="50%">
                            <p style="font-family:Tahoma,Geneva,Kalimati,sans-serif; font-style:normal; color:#55379b; font-size:30px; ">
                                <br />BT Business Partner Channel Recruitment
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td width="50%">
                            <p style="font-family:Tahoma,Geneva,Kalimati,sans-serif; font-style:normal; color:#000000; font-size:20px; ">
                                BT Business Partner Channel Recruitment Partner Confirmation
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td width="50%">
                            <p style="font-family:Tahoma,Geneva,Kalimati,sans-serif; font-style:normal; font-size:12.5px; ">Confirmation that we have received your request. We will now look through your application and be in contact shortly. This is usually within 3 days.</p><br />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td width="50%"><p>If you need to speak to us before then, please call 0800 679254</p><br /><br /><br /><br /><br /><br /><br /></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td width="50%"><img src="http://www.kvsk.net/temp/BT/Email_June2014/images/pinline_600.gif" width="550" height="13" style="display:block;" /></td>
                    </tr>

                </table>
            </apex:form>
        </div>
    </body>
</html>
</apex:page>