<apex:page showheader="no" controller="ipsRecruitmentController">
    <html>
    <head>
        <style>
            .fontstyle {
                font-family: Tahoma,Geneva,Kalimati,sans-serif;
                font-style: normal;
            }
        </style>
        <script>
  function confirmCancel() {
      var isCancel = confirm("Are you sure you wish to cancel?");
      if (isCancel) return true;

     return false;
  }

     function validateStep3(){
         var isCancel = confirm("Please slect at least one option");
      if (isCancel) return true;

     return false;
     <!--alert("Please select at least one option");-->
      }
        </script>
    </head>
    <body class="fontstyle">
        <!--<apex:sectionHeader title="New IPS Recruitment Partner"
                              subtitle="Step 3 of 5"/>-->
        <font size="5pt"><b style="color:purple"> BT Business Partner Sales Recruitment - Step 3 of 5</b></font><br /><br />
        <b style="color:red">Please Note: text boxes with a red vertical bar indicate mandatory fields</b><br /><br />
        <apex:form >
            <apex:pageblock title="Business Plan">
                <!-- This facet tag defines the "Next" button that appears
                     in the footer of the pageBlock. It calls the step2()
                     controller method, which returns a pageReference to
                     the next step of the wizard. -->
                <apex:pageblockbuttons >
                    <apex:commandbutton action="{!step2}" value="Previous" />
                    <apex:commandbutton action="{!step4}" value="Next" />
                    <apex:commandbutton action="{!cancel}" value="Cancel" onclick="return confirmCancel()" immediate="true" />
                </apex:pageblockbuttons>
                <!--Which Suppliers do you currently have a relationship with?<br/><br/>-->
                <font size="2pt" style="color: purple; font-weight: bold; ">Please give us a high level view of your business plans and trading history, make sure you include the details below as a minimum...</font><br /><br />
                <apex:pageblocksection >
                    <!--This facet is used to change the font style of pageblock -->
                    <font font-family="Tahoma,Geneva,Kalimati,sans-serif !important" font-style="normal">
                        <apex:facet name="header">
                            <span>Business Plan</span>
                        </apex:facet>
                    </font>
                    <!-- <apex:panelGrid> tags organize data in the same way as
                          a table. It places all child elements in successive cells,
                          in left-to-right, top-to-bottom order -->
                    <!-- <apex:outputLabel > and <apex:inputField > tags can be
                          bound together with the for and id attribute values,
                          respectively. -->
                    <apex:panelgrid columns="2">
                        <apex:outputlabel value="Trading history" for="tradinghistory" styleclass="fontstyle" />
                        <apex:inputfield id="tradinghistory" value="{!ipsRecruitment.Trading_history__c}" style="width:400px" />
                        <apex:outputlabel value="Overview of the business" for="overview" styleclass="fontstyle" />
                        <apex:inputfield id="overview" value="{!ipsRecruitment.Overview__c}" style="width:400px" />
                        <apex:outputlabel value="Organisation and management" for="organisation" styleclass="fontstyle" />
                        <apex:inputfield id="organisation" value="{!ipsRecruitment.Organisation_and_Management__c}" style="width:400px" />
                        <apex:outputlabel value="Marketing and sales strategies" for="marketing" styleclass="fontstyle" />
                        <apex:inputfield id="marketing" value="{!ipsRecruitment.Marketing_and_sales_strategies__c}" style="width:400px" />
                        <apex:outputlabel value="Services and product lines sold" for="services" styleclass="fontstyle" />
                        <apex:inputfield id="services" value="{!ipsRecruitment.Services_and_product_lines_sold__c}" style="width:400px" />
                        <apex:outputlabel value="Major achievements and accreditations" for="major" styleclass="fontstyle" />
                        <apex:inputfield id="major" value="{!ipsRecruitment.Major_achievements__c}" style="width:400px" />
                        <apex:outputlabel value="Future plans for your business" for="future" styleclass="fontstyle" />
                        <apex:inputfield id="future" value="{!ipsRecruitment.Future_plans__c}" style="width:400px" />
                        <apex:outputlabel value="What are your aspirations for a partnership with BT " for="aspirations" styleclass="fontstyle" />
                        <apex:inputfield id="aspirations" value="{!ipsRecruitment.Partnership_aspirations__c}" style="width:400px" />
                        <!--
                        <apex:outputLabel value="Which Suppliers do you currently have a relationship with?" for="currentRelationship" styleClass="fontstyle"/>
                        <apex:inputField id="currentRelationship" value="{!ipsRecruitment.Current_Relationships__c}" style="width:400px"/>
                        <apex:outputLabel value="Which network supplier relationships do you currently have? " for="nonbtsupplier" styleClass="fontstyle"/>
                        <apex:inputField id="nonbtsupplier" value="{!ipsRecruitment.Current_Relationship_Non_BT_Supplier__c}" style="width:400px"/>
                        <apex:outputLabel value="Objectives - Please give a brief overview of your objectives for the next 12 months" for="objectives" styleClass="fontstyle"/>
                        <apex:inputField id="objectives" value="{!ipsRecruitment.Objectives__c}" style="width:400px"/>
                        <apex:outputLabel value="Partnership - What do you want from a relationship with BPS?" for="partnership" styleClass="fontstyle"/>
                        <apex:inputField id="partnership" value="{!ipsRecruitment.Partnership__c}" style="width:400px"/>
                        -->
                    </apex:panelgrid>
                </apex:pageblocksection><br />
                <font size="2pt" style="color: purple; font-weight: bold; ">What type of commercial model are you interested in? Review the options below and provide information in the space provided...</font><br />
                <apex:pageblocksection >
                    <!--This facet is used to change the font style of pageblock -->
                    <font font-family="Tahoma,Geneva,Kalimati,sans-serif !important" font-style="normal">
                        <apex:facet name="header">
                            <span>Commercial Models</span>
                        </apex:facet>
                    </font>
                    <apex:panelgrid columns="2">
                        <apex:outputlabel value="Sales referral model where you are paid commission for selling the services but the contractual and billing relationship with the customer is with BT/EE" for="salesreferral" styleclass="fontstyle" />
                        <apex:inputfield id="salesreferral" value="{!ipsRecruitment.Interest_in_Commercial_Model_1__c}" />
                        <apex:outputlabel value="Wholesale arrangement buying services in your own name, where you contract and bill the customer for those services" for="wholesale" styleclass="fontstyle" />
                        <apex:inputfield id="wholesale" value="{!ipsRecruitment.Interest_in_Commercial_Model_2__c}" />
                    </apex:panelgrid>
                    <apex:panelgrid columns="2">
                        <apex:outputlabel value="Additional Information" for="additionalinfo" styleclass="fontstyle" />
                        <apex:inputfield id="additionalinfo" value="{!ipsRecruitment.Additional_Information__c}" style="width:400px" />
                    </apex:panelgrid>
                </apex:pageblocksection>
            </apex:pageblock>
        </apex:form>
    </body>
</html>
</apex:page>