<apex:page standardController="Flow_CRF__c" extensions="ISDNFlowViewController" title="CRF: {!Flow_CRF__c.Name}" showHeader="false"  renderAs="pdf"  applyBodyTag="false" applyHtmlTag="false" >

  <head>
      <style type="text/css">
         @page {
         size: landscape A4;
         @bottom-left {
         content: "Customer Request Form for {!Flow_CRF__c.Name}";
         font-size: 7pt;
         font-family: "Verdana" "Sans-Serif";
         color: #cccccc;
         }
         
         @bottom-right {
         content: "Page " counter(page) "/" counter(pages);
         font-size: 7pt;
         font-family: "Verdana" "Sans-Serif";
         color: #cccccc;
         }
         @top-left{
         content: "In Confidence";
         font-size: 7pt;
         font-family: "Verdana" "Sans-Serif";
         color: #cccccc;
         }
         }
         body {
         font-family: "Verdana" "Sans-Serif";
         font-size:12px;
         color: #3f3e3c;
         list-style: none;
         }
         h1 {
         font-size:23px;
         color:#663a9b;
         line-height: 170%;
         border-bottom: 1px solid #663a9b;
         }
         h2 {
         font-size:17px;
         line-height: 95%;
         margin-top: -10px;
         }
         h3 {
         font-size:13px;
         width:100%;
         margin-bottom:0px;
         color: #663a9b;
         border-bottom: 1px solid #663a9b;
         line-height: 170%;
         }
         .tableHeader {
         padding-right: 10px;
         height:25px !important;
         }
         .odd {
         background-color: #FFFFFF;
         height:25px !important;
         }
         .even{
         background-color: #EAEEE2;
         height:25px !important;
         }
         table {
         width: 100%;
         }
         .tdHD {
         vertical-align: top;
         width:230px;
         font-size: inherit;
         font-weight: bold;
         height:25px !important;
         }
         .tdHD2 {
         vertical-align: top;
         width:15px;
         font-size: inherit;
         font-weight: bold;
         height:25px !important;
         }
         .TFtable{
         width:100%;
         border-collapse:collapse;
         border:#4e95f4 1px solid;
         //width:800px
         }
         .TFtable th{
         padding:7px;
         border:#4e95f4 1px solid;
         white-space: normal; 
         }
         .TFtable td{
         padding:7px;
         border:#4e95f4 1px solid;
         }
         /* provide some minimal visual accomodation for IE8 and below */
         .TFtable tr{
         background: #D7FAF6;
         }
         /*  Define the background color for all the ODD background rows  */
         .TFtable tr:nth-child(odd){
         background: #D7FAF6;
         }
         /*  Define the background color for all the EVEN background rows  */
         .TFtable tr:nth-child(even){
         background: #dae5f4;
         }
         .heading{
            font-size:14pt;
            font-weight:bold;                
            font-family:Calibri;
        }
      </style>
      </head>
      <body>
      <title>ISDN CRF {!Flow_CRF__c.Name}</title>
   
   
        <apex:pageMessages />
         <div style="float:left; margin-top: 130px;">
             <h1><b>ISDN CRF</b></h1>
             <h2>{!Flow_CRF__c.Name}</h2>
             <h2>{!Flow_CRF__c.Opportunity__r.Name}</h2>
             <h2>{!Flow_CRF__c.Account_Name__r.Name}</h2>
             <h2>{!Flow_CRF__c.CRD_ISDN__c}</h2>
         </div>
         <div style="clear:both;"></div>
         <div style="float:right; display:inline; margin-top: -5px;">
            <apex:image value="/servlet/servlet.FileDownload?file=01520000000kxnc" />
         </div>
         <div style="page-break-after: always;">&nbsp;</div>
        <apex:pageBlock >
            <apex:outputText rendered="{!(BEGINS(Flow_CRF__c.CreatedBy.Profile.Name,'system'))}" styleClass="heading" value="PLEASE NOTE:BTLB ORDER.">        
            </apex:outputText><br/>
            <apex:outputText rendered="{!(BEGINS(Flow_CRF__c.CreatedBy.Profile.Name,'system'))}" styleClass="heading" value="Please check this opportunity for additional AX & signed documents.">
            </apex:outputText>
            <table width="100%">
                <h3>Details</h3>
                <tr>
                    <td class="tdHD">Customer Name : </td>
                    <td><apex:outputField value="{!ISDN.Customer_Name__c}" /></td>
                    <td class="tdHD">Sales Agent : </td>
                    <td><apex:outputField value="{!ISDN.Sales_Agent__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Tel : </td>
                    <td><apex:outputField value="{!ISDN.Tel__c}" /></td>
                    <td class="tdHD">Bearer Location : </td>
                    <td><apex:outputField value="{!ISDN.Bearer_Location__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Room Name/No. where Bearer to be fitted : </td>
                    <td><apex:outputField value="{!ISDN.Room_No_where_NTE_to_be_fitted__c}" /></td>
                    <td class="tdHD">Floor No. where Bearer to be fitted : </td>
                    <td><apex:outputField value="{!ISDN.Floor_No_where_NTE_to_be_fitted__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Order type : </td>
                    <td><apex:outputField value="{!ISDN.Order_type__c}"/></td>
                    <td class="tdHD">Order Type 2 : </td>
                    <td><apex:outputField value="{!ISDN.Order_Type_2__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Service Type : </td>
                    <td><apex:outputField value="{!ISDN.Service_Type__c}" /></td>
                    <td class="tdHD">Type of ISPBX (if known) : </td>
                    <td><apex:outputField value="{!ISDN.Type_of_ISPBX_Known__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Is this is a new customer to BT : </td>
                    <td><apex:outputField value="{!ISDN.Is_this_a_new_customer_to_BT__c}" /></td>
                    <td class="tdHD">Supplier of ISPBX (if known) : </td>
                    <td><apex:outputField value="{!ISDN.Supplier_of_ISPBX_if_known__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Classic Tel no. or A/c no. : </td>
                    <td><apex:outputField value="{!ISDN.Tel_no_A_c_no__c}" /></td>
                    <td class="tdHD">SiteAssurance: </td>
                    <td> <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Site_Assurance__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Site_Assurance__c)}" title="unchecked"/></td>
                </tr>
                <tr>
                    <td class="tdHD">Dual Parenting: </td>
                    <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Dual_Parenting__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Dual_Parenting__c)}" title="unchecked"/></td>
                    <td class="tdHD">Alternative Routing: </td>
                    <td> <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Alternative_Routing__c}" title="checked"/>
                            <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Alternative_Routing__c)}" title="unchecked"/></td>
                </tr>
                <tr>
                    <td class="tdHD">Diverse Routing: </td>
                    <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Diverse_Routing__c}" title="checked"/>
                            <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Diverse_Routing__c)}" title="unchecked"/></td>
                    <td class="tdHD">Number Porting: </td>
                    <td> <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Number_Porting__c}" title="checked"/>
                            <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Number_Porting__c)}" title="unchecked"/></td>
                </tr>
                <tr>
                    <td class="tdHD">No of DDI’s: </td>
                    <td><apex:outputField value="{!ISDN.No_of_DDI_s__c}" /></td>
                    <td class="tdHD">Total No. of DDI Channels required: </td>
                    <td><apex:outputField value="{!ISDN.Total_No_of_DDI_Channels_required__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Total No. of non DDI Channels required: </td>
                    <td><apex:outputField value="{!ISDN.Total_No_of_non_DDI_Channels_required__c}" /></td>
                    <td class="tdHD">Total Channels: </td>
                    <td><apex:outputField value="{!ISDN.Total_No_of_DDI_Channels_required__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Conversions: </td>
                    <td><apex:outputField value="{!ISDN.Conversions__c}" /></td>
                    <td class="tdHD">Maintenance Type: </td>
                    <td><apex:outputField value="{!ISDN.Maintenance_Type__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Itemised Billing: </td>
                    <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Itemised_Billing__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Itemised_Billing__c)}" title="unchecked"/></td>
                    <td class="tdHD">Discount Plan: </td>
                    <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Discount_Plan__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Discount_Plan__c)}" title="unchecked"/></td>
                </tr>
                <tr>
                    <td class="tdHD">Which Discount Plan: </td>
                    <td><apex:outputField value="{!ISDN.Which_Discount_Plan__c}" /></td>
                    <td class="tdHD">One Bill: </td>
                    <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.One_Bill__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.One_Bill__c)}" title="unchecked"/></td>
                </tr>
                <tr>
                    <td class="tdHD">VP Number: </td>
                    <td><apex:outputField value="{!ISDN.VP_Number__c}" /></td>
                    <td class="tdHD">Directory Entry: </td>
                    <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Directory_Entry__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Directory_Entry__c)}" title="unchecked"/></td>
                </tr>
                <tr>
                    <td class="tdHD">Contract term: </td>
                    <td><apex:outputField value="{!ISDN.Contract_term__c}" /></td>
                    <td class="tdHD">Serving Tel Exch: </td>
                    <td><apex:outputField value="{!ISDN.Serving_Tel_Exch__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Main or DDI Number: </td>
                    <td><apex:outputField value="{!ISDN.Main_or_DDI_Number__c}" /></td>
                    <td class="tdHD">Standby Power: </td>
                    <td><apex:outputField value="{!ISDN.Standby_Power__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Standby Battery: </td>
                    <td><apex:outputField value="{!ISDN.Standby__c}" /></td>
                    <td class="tdHD">Cust Provide Power from Switch: </td>
                    <td><apex:outputField value="{!ISDN.Cust_Provide_Power_from_Switch__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">New BLDG - no BT lines or services : </td>
                    <td><apex:outputField value="{!ISDN.New_BLDG_No_BT_Lines_Or_Services__c}" /></td>
                    <td class="tdHD">Additional Comments : </td>
                    <td><apex:outputField value="{!ISDN.Special_Requirements__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Customer Contact: </td>
                    <td><apex:outputField value="{!ISDN.Customer_Contact__c}" /></td>
                    <td class="tdHD">Site Contact: </td>
                    <td><apex:outputField value="{!ISDN.Site_Contact__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Customer Contact Number: </td>
                    <td><apex:outputField value="{!ISDN.Customer_Contact_Number__c}" /></td>
                    <td class="tdHD">Site Contact Tel No: </td>
                    <td colspan="3"><apex:outputField value="{!ISDN.Site_Contact_Tel_No__c}" /></td>
                </tr>
            </table>

            <!-- ISDN 30e Configuration Only -->
            <apex:outputPanel rendered="{!(ISDN.Service_Type__c == 'ISDN30E')}">
            <div style="page-break-after: always;">&nbsp;</div>
            <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2" >
            <h3>ISDN 30e Configuration Only</h3> 
            <apex:repeat value="{!ISDN30eList}" var="ISDN30">
            
            <tr height="25px;">
            <td height="25px;">
            <apex:outputlabel value="DDI Range or Single numbers:" style="font-weight:bold;" /></td>
            <td><apex:outputText value="{!ISDN30.Tel_DDI1}" rendered="{!ISDN30.Tel_DDI1 != '@'}"/>
            <apex:outputText value="" rendered="{!ISDN30.Tel_DDI1 == '@'}"/>
            </td>
            <td>
            <apex:outputlabel value="Further Number port ranges:" style="font-weight:bold;" /></td>
            <td><apex:outputText value="{!ISDN30.Tel_DDI1}" rendered="{!ISDN30.Tel_DDI1 != '@'}"/>
            <apex:outputText value="" rendered="{!ISDN30.Tel_DDI1 == '@'}"/>
            </td>
            </tr>                            
            </apex:repeat>
            <tr height="25px;"><td height="25px;">
            <apex:outputlabel value="Additional services to be provided:" style="font-weight:bold;"/></td>
            <td><apex:outputText value="{!ISDN.Additional_services_to_be_provided__c}"></apex:outputText></td>
            <td><apex:outputlabel value="Digits to switch required" style="font-weight:bold;"/></td>
            <td><apex:outputText value="{!ISDN.Customer_accepts_if_6_digits_provided__c}"></apex:outputText></td>
            </tr>
            </table>

            <table>
                <h3>Number to which Calls are to be Forwarded</h3>
                <tr>
                    <td class="tdHD">From: </td>
                    <td><apex:outputField value="{!ISDN.From_ISDN_1__c}" /></td>
                    <td class="tdHD">To: </td>
                    <td><apex:outputField value="{!ISDN.To_ISDN_1__c}" /></td>
                    <td class="tdHD">Type of Forwarding: </td>
                    <td><apex:outputField value="{!ISDN.Type_of_Forwarding_1__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">From: </td>
                    <td><apex:outputField value="{!ISDN.From_ISDN_2__c}" /></td>
                    <td class="tdHD">To: </td>
                    <td><apex:outputField value="{!ISDN.To_ISDN_2__c}" /></td>
                    <td class="tdHD">Type of Forwarding: </td>
                    <td><apex:outputField value="{!ISDN.Type_of_Forwarding_2__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Other Associated ISDN 30 Circuit Numbers: </td>
                    <td colspan="5"><apex:outputField value="{!ISDN.Other_Associated_ISDN_30_Circuit_Numbers__c}" /></td>
                </tr>
            </table>
            </apex:outputPanel>

            <!--DASS 2 Configuration Only -->
             <apex:outputPanel rendered="{!(ISDN.Service_Type__c == 'DASS 2')}">
             <h3>DASS2 Configuration Only</h3>
             <table width="100%">
                <tr>
                    <td class="tdHD">Customer Name: </td>
                    <td><apex:outputField value="{!ISDN.Customer_Name_DASS2__c}" /></td>
                    <td class="tdHD">Circuit Number: </td>
                    <td><apex:outputField value="{!ISDN.Circuit_Number__c}" /></td>
                </tr>
                <tr>
                    <td class="tdHD">Site Name: </td>
                    <td><apex:outputField value="{!ISDN.Site_Name__c}" /></td>
                    <td class="tdHD">Directory No digits to forward to switch: </td>
                    <td><apex:outputField value="{!ISDN.Directory_No_digits_to_forward_to_switch__c}" /></td>
                </tr>
             </table>
            <!-- CHANELS CRF section START -->

            <h3>Channel Details</h3>
            <h2><br />Complete the following table to configure the required number of channels</h2>
            <table  cellspacing="0" cellpadding="2" class="TFtable">
                <tr>
                    <th class="white-space: normal;">Ch No </th>
                    <th>Telephone Numbers/DDI range </th>
                    <th>Working Type * </th>
                    <th>Exist No to convert to ISDN </th>
                    <th>CLIP (A18025) </th>
                    <th>CLIR (A18026) </th>
                    <th>Divert all calls (A18016) </th>
                    <th>Divert on E and F (A18017) </th>
                    <th>Divert no reply (A18018) </th>
                    <th colspan="3">Other CSS Order Codes # With DDI all ranges have to have the same services </th>
                </tr>
                <apex:repeat value="{!ISDNListWrapper}" var="relList" id="theRelLists">
            <tr>
                <td width="40px" align="center" >
                  <b>  <apex:outputText value="{!relList.SerialNo}" style="font-weight:bold;"/> </b>
                </td>
                <td width="120px;" >
                    <apex:outputText value="{!relList.Telephone}" rendered="{!relList.Telephone != '@'}" style="height:20px"/>
                    <apex:outputText rendered="{!relList.Telephone == '@'}" value=""><div height="20px">&nbsp;</div></apex:outputText>
                </td>
                 <td width="64px;">
                    <apex:outputText value="{!relList.Work}" rendered="{!relList.Work != '@'}"/>
                    <apex:outputText rendered="{!relList.Telephone == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.convert_to_ISDN}" rendered="{!relList.convert_to_ISDN != '@'}"/>
                    <apex:outputText rendered="{!relList.convert_to_ISDN == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.CLIP}" rendered="{!relList.CLIP != '@'}"/>
                    <apex:outputText rendered="{!relList.CLIP == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.CLIR}" rendered="{!relList.CLIR != '@'}"/>
                    <apex:outputText rendered="{!relList.CLIR == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.Divert_all_calls}" rendered="{!relList.Divert_all_calls != '@'}"/>
                    <apex:outputText rendered="{!relList.Divert_all_calls == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.Divert_on_EF}" rendered="{!relList.Divert_on_EF != '@'}"/>
                   <apex:outputText rendered="{!relList.Divert_on_EF == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.Divert_no_reply}" rendered="{!relList.Divert_no_reply != '@'}"/>
                    <apex:outputText rendered="{!relList.Divert_no_reply == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.Order_Codes1}" rendered="{!relList.Order_Codes1 != '@'}"/>
                    <apex:outputText rendered="{!relList.Order_Codes1 == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.Order_Codes2}" rendered="{!relList.Order_Codes2 != '@'}"/>
                    <apex:outputText rendered="{!relList.Order_Codes2 == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td>
                <td width="64px;">
                    <apex:outputText value="{!relList.Order_Codes3}" rendered="{!relList.Order_Codes3 != '@'}"/>
                    <apex:outputText rendered="{!relList.Order_Codes3== '@'}" value=""><div >&nbsp;</div></apex:outputText>
                </td> 
                
            </tr></apex:repeat>
               <tr>
                  <td class="tdHD" colspan="12">* If B/W (Both Way) working is not required delete and insert I/C (Incoming) or O/G (Out Going) working only.</td>
                </tr>
               
                </table>
                
                
          
            </apex:outputPanel>

        <!-- CHANNELS CRF section END -->

        <!-- APPENDIX A start-->

        <apex:outputPanel rendered="{!ISDN.Site_Assurance__c}">
        <div style="page-break-after: always;">&nbsp;</div>
            <h3>APPENDIX A ISDN30 Exchange Line Site Assurance Disaster Recovery Plan</h3>
            <table width="100%">
                <tr>
                    <td class="tdHD">Customer Name: </td>
                    <td><apex:outputField value="{!ISDN.Customer_Name_ISDN__c}" /></td>
                    <td class="tdHD">Telephone No: </td>
                    <td><apex:outputField value="{!ISDN.Telephone_No_ISDN__c}" /></td>
             </tr>
             <tr>
                <td class="tdHD">Fax: </td>
                    <td><apex:outputField value="{!ISDN.Fax_ISDN__c}" /></td>
                    <td class="tdHD">Option1 (ACCD): </td>
                    <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Option1_ACCD__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Option1_ACCD__c)}" title="unchecked"/></td>
             </tr>
             <tr>
                    <td class="tdHD">Option2 (Standby Bearers): </td>
                    <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Option2__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Option2__c)}" title="unchecked"/></td>
             </tr>
            </table>
            <apex:outputPanel rendered="{!ISDN.Option1_ACCD__c}">
                <h3>OPTION 1 ACCD:</h3>
                <table class="TFtable">
                   <tr>
                     <th> Telephone Number</th>
                     <th> Divert to A</th>
                     <th> Divert to B</th>
                     <th> Divert to C</th>
                   </tr>
                   <apex:repeat value="{!ISDNList_Option1_ACCD_Wrapper}" var="Option1" id="theRelLists1">
                    <tr>
                        
                        <td width="120px;" height="20px">
                            <apex:outputText value="{!Option1.Op1TelephoneNumber}" rendered="{!Option1.Op1TelephoneNumber != '@'}" style="height:20px"/>
                            <apex:outputText rendered="{!Option1.Op1TelephoneNumber == '@'}" value=""><div height="20px">&nbsp;</div></apex:outputText>
                            
                        </td>                                   
                        <td width="64px;">
                            <apex:outputText value="{!Option1.Op1DivertA}" rendered="{!Option1.Op1DivertA != '@'}"/>
                            <apex:outputText rendered="{!Option1.Op1DivertA == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                            
                        </td>  
                        <td width="64px;">
                            <apex:outputText value="{!Option1.Op1DivertB}" rendered="{!Option1.Op1DivertB != '@'}"/>
                            <apex:outputText rendered="{!Option1.Op1DivertB == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                            
                        </td> 
                        <td width="64px;">
                            <apex:outputText value="{!Option1.Op1DivertC}" rendered="{!Option1.Op1DivertC != '@'}"/>
                            <apex:outputText rendered="{!Option1.Op1DivertC == '@'}" value=""><div >&nbsp;</div></apex:outputText>
                           
                        </td> 
                        </tr>
                    </apex:repeat>
                   </table>
                   <table class="TFtable">
                   <tr>
                      <td class="tdHD">  NamedContacts and ContactNumbers </td>
                      <td>  <apex:outputField value="{!ISDN.Named_Contacts_and_contact_numbers_1__c}"/></td>
                      <td>  <apex:outputField value="{!ISDN.Named_Contacts_and_contact_numbers_2__c}"/></td>
                      <td>  <apex:outputField value="{!ISDN.Named_Contacts_and_contact_numbers_3__c}"/></td>
                   </tr>
                   </table>
                   <table class="TFtable">
                   <tr>
                        <td class="tdHD"> Password:</td>
                        <td colspan="3"> <apex:outputField value="{!ISDN.Password__c}"/></td>
                   </tr>
                 </table>
             </apex:outputPanel>

             <apex:outputPanel rendered="{!ISDN.Option2__c}">
                  <h3> OPTION 2 Standby Bearers: </h3>
                   <table class="TFtable">
                     <tr>
                       <th> Main Bearer cct:IMBT </th>
                       <th> Number of Channels if applicable </th>
                       <th> Telephone Number or DDI range </th>
                       <th> Standby Bearer cct:IMBT </th>
                       <th> Number of Channels if applicable </th>
                     </tr>
                     <apex:repeat value="{!ISDNList_Option2_ACCD_Wrapper}" var="pg">
                    <tr>
                        <td height="20px">
                            <apex:outputText value="{!pg.Op2MAinBearer}" rendered="{!pg.Op2MAinBearer != '@'}"/>
                            <apex:outputText rendered="{!pg.Op2MAinBearer == '@'}" value=""><div height="20px">&nbsp;</div></apex:outputText>                                           
                        </td>
                        <td>
                        <apex:outputText value="{!pg.Op2NumberOfChannels1}" rendered="{!pg.Op2NumberOfChannels1 != '@'}"/>
                        <apex:outputText rendered="{!pg.Op2NumberOfChannels1 == '@'}" value=""><div height="20px">&nbsp;</div></apex:outputText> 
                        </td>
                        <td><apex:outputText value="{!pg.Op2TelNumberDDI}" styleClass="b2" rendered="{!pg.Op2TelNumberDDI != '@'}"/>
                            <apex:outputText rendered="{!pg.Op2TelNumberDDI== '@'}" value=""><div height="20px">&nbsp;</div></apex:outputText> 
                        </td>
                        <td><apex:outputText value="{!pg.Op2StandbyBearer}" styleClass="b2" rendered="{!pg.Op2StandbyBearer != '@'}"/>
                            <apex:outputText rendered="{!pg.Op2StandbyBearer== '@'}" value=""><div height="20px">&nbsp;</div></apex:outputText> 
                        </td>
                        <td><apex:outputText value="{!pg.Op2NumberOfChannels2}" styleClass="b2" rendered="{!pg.Op2NumberOfChannels2 != '@'}"/>
                             <apex:outputText rendered="{!pg.Op2NumberOfChannels2== '@'}" value=""><div height="20px">&nbsp;</div></apex:outputText> 
                        </td>
                    </tr>
                    </apex:repeat>
                    </table>
            </apex:outputPanel>
            </apex:outputPanel>
            <!-- APPENDIX A End -->

            <!-- APPENDIX B Start -->
            <apex:outputPanel rendered="{!ISDN.Dual_Parenting__c}">
            <div style="page-break-after: always;">&nbsp;</div>
            <h3>APPENDIX B ISDN30 Dual Parenting </h3>
            <table width="100%">
            <tr>
                <td class="tdHD" >Large order process ref:  </td>
                 <td>  <apex:outputField value="{!ISDN.LOP_ref__c}"/> </td>
                <td class="tdHD" >Secondary exchange name and code:  </td>
                 <td>  <apex:outputField value="{!ISDN.Secondary_exchange_name_and_code__c}"/> </td>
            </tr>
            <tr>
                <td class="tdHD" >Is the route from the secondary exchange to be diverse routed?  </td>
                <td>  <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Diverse_Routing__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=015g000000049jl" rendered="{!NOT(ISDN.Diverse_Routing__c)}" title="unchecked"/> </td>
                <td class="tdHD" >Customer Name: </td>
                <td>  <apex:outputField value="{!ISDN.Customer_Name_ISDN_DP__c}"/> </td>
            </tr>
            <tr>
              <td class="tdHD" >Telephone No.  </td>
                 <td>  <apex:outputField value="{!ISDN.Telephone_No_ISDN_DP__c}"/> </td>
                <td class="tdHD" >Fax:  </td>
                 <td>  <apex:outputField value="{!ISDN.Fax_ISDN_DP__c}"/> </td>
             </tr>
           </table>
           <h3>Telephone Numbers to be Dual parented: </h3>
           <table class="TFtable">
            <tr>
               <th> </th>
               <th>   Range 1</th>
               <th>   Range 2</th>
               <th>   Range 3</th>
               <th>   Range 4</th>
             </tr>
             <tr>
                 <td class="tdHD"> DDI Ranges </td>
                 <td>  <apex:outputField value="{!ISDN.Range_1_1__c}"/> </td>
                 <td>  <apex:outputField value="{!ISDN.Range_2_1__c}"/> </td>
               <td>  <apex:outputField value="{!ISDN.Range_3_1__c}"/> </td>
               <td>  <apex:outputField value="{!ISDN.Range_4_1__c}"/> </td>
              </tr>
              <tr>
                 <td class="tdHD"> Pseudo Ranges </td>
                 <td>  <apex:outputField value="{!ISDN.Range_1_2__c}"/> </td>
                 <td>  <apex:outputField value="{!ISDN.Range_2_2__c}"/> </td>
               <td>  <apex:outputField value="{!ISDN.Range_3_2__c}"/> </td>
               <td>  <apex:outputField value="{!ISDN.Range_4_2__c}"/> </td>
              </tr>
             <tr>
             <td class="tdHD"> Notes: </td>
             <td colspan="4">  <apex:outputField value="{!ISDN.Notes__c}"/> </td>
             </tr>
            </table>
         </apex:outputPanel>
            <!-- APPENDIX B End -->

            <!-- APPENDIX C Start-->
            <apex:outputPanel rendered="{!ISDN.Alternative_Routing__c}">
                <table border="0" width="100%">
                <h3>APPENDIX C Alternate Routing </h3>

                    <tr>
                            <td class="tdHD">Alternate from existing bearer: </td>
                            <td colspan="3"><apex:outputField value="{!ISDN.Alternate_Bearer__c}"/></td>
                    </tr>
                    <tr>
                            <td class="tdHD" colspan="4">There are two levels of Alternative Routing, which can be provided:Tick option required."  </td>
                    </tr>

                   <tr>
                        <td class="tdHD">From Local Exchange, through same duct but different cable, entering site through the same premises entry point. </td>
                       <td> <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Alternative_Routing_check_1__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Alternative_Routing_check_1__c)}" title="unchecked"/> </td>
                        <td class="tdHD">From Local Exchange, through different duct and cable, entering site via a different premises entry point.</td>
                        <td><apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Alternative_Routing_check_2__c}" title="checked"/>
                        <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Alternative_Routing_check_2__c)}" title="unchecked"/></td>
                   </tr>
                 </table>
            </apex:outputPanel>
            <!-- APPENDIX C End -->

            <!-- APPENDIX D start-->

            <apex:outputPanel rendered="{!ISDN.Diverse_Routing__c}">

                <table border="0" width="100%">
                <h3>APPENDIX D Diverse Routing </h3>
                <tr>
                        <td class="tdHD">Large order process ref: </td>
                         <td><apex:outputField value="{!ISDN.LOP_ref_DR__c}"/></td>
                         <td class="tdHD">Remote exchange name and code: </td>
                        <td> <apex:outputField value="{!ISDN.Remote_exchange_name_and_code_DR__c}"/></td>

                </tr>
                <tr>
                    <td class="tdHD" colspan="4">There are two levels of Diverse Routing which can be provided:Tick option required. </td>
                </tr>
                <tr>
                        <td class="tdHD">From different Exchange, through a different cable but sharing some duct and entering the site through the same premises entry point. </td>
                        <td> <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Diverse_Routing_check_1__c}" title="checked"/>
                            <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Diverse_Routing_check_1__c)}" title="unchecked"/></td>
                        <td class="tdHD">From different Exchange, through different duct and cable, entering site via a different premises entry point. </td>
                        <td> <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77S" rendered="{!ISDN.Diverse_Routing_check_2__c}" title="checked"/>
                            <apex:image url="/servlet/servlet.FileDownload?file=01520000000m77X" rendered="{!NOT(ISDN.Diverse_Routing_check_2__c)}" title="unchecked"/> </td>

                </tr>
                 </table>
            </apex:outputPanel>

            <!-- APPENDIX D End -->
            
            <apex:outputText rendered="{!lstProvideAddress.size>0 || lstCeaseAddress.size>0 || lstBillingAddress.size>0}"><h3>Address Details</h3>
            <div style="page-break-after: always;">&nbsp;</div>
            </apex:outputText>
             <apex:pageBlockTable value="{!lstProvideAddress}" var="provide" rowClasses="even,odd" headerClass="tableHeader" rendered="{!lstProvideAddress.size>0}">
                    <apex:column value="{!provide.Type__c}"/>
                  <!--  <apex:column value="{!provide.Provide_Location_Description__c}"/> -->
                    <apex:column value="{!provide.Sub_Building__c}"/>
                    <apex:column value="{!provide.Building_Name__c}"/>
                    <apex:column value="{!provide.Number__c}"/>
                    <apex:column value="{!provide.street__c}"/>
                    <apex:column value="{!provide.Locality__c}"/>
                    <apex:column value="{!provide.Post_Town__c}"/>
                    <apex:column value="{!provide.County__c}"/>
                    <apex:column value="{!provide.Post_Code__c}"/>
              </apex:pageBlockTable> 
              <br />
              <apex:pageBlockTable value="{!lstCeaseAddress}" var="cease" rowClasses="even,odd" headerClass="tableHeader" rendered="{!lstCeaseAddress.size>0}">
                    <apex:column value="{!Cease.Type__c}"/>
                  <!--  <apex:column value="{!Cease.Cease_Location_Description__c}"/> -->
                    <apex:column value="{!Cease.Sub_Building__c}"/>
                    <apex:column value="{!Cease.Building_Name__c}"/>
                    <apex:column value="{!Cease.Number__c}"/>
                    <apex:column value="{!Cease.street__c}"/>
                    <apex:column value="{!Cease.Locality__c}"/>
                    <apex:column value="{!Cease.Post_Town__c}"/>
                    <apex:column value="{!Cease.County__c}"/>
                    <apex:column value="{!Cease.Post_Code__c}"/>
              </apex:pageBlockTable>
              <br />
              <apex:pageBlockTable value="{!lstBillingAddress}" var="billing" rowClasses="even,odd" headerClass="tableHeader" rendered="{!lstBillingAddress.size>0}">
                    <apex:column value="{!billing.Type__c}"/>
                   <!-- <apex:column value="{!billing.Billing_Location_Description__c}"/> -->
                    <apex:column value="{!billing.Sub_Building__c}"/>
                    <apex:column value="{!billing.Building_Name__c}"/>
                    <apex:column value="{!billing.Number__c}"/>
                    <apex:column value="{!billing.street__c}"/>
                    <apex:column value="{!billing.Locality__c}"/>
                    <apex:column value="{!billing.Post_Town__c}"/>
                    <apex:column value="{!billing.County__c}"/>
                    <apex:column value="{!billing.Post_Code__c}"/>
              </apex:pageBlockTable>
        </apex:pageBlock>
   
 </body>
</apex:page>