<apex:page standardController="Account" extensions="LeadLocatorAccountDetail" standardStylesheets="False">
<body style="background-color: white;" />
<apex:form >

<head>
        <style>
        .groovybutton { 
             font-size:11px;
             font-weight:bold;
             width:85px; height:24px;
             border-color:#643200; }
             
           </style>
  </head>  
<apex:pageBlock >
<div style="text-align:center">
<!--<apex:commandLink Value="New Service Relationship Mananger" action="{!NewLeadLocator}" rendered="{!NButton}" target="_top" styleClass="groovybutton"/>-->
</div>
<apex:outputPanel >
<Table border="1" cellpadding="5" cellspacing="5" width="100%" style="background: white;">
   <tr>
      
        
         <td width="50%" height="100%" valign="top">  <apex:pageBlockTable value="{!LeadLocsOne}" var="L" columnsWidth="120px, 50px">
                             <apex:column width="13%" rendered="{!ELink}">
                             
                             <apex:commandLink action="{!EditLeadLocator}" value="Edit" target="_top" rendered="{!L.Person_Role__c='Service Relationship Manager'}">
                             <apex:param name="LLEId" value="{!L.Id}"/>
                             </apex:commandLink>&nbsp;
                             
                             <apex:outputText value="|" rendered="{!L.Person_Role__c='Service Relationship Manager'}">
                             </apex:outputText>&nbsp;
                             
                             <apex:commandLink action="{!DelLeadLocator}" value="Del" target="_top" rendered="{!L.Person_Role__c='Service Relationship Manager'}">
                             <apex:param name="LLDId" value="{!L.Id}"/>
                             </apex:commandLink>
                             
                             </apex:column>
                             <apex:column value="{!L.Person_Role__c}" width="53%"/> 
                             <!--
                             <apex:column value="{!L.User__c}" width="34%"/>
                             -->
                             <apex:column width="34%" headerValue="User">
                             <apex:outputLink value="/{!L.User__c}?noredirect=1" target="_new">{!L.User_Name__c}</apex:outputLink>
                             </apex:column>
                             
                         </apex:pageBlockTable>
        </td>
        
        <td width="50%" height="100%" valign="top">  <apex:pageBlockTable value="{!LeadLocsTwo}" var="L2" columnsWidth="150px, 50px">
                             <apex:column width="13%" rendered="{!ELink}">
                             <apex:commandLink action="{!EditLeadLocator}" value="Edit" target="_top" rendered="{!L2.Person_Role__c='Service Relationship Manager'}">
                             <apex:param name="LLEId" value="{!L2.Id}"/>
                             </apex:commandLink>&nbsp;
                             <apex:outputText value="|" rendered="{!L2.Person_Role__c='Service Relationship Manager'}"></apex:outputText>
                             &nbsp;<apex:commandLink action="{!DelLeadLocator}" value="Del" target="_top" rendered="{!L2.Person_Role__c='Service Relationship Manager'}">
                             <apex:param name="LLDId" value="{!L2.Id}"/>
                             </apex:commandLink>
                             
                             </apex:column>
                             <apex:column value="{!L2.Person_Role__c}" width="53%"/> 
                             <!--
                             <apex:column value="{!L2.User__c}" width="34%"/>
                             -->
                             <apex:column width="34%" headerValue="User">
                             <apex:outputLink value="/{!L2.User__c}?noredirect=1" target="_new">{!L2.User_Name__c}</apex:outputLink>
                             </apex:column>
                             
                             
                          </apex:pageBlockTable>
        </td>
    </tr>
    
 </Table>  
</apex:outputPanel>

</apex:pageBlock> 

</apex:form>
 </apex:page>