<apex:page standardController="Opportunity">
<br/><apex:pageBlock title="Leasing (Lease Desk)">
<b style="color:red;">The Lease Desk functionality has been decomissioned as of 13th August 2016</b><br/><br/>

Contact the funders directly, as shown below.<br/><br/>

<b>1.  Shire Leasing</b><br/>
•   Ben.Jewkes@shireleasing.co.uk<br/>
•   Chris.Hobson@shireleasing.co.uk<br/>
•   Amanda.Evans@shireleasing.co.uk<br/><br/>

<b>2.  GE Capital</b><br/>
•   Andrew.Henderson@ge.com<br/>
•   sophia.atkinson@ge.com<br/>
•   alexander.moulder@ge.com<br/><br/>

<b>3.  PEAC/Avaya Finance</b><br/>
•   Alexia.Mann@PEACFinance.com<br/>
•   AFSFinancing@peacfinance.com<br/>

</apex:pageBlock>
</apex:page>