<Apex:page standardController="LEM_Review_Period__c" standardStylesheets="true">
 
          <table border="0" cellpadding="0" cellspacing="5" align="left" style="padding-left:10px">
            <tbody>

             <tr>
                <td valign="top">
                    ►</td>
                    <td> <b>Current Period</b>
                    <br />
                    Your full year target is &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.LEM_Review__r.Broadband_FY_Target__c}"/> and your YTD target is &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_YTD_Target__c}" /> <br />
                    Your actual achievement is &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Actual_YTD__c}" />. This is &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Against_YTD_Target__c}" /> of your YTD target and &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Target_Against_FY_Target__c}" /> of your full year target.<br />
                    Your current weekly run rate is &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Current_Run_Rate__c}" /><br />
                    On your last review you forecast to be at &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Previous_30_Day_Forecast__c}" />. You achieved &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Prev_Forecast__c}" /> of your forecast.
                    </td>
                    <td valign="top">
                    ►</td>
                    <td> <b>Next Period</b><br />
                    Your required weekly run rate, to hit your full year target, is now &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Required_Run_Rate__c}" /> <br />
                    To achieve 100% of your YTD target, you will need &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Next_Review_YTD_Target__c}" />. You have forecast to be at &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Next_30_Day_Forecast__c}"/> <br />
                    If you achieve this forecast you will be at &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.BB_Forecast_Next_Review_YTD_Target__c}" /> of your YTD target and &nbsp;<Apex:outputField value="{!LEM_Review_Period__c.Broadband_Forecast_against_FY_Target__c}" /> of your full year target<br />
             </td>
            </tr>            
          </tbody>
        </table>

</apex:page>