<!--
CR SF8521 changes
-->
<!-- Date              Author                    Description
     17/09/2014        Sridevi Bayyapuneedi      Made modification as per CR5886 to display the HTML email template
-->
<apex:page standardController="CustomerOptions__c" extensions="NewMACEmail" showHeader="false" sidebar="false" standardStylesheets="true" id="MacEmail">

<html>
<head>
<script type="text/javascript">
.col1{width="50%";)
.col2{width="50%";)
</script>
</head>
<body onload="moveTo(0,0); resizeTo(800,600);">
</body>
</html>

<apex:form > 
  <apex:pageBlock >
  <apex:panelGrid style="width:50%">
  <apex:outputlabel style="font-weight:bold;font-size:20px;float:right;">MAC Email Notification</apex:outputlabel>
  </apex:panelGrid>
  <br/>
  <apex:outputText value="{!$CurrentPage.Parameters.msg}"  style="color:green;font-weight:bold;font-size:16px;"/> 
  <br/>
  <apex:pageBlockSection >
  &nbsp;&nbsp;<apex:commandButton value="Send" action="{!sendEmail}"/> &nbsp;&nbsp;&nbsp;
  </apex:pageBlockSection>
  <apex:pageBlockSection >
  <apex:panelGrid style="width:100%;" columns="2">
  <apex:outputlabel style="font-weight:bold;">To:</apex:outputlabel>  
  <apex:inputText id="Toadd" value="{!custContact.Email}" label="To:" size="30"/>
  </apex:panelGrid>  
  </apex:pageBlockSection><apex:messages style="color:red;" />
  <br/>
  <apex:panelGrid style="width:100%;">
  <apex:outputlabel style="font-weight:bold;font-size:16px;">&nbsp;&nbsp;Mac Email Template</apex:outputlabel>
  </apex:panelGrid>  
  <apex:pageBlockSection >
  <apex:panelGrid border="1" cellspacing="0" cellpadding="5" style="width:800px;">
  <!--<apex:outputText value="{!actionBody}" escape="false"></apex:outputText>--> 
  <!--<apex:outputText value="{!emailBody}" escape="false" />--> 
<c:MACOrderConfirmation cotIdValue="{!cotId}" />
   </apex:panelGrid>
  
 
  
  </apex:pageBlockSection><br/> 
  <!-- &nbsp;&nbsp;<apex:commandButton value="Send" action="{!actionDo}"/> &nbsp;&nbsp;&nbsp; -->
  
  <apex:outputText value="{!$CurrentPage.Parameters.msg}"  style="color:green;font-weight:bold;font-size:16px;"/>
  </apex:pageBlock>  
  </apex:form>
</apex:page>