<apex:page standardController="Address_Details__c" extensions="updateCRFAddress">
<html>
<style>

.fontcolor
{
    font-weight:Bold;
}
</style>

</html>
<apex:form >

<apex:sectionHeader Title="Address Details" />
    <apex:pageBlock Title="Select the type of Address">
    
        <apex:pageBlockSection columns="1">
            <apex:PageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Address_Details__c.fields.Address_Type_NSO__c.label}" styleClass="fontcolor"/>
                    
                    <apex:inputField id="id_1" value="{!Address_Details__c.Address_Type_NSO__c}"  >
                    <apex:actionSupport event="onchange" reRender="Container"/>
                    
                      </apex:inputField>
                    

            </apex:PageBlockSectionItem>

            <apex:PageBlockSectionItem >
            <apex:outputPanel id="Container">
            <apex:outputPanel id="ajaxrequest" rendered="{!Address_Details__c.Address_Type_NSO__c!=''}">
                <apex:commandButton value="Continue" action="{!NextPage}"/>
            </apex:outputPanel>
            </apex:outputPanel>
            </apex:PageBlockSectionItem>
        </apex:pageBlockSection>
    </apex:pageBlock>
        
    
</apex:form>
</apex:page>