<apex:page standardController="Flow_CRF__c" extensions="NSOFLowController" tabStyle="Flow_CRF__c" >
    <title>CRF Main Flow</title>

    <apex:define name="body">
        <b>CRF Main Flow</B>
        <p>
        Account Name: <b>{!accName}</b>
        <br></br>
        Opportunity: <b>{!OppName}</b>

        </p>

        <apex:pageMessages />
        <table border="0" bordercolor="#990033" style="background-color:#FFFFFF" width="800" cellpadding="3" cellspacing="3">
            <tr>
                <td bordercolor="#990033" style="background-color:#FFFFFF">
                <flow:interview name="NSO_Main_Screen" finishLocation="{!Redirect}" interview="{!NSO}" rendered="{!FlowFlag}">
                    <apex:param name="OppId" assignTo="{!OppId}" value="{!OppId}"/>
                    <apex:param name="AccID" assignTo="{!AccID}" value="{!opptyAccntId}" />
                    <apex:param name="ConId" assignTo="{!ConId}" value="{!conId}" />
                    <apex:param name="ConName" assignTo="{!ConName}" value="{!conName}" />                   
                    <apex:param name="AccName" assignTo="{!AccName}" value="{!opptyAccntName}" />
                    
                </flow:interview> 
            </td>
            </tr>
        </table>
        
 
    </apex:define>
</apex:page>