<apex:page standardController="CRF__c">
    <apex:outputLabel style="color:#FF0000; font-weight:bold;" rendered="{!(CRF__c.Back_Office_Status__c=='Pending Res to Bus' || CRF__c.Back_Office_Status__c=='In progress Res to Bus')}">
    BACK OFFICE DO NOT TOUCH THE ORDER UNTIL ORDER STATUS SHOWS CREATED
    </apex:outputLabel>
</apex:page>