<apex:page standardController="Project__c">
	<script language = "JavaScript">
		function doSave(psNewStatus){      
			// Set the Status field
		    document.getElementById('{!$Component.frm1.pb1.txtStatusHidden}').value = psNewStatus;     
		    document.getElementById('{!$Component.frm1.pb1.txtReasonHidden}').value = '';     
			return true;
		}		
		function doSaveConfirm(){      
			var answer = confirm("Are you sure?");      
			if (answer){
				return true;
			}
			else{
				//top.location.replace('/{!Project__c.Id}');  
				return false;     
			}		
		}
	</script>   
	
	<apex:form id="frm1">
	<apex:sectionHeader title="{!$ObjectType.Project__c.Label}" subtitle="{!Project__c.Name}"/>
		<apex:pageBlock title="SCS Approval Process" mode="edit" id="pb1">
            <apex:pageMessages />
            <!-- Submit for Approval Message -->
            <apex:pageMessage severity="INFO" summary="Are you sure you want to submit the SCS for approval? (this will send an email to the N&SO team and change the SCS Status)" strength="2"
            	rendered="{!OR(Project__c.SCS_Status__c=='',Project__c.SCS_Status__c=='Rejected')}"/>
            
            <apex:pageBlockButtons location="bottom">

            	<!-- N&SO Already Approved -->
            	<!-- Please note the date specified May 5th 2015 was the date that this new functionality was first deployed to production 
            		and is intended to be a temporary condition -->            	
				<apex:commandButton value="Already Approved" action="{!save}" onclick="return doSave('Approved');"
					rendered="{!AND(OR(Project__c.SCS_Status__c=='',Project__c.SCS_Status__c=='Rejected'),
						Project__c.CreatedDate<DATETIMEVALUE('2015-05-05 17:30:00'))}"/>

            	<!-- Submit and Save Approval Request -->
				<apex:commandButton value="Submit for Approval" action="{!save}" onclick="return doSave('Awaiting Approval');"
					rendered="{!OR(Project__c.SCS_Status__c=='',Project__c.SCS_Status__c=='Rejected')}"/>

            	<!-- July 2015 PG Case 00085961 -->
            	<!-- N&SO Approval Override Exception -->
            	<!-- Please note the date specified May 5th 2015 was the date that this new functionality was first deployed to production 
            		and is intended to be a temporary condition --> 
				<apex:commandButton value="Approval Override" action="{!save}" onclick="return doSave('Approved');"
					rendered="{!AND(Project__c.SCS_Status__c=='', Project__c.CreatedDate>DATETIMEVALUE('2015-05-05 17:30:00'))}"/>

				<!-- Confirm Approval Request -->
				<apex:commandButton value="Save" action="{!save}" onclick="return doSaveConfirm();" 
					rendered="{!Project__c.SCS_Status__c=='Awaiting Approval'}" /> 							

				<!-- Cancel button -->
                <apex:commandButton value="Cancel" action="{!cancel}"/>
                
            </apex:pageBlockButtons>

			<!-- Status Hidden fields which are updated using Javascript Save function -->
			<apex:inputHidden value="{!Project__c.SCS_Status__c}" id="txtStatusHidden"/>
			<apex:inputHidden value="{!Project__c.SCS_Approve_or_Reject_Reason__c}" id="txtReasonHidden"/>
 			
			
			<!-- Mandatory Reject or Approve Status and Reason -->
            <apex:pageBlockSection title="Approval Details" columns="1" id="pbs1" 
            	rendered="{!Project__c.SCS_Status__c=='Awaiting Approval'}">
				<apex:selectlist value="{!Project__c.SCS_Status__c}" multiselect="false" size="1">
				    <apex:selectOption itemValue="Approved" itemLabel="Approve"/>
				    <apex:selectOption itemValue="Rejected" itemLabel="Reject"/>
				</apex:selectlist>                
                <apex:inputField required="true" value="{!Project__c.SCS_Approve_or_Reject_Reason__c}" style="width: 360px; height: 40px"/>
                <!-- PG Oct 2015 N&SO Assignee -->
                <apex:inputField required="true" value="{!Project__c.N_SO_Assignee__c}" id="lkpNSOAssignee"/>
				<script type="text/javascript">
				document.getElementById('{!$component.lkpNSOAssignee}').value = '{!$User.FirstName} {!$User.LastName}';
				document.getElementById('{!$Component.lkpNSOAssignee}_lkid').value = '{!$User.Id}';				
				</script>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>