<apex:page standardController="Order_Header__c" extensions="qbOrderCTRL" showHeader="true" sidebar="false">
<c:qbHeader />
<apex:pageMessages />
<apex:form styleClass="hcForm" id="hcForm">
<div class="hcWrapper">  
  <div class="mainWrapper">
  <c:qbNavMenu orderRec="{!Order_Header__c}" pArea="{!prodArea}"/>
    <h1 class="hc">Finance Options</h1>
    <div class="topButtons">
        <apex:commandButton value="Save" action="{!goSaveOrder}" styleClass="hcButtonxSmall"/>
        <apex:commandButton value="Cancel" action="{!goOrder}" styleClass="hcButtonxSmall" immediate="true"/>
    </div> 

    <h2 class="hc first">Information</h2>
    <table class="hcInputTable">
        <tr>
          <td class="hcLabel">Customer</td><td class="input"><apex:outputField value="{!Order_Header__c.Opportunity__r.AccountId}"/></td>
          <td class="hcLabel">Order</td><td class="input"><apex:outputField value="{!Order_Header__c.Name}"/></td>  
        </tr>
        <apex:outputText rendered="{!IF(Order_Header__c.Choose_LE__c !='',True,False)}">
            <tr>
              <td class="hcLabel">Order Name (LE)</td><td colspan="3" class="input"><apex:outputField value="{!Order_Header__c.Choose_LE__c}"/></td>
            </tr>
        </apex:outputText>
        <tr>
          <td class="hcLabel">Opportunity</td><td class="input"><apex:outputField value="{!Order_Header__c.Opportunity__c}"/></td>
          <td class="hcLabel"></td><td class="input"></td>
        </tr>   
    </table>
    <h3 class="hc first">Option</h3>
    <table class="hcInputTable">
        <tr>
        <td class="hcLabel">Finance All Products</td>
        <td class="input">
        <div class="onoffswitch">
            <apex:inputCheckbox value="{!Order_Header__c.Finance_All__c}" styleClass="onoffswitch-checkbox" id="finAll" onChange="finSection();"/>
            <label class="onoffswitch-label" for="{!$Component.finAll}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        </td>
        <td class="hcLabel">Value</td>
        <td class="input"><apex:outputField value="{!Order_Header__c.Finance_Total__c}"/></td>
        </tr>   
    </table>
    <div id="finSection" style="display:none;">    
    <table class="hcInputTable">    
        <tr>
        <td class="hcLabel">Provider</td>
        <td class="input"><apex:inputField value="{!Order_Header__c.Finance_Provider__c}" id="finProv" styleClass="large"/></td>
        <td class="hcLabel">Charge</td>
        <td class="input"><apex:inputField value="{!Order_Header__c.Finance_Charge__c}" id="finCharge" styleClass="small"/></td>
        </tr>   
        <tr>
        <td class="hcLabel">Term</td>
        <td class="input"><apex:inputField value="{!Order_Header__c.Finance_Term__c}" id="finTerm"/></td>
        <td class="hcLabel">Frequency</td>
        <td class="input"><apex:inputField value="{!Order_Header__c.Finance_Repayment_Period__c}" id="finFreq"/></td>
        </tr>       
    </table>
    </div>

    <div class="botButtons">
        <apex:commandButton value="Save" action="{!goSaveOrder}" styleClass="hcButtonxSmall"/>
        <apex:commandButton value="Cancel" action="{!goOrder}" styleClass="hcButtonxSmall" immediate="true"/>
    </div>
  </div> 
  <c:qbHCsummary orderRec="{!Order_Header__c}" basketView="summary"/>
  <div class="clear"></div>
</div>
<c:qbFooter />
<script>
finSection();
function finSection(){
    if(document.getElementById('{!$Component.finAll}').checked){
        document.getElementById('finSection').style.display = '';
        p = "{!$Component.finProv}";   j$(esc(p)).addClass("mandatory");
        p = "{!$Component.finCharge}"; j$(esc(p)).addClass("mandatory");
        p = "{!$Component.finTerm}";   j$(esc(p)).addClass("mandatory");
        p = "{!$Component.finFreq}";   j$(esc(p)).addClass("mandatory");
    }else{
        document.getElementById('finSection').style.display = 'none';
        document.getElementById('{!$Component.finProv}').value = '';
        document.getElementById('{!$Component.finCharge}').value = '';
        document.getElementById('{!$Component.finTerm}').value = '';
        document.getElementById('{!$Component.finFreq}').value = '';
        p = "{!$Component.finProv}";   j$(esc(p)).removeClass("mandatory");
        p = "{!$Component.finCharge}"; j$(esc(p)).removeClass("mandatory");
        p = "{!$Component.finTerm}";   j$(esc(p)).removeClass("mandatory");
        p = "{!$Component.finFreq}";   j$(esc(p)).removeClass("mandatory");
    }
}
</script>
<c:qbFooter />
</apex:form>  
</apex:page>