<apex:page standardController="Number_Port_Line__c" extensions="qbNumberPortCTRL" showHeader="false" sidebar="false" standardStylesheets="false" title="Quote Builder LOA" renderAs="pdf" applyhtmltag="false">
    
    <head>
        <style type="text/css">
            @page {size: portrait A4;}
            body {font-family:"Arial" "Sans-Serif";font-size:11px;color:black;}
            h1 {font-size:13px;font-weight:bold}
            table{margin:0;padding:0;border-collapse:collapse;width:100%;}
            tr {margin:0;padding:0;border-collapse:collapse;}
            td {margin:0;padding:3px;vertical-align:top;border:1px solid black;border-collapse:collapse;}
        </style>
    </head>
    <body>
        <apex:pageMessages />
        <!--<div style="display:block;height:200px;">&nbsp;</div>-->
        <apex:variable value="{!0}" var="totalRecords"/>
        <apex:variable value="{!1}" var="thisRecord"/>
        
        <apex:repeat value="{!NumberPortDetail}" var="np">  
            <apex:variable value="{!totalRecords+1}" var="totalRecords"/>
        </apex:repeat>
        
        <apex:repeat value="{!NumberPortDetail}" var="np">  
            <apex:outputText rendered="{!IF(thisRecord>1,True,False)}">
                <div style="page-break-before: always;">&nbsp;</div>
            </apex:outputText>
            <apex:variable value="{!thisRecord+1}" var="thisRecord"/>
            <h1>GNP Letter of Authority</h1>
            <p>Geographic Number Portability Direct Dialling In (DDI) or VPN/Centrex Letter of Authorisation (Reference: {!Number_Port_Line__c.Order__r.Name}/{!np.Name})</p>
            <table>
                <tr>
                    <td width="50%">To: Losing Communications Provider</td>
                    <td width="50%">From: Gaining Communications Provider</td>
                </tr>
                <apex:outputText rendered="{!NOT(CONTAINS(np.Losing_CP__c,'CUPID: 001'))}">
                    <tr>
                        <td width="50%">{!np.Losing_CP__c}</td>
                        <td width="50%">Registered Address<br/>BTIPEX<br/>81 Newgate Street<br/>London<br/>EC1A 7AJ</td>
                    </tr>
                </apex:outputText>
                <apex:outputText rendered="{!CONTAINS(np.Losing_CP__c,'CUPID: 001')}">
                    <tr>
                        <td colspan="2" align="center">&nbsp;<br/>BT internal transfer across services<br/>&nbsp;<br/>&nbsp;<br/></td>
                    </tr>
                </apex:outputText>
                
            </table>
            <p>Customer Details:</p>
            <table>
                <tr><td width="25%">Company Name:<br/>(as shown on the most recent telecommunications bill from the current Communications Provider)</td><td>{!np.Company_Name__c}</td></tr>
                <tr><td width="25%">Account Number:<br/>(as shown on the most recent telecommunications bill from the current Operator)</td><td width="50%">{!np.Account_Number__c}</td></tr>
                <tr><td width="25%">Company’s Registered Address:</td><td width="50%">{!np.Registered_Address__c}</td></tr>
                <tr><td width="25%">Company’s Registered Number:<br/>(not applicable in the case of a Sole Trader)</td><td width="50%">{!np.Registered_Number__c}</td></tr>
            </table>
            <p>Requester&apos;s Details:</p>
            <table>
                <tr><td width="25%">Name:</td><td width="50%">{!np.Requesters_Name__c}</td></tr>
                <tr><td width="25%">Job Title:</td><td width="50%">{!np.Requesters_Job_Title__c}</td></tr>
                <tr><td width="25%">Contact Details:<br/>(please include a contact telephone number or other relevant details)</td><td width="50%">{!np.Requesters_Contact_Details__c}</td></tr>
            </table>
            
            <br/>
            <table>
                <tr><td width="15%">Site address:</td><td width="35%">{!np.Current_Service_Post_Code__c}</td><td width="15%">Telephone Numbers to be ported:<br/>(must be in service)</td><td width="35%">
                    {!np.Start_Number__c}<apex:outputText rendered="{!IF(np.Finish_Number__c!=np.Start_Number__c,True,False)}">-{!np.Finish_Number__c}</apex:outputText>
                    
                    </td></tr>
            </table>
            <br/>
            <p>This is to notify you that I (representing the customer shown above) have decided to port the above Portability Direct Dialling In (DDI) or VPN/Centrex geographic number(s) from you to the GCP (also shown above).<br/> 
                The GCP is authorised to act on my behalf in this matter.<br/>
                I recognise that it is my responsibility to arrange cessation of, or changes to, any other services currently provided by you if required.<br/>
                You have my authority to disclose to the GCP such information regarding the Portability Direct Dialling In (DDI) or VPN/Centrex site(s) and numbers quoted, together with any other numbers as are necessary to allow this port to proceed.<br/></p>
            <p>I confirm that I have the authority of my company to make this instruction.</p>
            <p><strong>Printed Name:</strong> {!np.Requesters_Name__c}</p>
            <p><strong>Signed: </strong>By Echosign</p>
            <p><strong>Dated: </strong>{!np.CreatedDate}</p>
        </apex:repeat>
    </body>
</apex:page>