<apex:page standardcontroller="Order_Site__c" extensions="qbSiteCTRL" showheader="true" sidebar="false" standardstylesheets="true" title="BT QuoteBuilder Training Options">
    <c:qbHeader />
    <apex:pagemessages />
    <apex:form styleclass="hcForm" id="hcForm">
    <!--<apex:inputtextarea value="{!Order_Site__c.zXMLinfo__c}" id="XMLinfo" style="width:700px;height:150px;display:block;" />
    <apex:inputtextarea value="{!productsToAdd}" id="productsToAdd" style="width:700px;height:150px;display:block;" />-->
    <apex:inputhidden value="{!Order_Site__c.zXMLinfo__c}" id="XMLinfo" /><apex:inputhidden value="{!productsToAdd}" id="productsToAdd" />

<apex:outputtext rendered="{!$Profile.Name='System Administrator'}">
    Order XML<br/>
    {!Order_Site__c.zXMLHeader__c}
    <br/>
    Site XML<br/>
    {!Order_Site__c.zXMLinfo__c}
</apex:outputtext>
        
    <apex:variable var="iTraining" value="{!0}"/>
    <apex:variable var="rTraining" value="{!0}"/>
<script>
    var xml ='{!Order_Site__c.zXMLinfo__c}';

    //create xml string to populate basket item settings
    var basketXML ='<productBasket>';
    <apex:repeat value="{!BasketProducts}" var="b">
        <apex:outputtext rendered="{!b.Type__c =='Training'}">
            basketXML += '<{!b.SFCSSProdId__c}>{!b.Quantity__c}</{!b.SFCSSProdId__c}>';

            <apex:variable var="iTraining" value="{!iTraining+b.Total_Initial__c}"/>
            <apex:variable var="rTraining" value="{!rTraining+b.Total_Recurring_Cost__c}"/>
        </apex:outputtext>
    </apex:repeat>
    basketXML +='<productBasket>';
</script>

    <div class="hcWrapper">
        <div class="mainWrapper">
            <c:qbNavMenu siterec="{!Order_Site__c}" />
            <h1 class="hc">Training</h1>
            <div class="topButtons" id="buttons">
                <apex:commandbutton value="Save" action="{!goSaveSite}" styleclass="hcButtonxSmall" onclick="setLastMod()" />
                <apex:commandbutton value="Cancel" action="{!goCancel}" styleclass="hcButtonxSmall" />
            </div>
            <h2 class="hc first">Information</h2>
            <table class="hcInputTable">
                <tr>
                    <td class="hcLabel">Customer</td>
                    <td class="input"><apex:outputfield value="{!Order_Site__c.Order_Header__r.Opportunity__r.AccountId}" /></td>
                    <td class="hcLabel">Order</td>
                    <td class="input"><a href="/{!Order_Site__c.Order_Header__r.Id}"><apex:outputfield value="{!Order_Site__c.Order_Header__r.Name}" /></a></td>
                </tr>
                <apex:outputtext rendered="{!IF(Order_Site__c.Order_Header__r.Choose_LE__c !='',True,False)}">
                    <tr>
                        <td class="hcLabel">Order Name (LE)</td>
                        <td colspan="3" class="input"><apex:outputfield value="{!Order_Site__c.Order_Header__r.Choose_LE__c}" /></td>
                    </tr>
                </apex:outputtext>
                <tr>
                    <td class="hcLabel">Opportunity</td>
                    <td class="input"><apex:outputfield value="{!Order_Site__c.Order_Header__r.Opportunity__c}" /></td>
                    <td class="hcLabel">Last Modified By</td>
                    <td class="input"><div id="lastmod" /></td>
                </tr>
            </table>
            <br />
            <h2 class="hc first">Training</h2>
            <table class="hcTable" cellspacing="0" cellpadding="0" width="90%" align="center" style="border: 0;">

            <apex:outputText rendered="{!j='hc'}">
                <th>Quantity</th><th>Training Package</th><th align="right">Initial</th><th align="right">Recurring</th>
                <apex:repeat value="{!TrainingProducts}" var="p">
                    <tr class="alt" valign="top">
                        <td width="80">
                            <input type="text" id="prod{!p.Id}" class="spinSml"/>
                            <script>setFld = readXML2(basketXML, '{!p.Id}');        j$("#prod{!p.Id}").val(setFld);</script>
                        </td>
                        <td title="{!p.Description__c}"><span class="hcLabel2">{!p.Product_Name__c}&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                        <td align="right"><apex:outputfield value="{!p.Connection_Charge__c}" rendered="{!IF(ISNULL(p.Connection_Charge__c),False,p.Connection_Charge__c>0)}"/></td>
                        <td align="right"><apex:outputfield value="{!p.Standard_Care_pm__c}" rendered="{!IF(ISNULL(p.Standard_Care_pm__c),False,p.Standard_Care_pm__c>0)}"/></td>
                    </tr>
                </apex:repeat>
            </apex:outputText>
            <apex:outputText rendered="{!j='cv'}">
                <tr><td colspan="4" style="vertical-align: top;"><h4 style="display:block;width: 100%; text-align: center;color:{!qbBase};font-size:130%;padding:0 0 1px 0;font-weight:500;">Passport</h4></td></tr>
                <th>Quantity</th><th>Training Package</th><th align="right">Initial</th><th align="right">Recurring</th>
                <apex:repeat value="{!TrainingProducts}" var="p">
                    <apex:outputText rendered="{!p.Grouping__c='Passport'}">
                        <tr class="alt" valign="top">
                            <td width="80">
                                <input type="text" id="prod{!p.Id}" class="spinSml"/>
                                <script>setFld = readXML2(basketXML, '{!p.Id}');        j$("#prod{!p.Id}").val(setFld);</script>
                            </td>
                            <td title="{!p.Description__c}"><span class="hcLabel2">{!p.Product_Name__c}&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                            <td align="right"><apex:outputfield value="{!p.Connection_Charge__c}" rendered="{!IF(ISNULL(p.Connection_Charge__c),False,p.Connection_Charge__c>0)}"/></td>
                            <td align="right"><apex:outputfield value="{!p.Standard_Care_pm__c}" rendered="{!IF(ISNULL(p.Standard_Care_pm__c),False,p.Standard_Care_pm__c>0)}"/></td>
                        </tr>
                    </apex:outputText>
                </apex:repeat>
                <tr><td colspan="4" style="vertical-align:"><h4 style="display: block; width: 100%; text-align: center; color:{!qbBase};font-size:130%;padding:13px 0 1px 0;font-weight:500;">Webcast</h4></td></tr>
                <th>Quantity</th><th>Training Package</th><th align="right">Initial</th><th align="right">Recurring</th>
                <apex:repeat value="{!TrainingProducts}" var="p">
                    <apex:outputText rendered="{!p.Grouping__c='Webcast'}">
                        <tr class="alt" valign="top">
                            <td width="80">
                                <input type="text" id="prod{!p.Id}" class="spinSml"/>
                                <script>setFld = readXML2(basketXML, '{!p.Id}');        j$("#prod{!p.Id}").val(setFld);</script>
                            </td>
                            <td title="{!p.Description__c}"><span class="hcLabel2">{!p.Product_Name__c}&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                            <td align="right"><apex:outputfield value="{!p.Connection_Charge__c}" rendered="{!IF(ISNULL(p.Connection_Charge__c),False,p.Connection_Charge__c>0)}"/></td>
                            <td align="right"><apex:outputfield value="{!p.Standard_Care_pm__c}" rendered="{!IF(ISNULL(p.Standard_Care_pm__c),False,p.Standard_Care_pm__c>0)}"/></td>
                        </tr>
                    </apex:outputText>
                </apex:repeat>
                <tr><td colspan="4" style="vertical-align:"><h4 style="display: block; width: 100%; text-align: center; color:{!qbBase};font-size:130%;padding:13px 0 1px 0;font-weight:500;">Onsite</h4></td></tr>
                <th>Quantity</th><th>Training Package</th><th align="right">Initial</th><th align="right">Recurring</th>
                <apex:repeat value="{!TrainingProducts}" var="p">
                    <apex:outputText rendered="{!p.Grouping__c='Onsite'}">
                        <tr class="alt" valign="top">
                            <td width="80">
                                <input type="text" id="prod{!p.Id}" class="spinSml"/>
                                <script>setFld = readXML2(basketXML, '{!p.Id}');        j$("#prod{!p.Id}").val(setFld);</script>
                            </td>
                            <td title="{!p.Description__c}"><span class="hcLabel2">{!p.Product_Name__c}&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                            <td align="right"><apex:outputfield value="{!p.Connection_Charge__c}" rendered="{!IF(ISNULL(p.Connection_Charge__c),False,p.Connection_Charge__c>0)}"/></td>
                            <td align="right"><apex:outputfield value="{!p.Standard_Care_pm__c}" rendered="{!IF(ISNULL(p.Standard_Care_pm__c),False,p.Standard_Care_pm__c>0)}"/></td>
                        </tr>
                    </apex:outputText>
                </apex:repeat>
            </apex:outputText>
            </table>
            <div class="botButtons" id="buttons">
                <apex:commandbutton value="Save" action="{!goSaveSite}" styleclass="hcButtonxSmall" onclick="setLastMod()" />
                <apex:commandbutton value="Cancel" action="{!goCancel}" styleclass="hcButtonxSmall" />
            </div>
            <br />
            <c:qbProductList prodlistview="Training"/>
        </div>
        <c:qbCVsummary siterec="{!Order_Site__c}" basketview="Training" productView="true" id="compBasketCV"/>
        <div class="clear"></div>
    </div>
    <c:qbFooter />
<script>

j$(".spinSml").spinner({min: 0, max: 1000000});
j$(".spinSml").on("spinstop", function(){
    checkComplete();
});

function AddZero(num) {
    return (num >= 0 && num < 10) ? "0" + num : num + "";
}

function checkComplete(action){
    strVals = '';
    trainingItems = 0;

    <apex:repeat value="{!TrainingProducts}" var="p">
        fldVal = j$("#prod{!p.Id}").val();
        allFlds = document.getElementsByName("{!p.Product_Name__c}");
        if(fldVal > 0){
            strVals += '{!p.Id}:'+fldVal+':NA:CanDelete,';
            trainingItems += Number(fldVal);
            requiredProd = '{!p.Required_Product__c}';
            if(requiredProd != ''){
                relatedFldVal = j$("#prod"+requiredProd).val();
                if(relatedFldVal <= fldVal){
                    strStart = strVals.indexOf(requiredProd);
                    strEnd = strVals.indexOf(",",strStart)+1;
                    replaceStr = strVals.substring(strStart,strEnd);
                    strVals = strVals.replace(replaceStr,"");
                }
            }
        }
    </apex:repeat>
    if(strVals==''){
        strVals = 'none';
    }
    if(action != 'load'){
        document.getElementById('{!$Component.productsToAdd}').value = strVals;
        updBasket();
    }

    strXML = '<trainingSettings>';
    strXML += '<trainingItems>'+trainingItems+'</trainingItems>';;
    strXML += '</trainingSettings>';

    writeXML(xml, "trainingSettings");
    document.getElementById('{!$Component.XMLinfo}').value = newVal+strXML;

}

function setLastMod(){
    var now = new Date();
    var strDateTime = [[AddZero(now.getDate()), AddZero(now.getMonth()+1), now.getFullYear()].join("/"), [AddZero(now.getHours()), AddZero(now.getMinutes())].join(":")].join(" ");

    xmlStr ='<Training_lastMod>';
    xmlStr += '<Training_lastModId>{!$User.Id}</Training_lastModId>';
    xmlStr += "<Training_lastModName> {!$User.FirstName} {!$User.LastName}</Training_lastModName>";
    xmlStr += '<Training_lastModDate>'+strDateTime+'</Training_lastModDate>';
    xmlStr +='</Training_lastMod>';

    rwXML = document.getElementById('{!$Component.XMLinfo}').value;
    writeXML(rwXML,"Training_lastMod");
    document.getElementById('{!$Component.XMLinfo}').value = newVal+xmlStr;
}

function updBasket(){
    showBasketChange();
}
uId = j$(xml).find("Training_lastModId").text();
uName = j$(xml).find("Training_lastModName").text();
uDate = j$(xml).find("Training_lastModDate").text();

document.getElementById('lastmod').innerHTML = '<a href="/'+uId+'">'+uName+'</a>&nbsp;'+uDate;

checkComplete('load');
</script>
    </apex:form>
</apex:page>