<apex:page standardController="Cloud_Voice__c" extensions="RingCentralSalesFunnel" action="{!setValues}" sidebar="true">
    <apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-ui.js')}"  />
    <apex:includeScript value="/soap/ajax/28.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/28.0/apex.js"/>

<c:CloudVoiceCommon />
    <script>
        sforce.connection.sessionId = "{!$Api.Session_ID}";
        window.onload = function(){ 
            populateJSON();
            setPageDisplay();
            logFormValues();
            document.SalesFunnel.submit();
        }
        function logFormValues(){
            var queryString = $('#SalesFunnel').serialize();
            queryString = decodeURIComponent(queryString.replace(/%2F/g, " "))
            var apiLog = new sforce.SObject("SalesforceServicesAPI_Log__c");
            apiLog.Service_Type__c = 'Ring Central Sales Funnel';
            apiLog.Request_XML__c = queryString; 
            apiLog.Status__c = 'Posted';
            var result = sforce.connection.create([apiLog]);
        }
        function setPageDisplay(){
            /*
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");
            //--------If IE, set form target to iFrame and display iFrame.
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)){      
                $("#SalesFunnel").attr("target", "sf_iframe");
                $("#sf_iframe").css("display","block");
            } 
            */   
            //--------Hide main form
            $("#SalesFunnel").css("display","none");
            //--------Display Agent Helper Table
            $("#pgRC").css("display","block");
        }
        function populateJSON(){
            //--------Bandwidth Result
            var testID = document.getElementById('TestID').value;
            var MosScore = document.getElementById('MosScore').value;
            var simultaneousUsers = document.getElementById('SimultaneousUsers').value;
            document.getElementById('BandwidthResult').value = '{"testID": "'+testID+'", "mosScore": "'+MosScore+'", "simultaneousUsers": "'+simultaneousUsers+'"}';
            //--------Account Activation Date
            var aad_DD = document.getElementById('AAD_DD').value;
            var aad_MM = document.getElementById('AAD_MM').value;
            var aad_YYYY = document.getElementById('AAD_YYYY').value;
            document.getElementById('AccountActivationDate').value = '{"year": "'+aad_YYYY+'", "month": "'+aad_MM+'", "day": "'+aad_DD+'"}';
            //--------Contract End Date
            var ced_DD = document.getElementById('CED_DD').value;
            var ced_MM = document.getElementById('CED_MM').value;
            var ced_YYYY = document.getElementById('CED_YYYY').value;
            document.getElementById('ContractEndDate').value = '{"year": "'+ced_YYYY+'", "month": "'+ced_MM+'", "day": "'+ced_DD+'"}';
            //--------Shipping Address
            var shippingAddressCity = document.getElementById('ShippingAddressCity').value;
            var shippingAddressCounty = document.getElementById('ShippingAddressCounty').value;
            var shippingAddressLine1 = document.getElementById('ShippingAddressLine1').value;
            var shippingAddressLine2 = document.getElementById('ShippingAddressLine2').value;
            var shippingAddressPostCode = document.getElementById('ShippingAddressPostCode').value;
            document.getElementById('ShippingAddress').value = '{"city": "'+shippingAddressCity+'", "county": "'+shippingAddressCounty+'", "addressLine1": "'+shippingAddressLine1+'", "addressLine2": "'+shippingAddressLine2+'", "postCode": "'+shippingAddressPostCode+'"}';
        }    
    </script>
<apex:pageMessages /> 
    <apex:form styleClass="pgRC">

<script>
function Finish(){
    rc1 = document.getElementById('{!$Component.rcMain}').value; 
    rc2 = document.getElementById('{!$Component.rcAcc}').value; 
    if(rc1 !='' && rc2 !=''){
        document.getElementById('{!$Component.finButton}').style.display = 'inline-block';
        document.getElementById('finText').style.display = 'none';
    }else{
        document.getElementById('{!$Component.finButton}').style.display = 'none';
        document.getElementById('finText').style.display = 'inline-block';
    }
}
</script>    
    <h1 class="rcFunnel">BT Cloud Phone Sales Funnel: {!Cloud_Voice__c.Customer__c}</h1>
    <br/>
    <h2 class="rcFunnel">Screen 1 - Customer/Agent Info</h2>
    <apex:repeat value="{!CVSites}" var="cvs">
        <apex:repeat value="{!cvs.Site_Products__r}" var="p" >
            <apex:outputText rendered="{!IF(p.Type__c='Main',True,False)}">
                <span class="rcLabel">Main Number STD</span>{!p.rcSTD__c}
                <div class="rcblockLine"/>        
            </apex:outputText>
        </apex:repeat> 
        <span class="rcLabel">Contact</span>{!cvs.Site_contact__r.Name} | {!cvs.Site_contact__r.email2__c} | {!cvs.Site_contact__r.Phone}
        <div class="rcblockLine"/>
    </apex:repeat>

    <h2 class="rcFunnel">Screen 2 - Activation | Bandwidth</h2>
        <apex:repeat value="{!Cloud_Voice__c.Cloud_Voice_Sites__r}" var="s">
            <span class="rcLabel">Contract Start</span><apex:outputField value="{!s.Customer_Required_Date__c}"/>
        </apex:repeat> for {!Cloud_Voice__c.Contract_Term__c}
        <div class="rcblockLine"/>
<!--        
        <span class="rcLabel">Credit Limit</span>
        <span class="rcLabelTight1st">Initial</span>£<apex:outputField value="{!Cloud_Voice__c.zInitialPurchaseCreditLimit__c}"/>
        <span class="rcLabelTight">Monthly</span>£<apex:outputField value="{!Cloud_Voice__c.zRecurringMonthlyCreditLimit__c}"/>
        <div class="rcblockLine"/>
        <span class="rcLabel">Credit Notes</span><apex:outputField value="{!Cloud_Voice__c.zReferenceNoteCreditChange__c}"/>
        <div class="rcblockLine"/>
-->

    <h2 class="rcFunnel">Screen 3 - System Setup</h2>
        <apex:repeat value="{!CVSites}" var="cvs">
        <apex:repeat value="{!cvs.Site_Products__r}" var="p" >
            <apex:outputText rendered="{!IF(p.Type__c='License',True,False)}">
                <span class="rcLabel">Users</span>{!p.Quantity__c}
                <div class="rcblockLine"/>
                <span class="rcLabel">Licence Type</span>{!p.Product_Name__c}
                <div class="rcblockLine"/>
            </apex:outputText>
            <!--
            <apex:outputText rendered="{!IF(p.Type__c='Connection',True,False)}"> 
                <span class="rcLabel">Connection Charge</span>{!p.Total_One_Off_Cost__c}
                <div class="rcblockLine"/>
            </apex:outputText>     
            -->
            <apex:outputText rendered="{!IF(p.Type__c='Line',True,False)}"> 
                <span class="rcLabel">Additional Numbers</span>{!p.Quantity__c}
                <div class="rcblockLine"/>
            </apex:outputText>  
        </apex:repeat>  
        </apex:repeat>
        <span class="rcLabel">Zero Connection Charge</span><apex:outputField value="{!Cloud_Voice__c.zZeroConnection__c}"/>
        <div class="rcblockLine"/>
<span class="rcLabel">Phones/STD</span>      
        <table id="rcPhones">
        <th align="center">Quantity</th>
        <th>Phone</th>
        <th>Change STD</th>
        <th>Directory Entry</th>
        <apex:repeat value="{!CVSites}" var="cvs">
        <apex:repeat value="{!cvs.Site_Products__r}" var="p" >
            <apex:outputText rendered="{!IF(p.Type__c='CPE' && p.Grouping__c != 'Delivery',True,False)}">
                <tr>
                <td align="center">{!p.Quantity__c}</td>
                <td>{!p.Product_Name__c}</td>
                <td>{!p.rcSTD__c}</td>
                <td>{!p.rcDirectory__c}</td>
                </tr>
            </apex:outputText>
        </apex:repeat>  
        </apex:repeat>
        </table>
        &nbsp;<br/>
        &nbsp;<br/>
        <div class="rcblockLine"/>         
<!--
        <apex:repeat value="{!CVSites}" var="cvs">
        <apex:repeat value="{!cvs.Site_Products__r}" var="p" >    
            <apex:outputText rendered="{!IF(p.Type__c='CPE' && p.Grouping__c == 'Delivery',True,False)}"> 
                <span class="rcLabel">Delivery Charge</span>{!p.Quantity__c}
                <div class="rcblockLine"/>
            </apex:outputText>  
        </apex:repeat>  
        </apex:repeat>
-->        

    <h2 class="rcFunnel">Screen 4 - Shipping and Order</h2>
    <apex:repeat value="{!Cloud_Voice__c.Cloud_Voice_Sites__r}" var="s">
        <span class="rcLabel">Number Port Required</span><apex:outputField value="{!s.Number_Port_CP__c}"/>
        <div class="rcblockLine"/>
        <span class="rcLabel">Main Delivery Address</span>{!s.Delivery_address__c}
        <div class="rcblockLine"/>
        <span class="rcLabel" style="vertical-align:top">Other Deliveries</span>      
        <apex:repeat value="{!CVSites}" var="cvs">
        <div style="display:inline-block;padding-bottom:10px;">
            <apex:repeat value="{!cvs.Site_Products__r}" var="p">
            <apex:outputText rendered="{!IF(p.Type__c='CPE' && p.Grouping__c != 'Delivery' && p.Number_Info__c !='',True,False)}"><strong>{!p.Number_Info__c}: </strong> {!p.Quantity__c} x {!p.Product_Name__c}<br/>
            </apex:outputText>
        </apex:repeat>  
        </div>
        </apex:repeat>
        <div class="rcblockLine"/>           
    </apex:repeat>
    <h2 class="rcFunnel">Final - BT Use</h2> 
    <h3 class="rcFunnel">Billing Details</h3>
        <span class="rcLabel">Bank Details</span>
        <span class="rcLabelTight1st">Sort Code</span><apex:outputField value="{!Cloud_Voice__c.Bank_Sort_Code__c}"/>
        <span class="rcLabelTight">Bank Acc Number</span><apex:outputField value="{!Cloud_Voice__c.Bank_Account_Number__c}"/>
        <span class="rcLabelTight">DD Opt Out</span><apex:outputField value="{!Cloud_Voice__c.Opt_out_of_Direct_Debit__c}"/>
        <div class="rcblockLine"/>  
        <span class="rcLabel">BAC</span><apex:outputField value="{!Cloud_Voice__c.Billing_Account_Number__c}"/>
        <div class="rcblockLine"/>   
    <h3 class="rcFunnel">Ring Central Details</h3>
        <span class="rcLabel">Main Number</span><apex:inputField value="{!Cloud_Voice__c.Cloud_Phone_Main_Number__c}" id="rcMain" onBlur="Finish()"/>
        <div class="rcblockLine"/>  
        <span class="rcLabel">Account ID</span><apex:inputField value="{!Cloud_Voice__c.Cloud_Phone_Account_ID__c}" id="rcAcc" onBlur="Finish()"/>
        <div class="rcblockLine"/> 
        
        <div style="width:80%;text-align:center;padding-top:10px;">
            <apex:commandButton action="{!FinishButton}" value="Finish & Save" styleClass="grnButton" id="finButton" style="display:none;"/>
            <div id="finText" class="rcWarning">You must complete Main number and Account Id fields before you can Finish &amp; Save the record</div>
        </div>
</apex:form>




<!-- This is the HTTP POST sent to RC-->        
        <form id="SalesFunnel" name="SalesFunnel" method="POST" action="{!url}" target="_blank">     
            <table cellspacing="0" cellpadding="5">
                <tr><td>
                <table class="maintable" cellspacing="0" cellpadding="5">
                    <tr><th>Customer First Name</th><td>{!customerFirstName}<input type="hidden" name="CustomerFirstName" value="{!customerFirstName}"/></td></tr>
                    <tr><th>Customer Last Name</th><td>{!customerLastName}<input type="hidden" name="CustomerLastName" value="{!customerLastName}"/></td></tr>
                    <tr><th>Customer Email</th><td>{!customerEmail}<input type="hidden" name="CustomerEmail" value="{!customerEmail}"/></td></tr>
                    <tr><th>Customer Contact Number</th><td>{!customerContactNumber}<input type="hidden" name="CustomerContactNumber" value="{!customerContactNumber}"/></td></tr>
                    <tr><th>Customer Company Name</th><td>{!Cloud_Voice__c.Customer__c}<input type="hidden" name="CustomerCompanyName" value="{!customerCompanyName}"/></td></tr>
                    <tr><th>OppID</th><td>{!oppID}<input type="hidden" class="mandatory" name="OppID" value="{!oppID}"/></td></tr>
                    <tr><th>CUG</th><td>{!cug}<input type="hidden" class="mandatory" name="CUG" value="{!cug}"/></td></tr>
                    <tr><th>Sales Agent ID</th><td>{!salesAgentID}<input type="hidden" name="SalesAgentID" value="{!salesAgentID}"/></td></tr>
                    <tr><th>LB_ID</th><td>{!lbID}<input type="hidden" class="mandatory" name="LB_ID" value="{!lbID}"/></td></tr>
                    <tr><th>Number Users</th><td>{!numberUsers}<input type="hidden" name="NumberUsers" value="{!numberUsers}"/></td></tr>
                    <tr><th>Edition Type</th><td>{!editionType}<input type="hidden" class="mandatory" name="EditionType" value="{!editionType}"/></td></tr>
                    <tr><th>Bandwidth Result</th><td><childinput>Test ID {!testID}<input type="hidden" id="TestID" value="{!testID}" size="10"/> Mos Score {!mosScore}<input type="hidden" id="MosScore" value="{!mosScore}" size="4"/> Simultaneous Users {!simultaneousUsers}<input type="hidden" id="SimultaneousUsers" value="{!simultaneousUsers}" size="4"/><input type="hidden" name="BandwidthResult" id="BandwidthResult" value="{!bandwidthResult}"/></childinput></td></tr>
                    <tr><th>Account Activation Date</th><td>{!accountActivationDateDD}<input type="hidden" class="mandatory" id="AAD_DD" value="{!accountActivationDateDD}" size="2"/> / {!accountActivationDateMM}<input type="hidden" class="mandatory" id="AAD_MM" value="{!accountActivationDateMM}" size="2"/> / {!accountActivationDateYYYY}<input type="hidden" class="mandatory" id="AAD_YYYY" value="{!accountActivationDateYYYY}" size="4"/><input type="hidden" class="mandatory" id="AccountActivationDate" name="AccountActivationDate" value="{!accountActivationDate}"/></td></tr>
                    <tr><th>Contract End Date</th><td>{!contractEndDateDD}<input type="hidden" class="mandatory" id="CED_DD" value="{!contractEndDateDD}" size="2"/> / {!contractEndDateMM}<input type="hidden" class="mandatory" id="CED_MM" value="{!contractEndDateMM}" size="2"/> / {!contractEndDateYYYY}<input type="hidden" class="mandatory" id="CED_YYYY" value="{!contractEndDateYYYY}" size="4"/> <input type="hidden" class="mandatory" id="ContractEndDate" name="ContractEndDate" value="{!contractEndDate}"/></td></tr>
                    <tr><th>Initial Purchase Credit Limit</th><td>{!initialPurchaseCreditLimit}<input type="hidden" class="mandatory" name="InitialPurchaseCreditLimit" value="{!initialPurchaseCreditLimit}"/></td></tr>
                    <tr><th>Recurring Monthly Credit Limit</th><td>{!recurringMonthlyCreditLimit}<input type="hidden" class="mandatory" name="RecurringMonthlyCreditLimit" value="{!recurringMonthlyCreditLimit}"/></td></tr>
                    <tr><th>Reference Note Credit Change</th><td>{!referenceNoteCreditChange}<input type="hidden" class="mandatory" name="ReferenceNoteCreditChange" value="{!referenceNoteCreditChange}"/></td></tr>
                    <tr><th>Shipping Address</th><td>
                    <table cellspacing="0" cellpadding="5">             
                        <tr><td><childinput>Line 1</childinput></td><td>{!shippingAddressLine1}<input type="hidden" id="ShippingAddressLine1" value="{!shippingAddressLine1}"/></td></tr>
                        <tr><td><childinput>Line 2</childinput></td><td>{!shippingAddressLine2}<input type="hidden" id="ShippingAddressLine2" value="{!shippingAddressLine2}"/></td></tr>
                        <tr><td><childinput>City</childinput></td><td>{!shippingAddressCity}<input type="hidden" id="ShippingAddressCity" value="{!shippingAddressCity}"/></td></tr>
                        <tr><td><childinput>County</childinput></td><td>{!shippingAddressCounty}<input type="hidden" id="ShippingAddressCounty" value="{!shippingAddressCounty}"/></td></tr>
                        <tr><td><childinput>Post Code</childinput></td><td>{!shippingAddressPostCode}<input type="hidden" id="ShippingAddressPostCode" value="{!shippingAddressPostCode}"/></td></tr>
                    </table>            
                    <input type="hidden" id="ShippingAddress" name="ShippingAddress" value="{!shippingAddress}"/></td></tr>
                    <tr><th>RCDeal_ID</th><td>{!rcDealID}<input type="hidden" class="mandatory" name="RCDeal_ID" value="{!rcDealID}"/></td></tr>
                    <tr><th></th><td><input type="hidden" name="sign" value="{!sign}"/></td></tr>
                    <tr><td colspan="2" align="center"><input onclick="javascript:populateJSON();setPageDisplay();" type="Submit" value="Submit" style="padding:10px 20px;background:#009957;color:white"></input></td></tr>
                </table>
                </td></tr>
            </table>
        </form>
        <iframe scrolling="true" id="sf_iframe" name="sf_iframe" width="100%" height="600px" style="display:none;"/>

</apex:page>