<apex:page >
<script>function setFocusOnLoad() {}</script> 
<form id="SearchBTNISpecialist" name="SearchBTNISpecialist" action="/00O20000006hvyj?paramform=yes" method="get" target="_blank">
<input id="searchbt" name="pv0"/><input class="btn" value=" Go! " type="submit"/>
<span><font color="#000000" size="2" face="MS Shell Dlg"><span><font color="#000000" size="2" face="MS Shell Dlg">Enter Postcode to search i.e BT1 1AA</font></span></font></span></form>
</apex:page>