<apex:page standardController="BTLB_Warrington_Sales_Log_Products__c" extensions="BTLBWarringtonSalesLogProducts">
  <apex:form >

    <apex:sectionHeader Title="BTLB Warrington - Sales Log Product Edit" subtitle="New BTLB Warrington - Sales Log Product"/>
    <apex:pageMessages />       

    <apex:pageBlock Title="BTLB Warrington - Sales Log Product Edit">

        <apex:pageBlockButtons >
            <apex:commandButton value="Save" action="{!Save}"/><apex:commandButton value="Save & New" action="{!SaveNnew}"  /><apex:commandButton value="Cancel" action="{!cancel}"/>
        </apex:pageBlockButtons>
        
        <apex:outputPanel rendered="{!btlbRecType == 'Mobile - Products'}">
            <apex:pageBlockSection title="Information" collapsible="false" columns="1"  >
                <apex:inputField id="t" value="{!BTLB_Warrington_Sales_Log_Products__c.Warrington_Sales_Log__c}" required="true" />
                <apex:inputField value="{!BTLB_Warrington_Sales_Log_Products__c.Product_Group_Mobile__c}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Product Detail" collapsible="false" columns="1"  >
                <apex:inputField id="sale" value="{!BTLB_Warrington_Sales_Log_Products__c.Sale__c}" required="true" />
                <apex:inputField id="quantity" value="{!BTLB_Warrington_Sales_Log_Products__c.qQTY__c}" required="true" />
                <apex:inputField id="product" value="{!BTLB_Warrington_Sales_Log_Products__c.Product__c}"/>
                <apex:inputField id="term" value="{!BTLB_Warrington_Sales_Log_Products__c.Term__c}"/>
            </apex:pageBlockSection>
         </apex:outputPanel>
              
         
         <apex:outputPanel rendered="{!btlbRecType == 'Standard'}">
            <apex:pageBlockSection title="Information" collapsible="false" columns="1"  >
                <apex:inputField id="t" value="{!BTLB_Warrington_Sales_Log_Products__c.Warrington_Sales_Log__c}" required="true" />
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Product Detail" collapsible="false" columns="1"  >
                <apex:inputField id="sale" value="{!BTLB_Warrington_Sales_Log_Products__c.Save_Type__c}" required="true" />
                <apex:inputField id="product" value="{!BTLB_Warrington_Sales_Log_Products__c.Product__c}"/>
                <apex:inputField id="quantity" value="{!BTLB_Warrington_Sales_Log_Products__c.qQTY__c}" required="true" />
                <apex:inputField id="term" value="{!BTLB_Warrington_Sales_Log_Products__c.VOL_Reference__c}"/>
            </apex:pageBlockSection>
         </apex:outputPanel>
        </apex:pageBlock>         
    </apex:form>
</apex:page>