<apex:page sidebar="false" standardController="Resign_Request__c" extensions="usageProfilesUploadResignPacks">

<apex:form >
       <apex:pagemessages />
        
       <apex:pageBlock id="readFileBlock">  
          <apex:inputFile value="{!fileContent}" filename="{!fileName}" /><br/>   
          <apex:commandButton action="{!ReadFile}" value="Upload CSV File"/>
           <br/> <br/> <font color="blue"> <b>Please ensure the file is a csv file </b> </font>
         </apex:pageBlock> 
         <apex:outputpanel id="uploadResponse" layout="block" rendered="{!refreshPage}">
                 <strong><apex:outputtext style="color:Green" value="{!uploadResponse}" ></apex:outputtext></strong><br/>
                 <apex:outputLink value="/{!recordId}" target="_blank">{!recordName   }</apex:outputLink>
         </apex:outputpanel>    
        
   </apex:form>  
</apex:page>