.attributes-wrapper > h3 {
    background: #ecebea;
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0;
    border-top: 1px solid #d8dde6;
    border-bottom: 1px solid #d8dde6;
    width: -webkit-fill-available;
}