html {
    background-color: #3c3d41;
    background-image: linear-gradient(to bottom right, #005a61, #007b85);
}

h2 {
    color: #fff;
}

.gradient {
    background-image: none !important;
}

body input.button, a.button {
    line-height: 1 !important;
}

body {
	background: transparent;
    margin: 0;
    padding: 0;
    min-height: 100vh
}

.afterpin-header {
    padding: 0.5rem;
    background-color: #007b85 !important;
}

.afterpin-header h1 {
    color: #fff;
}

.afterpin-header .sites-approval-header img {
    height: 40px !important;
}

body input.button, 
a.button,
.submission .btn.reverse-button
 {
    border: none;
    border-radius: 999px;
    background-color: #ffe600;
    color: #3c3d41 !important;
    line-height: 1 !important;
}

a.button {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
}

a.button:before{
    color: #3c3d41 !important;
}

body input.button, 
.submission .btn.reverse-button {
    padding: 0.5rem 1rem !important;
}

body input.button:hover, 
a.button:hover,
.submission .btn.reverse-button:hover {
    background-color: #dbc600;
}

.customMessageError {
    background-color: #dbc600;
}

.customMessageError .messageText{
    color: #3c3d41 !important;
}

.section-header,
.approve-decline,
#message-div,
.submission {
    background-color: #fff;
}

/* Prev */

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background: transparent;
    border: none;
}

.bEditBlock .pbHeader>table, .apexp .bPageBlock.apexDefaultPageBlock .pbHeader>table, #ep.bLayoutBlock .pbHeader>table,
body .bEditBlock .pbBottomButtons>table, body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons>table {
    border: none;
    width: 1024px;
    margin: 0 auto;
}

body .bPageBlock .pbBody {
	width: 1024px;
	margin: 7px auto !important;
}

body .bRelatedList .pbTitle h3, body .bPageBlock .pbTitle h2, body .bPageBlock .pbTitle h3, body .bSubBlock h3.lbHeader {
    color: #fff;
    font-weight: lighter;
    font-size: 1.5rem;
    font-family: sans-serif;
}

table .pbButton input, table .pbButtonb input {
    float:right;
}

body .btn {
    background-image: none;
    background: #0979a8;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    border: none;
    font-size: 12px;
    padding: 0.35rem 0.6rem !important;
}

body .bPageBlock .detailList tr td, body .bPageBlock .detailList tr th, body table.list tr td, body table.list tr th, body .hoverDetail .bPageBlock .detailList tr td, body .hoverDetail .bPageBlock .detailList tr th {
    border: none;
}

#radiocontrol>br {
    display: none;
}

#radiocontrol input:nth-child(3) {
    margin-left: 30px;
}

div#radiocontrol {
    width: 170px;
    font-size: 14px;
    display: inline-block;
    padding: 0.25rem;
    color: #fff;
}

#commentblock p {
    color: #fff;
    font-size: 14px;
}

.Custom19Tab .tertiaryPalette, .individualPalette .Custom19Block .tertiaryPalette, .layoutEdit .individualPalette .Custom19Block .tertiaryPalette {
    background: #202629;
    padding: 0.35rem 0.5rem !important;
}

table.detailList input[type="file"] {
    color: #fff;
    float: left !important;
    background: #0979a8;
    padding: 0.35rem 0.6rem !important;
    border-radius: 3px;
}

table.detailList tr td {
    color: #fff;
}

table.detailList td.dataCol.first:first-child,
table.detailList td.dataCol.last:first-child {
    width: 50%;
}

table.detailList td.dataCol.first:first-child input,
table.detailList td.dataCol.last:first-child input {
	width: 215px;
	float: right;
}

table.detailList td.dataCol.first:last-child {
    text-align: right;
}

body .bEditBlock .pbBottomButtons, body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons {
    border: none;
    border-top: 1px solid #fff;
}

body .pbBody table.list tr.headerRow td, body .pbBody table.list tr.headerRow th {
    background: #eff5f7;
    border: none;
    color: #2f383d;
}

.apexp .detailList .list .headerRow th {
    border-bottom: 1px solid #ddd;
}

.apexp .detailList .list td, .apexp .detailList .list th, .apexp .editPage .bPageBlock .detailList .list tr td, .apexp .editPage .bPageBlock .detailList .list tr th {
    border-color: #ddd;
}

body a {
    color: #0979a8;
}

body a:hover {
    color: #0a92cc;
}

.errorConsole .x-grid3-row-over, body .pbBody table.list tr.dataRow.highlight td, body .pbBody table.list tr.dataRow.highlight th {
    background: #daecf2;
}

table.detailList tr td img {
    vertical-align: bottom;
    margin-right: 10px;
}

.message {
	background: #eff5f7;
}

.infoM6, .infoM4, .infoM3, .infoM2, .infoS1 {
	background: #daecf2 !important;
}

.errorM6, .errorM4, .errorM3, .errorM2, .errorS1 {
	background: #fee !important;
}

.warningM6, .warningM4, .warningM3, .warningM2, .warningS1 {
	background: #ffe !important;
}

.confirmM6, .confirmM4, .confirmM3, .confirmM2, .confirmS1 {
	background: #dfd !important;
}
.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader h3 {
	font-size: 1.5em;
}