.TabbedPanels {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.TabbedPanelsTabGroup {
    margin: 0;
    padding: 0;
}
.TabbedPanelsTab {
    -moz-user-select: none;
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    float: left;
    font: bold 9px sans-serif;
    list-style: none outside none;
    margin: 0 1px 0 0;
    padding: 4px 10px;
    position: relative;
    text-transform: capitalize;
    top: 1px;
}
.TabbedPanelsTabHover {
    background-color: #F1EBF5;
}
.TabbedPanelsTabSelected {
    background-color: #663A9C;
    color: #FFFFFF;
    font-weight: bold;
}
.TabbedPanelsTab a {
    color: black;
    text-decoration: none;
}
.TabbedPanelsContentGroup {
    clear: both;
}
.TabbedPanelsContent {
    padding: 4px;
}
.TabbedPanelsContentVisible {
}
.VTabbedPanels .TabbedPanelsTabGroup {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 20em;
    position: relative;
    width: 10em;
}
.VTabbedPanels .TabbedPanelsTab {
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    float: none;
    margin: 0;
}
.VTabbedPanels .TabbedPanelsTabSelected {
    border-bottom: 1px solid #999999;
}
.VTabbedPanels .TabbedPanelsContentGroup {
    clear: none;
    float: left;
    height: 20em;
    padding: 0;
    width: 30em;
}
