html, body {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
#wrap {
    background-image: url("../images/bgcol.gif");
    background-repeat: repeat-y;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 25px;
    position: relative;
    width: 920px;
}
* html #wrap {
    height: 100%;
}
#inner-wrap {
    padding-bottom: 60px;
}
#inner-wrap:after {
    clear: both;
    content: "";
    display: block;
}
#footer {
    background-image: url("../images/footer.gif");
    background-repeat: no-repeat;
    bottom: 10px;
    clear: both;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 885px;
}
#header {
    background-repeat: no-repeat;
    height: 73px;
}
#main {
    background-image: url("../images/centercol.gif");
    background-repeat: repeat-y;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    float: left;
    width: 730px;
}
#left {
    float: left;
    width: 130px;
}
#content {
    float: left;
    width: 600px;
}
#right {
    float: right;
    width: 152px;
    _width: 100px
}

#main a:link {
    text-decoration: underline;
}
#nav_select {
    background-image: url("../images/button_mid.gif");
    color: #FFFFFF;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
#nav_left {
    background-image: url("..images/button_left.gif");
    float: left;
    height: 28px;
    width: 5px;
}
#nav_mid {
}
#nav_right {
    background-image: url("..images/button_right.gif");
    float: right;
    height: 28px;
    width: 5px;
}
.required_fields {
    background-color: #FFB2B2;
    border: 1px solid #969696;
}
.icon {
    margin-right: 5px;
}
.screen {
    margin-right: 0;
}
.copyright {
    color: #797979;
}
.subtext {
    color: #BCBCBC;
}
.grey_text {
    color: #ADADAD;
    font-size: 10px;
}
.blue {
    color: #0066CC;
}
a:link, a:visited, a:hover, a:active {
    color: #0465C4;
    font-weight: bold;
}
a.nav_text:link, a.nav_text:visited, a.nav_text:hover, a.nav_text:active {
    color: #FFFFFF;
    text-decoration: none;
}
.grey_text a {
    color: #ADADAD;
}
.grey_text a:hover {
    color: #ADADAD;
}
a.legal:link, a.legal:active, a.legal:visited, a.legal:hover {
    color: #797979;
}
a.blue:link, a.blue:active, a.blue:visited, a.blue:hover {
    color: #0465C4;
}
a.orange:link, a.orange:active, a.orange:visited, a.orange:hover {
    color: #F8981D;
}
a.dgrey:link, a.dgrey:active, a.dgrey:visited, a.dgrey:hover {
    color: #2F2F2F;
}
h1 {
    color: #663A9B;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
h2 {
    color: #663A9B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h3 {
    color: #663A9B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.tab {
    background-image: url("../images/barBG.gif");
    background-repeat: repeat-x;
    cursor: pointer;
}
.tab, .tab_hover {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.tab a {
    text-decoration: none;
}
.tab_hover {
    background-image: url("../images/barBG.gif");
    background-position: 0 -42px;
    background-repeat: repeat-x;
    color: #2F2F2F;
    cursor: default;
}
.tab_base {
}
.crab {
    background-image: url("../images/barBG.gif");
    background-repeat: repeat-x;
    cursor: pointer;
}
.crab, .crab_hover {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 1px;
    text-align: center;
    width: 199px;
}
.crab a {
    text-decoration: none;
}
.crab_hover {
    background-image: url("../images/barBG.gif");
    background-position: 0 -42px;
    background-repeat: repeat-x;
    color: #2F2F2F;
    cursor: default;
}
.crab_base {
}
#tabsH {
    border-bottom: 1px solid #8D8D8D;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
#tabsH ul {
    list-style: none outside none;
    margin: 0;
    padding: 5px 0;
}
#tabsH li {
    display: inline;
    margin: 0;
    padding: 0;
}
#tabsH a {
    background: url("../images/tableftB.gif") no-repeat scroll left top transparent;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}
#tabsH a span {
    background: url("../images/tabrightB.gif") no-repeat scroll right top transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 5px 5px 4px 1px;
}
#tabsH a span {
    float: none;
}
#tabsH a:hover span {
    color: #FFFFFF;
}
#tabsH a:hover {
    background-position: 0 -42px;
}
#tabsH a:hover span {
    background-position: 100% -42px;
}
#row {
    clear: both;
    margin-bottom: 10px;
    min-height: 25px;
    text-align: left;
}
#row2 {
    clear: both;
    margin-bottom: 10px;
    min-height: 25px;
    padding: 5px;
    text-align: left;
}
#col20 {
    float: left;
    margin-right: 10px;
    width: 20px;
}
#col100 {
    float: left;
    width: 100px;
}
#col120 {
    float: left;
    padding: 5px;
    width: 110px;
}
#col140 {
    float: left;
    width: 130px;
}
#col350 {
    float: left;
    padding: 5px;
    text-align: left;
    width: 330px;
}
#col210 {
    float: left;
    padding: 5px;
    width: 200px;
}
#box_link_wrap {
    margin: 0 auto 0 5px;
    text-align: left;
    width: 122px;
}
#box_link_top {
    background-image: url("../images/link_box_top.gif");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    text-indent: 10px;
}
#box_link_mid {
    background-image: url("../images/link_box_mid.gif");
    color: #0465C4;
    font-size: 10px;
    line-height: 20px;
    padding-left: 9px;
    text-decoration: none;
}
#box_link_btm {
    background-image: url("../images/link_box_btm.gif");
    background-repeat: no-repeat;
    height: 5px;
    margin-bottom: 5px;
}
