.oe-required input{
	border: 1px solid #c00!important;
}

.oe-invalid input{
	color: #c00;
	background: rgba(190,0,0,0.25)!important;
}

.oe-invalid.oe-required input {
	background: rgba(190,0,0,0.4)!important;
	color: #000;
}

.oe-notification {
	display: none;
	width: 400px;
	position: absolute;
	top: 10px;
	left: 160px;
	padding: 2px 4px;
	background: #ffb75d;
	color: #0070d2;
	font-size: 11px;
	border: 1px solid #0070d2;
	border-radius: 4px;
}

.oe-tooltip {
	display: none;
	width: 400px;
	height: 100px;
	position: absolute;
	padding: 2px 4px;
	background: #ffb75d;
	color: #0070d2;
	font-size: 12px;
	border: 1px solid #0070d2;
	border-radius: 4px;
	bottom: 15px;
	left: 10px;
	overflow-y: scroll;
}

#currentlyContainer {
	display: block;
	top: 10px;
	left: 10px;
	position: absolute;
	width: 150px;
	font-size: 11px;
}

#schemaTable th.oe-invalid {
	background: rgba(204,0,0,0.4)!important;
	cursor: help;
}

body {
	overflow: hidden!important;
}

#rowCounter{
	display: block;
	position: absolute;
	z-index: 100;
	bottom: 20px;
}

select[disabled]{
	background: #ebebe4;
}
