@import url("https://db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular");
@font-face {
	font-family: "SalesforceSans-Regular";
	src: url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.eot");
	src: url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.svg#SalesforceSans-Regular") format("svg");
}
@import url(//db.onlinewebfonts.com/c/36d815a5133e11bc3bbbc8361b43959e?family=Rubrik);
@font-face {
    font-family: "EE-Regular"; 
    src: url("https://db.onlinewebfonts.com/t/36d815a5133e11bc3bbbc8361b43959e.eot"); src: url("https://db.onlinewebfonts.com/t/36d815a5133e11bc3bbbc8361b43959e.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/36d815a5133e11bc3bbbc8361b43959e.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/36d815a5133e11bc3bbbc8361b43959e.woff") format("woff"), url("https://db.onlinewebfonts.com/t/36d815a5133e11bc3bbbc8361b43959e.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/36d815a5133e11bc3bbbc8361b43959e.svg#Rubrik") format("svg"); }

@font-face {
    font-family: "BT-Regular";
    src:url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTTV_Rg.eot?") format("eot"),url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTTV-Regular.woff") format("woff"),url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTTV-Regular.woff2") format("woff2"),url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTTV-Regular.svg#BT_TV_Regular") format("svg"),url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTTV-Regular.otf") format("opentype");
}
@font-face {
    font-family:"BT-Light";
    src:url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTFont_Lt.eot?") format("eot"),url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTFont_Lt.woff") format("woff"), url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTFont_Lt.otf") format("otf"),url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTFont_Lt.ttf") format("ttf"),url("https://img01.bt.co.uk/s/assets/220620/fonts/bt/BTFont_Lt.svg") format("svg");
}


body {
	font-family: "SalesforceSans-Regular";
	background: #fff;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

main {
	display: block;
	width: 100%;
}

#toggleStyle {
    float: right;
    margin-right: 15%;
    font-family: monospace;
    margin-top: 10px;
}

#mainHeader {
	width: 100%;
}

#mainHeader>div:first-child {
	background: #d8dde6;
	width: 100%;
	height: 40px;
}

#mainHeader>div:last-child {
	background: #5514b4;
	width: 100%;
	height: 80px;
}

#mainHeader>div section {
	width: 70%;
	margin: 0 15%;
    display: flex;
}

#mainHeader>div section span {
	background: url('https://img01.bt.co.uk/s/assets/220620/images/logo/logo-2018.svg');
}

#headerLogo {
	width: 60px;
	height: 60px;
	margin: 10px;
}

#mainHeader nav a {
    color: #fff;
    font-family: "BT-Regular";
    font-size: 18px;
    line-height: 80px;
    text-decoration: none;
    margin: 10px;
    padding: 10px 0;
}

#mainHeader nav a:hover {
    border-bottom: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
}


#mainFooter {
	width: 100%;
	background: #d8dde6;
	height: 60px;
}

#mainFooter>div {
	width: 70%;
	margin: 0 15%;
}

#mainFooter button {
	font-family: "SalesforceSans-Regular";
	float: right;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	padding: 10px 15px;
	line-height: 1;
	font-size: 100%;
	margin-top: 10px;
}

#contentWrapper {
	width: 100%;
}

#contentWrapper>section {
	margin: 0 15%;
	background: #ecebea;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ccc;
	padding: 15px;
}

article {
	display: block;
	border: 1px solid #ccc;
	/*5514b4*/
	border-radius: 6px;
	background: #fff;
	padding-bottom: 0;
}

article>header {
	color: #5514b4;
	font-weight: bold;
	margin: 10px;
}

article>div {
	background: rgb(248, 248, 248);
	border-top: 1px solid #ccc;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 100%;
}

.fieldWrapper {
	display: block;
	padding: 12px 12px 0 0;
    font-size: 90%;
}

.fieldWrapper span:first-child {
	display: block;
	font-size: 80%;
}

.fieldWrapper span:last-child {
	font-size: 85%;
	display: block;
	font-weight: bold;
}

.fieldWrapper input {
    margin: 0;
}

.attributesWrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px;
}

#relatedComponent {
	width: 100%;
    padding-bottom: 12px;
}

.accordionItem {
	margin: 10px 15px 0 15px;
	border-radius: 6px;
}

.accordionHandle {
	text-indent: 15px;
	border-radius: 6px;
	background: #fff;
	line-height: 40px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.accordionHandle .arrow {
	font-size: 150%;
	font-family: monospace;
	font-weight: normal;
	margin-right: 10px;
	position: relative;
	color: #5514b4;
}

.accordionHandle .name {
	color: #5514b4;
	font-size: 90%;
}

.accordionHandle .name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.accordionData {
	background: #efefef;
	display: none;
	overflow: hidden;
	font-size: 90%;
	border-radius: 6px;
	margin-top: 2px;
	padding-bottom: 15px;
}

.active .accordionData {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
}

.active .arrow {
	writing-mode: vertical-rl;
	line-height: 15px;
}

.active .oe {
	display: block;
}

.oe {
	display: none;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 0 2px #000;
	font-family: "SalesforceSans-Regular";
	padding: 5px 10px;
	font-size: 60%;
    background: rgb(85,20,180); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(85,20,180) 0%, rgb(85,20,180) 50%, rgb(71,19,160) 51%, rgb(85,20,180) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgb(85,20,180) 0%,rgb(85,20,180) 50%,rgb(71,19,160) 51%,rgb(85,20,180) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgb(85,20,180) 0%,rgb(85,20,180) 50%,rgb(71,19,160) 51%,rgb(85,20,180) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.85);
	display: block;
	z-index: -1;
    opacity: 0;  
}

.overlay.toggleStyle {
    background: rgba(0, 0, 0, 0.95);
    transition: opacity .25s;
}

.overlay.active {
	display: block;
    opacity: 1;
    z-index: 9999!important;
}

#loaderOverlay {

}


#modalWindow {
	position: absolute;
	background: #f0f0f0!important;
	border-radius: 6px;
	left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /*height: 60%;
    overflow-y: scroll;
    overflow-x: hidden;*/
}

#modalWindow .contentWrapper {
   overflow-y: scroll;
   overflow-x: hidden;
   position: absolute;
   bottom: 42px;
   top: 92px;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   background: #fff;
}

#modalWindow footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

#modalWindow>div {
	width: 100%;
}

.attrContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

#modalWindow>div>ul {
	list-style: none;
	margin: 5px;
	padding: 0;
	width: 100%;
	display: none;
	flex-direction: column;
}

#modalWindow>div>ul.active {
    display: flex;
}

#modalWindow>div>ul>li {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
}

.rowNumber {
	display: block;
	border-radius: 3px;
	border: 1px solid #ccc;
	color: #ccc;
	padding: 14px 10px;
    min-width: 30px;
    text-align: center;
}

#modalWindow .fieldWrapper {
	line-height: 20px;
	width: auto;
	font-size: 85%;
}

#modalWindow header {
	color: #666;
	font-weight: bold;
	text-align: center;
    position: relative;
}

#modalWindow footer {
	min-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px;
}

#modalWindow footer > div{
    margin-top: 3px;
}

#modalWindow footer div div {
    display: inline-flex;
    width: 261px;
    overflow: hidden;
    position: relative;
}

#modalWindow footer div ul{
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
}

#modalWindow footer div ul li {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

#modalWindow footer div a{
    display: inline-flex;
   	margin: 0;
    padding: 4px;
    background: #f0f0f0;
    border: #5514b4;
    font-size: 11px;
    border-radius: 4px;
    color:#5514b4;
    line-height: 20px;
}
#modalWindow footer div a.active{
	font-weight: bold;
    color: #f0f0f0;
    background: #5514b4;
}
#modalWindow footer div a.active:hover{
    color: #f0f0f0;
    text-decoration: none;
}
#modalWindow footer div a:hover{
    color: #5514b4;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#modalWindow footer .pageNav {
    font-size: 14px;
    font-weight: bold;
    background-color: #ccc;
    color: #666;
}

#modalWindow footer .pageNav:hover {
    text-decoration: none;
    box-shadow: inset 0 0 3px #666;
}

#modalWindow footer .pageNav.disabled {
	opacity: .5;
    cursor: not-allowed;
}

#modalWindow footer .pageNav.disabled:hover {
	opacity: .5;
    cursor: not-allowed;
    box-shadow: none;
}

#modalWindow input,
#modalWindow input[type=text],
#modalWindow input[type=date] {
	border-radius: 4px;
	line-height: 20px;
	border: 1px solid #ccc;
	font-family: "SalesforceSans-Regular";
}

#modalWindow input[type=checkbox] {
	margin: 5px 0;
}

#modalWindow header .title {
	height: 40px;
	line-height: 50px;
}

#modalWindow header .buttons {
	background: #fcfcfc;
	min-height: 30px;
	border: 1px dashed #ccc;
	padding: 5px;
	margin: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#modalWindow button {
	font-family: "SalesforceSans-Regular";
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	padding: 0 10px;
	line-height: 20px;
	font-size: 75%;
	margin-left: 10px;
}

#modalWindow #importContainer {
	/*font-family: "SalesforceSans-Regular";
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	padding: 0 10px;
	line-height: 20px;
	font-size: 75%;
	margin-left: 10px;*/
    display: none;
}

#closeModal {
    position: absolute;
    color: #5514b4;
    text-decoration: none;
    font-size: 30px;
    right: 5px;
    top: 5px;
    line-height: 1;
}

#closeModal:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ccc;
    text-shadow: 0 0 3px #5514b4;
}

#saveAll {
    margin: 10px!important;
}

.flexContainer {
	display: flex;
	flex-direction: column;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.addOnsWrapper {
	display: block;
	overflow: hidden;
	margin: 15px 0 0 15px;
	flex: 0 0 250px;
}

.addOnsWrapper>h1 {
	display: block;
	margin: 0 0 0 5px;
	color: #ccc;
	font-size: 85%;
	line-height: 2;
}

.addOnsWrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.addOnsWrapper>ul {
	height: 150px;
	flex-direction: column;
	overflow-y: scroll;
	border: 1px dashed #ccc;
}

.addOnsWrapper ul>li {
	margin-left: 5px;
	margin-bottom: 5px;
}

.addOnsWrapper ul>li>span:first-child {
	display: block;
	font-style: italic;
	color: #bbb;
	font-size: 70%;
}

.addOnsWrapper ul>li>span:last-child {
	display: block;
	margin-left: 5px;
	font-size: 80%;
}

.addOnsWrapper pre {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0;
	font-size: 12px;
	color: #ccc;
}

.addOnsWrapper pre:before {
	content: '(';
	display: inline-block;
}

.addOnsWrapper pre:after {
	content: ')';
	display: inline-block;
}

/* EE styling start */
.ee #headerLogo {
	background: url('https://ee.co.uk/etc.clientlibs/eeb-site/clientlibs/images/resources/logos/EE-logo-yellow.svg');
	width: 28px;
	height: 49px;
    margin-top: 15px;
}

.ee #mainHeader>div:first-child {
	background: rgb(42, 43, 45);
	width: 100%;
	height: 40px;
}

.ee #mainHeader>div:last-child {
	background: rgb(60, 61, 65);
	width: 100%;
	height: 80px;
}

.ee #mainHeader nav a {
    color: #fff;
    font-family: "EE-Regular";
    font-size: 22px;
    line-height: 80px;
    text-decoration: none;
    margin: 10px 0;
    padding: 5px 25px;
    border-left: 1px solid rgb(42,43,45);
}
.ee #mainHeader nav a:first-child {
    border-left: none;
}

.ee #mainHeader nav a:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgb(250, 230, 0);
    border-bottom: none;
}

.ee article>header {
	color: rgb(0,123,133);
	font-weight: bold;
	margin: 10px;
}

.ee .accordionHandle .name {
	color: rgb(0,123,133);
	font-size: 90%;
}

.ee #modalWindow footer div a{
    color: rgb(250,230,0);
    border: rgb(0,123,133);
    background:rgb(0,123,133);
}
.ee #modalWindow footer div a.active{
    background: #f0f0f0;
    color: rgb(0,123,133);
}
.ee #modalWindow footer div a.active:hover{
    color: rgb(0,123,133);
}
.ee #modalWindow footer div a:hover{
    color: rgb(250,230,0);
}
.ee #closeModal {
    color: rgb(250,230,0);
}

.ee #mainFooter {
    background: rgb(0,123,133);
}

.ee #modalWindow {
    background: rgb(0,123,133)!important;
}

.ee #modalWindow .title {
    color: rgb(250,230,0);
}

.ee #modalWindow header .buttons {
    background: rgb(0,150,160);
}

.ee button {
    background: rgb(250,230,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(250,230,0) 0%, rgb(250,230,0) 50%, rgb(220,210,0) 51%, rgb(250,230,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgb(250,230,0) 0%,rgb(250,230,0) 50%,rgb(220,210,0) 51%,rgb(250,230,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgb(250,230,0) 0%,rgb(250,230,0) 50%,rgb(220,210,0) 51%,rgb(250,230,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: rgb(0,123,133)!important;
}

.ee .oe {
    background: rgb(0,123,133); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(0,123,133) 0%, rgb(0,123,133) 50%, rgb(0,150,160) 51%, rgb(0,123,133) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgb(0,123,133) 0%,rgb(0,123,133) 50%,rgb(0,150,160) 51%,rgb(0,123,133) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgb(0,123,133) 0%,rgb(0,123,133) 50%,rgb(0,150,160) 51%,rgb(0,123,133) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: rgb(250,230,0)!important;
}

.ee .pageNav:hover {
    box-shadow: inset 0 0 3px rgb(250,230,0)!important;
}
/* CSS loader */
.lds-roller {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -40px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #5514b4;
	margin: -4px 0 0 -4px;
}

.toggleStyle .lds-roller div:after {
	background: #fff;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}