@import url(https://db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular);
@font-face {
	font-family: "SalesforceSans-Regular";
	src: url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.eot");
	src: url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.svg#SalesforceSans-Regular") format("svg");
}

body {
	font-family: "SalesforceSans-Regular";
	background: #fff;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

main {
	display: block;
	width: 100%;
}

#mainHeader {
	width: 100%;
}

#mainHeader>div:first-child {
	background: #d8dde6;
	width: 100%;
	height: 40px;
}

#mainHeader>div:last-child {
	background: #5514b4;
	width: 100%;
	height: 80px;
}

#mainHeader>div section {
	width: 70%;
	margin: 0 15%;
}

#mainFooter {
	width: 100%;
	background: #d8dde6;
	height: 60px;
}

#mainFooter>div {
	width: 70%;
	margin: 0 15%;
}

#mainFooter button {
	font-family: "SalesforceSans-Regular";
	float: right;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	padding: 10px 15px;
	line-height: 1;
	font-size: 100%;
	margin-top: 10px;
}

#btLogo {
	width: 60px;
	height: 60px;
	margin: 10px;
}

#contentWrapper {
	width: 100%;
}

#contentWrapper>section {
	margin: 0 15%;
	background: #ecebea;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ccc;
	padding: 15px;
}

article {
	display: block;
	border: 1px solid #ccc;
	/*5514b4*/
	border-radius: 6px;
	background: #fff;
	padding-bottom: 0;
}

article>header {
	color: #5514b4;
	font-weight: bold;
	margin: 10px;
}

article>div {
	background: rgb(248, 248, 248);
	border-top: 1px solid #ccc;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 100%;
}

.fieldWrapper {
	display: block;
	padding: 12px 12px 0 0;
    font-size: 90%;
}

.fieldWrapper span:first-child {
	display: block;
	font-size: 80%;
}

.fieldWrapper span:last-child {
	font-size: 85%;
	display: block;
	font-weight: bold;
}

.attributesWrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px;
}

#relatedComponent {
	width: 100%;
    padding-bottom: 12px;
}

.accordionItem {
	margin: 10px 15px 0 15px;
	border-radius: 6px;
}

.accordionHandle {
	text-indent: 15px;
	border-radius: 6px;
	background: #fff;
	line-height: 40px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.accordionHandle .arrow {
	font-size: 150%;
	font-family: monospace;
	font-weight: normal;
	margin-right: 10px;
	position: relative;
	color: #5514b4;
}

.accordionHandle .name {
	color: #5514b4;
	font-size: 90%;
}

.accordionHandle .name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.accordionData {
	background: #efefef;
	display: none;
	overflow: hidden;
	font-size: 90%;
	border-radius: 6px;
	margin-top: 2px;
	padding-bottom: 15px;
}

.active .accordionData {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
}

.active .arrow {
	writing-mode: vertical-rl;
	line-height: 15px;
}

.active .oe {
	display: block;
}

.oe {
	display: none;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	background: #5514b4;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 0 2px #000;
	font-family: "SalesforceSans-Regular";
	padding: 5px;
	font-size: 60%;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.85);
	display: none;
	z-index: 1000;
}

.overlay.active {
	display: block;
}

#loaderOverlay {
    z-index: 1001;
}


#modalWindow {
	position: relative;
	background: #fff!important;
	border-radius: 6px;
	width: 70%;
	margin-left: 15%;
	top: 20%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#modalWindow>div {
	width: 100%;
}

.attrContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

#modalWindow>div>ul {
	list-style: none;
	margin: 5px;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#modalWindow>div>ul>li {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
}

.rowNumber {
	display: block;
	border-radius: 3px;
	border: 1px solid #ccc;
	color: #ccc;
	padding: 14px 10px;
}

#modalWindow .fieldWrapper {
	line-height: 20px;
	width: auto;
	font-size: 85%;
}

#modalWindow header {
	color: #5514b4;
	font-weight: bold;
	text-align: center;
}

#modalWindow footer {
	min-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px;
}

#modalWindow input[type=text],
#modalWindow input[type=date] {
	border-radius: 4px;
	line-height: 20px;
	border: 1px solid #ccc;
	font-family: "SalesforceSans-Regular";
}

#modalWindow input[type=checkbox] {
	margin: 5px 0;
}

#modalWindow header div:first-child {
	height: 40px;
	line-height: 40px;
}

#modalWindow header div:last-child {
	background: #fefefe;
	min-height: 30px;
	border: 1px dashed #ccc;
	padding: 5px;
	margin: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#modalWindow button {
	font-family: "SalesforceSans-Regular";
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	padding: 0 10px;
	line-height: 20px;
	font-size: 75%;
	margin-left: 10px;
}

.flexContainer {
	display: flex;
	flex-direction: column;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.addOnsWrapper {
	display: block;
	overflow: hidden;
	margin: 15px 0 0 15px;
	flex: 0 0 250px;
}

.addOnsWrapper>h1 {
	display: block;
	margin: 0 0 0 5px;
	color: #ccc;
	font-size: 85%;
	line-height: 2;
}

.addOnsWrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.addOnsWrapper>ul {
	height: 150px;
	flex-direction: column;
	overflow-y: scroll;
	border: 1px dashed #ccc;
}

.addOnsWrapper ul>li {
	margin-left: 5px;
	margin-bottom: 5px;
}

.addOnsWrapper ul>li>span:first-child {
	display: block;
	font-style: italic;
	color: #bbb;
	font-size: 70%;
}

.addOnsWrapper ul>li>span:last-child {
	display: block;
	margin-left: 5px;
	font-size: 80%;
}

.addOnsWrapper pre {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0;
	font-size: 12px;
	color: #ccc;
}

.addOnsWrapper pre:before {
	content: '(';
	display: inline-block;
}

.addOnsWrapper pre:after {
	content: ')';
	display: inline-block;
}


/* PIN Landing Page */

#pinWrapper {
	border-radius: 10px;
	margin-top: 10px!important;
}

#pinWrapper>header {
	font-weight: bold;
	color: #5514b4;
}

#pinWrapper>div {
	display: flex;
	font-size: 90%;
	line-height: 2;
	flex-direction: row;
	margin-top: 10px;
}

#pinWrapper>footer {
	margin-top: 10px;
}

#pinWrapper .notification {
	display: none;
	padding: 10px;
	color: #bbb;
	font-style: italic;
	border-radius: 6px;
	background: #efefef;
	font-size: 80%;
	border: 1px solid #fefefe;
}

#pinWrapper button {
	font-family: "SalesforceSans-Regular";
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	padding: 10px 15px;
	line-height: 1;
	font-size: 100%;
}

#pinWrapper input {
	border-radius: 4px;
	border: 1px solid #ccc;
	font-family: "SalesforceSans-Regular";
	padding: 0;
	margin: 0 0 0 5px;
	height: 25px;
	text-indent: 5px;
}

#requestPIN {
	padding: 4px 7px!important;
	font-size: 75%!important;
	margin-left: 5px;
}

button[disabled] {
	opacity: .4;
}

#pinWrapper.clicked .notification {
	display: block;
	margin: 10px 0;
}

span pre {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 100%;
	font-family: "SalesforceSans-Regular";
	color: #5514b4;
}

.lds-roller {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -40px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #5514b4;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/* SendOEEmail from Order */

#SendOEEmail {}

#SendOEEmail ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	margin: 0;
}

#SendOEEmail ul>li {
	background: #efefef;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	line-height: 2;
	position: relative;
}

#SendOEEmail ul>li label {}

#SendOEEmail ul>li select {
	display: block;
}

#SendOEEmail ul>li input {
	display: block;
}
/*
.overlay {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.4)
}

.active .overlay {
	display: none;
}*/