.component { line-height: 1.5em; margin: 0 auto; padding: 2em 0 3em; width: 90%; max-width: 1000px; overflow: hidden }
.component .filler { font-family: "Blokk", Arial, sans-serif; color: rgb(211, 211, 211) }
table { border-collapse: collapse; margin-bottom: 3em; width: 100%; background: rgb(255, 255, 255) }
td, th { padding: 0.75em 1.5em; text-align: left }
td.err { background-color: rgb(233, 146, 185); color: rgb(255, 255, 255); font-size: 0.75em; text-align: center; line-height: 1 }
th { background-color: rgb(49, 188, 134); font-weight: bold; color: rgb(255, 255, 255); white-space: nowrap }
tbody th { background-color: rgb(46, 168, 121) }
tbody tr:nth-child(2n-1) { background-color: rgb(245, 245, 245); transition: all 0.125s ease-in-out }
tbody tr:hover { background-color: rgba(129, 208, 177, 0.3) }
.sticky-wrap { overflow-x: auto; overflow-y: hidden; position: relative; margin: 3em 0; width: 100% }
.sticky-wrap .sticky-thead, .sticky-wrap .sticky-col, .sticky-wrap .sticky-intersect { opacity: 0; position: absolute; top: 0; left: 0; transition: all 0.125s ease-in-out; z-index: 50; width: auto }
.sticky-wrap .sticky-thead { box-shadow: 0 0.25em 0.1em -0.1em rgba(0, 0, 0, 0.125); z-index: 100; width: 100% }
.sticky-wrap .sticky-intersect { opacity: 1; z-index: 150 }
.sticky-wrap .sticky-intersect th { background-color: rgb(102, 102, 102); color: rgb(238, 238, 238) }
.sticky-wrap td, .sticky-wrap th { box-sizing: border-box }
td.user-name { text-transform: capitalize }
.sticky-wrap.overflow-y { overflow-y: auto; max-height: 50vh }
