*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
body { font-family: "Lato", Arial, sans-serif; color: rgb(124, 141, 135); background: rgb(248, 248, 248) }
a { color: rgb(49, 188, 134); text-decoration: none }
a:hover, a:focus { color: rgb(124, 141, 135) }
.container > header { margin: 0 auto; padding: 2em; text-align: center; background: rgba(0, 0, 0, 0.01) }
.container > header h1 { font-size: 2.625em; line-height: 1.3; margin: 0; font-weight: 300 }
.container > header span { display: block; font-size: 60%; opacity: 0.7; padding: 0 0 0.6em 0.1em }
.codrops-top { background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.6); text-transform: uppercase; width: 100%; font-size: 0.69em; line-height: 2.2 }
.codrops-top a { text-decoration: none; padding: 0 1em; letter-spacing: 0.1em; display: inline-block }
.codrops-top a:hover { background: rgba(255, 255, 255, 0.95) }
.codrops-top span.right { float: right }
.codrops-top span.right a { float: left; display: block }
.codrops-icon:before { font-family: "codropsicons"; margin: 0 4px; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased }
.codrops-icon-drop:before { content: "" }
.codrops-icon-prev:before { content: "" }
.codrops-demos { padding-top: 1em; font-size: 0.8em }
.codrops-demos a { display: inline-block; margin: 0.5em; padding: 0.7em 1.1em; outline: none; border: 2px solid rgb(49, 188, 134); text-decoration: none; text-transform: uppercase; letter-spacing: 1px; font-weight: 700 }
.codrops-demos a:hover, .codrops-demos a.current-demo, .codrops-demos a.current-demo:hover { border-color: rgb(124, 141, 135); color: rgb(124, 141, 135) }
.related { text-align: center; font-size: 1.5em; padding-bottom: 3em }
@media screen and (max-width: 25em) {.codrops-icon span { display: none } }
