﻿html body
{
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 12px;
	padding: 10px;
	border: 1px solid black;
	width: 720px;
	margin: auto;
}
table
{
}
table td
{
	padding-top: 2px;
	vertical-align: top;
}
select
{
    width:255px;
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: Verdana, Arial;
}
textarea
{
	height: 100px;
	width:250px;
	widows: 300px;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 12px;
	color: black;
	border: 1px solid #ccc;
	padding-left: 2px !important;
	padding-top: 1px !important;
}
input[type=text]
{
	height: 16px;
	font-size: 12px;
	color: black;
	border: 1px solid #ccc;
	padding-left: 2px !important;
	padding-top: 1px !important;
	width: 250px;
}
input[type=date]
{
	height: 16px;
	font-size: 12px;
	color: black;
	border: 1px solid #ccc;
	padding-left: 2px !important;
	padding-top: 1px !important;
	width: 250px;
}
.imgPos {
    padding-left: 18px;
    position: absolute;
}
.divMain
{
	padding: 0px;
}
.divTcell
{
	font-size: 11px;
	font-weight: bold;
}
.divTcellRequired
{
	color: red;
	font-size: 11px;
	font-weight: bold;
	height: 14px;
}
.MainHeading
{
	width: 50%;
	font-family: Verdana,Comic Sans MS;
	font-size: 200%;
	font-weight: bold;
	color: Navy;
	margin: auto;
}
.reqLine
{
	border-left: 2px solid red;
	font-size: 80%;
	vertical-align: 1px;
	padding-left: 0px;
	float: right;
	float: right;
}
.hide
{
	display: none;
}
.show
{
	display: block;
}
.error
{
	font-size: 11px;
	color: Red;
}
.error2
{
	font-size: 13px;
	color: Red;
}
.success
{
	font-size: 12px;
	color: green;
}
.pleasewait
{
	font-weight: bold;
	font-size: 11px;
	color: Gray;
}

.divReq .required
{
	background-color: red;
	bottom: 1px;
	left: -4px;
	position: absolute;
	top: 1px;
	width: 2px;
}
.divReq
{
	height: 100%;
	position: relative;
}
.btnCreate
{
	background-image: url(    '../Images/btnCreate.PNG' );
	display: block;
	overflow: hidden;
	width: 80px;
	height: 24px;
}
/*a.btnCreate:hover
{
    background-image: url(/Images/btnCreate.PNG);
    background-position: 0px 18px;
}*/
/* Shrink */
/*.hvr-shrink {
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
}
.hvr-shrink:hover{
-webkit-transform: scale(0.9);
transform: scale(0.9);
}*/

.btnCreateNew
{
	background-image: url(    '../Images/btnCreateNew.PNG' );
	display: block;
	overflow: hidden;
	width: 90px;
	height: 24px;
}
.btnCancel
{
	background-image: url(    '../Images/btnCancel.PNG' );
	display: block;
	overflow: hidden;
	width: 80px;
	height: 24px;
}
.imgBanner
{
	background: url(../Images/Banner.JPG) no-repeat right 65%;
	padding-left: 500px;
}
.iconHelp
{
    background-image: url('../Images/iconHelp.png') no-repeat right 65%;
	width: 15px;
	height: 15px;
	
}
.helpText
{
	color: Gray;
	font-size: 10px;
	width:250px;
}
/*dasdas*/
p
{
	padding: 0 0 1em;
}
.msg_list
{
	margin: 0px;
	padding: 0px;
	width: 383px;
}
.msg_head
{
	font-weight: bold;
	padding: 5px 10px;
	position: relative;
	background-color: #F0F0F0; /*#8E9DBE;cursor: pointer;*/
	margin: 1px;
}
.msg_body
{
	padding: 5px 10px 15px; /*background-color: #F4F4F8;*/
}


input[type=button]
{
    border:1px solid #15aeec; -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
}

input[type=button]:hover{
 border:1px solid #1090c3;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}

a
{
	font-weight: normal;
	text-decoration:none;
}

a.tooltips {
  position: relative;
  display: inline;
  color:#ffffff;
  }
a.tooltips span {
  position: absolute;
  width:350px;
  color: #000000;
  background: #F0F0F0;
  border: 2px solid #D9D9D9;
  height: auto;
  line-height: 30px;
  text-align: left;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #D9D9D9;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #F0F0F0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  bottom: 30px;
  left: 15%;
  margin-left: -76px;
  z-index: 999;
}


  /* start of pop up div css */
  #blurbackground{ 
    position:fixed; 
    top:0;
    left:0; 
    background:rgba(256,256,256,0.9); 
    z-index:5; 
    width:100%;
    height:100%;
    display:none;   
  } 
  
  
  
  
  #poupwithimagebox { 
    height:290px; 
    width:546px; 
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
    background: url(login.png) no-repeat;
    border:5px solid #cccccc;
    border-radius:10px;     
  } 
  
   #poup { 
    top:50%;
    width:546px; 
    margin:0 auto 0 auto;
    position:relative;
    z-index:25;
    display:none;
   background:rgb(256,256,256); 
    /*border:5px solid #cccccc;
    border-radius:10px;*/     
  } 
  /*end of pop up div css*/